<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="book">
      <h2 data-cy="bookDetailsHeading"><span jhiTranslate="betaNewEfosApp.book.detail.title">Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ book.id }}</span>
        </dd>
        <dt><span jhiTranslate="betaNewEfosApp.book.contoh">Contoh</span></dt>
        <dd>
          <span>{{ book.nama }}</span>
        </dd>
        <dt><span jhiTranslate="betaNewEfosApp.book.nama">Nama</span></dt>
        <dd>
          <span>{{ book.nama }}</span>
        </dd>
        <dt><span jhiTranslate="betaNewEfosApp.book.kelas">Kelas</span></dt>
        <dd>
          <span>{{ book.app_no_de }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
