<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Pekerjaan Pasangan</h3>
</div>
<p></p>
<p></p>

<form [formGroup]="formpekerjaanpasangan" (ngSubmit)="updatejobpasangan('0')">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              (change)="katagoripekerjaanselect()"
              class="form-control"
              name="kate_peker"
              id="kate_peker"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              formControlName="kate_peker"
            >
              <option value="1|Fix Income">Fix Income</option>
              <option value="2|Non Fix Income">Non Fix Income</option>
              <option value="3|Lain-lainnya">Lain-lainnyatest</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              formControlName="tipe_pekerjaan"
              id="tipe_pekerjaan"
              name="tipe_pekerjaan"
            >
              <option select value="{{ untuktipepekerjaan }}">{{ untuktipepekerjaan }}</option>

              <option *ngFor="let jenispekerjaan of jenispekerjaan" value="{{ jenispekerjaan.job_desc }}">
                {{ jenispekerjaan.job_desc }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Posisi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              formControlName="posisi1"
              name="posisi1"
              id="posisi1"
            >
              <option *ngFor="let getjabatan of getjabatan" value="{{ getjabatan.jabatan_deskripsi }}">
                {{ getjabatan.jabatan_deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-9">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder="Nama Perusahaan"
            id="nama_perusahaan"
            name="nama_perusahaan"
            formControlName="nama_perusahaan"
          />
          <input type="text" class="form-control" placeholder="Nama Perusahaan" id="id" name="id" formControlName="id" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat Perusahaan</label>
        <div class="col-sm-9">
          <textarea
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            class="form-control h-150px"
            rows="6"
            id="alamat_perusahaan1"
            name="alamat_perusahaan1"
            formControlName="alamat_perusahaan1"
          ></textarea>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              (change)="onChange(0)"
              id="provinsi_cabang_swasta"
              name="provinsi1"
              formControlName="provinsi1"
            >
              <option >{{ untukprovinsijobpasangan }}</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              (change)="onChangekota(0)"
              id="kabkota_cabang_swasta"
              name="kabkota1"
              formControlName="kabkota1"
            >
              <option >{{ untukkobkotajobpasangan }}</option>
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              (change)="onChangekecamatan(kecamatan)"
              id="kecamatan_swasta"
              name="kecamatan1"
              formControlName="kecamatan1"
            >
              <option >{{ untukkecamatanjobpasangan }}</option>
              <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              (change)="onChangekelurahan(kelurahan)"
              class="form-control"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              id="kelurahan_swasta"
              name="kelurahan1"
              formControlName="kelurahan1"
            >
              <option >{{ untukkelurahanjobpasangan }}</option>
              <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              type="tel"
              onkeypress="return onlyNumberKey(event)"
              maxlength="8"
              class="form-control"
              id="kode_pos_swasta"
              formControlName="kode_pos1"
              name="kode_pos1"
              #kodepos
            />
            <div class="input-group-append">
              <button
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                id="btnisi1"
                (click)="carimenggunakankodepos(kodepos.value,0)"
                class="btn btn-outline-dark"
                type="button"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>

      <div [ngSwitch]="pemisahtipekejeraan">
        <!--//////////// Wiraswasta \\\\\\\\\\\\\\\\\-->
        <div *ngSwitchCase="'Wiraswasta'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nomor SIUP</label>
            <div class="col-sm-9">
              <input
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                type="tel"
                class="form-control"
                formControlName="siup2"
                id="siup2"
                name="siup2"
                maxlength="16"
              />
            </div>
          </div>
        </div>
        <!--//////////// Wiraswasta \\\\\\\\\\\\\\\\\-->

        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
        <div *ngSwitchCase="'Profesional'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nomor SIP</label>
            <div class="col-sm-9">
              <input
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                type="tel"
                class="form-control"
                formControlName="siup2"
                id="siup2"
                name="siup2"
                maxlength="16"
              />
            </div>
          </div>
        </div>
        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jenis Bidang Usaha</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              (change)="jenisbidangsebelumselect()"
              id="jenis_bidang"
              name="jenis_bidang"
              formControlName="jenis_bidang"
            >
              <option value="{{ untukjenisbidang }}">{{ untukjenisbidang }}</option>
              <option
                *ngFor="let getjenisbidangdariapi of getjenisbidangdariapi"
                value="{{ getjenisbidangdariapi.group_sektor }}|{{ getjenisbidangdariapi.nama_group_sektor }}"
              >
                {{ getjenisbidangdariapi.nama_group_sektor }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jenis Sub Bidang Usaha</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              formControlName="sektor_ekonomi"
              id="sektor_ekonomi"
              name="sektor_ekonomi"
            >
              <option value="{{ unutkjenissektor }}">{{ unutkjenissektor }}</option>
              <option *ngFor="let getdatasektorekonomi of getdatasektorekonomi" value="{{ getdatasektorekonomi.nama_sub_sektor }}">
                {{ getdatasektorekonomi.nama_sub_sektor }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />

      <div [ngSwitch]="pemisahtipekejeraan">
        <!--//////////// Wiraswasta \\\\\\\\\\\\\\\\\-->
        <div *ngSwitchCase="'Wiraswasta'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Jumlah karyawan</label>
            <div class="col-sm-9">
              <input
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                type="tel"
                class="form-control"
                formControlName="jumlah_karyawan"
                id="jumlah_karyawan"
                name="jumlah_karyawan"
                maxlength="16"
              />
            </div>
          </div>
        </div>
        <!--//////////// Wiraswasta \\\\\\\\\\\\\\\\\-->

        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
        <div *ngSwitchCase="'Profesional'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Jumlah karyawan</label>
            <div class="col-sm-9">
              <input
                type="tel"
                class="form-control"
                formControlName="jumlah_karyawan"
                id="jumlah_karyawan"
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                name="jumlah_karyawan"
                maxlength="16"
              />
            </div>
          </div>
        </div>
        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->

        <div *ngSwitchDefault>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Jumlah karyawan</label>
            <div class="col-sm-9">
              <input
                type="tel"
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                class="form-control"
                formControlName="jumlah_karyawan"
                id="jumlah_karyawan"
                name="jumlah_karyawan"
                maxlength="16"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Perusahaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              formControlName="tipe_perusahaan"
              id="tipe_perusahaan"
              name="tipe_perusahaan"
            >
              <option value="{{ unutkjenissektor }}">{{ unutkjenissektor }}</option>
              <option
                *ngFor="let gettipeperusahaandariapi of gettipeperusahaandariapi"
                value="{{ gettipeperusahaandariapi.company_deskripsi }}"
              >
                {{ gettipeperusahaandariapi.company_deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lama Bekerja</label>
        <div class="col">
          <input
            type="tel"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            class="form-control"
            formControlName="lama_bekerja_bulan1"
            id="lama_bekerja_bulan1"
            name="lama_bekerja_bulan1"
            maxlength="2"
          />
        </div>
        <div class="col">Tahun</div>
        <div class="col">
          <input
            type="tel"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            class="form-control"
            formControlName="lama_bekerja_tahun1"
            id="lama_bekerja_tahun1"
            name="lama_bekerja_tahun1"
            maxlength="2"
          />
        </div>
        <div class="col">Bulan</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status Kepegawaian</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              class="form-control"
              id="status_kepegawaian"
              name="status_kepegawaian"
              formControlName="status_kepegawaian"
            >
              <option value="Pegawai tetap">Pegawai tetap</option>
              <option value="Pegawai kontrak">Pegawai kontrak</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendapatan</label>
        <div class="col-sm-9">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            formControlName="pendapatan"
            id="pendapatan"
            name="pendapatan"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tunjangan</label>
        <div class="col-sm-9">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder="Tunjangan"
            formControlName="tunjangan"
            id="tunjangan"
            name="tunjangan"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendapatan Lain</label>
        <div class="col-sm-9">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder="Pendapatan Lain"
            formControlName="pendapatan_lain"
            id="pendapatan_lain"
            name="pendapatan_lain"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Total Pendapatan</label>
        <div class="col-sm-9">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder="Total Pendapatan"
            formControlName="total_pendapatan"
            id="total_pendapatan"
            name="total_pendapatan"
          />
        </div>
      </div>
      <br />

      <div [ngSwitch]="pemisahtipekejeraan">
        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
        <div *ngSwitchCase="'Profesional'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Usia</label>
            <div class="col-sm-9">
              <input
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
                type="tel"
                class="form-control"
                formControlName="usia"
                id="usia"
                name="usia"
                maxlength="3"
              />
            </div>
          </div>
        </div>
        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button type="button" (click)="updatejobpasangan('0')" class="btn btn-dark" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
        Simpan Data
      </button>
      <button class="btn btn-warning" (click)="goto()">
        Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
      </button>
    </div>
  </div>
</form>
