<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Pekerjaan Pasangan</h3>
</div>
<br />
<form [formGroup]="formPekerjaanPasangan" (ngSubmit)="updatejobpasangan()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" #kate_peker (change)="pilihTipePeker(kate_peker.value)" formControlName="kategori_pekerjaan">
              <!-- <option value="{{this.kategoriPekerjaan}}">{{this.dataEntry.kategori_pekerjaan}}</option> -->
              <option value="1">Fix Income</option>
              <option value="2">Non Fix Income</option>
              <option value="3">Lain-lainnya</option>
            </select>
          </div>
          <span
            [hidden]="
              formPekerjaanPasangan.controls.kategori_pekerjaan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" formControlName="tipe_pekerjaan">
              <option *ngFor="let listTipePekerjaan of listTipePekerjaan" value="{{ listTipePekerjaan.job_type_id }}">
                {{ listTipePekerjaan.job_desc }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              formPekerjaanPasangan.controls.tipe_pekerjaan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div [hidden]="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '6'">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" [hidden]="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'">Posisi</label>
          <label class="col-sm-3 col-form-label" *ngIf="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'"
            >Jenis Pekerjaan</label
          >
          <div class="col-sm-9">
            <div class="form-group" [hidden]="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'">
              <select class="form-control" id="posisi" formControlName="posisi">
                <option *ngFor="let listJabatanAll of listJabatanAll" value="{{ listJabatanAll.jabatan_deskripsi }}">
                  {{ listJabatanAll.jabatan_deskripsi }}
                </option>
                <!-- note -->
              </select>
            </div>
            <div class="form-group" *ngIf="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'">
              <select class="form-control" id="jenis_pekerjaan" formControlName="posisi">
                <option *ngFor="let listJabatan of listJabatan" value="{{ listJabatan.deskripsi }}">{{ listJabatan.deskripsi }}</option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.posisi.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nama Perusahaan" id="nama_perusahaan" formControlName="nama_perusahaan" />
            <span
              [hidden]="
                formPekerjaanPasangan.controls.nama_perusahaan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Alamat Perusahaan</label>
          <div class="col-sm-9">
            <textarea class="form-control h-150px" rows="6" id="alamat_perusahaan1" formControlName="alamat_perusahaan"></textarea>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.alamat_perusahaan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Provinsi</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="onChange(this.formPekerjaanPasangan.get('provinsi')?.value)"
                id="provinsi_cabang_swasta"
                formControlName="provinsi"
              >
                <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                  {{ daWaprof.namaWilayah }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.provinsi.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kota</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="onChangekota(this.formPekerjaanPasangan.get('kabkota')?.value)"
                id="kabkota_cabang_swasta"
                formControlName="kabkota"
              >
                <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                  {{ daWakota.namaWilayah }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.kabkota.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kecamatan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="onChangekecamatan(this.formPekerjaanPasangan.get('kecamatan')?.value)"
                id="kecamatan_swasta"
                formControlName="kecamatan"
              >
                <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                  {{ daWakecamatan.namaWilayah }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.kecamatan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kelurahan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                (change)="onChangekelurahan(this.formPekerjaanPasangan.get('kelurahan')?.value)"
                class="form-control"
                id="kelurahan_swasta"
                formControlName="kelurahan"
              >
                <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                  {{ daWakelurahan.namaWilayah }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.kelurahan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kode Pos</label>
          <div class="col-sm-9">
            <div class="input-group mb-3">
              <input
                type="tel"
                (keypress)="keyPressNumbers($event)"
                maxlength="8"
                class="form-control"
                id="kode_pos_swasta"
                formControlName="kode_pos"
              />
              <div class="input-group-append">
                <button
                  [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
                  id="btnisi1"
                  (click)="carimenggunakankodepos(this.formPekerjaanPasangan.get('kode_pos')?.value); clickKdPost = 1"
                  class="btn btn-outline-dark"
                  type="button"
                >
                  Cari Data
                </button>
              </div>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.kode_pos.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <div *ngIf="this.formPekerjaanPasangan.get('kategori_pekerjaan')?.value == '2'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" *ngIf="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'">Nomor SIP</label>
            <label class="col-sm-3 col-form-label" [hidden]="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'"
              >Nomor SIUP</label
            >
            <div class="col-sm-9">
              <input
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
                type="tel"
                class="form-control"
                formControlName="no_siup"
                id="siup2"
                maxlength="16"
              />
              <span
                [hidden]="
                  formPekerjaanPasangan.controls.no_siup.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div [hidden]="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '6'">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Jenis Bidang Usaha</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="jenisbidangsebelumselect(this.formPekerjaanPasangan.get('jenis_bidang')?.value)"
                id="jenis_bidang"
                formControlName="jenis_bidang"
              >
                <option value="{{ untukjenisbidang }}">{{ untukjenisbidang }}</option>
                <option
                  *ngFor="let getjenisbidangdariapi of getjenisbidangdariapi"
                  value="{{ getjenisbidangdariapi.group_sektor }}|{{ getjenisbidangdariapi.nama_group_sektor }}"
                >
                  {{ getjenisbidangdariapi.nama_group_sektor }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.jenis_bidang.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Jenis Sub Bidang Usaha</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select class="form-control" formControlName="sektor_ekonomi" id="sektor_ekonomi">
                <option value="{{ unutkjenissektor }}">{{ unutkjenissektor }}</option>
                <option *ngFor="let getdatasektorekonomi of getdatasektorekonomi" value="{{ getdatasektorekonomi.nama_sub_sektor }}">
                  {{ getdatasektorekonomi.nama_sub_sektor }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.sektor_ekonomi.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Jumlah karyawan</label>
          <div class="col-sm-9">
            <input formControlName="jumlah_karyawan" class="form-control" (keypress)="keyPressNumbers($event)" />
            <span
              [hidden]="
                formPekerjaanPasangan.controls.jumlah_karyawan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Tipe Perusahaan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select class="form-control" formControlName="tipe_perusahaan" id="tipe_perusahaan">
                <option *ngFor="let listTipePerusahaan of listTipePerusahaan" value="{{ listTipePerusahaan.company_code }}">
                  {{ listTipePerusahaan.company_deskripsi }}
                </option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.tipe_perusahaan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Lama Bekerja</label>
          <div class="col">
            <input
              type="tel"
              class="form-control"
              formControlName="lama_bekerja_bulan"
              id="lama_bekerja_bulan1"
              maxlength="2"
              (keypress)="keyPressNumbers($event)"
            />
            <span
              [hidden]="
                formPekerjaanPasangan.controls.lama_bekerja_bulan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
          <div class="col">Bulan</div>
          <div class="col">
            <input
              type="tel"
              class="form-control"
              formControlName="lama_bekerja_tahun"
              id="lama_bekerja_tahun1"
              maxlength="2"
              (keypress)="keyPressNumbers($event)"
            />
            <span
              [hidden]="
                formPekerjaanPasangan.controls.lama_bekerja_tahun.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
          <div class="col">Tahun</div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Status Kepegawaian</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select class="form-control" id="status_kepegawaian" name="status_kepegawaian" formControlName="status_kepegawaian">
                <option value="Pegawai tetap">Pegawai tetap</option>
                <option value="Pegawai kontrak">Pegawai kontrak</option>
              </select>
            </div>
            <span
              [hidden]="
                formPekerjaanPasangan.controls.status_kepegawaian.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Pendapatan</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="pendapatan"
              id="pendapatan"
              (keypress)="keyPressNumbers($event)"
              currencyMask
              [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
            />
            <span
              [hidden]="
                formPekerjaanPasangan.controls.pendapatan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Tunjangan</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              placeholder="Tunjangan"
              formControlName="tunjangan"
              id="tunjangan"
              (keypress)="keyPressNumbers($event)"
              currencyMask
              [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
            />
            <span
              [hidden]="
                formPekerjaanPasangan.controls.tunjangan.valid ||
                this.untukSessionRole == 'BRANCHMANAGER' ||
                this.untukSessionRole == 'VER_PRE_SPV'
              "
              class="text-danger"
              >Field Wajib Diisi
            </span>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Pendapatan Lain</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              placeholder="Pendapatan Lain"
              formControlName="pendapatan_lain"
              id="pendapatan_lain"
              (keypress)="keyPressNumbers($event)"
              currencyMask
              [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
            />
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Total Pendapatan</label>
          <div class="col-sm-9">
            <input
              hidden
              type="text"
              class="form-control"
              placeholder="Total Pendapatan"
              formControlName="total_pendapatan"
              id="total_pendapatan"
              (keypress)="keyPressNumbers($event)"
              value="{{
                +this.formPekerjaanPasangan.get('pendapatan')?.value +
                  +this.formPekerjaanPasangan.get('tunjangan')?.value +
                  +this.formPekerjaanPasangan.get('pendapatan_lain')?.value
              }}"
            />
            <input
              readonly
              type="text"
              class="form-control"
              currencyMask
              value="{{
                +this.formPekerjaanPasangan.get('pendapatan')?.value +
                  +this.formPekerjaanPasangan.get('tunjangan')?.value +
                  +this.formPekerjaanPasangan.get('pendapatan_lain')?.value | currency: 'Rp. ':'symbol':'1.0-0'
              }}"
            />
          </div>
        </div>
        <br />
        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
        <div *ngIf="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '4'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Usia Pensiun</label>
            <div class="col-sm-9">
              <input
                type="tel"
                class="form-control"
                formControlName="umur_pensiun"
                id="usia"
                name="usia"
                maxlength="3"
                (keypress)="keyPressNumbers($event)"
              />
            </div>
          </div>
        </div>
        <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->

        <!--//////////// WIRASWASTA \\\\\\\\\\\\\\\\\-->
        <div *ngIf="this.formPekerjaanPasangan.get('tipe_pekerjaan')?.value == '3'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Jarak Lokasi Usaha Ke Unit</label>
            <div class="col-sm-4">
              <input
                type="tel"
                class="form-control"
                formControlName="jarak_lokasi_usaha"
                maxlength="100"
                (keypress)="keyPressNumbers($event)"
              />
            </div>
            <div class="col-sm-1"><label>Meter</label></div>
            <div class="col-sm-2">
              <input readonly class="form-control" value="{{ +this.formPekerjaanPasangan.get('jarak_lokasi_usaha')?.value / 1000 }}" />
            </div>
            <div class="col-sm-2"><label>Kilometer</label></div>
          </div>
        </div>
        <!--//////////// WIRASWASTA \\\\\\\\\\\\\\\\\-->
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button class="btn btn-dark" [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'">
        Simpan Data
      </button>
      <button type="button" class="btn btn-warning" (click)="goto()" [hidden]="this.untukSessionRole == 'AO'">
        Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
      </button>
    </div>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
