<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Pekerjaan Pasangan</h3>
</div>
<p></p>
<p></p>
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" name="kate_peker" id="kate_peker">
            <option value=" {{ daWa.kategori_pekerjaan }}">
              {{ daWa.kategori_pekerjaan }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tipe Pekerjaan</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="tipe_pekerjaan" name="tipe_pekerjaan">
            <option value=" {{ daWa.tipe_pekerjaan }}">
              {{ daWa.tipe_pekerjaan }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div [ngSwitch]="daWa.tipe_pekerjaan"></div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Posisi</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" name="posisi1" id="posisi1">
            <option value="{{ daWa.posisi }}">{{ daWa.posisi }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="Nama Perusahaan"
          id="nama_perusahaan"
          name="nama_perusahaan"
          value="{{ daWa.nama_perusahaan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Alamat Perusahaan</label>
      <div class="col-sm-9">
        <textarea class="form-control h-150px" rows="6" id="alamat_perusahaan1" name="alamat_perusahaan1">{{
          daWa.alamat_perusahaan
        }}</textarea>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Provinsi</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="provinsi_cabang_swasta" name="provinsi1">
            <option value="{{ daWa.provinsi }}">{{ daWa.provinsi }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kota</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kabkota_cabang_swasta" name="kabkota1">
            <option value="{{ daWa.kabkota }}">{{ daWa.kabkota }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kecamatan</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kecamatan_swasta" name="kecamatan1">
            <option value="{{ daWa.kecamatan }}">{{ daWa.kecamatan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kelurahan</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kelurahan_swasta" name="kelurahan1">
            <option value="{{ daWa.kelurahan }}">{{ daWa.kelurahan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kode Pos</label>
      <div class="col-sm-9">
        <div class="input-group mb-3">
          <input
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            maxlength="8"
            class="form-control"
            id="kode_pos_swasta"
            value="{{ daWa.kode_pos }}"
            name="kode_pos1"
          />
          <div class="input-group-append">
            <button id="btnisi1" onclick="buatisi1()" class="btn btn-outline-dark" type="button">Cari Data</button>
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="daWa.tipe_pekerjaan">
      <!--//////////// Wiraswasta \\\\\\\\\\\\\\\\\-->
      <div *ngSwitchCase="'Wiraswasta'">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Nomor SIUP</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" value="{{ daWa.no_siup }}" id="siup2" name="siup2" maxlength="16" />
          </div>
        </div>
      </div>
      <!--//////////// Wiraswasta \\\\\\\\\\\\\\\\\-->

      <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
      <div *ngSwitchCase="'Profesional'">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Nomor SIP</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" value="{{ daWa.no_siup }}" id="siup2" name="siup2" maxlength="16" />
          </div>
        </div>
      </div>
      <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Jenis Bidang Usaha</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="jenis_bidang" name="jenis_bidang">
            <option value="{{ daWa.jenis_bidang }}">{{ daWa.jenis_bidang }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Jenis Sub Bidang Usaha</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="sektor_ekonomi" name="sektor_ekonomi">
            <option value="{{ daWa.sektor_ekonomi }}">{{ daWa.sektor_ekonomi }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />

    <div [ngSwitch]="daWa.kategori_pekerjaan">
      <!--//////////// NON FIX INCOME \\\\\\\\\\\\\\\\\-->
      <div *ngSwitchCase="'Non Fix Income'">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Jumlah Karyawan</label>
          <div class="col-sm-9">
            <input
              type="tel"
              class="form-control"
              value="{{ daWa.jumlah_karyawan }}"
              id="jumlah_karyawan"
              name="jumlah_karyawan"
              maxlength="16"
            />
          </div>
        </div>
        <br />
      </div>
      <!--//////////// NON FIX INCOME \\\\\\\\\\\\\\\\\-->
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tipe Perusahaan</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="tipe_perusahaan" name="tipe_perusahaan">
            <option value="{{ daWa.tipe_perusahaan }}">{{ daWa.tipe_perusahaan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Lama Bekerja</label>
      <div class="col">
        <input
          type="tel"
          class="form-control"
          value="{{ daWa.lama_bekerja_bulan }}"
          id="lama_bekerja_bulan1"
          name="lama_bekerja_bulan1"
          maxlength="2"
        />
      </div>
      <div class="col">Tahun</div>
      <div class="col">
        <input
          type="tel"
          class="form-control"
          value="{{ daWa.lama_bekerja_tahun }}"
          id="lama_bekerja_tahun1"
          name="lama_bekerja_tahun1"
          maxlength="2"
        />
      </div>
      <div class="col">Bulan</div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Status Kepegawaian</label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="status_kepegawaian" name="status_kepegawaian">
            <option value="{{ daWa.status_kepegawaian }}">{{ daWa.status_kepegawaian }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Pendapatan</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" value="{{ daWa.pendapatan }}" id="pendapatan" name="pendapatan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tunjangan</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="Tunjangan" value="{{ daWa.tunjangan }}" id="tunjangan" name="tunjangan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Pendapatan Lain</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="Pendapatan Lain"
          value="{{ daWa.pendapatan_lain }}"
          id="pendapatan_lain"
          name="pendapatan_lain"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Total Pendapatan</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="Total Pendapatan"
          value="{{ daWa.total_pendapatan }}"
          id="total_pendapatan"
          name="total_pendapatan"
        />
      </div>
    </div>
    <br />

    <div [ngSwitch]="daWa.tipe_pekerjaan">
      <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
      <div *ngSwitchCase="'Profesional'">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Usia</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" value="{{ daWa.usia }}" id="usia" name="usia" maxlength="2" />
          </div>
        </div>
      </div>
      <!--//////////// Profesional \\\\\\\\\\\\\\\\\-->
    </div>
  </div>
</div>
<p></p>
<p></p>
<div class="row">
  <div class="col" style="text-align: center">
    <button type="button" class="btn btn-dark">Simpan Data</button>
    <button class="btn btn-warning" (click)="goto()">
      Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
    </button>
  </div>
</div>
