<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading" jhiTranslate="betaNewEfosApp.book.home.createOrEditLabel">
        Create or edit a Book
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="betaNewEfosApp.book.contoh" for="field_contoh">Contoh</label>
          <input type="text" class="form-control" name="contoh" id="field_contoh" data-cy="contoh" formControlName="contoh" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="betaNewEfosApp.book.nama" for="field_nama">Nama</label>
          <input type="text" class="form-control" name="nama" id="field_nama" data-cy="nama" formControlName="nama" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="betaNewEfosApp.book.kelas" for="field_kelas">Kelas</label>
          <input type="text" class="form-control" name="kelas" id="field_kelas" data-cy="kelas" formControlName="kelas" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
