<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nomor Aplikasi</label>
      <div class="col-sm-8">
        <input #noAplikasi readonly type="text" class="form-control" value="{{ dataEntry.app_no_de }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
      <div class="col-sm-8">
        <input #kategori readonly type="text" class="form-control" value="{{ dataEntry.kategori_pekerjaan }}" />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nama Nasabah</label>
      <div class="col-sm-8">
        <input #namaNasabah readonly type="text" class="form-control" value="{{ dataEntry.nama }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Fasilitas</label>
      <div class="col-sm-8">
        <input #Fasilitas readonly type="text" class="form-control" value="{{ dataEntry.kode_fasilitas_name }}" />
      </div>
    </div>
  </div>
</div>
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Syarat Akad</h3>
</div>
<br />
<button class="btn btn-info" style="float: right" (click)="simpanSyaratAkad()" [hidden]="this.untukSessionRole == 'VER_PRE_SPV'">
  Tambah Syarat
</button>
<br />
<br />
<table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead style="background-color: #f5f5f5">
    <tr>
      <th scope="col" style="text-align: center">#</th>
      <th scope="col" style="text-align: center">Syarat</th>
      <th scope="col" style="text-align: center">Keterangan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let syaratAkad of syaratAkad; index as i">
      <th style="text-align: center" scope="row">{{ i + 1 }}</th>
      <td style="text-align: center">{{ syaratAkad.syarat }}</td>
      <td style="text-align: center">
        {{ syaratAkad.keterangan }}
        <!-- <select class="form-control" [disabled]="this.untukSessionRole == 'VER_PRE_SPV'">
          <option value="Disyaratkan">Disyaratkan</option>
          <option value="Tidak Disyaratkan">Tidak Disyaratkan</option>
        </select> -->
      </td>
    </tr>
  </tbody>
</table>
<br />
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Syarat Cair</h3>
</div>
<br />
<button class="btn btn-info" style="float: right" (click)="simpanSyaratCair()" [hidden]="this.untukSessionRole == 'VER_PRE_SPV'">
  Tambah Syarat
</button>
<br />
<br />
<table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead style="background-color: #f5f5f5">
    <tr>
      <th scope="col" style="text-align: center">#</th>
      <th scope="col" style="text-align: center">Syarat</th>
      <th scope="col" style="text-align: center">Keterangan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let syaratCair of syaratCair; index as i">
      <th style="text-align: center" scope="row">{{ i + 1 }}</th>
      <td style="text-align: center">{{ syaratCair.syarat }}</td>
      <td style="text-align: center">{{ syaratCair.keterangan }}</td>
    </tr>
  </tbody>
</table>
<br />
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Syarat Lain-lain</h3>
</div>
<br />
<button class="btn btn-info" style="float: right" (click)="simpanSyaratLain()" [hidden]="this.untukSessionRole == 'VER_PRE_SPV'">
  Tambah Syarat
</button>
<br />
<br />
<table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead style="background-color: #f5f5f5">
    <tr>
      <th scope="col" style="text-align: center">#</th>
      <th scope="col" style="text-align: center">Syarat</th>
      <th scope="col" style="text-align: center">Keterangan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let syaratLainLain of syaratLainLain; index as i">
      <th style="text-align: center" scope="row">{{ i + 1 }}</th>
      <td style="text-align: center">{{ syaratLainLain.syarat }}</td>
      <td style="text-align: center">{{ syaratLainLain.keterangan }}</td>
    </tr>
  </tbody>
</table>
<br />
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Cek Uji Kepatuhan</h3>
</div>
<br />
<br />
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr style="background-color: grey">
      <th scope="col" style="text-align: center">#</th>
      <th scope="col" style="text-align: center">Syarat</th>
      <th scope="col" style="text-align: center">Kepatuhan</th>
      <th scope="col" style="text-align: center">Keterangan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cekUjiKepatuhan of cekUjiKepatuhan; index as i">
      <th style="text-align: center" scope="row">{{ i + 1 }}</th>
      <td>{{ cekUjiKepatuhan.kegiatan_deskripsi }}</td>
      <td style="text-align: center">
        <label>Ya</label>
        <input [checked]="this.cekUjiKepatuhan.kepatuhan == 1" type="radio" name="kepatuhan{{ i + 1 }}" id="kepatuhan{{ i + 1 }}" />
        &nbsp;&nbsp;<label></label>&nbsp;&nbsp;&nbsp;
        <input [checked]="this.cekUjiKepatuhan.kepatuhan == 0" type="radio" name="kepatuhan{{ i + 1 }}" id="kepatuhan{{ i + 1 }}" />
        <label>Tidak</label>
      </td>
      <td>
        <input
          [hidden]="this.untukSessionRole == 'VER_PRE_SPV'"
          type="text"
          class="form-control"
          value="{{ cekUjiKepatuhan.keterangan }}"
          id="keterangan{{ i + 1 }}"
        />
      </td>
    </tr>
  </tbody>
</table>
<br />
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Area of Concern</h3>
</div>
<br />
<div class="row form-material" [formGroup]="areaOfConForm">
  <label class="col-sm-2 col-form-label">Terdapat Area Concern</label>
  <div class="col-sm-10">
    <label>ada</label>
    <input type="radio" formControlName="area_of_concern" id="area-concern" value="1" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" formControlName="area_of_concern" id="area-concern" value="0" />
    <label>Tidak ada</label>
  </div>
</div>
<br />
<div class="row form-material">
  <label class="col-sm-2 col-form-label">Deskripsi Area Concern</label>
  <div class="col-sm-10">
    <input
      [disabled]="this.untukSessionRole == 'VER_PRE_SPV'"
      type="text"
      class="form-control"
      id="deskripsiAreaConcern"
      value="{{ this.bodyDeskripsiAreaOfconcern }}"
    />
  </div>
</div>
<br />
<br />
<div class="input-group" style="justify-content: center">
  <button [hidden]="this.untukSessionRole == 'VER_PRE_SPV'" type="button" class="btn btn-info" (click)="simpanData()">Simpan Data</button>
  <button (click)="goto()" [hidden]="this.untukSessionRole == 'VER_PRESCR'" type="button" class="btn btn-info">Selanjutnya</button>
</div>
<br />
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
