<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hasil Pengecekan E-KTP</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <h4 style="text-align: center">Hasil E-KTP</h4>
  </div>
  <div class="col" style="text-align: center">
    <h4 style="text-align: center">Keterangan</h4>
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Lengkap</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Nama Lengkap" id="nama1" name="nama1" value="{{ dataEntry.nama }}" readonly />
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.namaLengkap.includes('Tidak') != 'Tidak' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.namaLengkap != '' ? 'red' : 'green'">{{ datadukcapil.namaLengkap }}</h6>
    <!-- <h6 [ngClass]="datadukcapil.namaLengkap != '' ? 'red' : 'green'"></h6>
    <div *ngIf="datadukcapil === null || datadukcapil.namaLengkap.substring(0, 1) === 'T'; else untuknama">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untuknamatidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai </label>
        </p>
      </div>
    </div>

    <ng-template #untuknamatidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.namaLengkap }} </label>
      </p>
    </ng-template>

    <ng-template #untuknama>
      <i class="fa fa-window-close fa-lg" style="color: rgb(0, 204, 0)"></i>
      <p>
        <label for="check3" style="font-size: 100%; color: rgb(0, 255, 0)">{{ datadukcapil.namaLengkap }} </label>
      </p>
    </ng-template>

    <ng-template #untuknamatolak>
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.namaLengkap }} </label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
      <div class="col-sm-8">
        <div class="form-row">
          <input class="form-control" type="date" id="tanggal_lahir" name="tanggal_lahir" value="{{ dataEntry.tanggal_lahir }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.tglLahir != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.tglLahir != '' ? 'red' : 'green'">{{ datadukcapil.tglLahir }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.tglLahir.substring(0, 1) === 'T'; else untuktglLahir">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untuktglLahirtidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
        </p>
      </div>
    </div>

    <ng-template #untuktglLahir>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.tglLahir }} </label>
      </p>
    </ng-template>

    <ng-template #untuktglLahirtidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.tglLahir }} </label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Status Perkawinan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="status_perkawinan" name="status_perkawinan" value="{{ dataEntry.status_perkawinan }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.statusPerkawinan != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.statusPerkawinan != '' ? 'red' : 'green'">{{ datadukcapil.statusPerkawinan }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.statusPerkawinan.substring(0, 1) === 'T'; else untukstatuskawin">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untukstatuskawintidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
        </p>
      </div>
    </div>

    <ng-template #untukstatuskawin>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.statusPerkawinan }} </label>
      </p>
    </ng-template>

    <ng-template #untukstatuskawintidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.statusPerkawinan }} </label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Alamat KTP</label>
      <div class="col-sm-8">
        <textarea
          class="form-control h-150px"
          rows="6"
          id="alamat_ktp"
          name="alamat_ktp"
          value="{{ dataEntry.alamat_ktp }}"
          readonly
        ></textarea>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.alamat.includes('Tidak') != 'Tidak' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.alamat != '' ? 'red' : 'green'">{{ datadukcapil.alamat }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.alamat.substring(0, 1) === 'T'; else untukalamat">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untukalamattidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai </label>
        </p>
      </div>
    </div>

    <ng-template #untukalamat>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.alamat }} </label>
      </p>
    </ng-template>

    <ng-template #untukalamattidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.alamat }} </label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Provinsi</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="provinsi_cabang" name="provinsi" value="{{ dataEntry.provinsi }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.namaPropinsi != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.namaPropinsi != '' ? 'red' : 'green'">{{ datadukcapil.namaPropinsi }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.namaPropinsi.substring(0, 1) === 'T'; else untukprovinsi">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>

      <div *ngIf="datadukcapil === null; else untukprovinsitidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
        </p>
      </div>
    </div>

    <ng-template #untukprovinsi>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.namaPropinsi }} </label>
      </p>
    </ng-template>

    <ng-template #untukprovinsitidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.namaPropinsi }}</label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kota</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="kabkota_cabang" name="kabkota" value="{{ dataEntry.kabkota }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.namaKabupaten != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.namaKabupaten != '' ? 'red' : 'green'">{{ datadukcapil.namaKabupaten }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.namaKabupaten.substring(0, 1) === 'T'; else untukkota">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untukkotatidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
        </p>
      </div>
    </div>

    <ng-template #untukkota>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.namaKabupaten }} </label>
      </p>
    </ng-template>

    <ng-template #untukkotatidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.namaKabupaten }} </label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kecamatan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="kecamatan" name="kecamatan" value="{{ dataEntry.kecamatan }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.namaKecamatan != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.namaKecamatan != '' ? 'red' : 'green'">{{ datadukcapil.namaKecamatan }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.namaKecamatan.substring(0, 1) === 'T'; else untukkecamatan">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untukkecamatantidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai </label>
        </p>
      </div>
    </div>

    <ng-template #untukkecamatan>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.namaKecamatan }} </label>
      </p>
    </ng-template>

    <ng-template #untukkecamatantidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.namaKecamatan }} </label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kelurahan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="kelurahan" name="kelurahan" value="{{ dataEntry.kelurahan }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.namaKelurahan != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.namaKelurahan != '' ? 'red' : 'green'">{{ datadukcapil.namaKelurahan }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.namaKelurahan.substring(0, 1) === 'T'; else untukkelurahan">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else untukkelurahantidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
        </p>
      </div>
    </div>

    <ng-template #untukkelurahan>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.namaKelurahan }} </label>
      </p>
    </ng-template>

    <ng-template #untukkelurahantidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.namaKelurahan }}</label>
      </p>
    </ng-template> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">RT / RW</label>
      <div class="col">
        <input type="text" class="form-control" placeholder="RT" id="rt" name="rt" value="{{ dataEntry.rt }}" readonly />
      </div>
      <div class="col">RT</div>
      <div class="col">
        <input type="text" class="form-control" placeholder="RW" maxlength="3" id="rw" name="rw" value="{{ dataEntry.rw }}" readonly />
      </div>
      <div class="col">RW</div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <div class="row">
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapil.noRT != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapil.noRT != '' ? 'red' : 'green'">{{ datadukcapil.noRT }}</h6>
        <!-- <div *ngIf="datadukcapil === null || datadukcapil.noRT.substring(0, 1) === 'T'; else untukrt">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>

          <div *ngIf="datadukcapil === null; else untukrttidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untukrt>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapil.noRT }} </label>
          </p>
        </ng-template>

        <ng-template #untukrttidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.noRT }}</label>
          </p>
        </ng-template> -->
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapil.noRW != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapil.noRW != '' ? 'red' : 'green'">{{ datadukcapil.noRW }}</h6>
        <!-- <div *ngIf="datadukcapil === null || datadukcapil.noRW.substring(0, 1) === 'T'; else untukrw">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapil === null; else untukrwtidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untukrw>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapil.noRW }} </label>
          </p>
        </ng-template>

        <ng-template #untukrwtidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.noRW }}</label>
          </p>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jenis Kelamin</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="jenis_kelamin" name="jenis_kelamin" value="{{ dataEntry.jenis_kelamin }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <fa-icon [icon]="datadukcapil.jenisKelamin != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
    <br />
    <h6 [ngClass]="datadukcapil.jenisKelamin != '' ? 'red' : 'green'">{{ datadukcapil.jenisKelamin }}</h6>
    <!-- <div *ngIf="datadukcapil === null || datadukcapil.jenisKelamin.substring(0, 1) === 'T'; else jenisKelamin">
      <i class="fa fa-window-close fa-lg" style="color: red"></i>
      <div *ngIf="datadukcapil === null; else jenisKelamintidakktp">
        <p>
          <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
        </p>
      </div>
    </div>

    <ng-template #jenisKelamin>
      <input type="checkbox" id="check3" checked="checked" disabled />
      <p>
        <label for="check3" style="font-size: 100%">{{ datadukcapil.jenisKelamin }} </label>
      </p>
    </ng-template>

    <ng-template #jenisKelamintidakktp>
      <p>
        <label for="check3" style="font-size: 100%; color: red">{{ datadukcapil.jenisKelamin }}</label>
      </p>
    </ng-template> -->
  </div>
</div>

<div [ngSwitch]="dawastatuspernikaham">
  <div *ngSwitchCase="'Menikah'">
    <br />
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Hasil Pengecekan E-KTP Pasangan</h3>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <h4 style="text-align: center">Hasil E-KTP</h4>
      </div>
      <div class="col">
        <h4 style="text-align: center">Keterangan</h4>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Nama Lengkap</label>
          <div class="col-sm-8">
            <input
              type="name"
              class="form-control"
              placeholder="Nama Lengkap"
              value="{{ dataEntry.nama_pasangan }}"
              id="nama2"
              name="nama2"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.namaLengkap != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.namaLengkap != '' ? 'red' : 'green'">{{ datadukcapilpasangan.namaLengkap }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.namaLengkap.substring(0, 1) === 'T'; else untuknama">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untuknamatidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai </label>
            </p>
          </div>
        </div>

        <ng-template #untuknamatidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.namaLengkap }} </label>
          </p>
        </ng-template>

        <ng-template #untuknama>
          <i class="fa fa-window-close fa-lg" style="color: rgb(0, 204, 0)"></i>
          <p>
            <label for="check3" style="font-size: 100%; color: rgb(0, 255, 0)">{{ datadukcapilpasangan.namaLengkap }} </label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              value="{{ dataEntry.tanggal_lahir_pasangan }}"
              type="date"
              id="tanggal_lahir"
              name="tanggal_lahir"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.tglLahir != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.tglLahir != '' ? 'red' : 'green'">{{ datadukcapilpasangan.tglLahir }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.tglLahir.substring(0, 1) === 'T'; else untuktglLahir">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untuktglLahirtidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untuktglLahir>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.tglLahir }} </label>
          </p>
        </ng-template>

        <ng-template #untuktglLahirtidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.tglLahir }} </label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Status Perkawinan</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input
                class="form-control"
                value="{{ dataEntry.status_perkawinan }}"
                id="status_perkawinan"
                name="status_perkawinan"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.statusPerkawinan != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.statusPerkawinan != '' ? 'red' : 'green'">{{ datadukcapilpasangan.statusPerkawinan }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.statusPerkawinan.substring(0, 1) === 'T'; else untukstatuskawin">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untukstatuskawintidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untukstatuskawin>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.statusPerkawinan }} </label>
          </p>
        </ng-template>

        <ng-template #untukstatuskawintidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.statusPerkawinan }} </label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Alamat KTP</label>
          <div class="col-sm-8">
            <textarea class="form-control h-150px" rows="6" id="alamat_ktp" name="alamat_ktp" readonly>{{
              dataEntry.alamat_ktp_pasangan
            }}</textarea>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.alamat != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.alamat != '' ? 'red' : 'green'">{{ datadukcapilpasangan.alamat }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.alamat.substring(0, 1) === 'T'; else untukalamat">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untukalamattidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai </label>
            </p>
          </div>
        </div>

        <ng-template #untukalamat>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.alamat }} </label>
          </p>
        </ng-template>

        <ng-template #untukalamattidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.alamat }} </label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Provinsi</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" id="provinsi_cabang" name="provinsi" value="{{ dataEntry.provinsi_pasangan }}" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.namaPropinsi != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.namaPropinsi != '' ? 'red' : 'green'">{{ datadukcapilpasangan.namaPropinsi }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.namaPropinsi.substring(0, 1) === 'T'; else untukprovinsi">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>

          <div *ngIf="datadukcapilpasangan === null; else untukprovinsitidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untukprovinsi>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.namaPropinsi }} </label>
          </p>
        </ng-template>

        <ng-template #untukprovinsitidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.namaPropinsi }}</label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Kota</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ dataEntry.kabkota_pasangan }}" id="kabkota_cabang" name="kabkota" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.namaKabupaten != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.namaKabupaten != '' ? 'red' : 'green'">{{ datadukcapilpasangan.namaKabupaten }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.namaKabupaten.substring(0, 1) === 'T'; else untukkota">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untukkotatidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untukkota>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.namaKabupaten }} </label>
          </p>
        </ng-template>

        <ng-template #untukkotatidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.namaKabupaten }} </label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Kecamatan</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ dataEntry.kecamatan_pasangan }}" id="kecamatan" name="kecamatan" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.namaKecamatan != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.namaKecamatan != '' ? 'red' : 'green'">{{ datadukcapilpasangan.namaKecamatan }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.namaKecamatan.substring(0, 1) === 'T'; else untukkecamatan">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untukkecamatantidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai </label>
            </p>
          </div>
        </div>

        <ng-template #untukkecamatan>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.namaKecamatan }} </label>
          </p>
        </ng-template>

        <ng-template #untukkecamatantidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.namaKecamatan }} </label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Kelurahan</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ dataEntry.kelurahan_pasangan }}" id="kelurahan" name="kelurahan" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.namaKelurahan != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.namaKelurahan != '' ? 'red' : 'green'">{{ datadukcapilpasangan.namaKelurahan }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.namaKelurahan.substring(0, 1) === 'T'; else untukkelurahan">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else untukkelurahantidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #untukkelurahan>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.namaKelurahan }} </label>
          </p>
        </ng-template>

        <ng-template #untukkelurahantidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.namaKelurahan }}</label>
          </p>
        </ng-template> -->
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">RT / RW</label>
          <div class="col">
            <input type="text" class="form-control" value="{{ dataEntry.rt_pasangan }}" placeholder="RT" id="rt" name="rt" readonly />
          </div>
          <div class="col">RT</div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              value="{{ dataEntry.rw_pasangan }}"
              placeholder="RW"
              maxlength="3"
              id="rw"
              name="rw"
              readonly
            />
          </div>
          <div class="col">RW</div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col" style="text-align: center">
            <fa-icon [icon]="datadukcapilpasangan.noRT != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
            <br />
            <h6 [ngClass]="datadukcapilpasangan.noRT != '' ? 'red' : 'green'">{{ datadukcapilpasangan.noRT }}</h6>
            <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.noRT.substring(0, 1) === 'T'; else untukrt">
              <i class="fa fa-window-close fa-lg" style="color: red"></i>

              <div *ngIf="datadukcapilpasangan === null; else untukrttidakktp">
                <p>
                  <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
                </p>
              </div>
            </div>

            <ng-template #untukrt>
              <input type="checkbox" id="check3" checked="checked" disabled />
              <p>
                <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.noRT }} </label>
              </p>
            </ng-template>

            <ng-template #untukrttidakktp>
              <p>
                <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.noRT }}</label>
              </p>
            </ng-template> -->
          </div>
          <div class="col" style="text-align: center">
            <fa-icon [icon]="datadukcapilpasangan.noRW != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
            <br />
            <h6 [ngClass]="datadukcapilpasangan.noRW != '' ? 'red' : 'green'">{{ datadukcapilpasangan.noRW }}</h6>
            <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.noRW.substring(0, 1) === 'T'; else untukrw">
              <i class="fa fa-window-close fa-lg" style="color: red"></i>
              <div *ngIf="datadukcapilpasangan === null; else untukrwtidakktp">
                <p>
                  <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
                </p>
              </div>
            </div>

            <ng-template #untukrw>
              <input type="checkbox" id="check3" checked="checked" disabled />
              <p>
                <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.noRW }} </label>
              </p>
            </ng-template>

            <ng-template #untukrwtidakktp>
              <p>
                <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.noRW }}</label>
              </p>
            </ng-template> -->
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Jenis Kelamin</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ dataEntry.jenis_kelamin_pasangan }}" id="jenis_kelamin" name="jenis_kelamin" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <fa-icon [icon]="datadukcapilpasangan.jenisKelamin != '' ? 'circle-check' : 'circle-xmark'"></fa-icon>
        <br />
        <h6 [ngClass]="datadukcapilpasangan.jenisKelamin != '' ? 'red' : 'green'">{{ datadukcapilpasangan.jenisKelamin }}</h6>
        <!-- <div *ngIf="datadukcapilpasangan === null || datadukcapilpasangan.jenisKelamin.substring(0, 1) === 'T'; else jenisKelamin">
          <i class="fa fa-window-close fa-lg" style="color: red"></i>
          <div *ngIf="datadukcapilpasangan === null; else jenisKelamintidakktp">
            <p>
              <label for="check3" style="font-size: 100%; color: red">Tidak Sesuai</label>
            </p>
          </div>
        </div>

        <ng-template #jenisKelamin>
          <input type="checkbox" id="check3" checked="checked" disabled />
          <p>
            <label for="check3" style="font-size: 100%">{{ datadukcapilpasangan.jenisKelamin }} </label>
          </p>
        </ng-template>

        <ng-template #jenisKelamintidakktp>
          <p>
            <label for="check3" style="font-size: 100%; color: red">{{ datadukcapilpasangan.jenisKelamin }}</label>
          </p>
        </ng-template> -->
      </div>
    </div>
  </div>
  <!-- <div style="color: #fff; text-align: center">
    <button (click)="simpanstatusktp(dataEntry.status_perkawinan)" name="submit_button" class="fa fa-file-archive-o btn btn-dark">
      Simpan status KTP
    </button>
  </div> -->

  <br />
  <br />
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hasil Pengecekan Duplicate Checking</h3>
  </div>

  <br />
  <div class="row form-material">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered zero-configuration">
          <thead>
            <tr>
              <th>Nama</th>
              <th>Nomor aplikasi</th>
            </tr>
          </thead>
          <tbody id="pengecekan_ideb">
            <tr *ngFor="let duplikate of duplikate">
              <td style="text-align: center" scope="col">{{ duplikate.nama }}</td>
              <td style="text-align: center" scope="col">{{ duplikate.no_aplikasi }}</td>
              <td class="text-end"></td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </div>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hasil Pengecekan IDEB / SILK Checking</h3>
  </div>
  <br />
  <!-- <span>Tanggal Request Slik : {{this.tanggalReq[0].created_date | date: 'fullDate'}}</span> -->
  <div class="row form-material">
    <div class="card-body">
      <div class="table-responsive">
        <table
          id="example"
          class="table table-striped table-bordered dt-responsive nowrap"
          style="width: 100%"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr class="table-dark">
              <th scope="col" style="text-align: center">#</th>
              <th scope="col" style="text-align: center">NIK</th>
              <th scope="col" style="text-align: center">Nama Bank</th>
              <th scope="col" style="text-align: center">Jenis Fasilitas</th>
              <th scope="col" style="text-align: center">Kol</th>
              <th scope="col" style="text-align: center">Keterangan</th>
              <th scope="col" style="text-align: center">Outstanding</th>
              <th scope="col" style="text-align: center">Plafond</th>
              <th scope="col" style="text-align: center">Angsuran</th>
              <th scope="col" style="text-align: center">Suku Bunga</th>
              <th scope="col" style="text-align: center">Tanggal Mulai</th>
              <th scope="col" style="text-align: center">Tanggal Berakhir</th>
              <th scope="col" style="text-align: center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let listLajangSlik of listLajangSlik; index as i">
              <th scope="row" style="text-align: center">{{ i + 1 }}</th>
              <td style="text-align: center">
                {{ listLajangSlik.id_number != '' ? listLajangSlik.id_number : listLajangSlik.response_description }}
              </td>
              <td style="text-align: center">
                {{ listLajangSlik.ljk_ket != '' ? listLajangSlik.ljk_ket : listLajangSlik.response_description }}
              </td>
              <td style="text-align: center">
                {{
                  listLajangSlik.jenis_kredit_pembiayaan_ket != ''
                    ? listLajangSlik.jenis_kredit_pembiayaan_ket
                    : listLajangSlik.response_description
                }}
              </td>
              <td style="text-align: center">
                {{ listLajangSlik.kualitas != '' ? listLajangSlik.kualitas : listLajangSlik.response_description }}
              </td>
              <td style="text-align: center">
                {{ listLajangSlik.jenis_penggunaan_ket != '' ? listLajangSlik.jenis_penggunaan_ket : listLajangSlik.response_description }}
              </td>
              <td style="text-align: center">{{ listLajangSlik.baki_debet | currency: 'Rp ' }}</td>
              <td style="text-align: center">{{ listLajangSlik.plafon | currency: 'Rp ' }}</td>
              <td style="text-align: center">{{ listLajangSlik.angsuran | currency: 'Rp ' }}</td>
              <td style="text-align: center">
                {{ listLajangSlik.suku_bunga_imbalan != '' ? listLajangSlik.suku_bunga_imbalan : listLajangSlik.response_description }}%
              </td>
              <td style="text-align: center">
                {{ listLajangSlik.tanggal_mulai != '' ? listLajangSlik.tanggal_mulai : listLajangSlik.response_description }}
              </td>
              <td style="text-align: center">
                {{ listLajangSlik.tanggal_jatuh_tempo != '' ? listLajangSlik.tanggal_jatuh_tempo : listLajangSlik.response_description }}
              </td>
              <td style="text-align: center">
                {{ listLajangSlik.kondisi_ket != '' ? listLajangSlik.kondisi_ket : listLajangSlik.response_description }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr style="background-color: #ffd966">
              <th style="text-align: center" colspan="6">Total</th>
              <th style="text-align: center">{{ this.totalOutNas | currency: 'Rp ' }}</th>
              <th style="text-align: center">{{ this.totalPlaNas | currency: 'Rp ' }}</th>
              <th style="text-align: center">{{ this.totalAngNas | currency: 'Rp ' }}</th>
              <th colspan="4"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- <div style="color: #fff; text-align: center">
    <button (click)="contoh()" name="submit_button" class="fa fa-file-archive-o btn btn-dark">
      Tambah slik jimblo
    </button>
  </div> -->
  <br />
  <!-- <div [ngSwitch]="dawastatuspernikaham">
    <div *ngSwitchCase="'Menikah'">
      <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
        <h3 style="color: #fff; text-align: center">Hasil Pengecekan IDEB / SILK Checking Pasangan</h3>
      </div>
      <div class="table-responsive">
        <table
          id="example-2"
          class="table table-striped table-bordered zero-configuration"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Jenis Fasilitas</th>
              <th>Nama Lembaga Keuangan</th>
              <th>Plafond</th>
              <th>Out Standing</th>
              <th>Kolektibitas</th>
              <th>Jumlah Hari Tunggakan</th>
              <th>Keterangan</th>
            </tr>
          </thead>

          <tbody id="pengecekan_ideb">
            <tr *ngFor="let listMenikahSlik of listMenikahSlik; index as i">
              <td style="text-align: center" scope="col">{{ i + 1 }}</td>
              <td style="text-align: center" scope="col">
                {{
                  listMenikahSlik.jenis_kredit_pembiayaan_ket != null
                    ? listMenikahSlik.jenis_kredit_pembiayaan_ket
                    : listMenikahSlik.response_description
                }}
              </td>
              <td style="text-align: center" scope="col">
                {{ listMenikahSlik.ljk_ket != null ? listMenikahSlik.ljk_ket : 'checking slik on process' }}
              </td>
              <td style="text-align: center" scope="col">
                {{ listMenikahSlik.plafon != null ? listMenikahSlik.plafon : listMenikahSlik.response_description }}
              </td>
              <td style="text-align: center" scope="col">
                {{ listMenikahSlik.baki_debet != null ? listMenikahSlik.baki_debet : 'checking slik on process' }}
              </td>
              <td style="text-align: center" scope="col">
                {{ listMenikahSlik.kondisi_ket != null ? listMenikahSlik.kondisi_ket : 'checking slik on process' }}
              </td>
              <td style="text-align: center" scope="col">
                {{ listMenikahSlik.tanggal_jatuh_tempo != null ? listMenikahSlik.tanggal_jatuh_tempo : 'checking slik on process' }}
              </td>
              <td style="text-align: center" scope="col">
                {{ listMenikahSlik.kualitas_ket != null ? listMenikahSlik.kualitas_ket : 'checking slik on process' }}
              </td>
              <td class="text-end"></td>
            </tr>
          </tbody>

          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </div> -->

  <div style="color: #fff; text-align: center">
    <button (click)="untukSlik()" name="submit_button" class="fa fa-file-archive-o btn btn-dark" [hidden]="this.hideCekSlik == 1">
      Cek Hasil Slik
    </button>
  </div>

  <table style="color: #fff; text-align: center">
    <tr>
      <th></th>
    </tr>
    <tr *ngFor="let room of this.downloadSlik; let i = index">
      <td>
        <button class="fa fa-file-archive-o btn btn-dark" (click)="joinRoom(room.id_number)">Download Slik - {{ room.id_number }}</button>
      </td>
    </tr>
  </table>

  <!-- <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hasil Pengecekan Kredit_biro</h3>
  </div>
  <br />
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Hasil Score</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Hasil Score" />
    </div>
  </div> -->
  <br />
  <br />
  <div class="row form-material">
    <div class="col" style="text-align: center">
      <button
        (click)="gotopersonalinfo(dataEntry.app_no_ide, dataEntry.curef)"
        name="submit_button"
        class="fa fa-file-archive-o btn btn-warning"
      >
        Proses Data
      </button>

      <button name="submit_button" (click)="backtoide()" class="fa fa-file-archive-o btn btn-danger">Tolak</button>

      <!-- <div *ngIf="dataif != 00; else untukbutton">
      <button name="submit_button" class="fa fa-file-archive-o btn btn-dark">Tolak</button>
    </div> -->

      <!-- <ng-template #untukbutton>
      <button
        name="submit_button"

        class="fa fa-file-archive-o btn btn-dark"
      >
        prosesssss
      </button>

      <button name="submit_button"   (click)="backtoide()" class="fa fa-file-archive-o btn btn-dark">Tolak</button> -->

      <!-- <input type="checkbox" id="check3" checked="checked" disabled/><p><label for="check3" style="font-size:100%">{{ datadukcapil.namaLengkap }} </label></p> -->
      <!-- </ng-template> -->

      <!-- <div [ngSwitch]= "'{{ dataif}}'">
      <div *ngSwitchCase="'00'">
<button (click)="gotodaftaraplikaside()" name="submit_button" class="fa fa-file-archive-o btn btn-dark">
      Proses Data
    </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
