<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hasil Pengecekan E-KTP</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <h4 style="text-align: center">Hasil E-KTP</h4>
  </div>
  <div class="col" style="text-align: center">
    <h4 style="text-align: center">Keterangan</h4>
  </div>
</div>
<br />
<form   [formGroup]="personalInfoForm">

<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Lengkap</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Nama Lengkap" id="nama1" name="nama1" value="{{ daWa.nama }}" readonly />
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnnamasesuai" value="sesuai" name="radiobuttonnama" formControlName="radiobuttonnama" [(ngModel)]="tampunganradiobuttonnama">Sesuai &nbsp;&nbsp; &nbsp;&nbsp;
  <input type="radio" id="radiobtnnamatidak"  value="tidak" name="radiobuttonnama" formControlName="radiobuttonnama" [(ngModel)]="tampunganradiobuttonnama">Tidak Sesuai
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
      <div class="col-sm-8">
        <div class="form-row">
          <input class="form-control" type="date" id="tanggal_lahir" name="tanggal_lahir" value="{{ daWa.tanggal_lahir }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtntgl_lahir_sesuai"  value="sesuai" name="radiobuttontanggal" formControlName="radiobuttontanggal" [(ngModel)]="tampunganradiobuttontanggal" >Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtntgl_lahir_tidak"  value="tidak" name="radiobuttontanggal" formControlName="radiobuttontanggal" [(ngModel)]="tampunganradiobuttontanggal">Tidak Sesuai
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Status Perkawinan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="status_perkawinan" name="status_perkawinan" value="{{ daWa.status_perkawinan }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnstatussesuai"  value="sesuai" name="radiobuttonstatus" formControlName="radiobuttonstatus" [(ngModel)]="tampunganradiobuttonstatus" >Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnstatustidak"  value="tidak" name="radiobuttonstatus"  formControlName="radiobuttonstatus" [(ngModel)]="tampunganradiobuttonstatus">Tidak Sesuai
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Alamat KTP</label>
      <div class="col-sm-8">
        <textarea
          class="form-control h-150px"
          rows="6"
          id="alamat_ktp"
          name="alamat_ktp"
          value="{{ daWa.alamat_ktp }}"
          readonly
        ></textarea>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnalamatsesuai"  value="sesuai" formControlName="radiobuttonalamat" [(ngModel)]="tampunganradiobuttonalamat">Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnalamattidak" value="tidak" formControlName="radiobuttonalamat" [(ngModel)]="tampunganradiobuttonalamat">Tidak Sesuai
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Provinsi</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="provinsi_cabang" name="provinsi" value="{{ daWa.provinsi }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnprovinsisesuai"  value="sesuai" name="radiobuttonprovinsi" formControlName="radiobuttonprovinsi" [(ngModel)]="tampunganradiobuttonprovinsi">Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnprovinsitidak"  value="tidak" name="radiobuttonprovinsi" formControlName="radiobuttonprovinsi" [(ngModel)]="tampunganradiobuttonprovinsi">Tidak Sesuai
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kota</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="kabkota_cabang" name="kabkota" value="{{ daWa.kabkota }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnkotasesuai"  value="sesuai" name="radiobuttonkota" formControlName="radiobuttonkota" [(ngModel)]="tampunganradiobuttonkota">Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnkotatidak"  value="tidak" name="radiobuttonkota" formControlName="radiobuttonkota" [(ngModel)]="tampunganradiobuttonkota">Tidak Sesuai
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kecamatan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="kecamatan" name="kecamatan" value="{{ daWa.kecamatan }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnkecamatansesuai"  value="sesuai" name="radiobuttonkecamatan" formControlName="radiobuttonkecamatan" [(ngModel)]="tampunganradiobuttonkecamatan">Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnkecamatantidak"  value="tidak" name="radiobuttonkecamatan" formControlName="radiobuttonkecamatan" [(ngModel)]="tampunganradiobuttonkecamatan">Tidak Sesuai 
    
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kelurahan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="kelurahan" name="kelurahan" value="{{ daWa.kelurahan }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnkelurahansesuai"  value="sesuai" name="radiobuttonkelurahan" formControlName="radiobuttonkelurahan" [(ngModel)]="tampunganradiobuttonkelurahan">Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnkeluranantidak"  value="tidak" name="radiobuttonkelurahan" formControlName="radiobuttonkelurahan" [(ngModel)]="tampunganradiobuttonkelurahan">Tidak Sesuai 
    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">RT / RW</label>
      <div class="col">
        <input type="text" class="form-control" placeholder="RT" id="rt" name="rt" value="{{ daWa.rt }}" readonly />
      </div>
      <div class="col">RT</div>
      <div class="col">
        <input type="text" class="form-control" placeholder="RW" maxlength="3" id="rw" name="rw" value="{{ daWa.rw }}" readonly />
      </div>
      <div class="col">RW</div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <div class="row">
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnrtsesuai"  value="sesuai" name="radiobuttonrt" formControlName="radiobuttonrt" [(ngModel)]="tampunganradiobuttonrt">Sesuai &nbsp;&nbsp;
        <input type="radio"  id="radiobtnrttidak"  value="tidak" name="radiobuttonrt" formControlName="radiobuttonrt" [(ngModel)]="tampunganradiobuttonrt">Tidak Sesuai
       
        <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnrwsesuai"  value="sesuai" name="radiobuttonrw" formControlName="radiobuttonrw" [(ngModel)]="tampunganradiobuttonrw">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnrwtidak"  value="tidak" name="radiobuttonrw" formControlName="radiobuttonrw" [(ngModel)]="tampunganradiobuttonrw">Tidak Sesuai

     <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
      </div>
    </div>
  </div>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jenis Kelamin</label>
      <div class="col-sm-8">
        <div class="form-group">
          <input class="form-control" id="jenis_kelamin" name="jenis_kelamin" value="{{ daWa.jenis_kelamin }}" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <input type="radio" id="radiobtnjenissesuai"  value="sesuai" name="radiobuttonjenis" formControlName="radiobuttonjenis" [(ngModel)]="tampunganradiobuttonjenis">Sesuai &nbsp;&nbsp;
    <input type="radio" id="radiobtnjenistidak"  value="tidak" name="radiobuttonjenis" formControlName="radiobuttonjenis" [(ngModel)]="tampunganradiobuttonjenis">Tidak Sesuai

    <!-- <label for="check3" style="font-size: 150%"><input type="checkbox" id="check3" checked="checked" /> Sesuai </label> -->
  </div>
</div>

<div [ngSwitch]="dawastatuspernikaham">
  <div *ngSwitchCase="'Menikah'">
    <br />
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Hasil Pengecekan E-KTP Pasangan</h3>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <h4 style="text-align: center">Hasil E-KTP</h4>
      </div>
      <div class="col">
        <h4 style="text-align: center">Keterangan</h4>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Nama Lengkap</label>
          <div class="col-sm-8">
            <input type="name" class="form-control" placeholder="Nama Lengkap" value="{{ daWa.nama_pasangan }}" id="nama2" name="nama2" readonly />
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnnamapasangansesuai"  value="sesuai" name="radiobuttonnamapasangan" formControlName="radiobuttonnamapasangan" [(ngModel)]="tampunganradiobuttonnamapasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnnamapasangantidak"  value="tidak" name="radiobuttonnamapasangan" formControlName="radiobuttonnamapasangan" [(ngModel)]="tampunganradiobuttonnamapasangan">Tidak Sesuai
      
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
          <div class="col-sm-8">
            <input class="form-control" value="{{ daWa.tanggal_lahir_pasangan }}" type="date" id="tanggal_lahir" name="tanggal_lahir" readonly />
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtntgllahirpasangansesuai"  value="sesuai" name="radiobuttontanggalpasangan" formControlName="radiobuttontanggalpasangan" [(ngModel)]="tampunganradiobuttontanggalpasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtntgllahirpasangantidak"  value="tidak" name="radiobuttontanggalpasangan" formControlName="radiobuttontanggalpasangan" [(ngModel)]="tampunganradiobuttontanggalpasangan">Tidak Sesuai
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Status Perkawinan</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ daWa.status_perkawinan }}" id="status_perkawinan" name="status_perkawinan" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnstatuspasangansesuai"  value="sesuai" name="radiobuttonstatuspasangan"  formControlName="radiobuttonstatuspasangan" [(ngModel)]="tampunganradiobuttonstatuspasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnstatuspasangantidak"  value="tidak"  name="radiobuttonstatuspasangan" formControlName="radiobuttonstatuspasangan" [(ngModel)]="tampunganradiobuttonstatuspasangan">Tidak Sesuai
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Alamat KTP</label>
          <div class="col-sm-8">
            <textarea class="form-control h-150px"  rows="6" id="alamat_ktp" name="alamat_ktp" readonly>{{ daWa.alamat_ktp_pasangan }}</textarea>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnalamatpasanganseuai"  value="sesuai" name="radiobuttonalamatpasangan" formControlName="radiobuttonalamatpasangan" [(ngModel)]="tampunganradiobuttonalamatpasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnalamatpasangantidak"  value="tidak"  name="radiobuttonalamatpasangan" formControlName="radiobuttonalamatpasangan" [(ngModel)]="tampunganradiobuttonalamatpasangan">Tidak Sesuai
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Provinsi</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" id="provinsi_cabang" name="provinsi" value="{{ daWa.provinsi_pasangan }}" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">

        <input type="radio" id="radiobtnprovinsipasangansesuai"  value="sesuai" name="radiobuttonprovinsipasangan" formControlName="radiobuttonprovinsipasangan" [(ngModel)]="tampunganradiobuttonprovinsipasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnprovinsipasangantidak"  value="tidak" name="radiobuttonprovinsipasangan" formControlName="radiobuttonprovinsipasangan" [(ngModel)]="tampunganradiobuttonprovinsipasangan">Tidak Sesuai
       
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Kota</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ daWa.kabkota_pasangan }}" id="kabkota_cabang" name="kabkota" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnkotapasangansesuai"  value="sesuai" formControlName="radiobuttonkotapasangan" [(ngModel)]="tampunganradiobuttonkotapasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnkotapasangantidak"  value="tidak"  formControlName="radiobuttonkotapasangan" [(ngModel)]="tampunganradiobuttonkotapasangan">Tidak Sesuai
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Kecamatan</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ daWa.kecamatan_pasangan }}" id="kecamatan" name="kecamatan" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnkecamatanpasangansesuai" value="sesuai" name="radiobuttonkecamatanpasangan" formControlName="radiobuttonkecamatanpasangan" [(ngModel)]="tampunganradiobuttonkecamatanpasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnkecamatanpasangantidak"  value="tidak" name="radiobuttonkecamatanpasangan" formControlName="radiobuttonkecamatanpasangan" [(ngModel)]="tampunganradiobuttonkecamatanpasangan">Tidak Sesuai
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Kelurahan</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ daWa.kelurahan_pasangan }}" id="kelurahan" name="kelurahan" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnkelurahanpasangansesuai"  value="sesuai" name="radiobuttonkelurahanpasangan" formControlName="radiobuttonkelurahanpasangan" [(ngModel)]="tampunganradiobuttonkelurahanpasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnkelurahanpasangantidak"  value="tidak" name="radiobuttonkelurahanpasangan" formControlName="radiobuttonkelurahanpasangan" [(ngModel)]="tampunganradiobuttonkelurahanpasangan">Tidak Sesuai
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">RT / RW</label>
          <div class="col">
            <input type="text" class="form-control" value="{{ daWa.rt_pasangan }}" placeholder="RT" id="rt" name="rt" readonly />
          </div>
          <div class="col">RT</div>
          <div class="col">
            <input type="text" class="form-control" value="{{ daWa.rw_pasangan }}" placeholder="RW" maxlength="3" id="rw" name="rw" readonly />
          </div>
          <div class="col">RW</div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col" style="text-align: center">
            <input type="radio" id="radiobtnrtpasangansesuai"  value="sesuai" name="radiobuttonrtpasangan" formControlName="radiobuttonrtpasangan" [(ngModel)]="tampunganradiobuttonrtpasangan">Sesuai &nbsp;&nbsp;
            <input type="radio" id="radiobtnrtpasangantidak"  value="tidak" name="radiobuttonrtpasangan" formControlName="radiobuttonrtpasangan" [(ngModel)]="tampunganradiobuttonrtpasangan">Tidak Sesuai
          </div>
          <div class="col" style="text-align: center">
            <input type="radio" id="radiobtnrwpasangansesuai"  value="sesuai" name="radiobuttonrwpasangan" formControlName="radiobuttonrwpasangan" [(ngModel)]="tampunganradiobuttonrwpasangan">Sesuai &nbsp;&nbsp;
            <input type="radio" id="radiobtnrwpasangantidak"  value="tidak" name="radiobuttonrwpasangan" formControlName="radiobuttonrwpasangan" [(ngModel)]="tampunganradiobuttonrwpasangan">Tidak Sesuai
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Jenis Kelamin</label>
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" value="{{ daWa.jenis_kelamin_pasangan }}"  id="jenis_kelamin" name="jenis_kelamin" readonly />
            </div>
          </div>
        </div>
      </div>
      <div class="col" style="text-align: center">
        <input type="radio" id="radiobtnjenispasangansesuai"  value="sesuai" name="radiobuttonjenispasangan" formControlName="radiobuttonjenispasangan" [(ngModel)]="tampunganradiobuttonjenispasangan">Sesuai &nbsp;&nbsp;
        <input type="radio" id="radiobtnjenispasangantidak"  value="tidak" name="radiobuttonjenispasangan" formControlName="radiobuttonjenispasangan" [(ngModel)]="tampunganradiobuttonjenispasangan">Tidak Sesuai
      </div>
    </div>

  </div>

<br />

<br />
<br />
<div style="color: #fff; text-align: center">
  <button

  (click)="simpanstatusktp(daWa.status_perkawinan)"
  name="submit_button"
  onclic="untuksubmit()"
  class="fa fa-file-archive-o btn btn-dark"
  >
  Simpan status KTP
  </button>

</div>
</div>
</form>
<br />
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hasil Pengecekan Duplicate Checking</h3>
</div>



<br />
<div class="row form-material">
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="table table-striped table-bordered zero-configuration">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Nomor aplikasi</th>

          </tr>
        </thead>
        <tbody id="pengecekan_ideb">
          <tr *ngFor="let duplikate of duplikate">
            <td style="text-align: center" scope="col">{{ duplikate.nama }}</td>
            <td style="text-align: center" scope="col">{{ duplikate.no_aplikasi }}</td>
            <td class="text-end">

            </td>
          </tr>

        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hasil Pengecekan IDEB / SILK Checking</h3>
</div>
<br />
<div class="row form-material">
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="table table-striped table-bordered zero-configuration">
        <thead>
          <tr>
            <th>#</th>
            <th>Jenis Fasilitas</th>
            <th>Nama Lembaga Keuangan</th>
            <th>Plafond</th>
            <th>Out Standing</th>
            <th>Kolektibitas</th>
            <th>Jumlah Hari Tunggakan</th>
            <th>Keterangan</th>
          </tr>
        </thead>
        <tbody id="pengecekan_ideb">
          <tr *ngFor="let dataslik of dataslik">
            <!-- <td style="text-align: center" scope="col">{{ i + 1 }}</td> -->
            <!-- <td style="text-align: center;" scope="col">{{ daWa.id }}</td> -->
            <td style="text-align: center" scope="col">{{ dataslik.id }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.jenis_kredit_pembiayaan_ket }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.ljk_ket }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.plafon }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.baki_debet }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.kondisi_ket }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.tanggal_jatuh_tempo }}</td>
            <td style="text-align: center" scope="col">{{ dataslik.kualitas_ket }}</td>
            <!-- (change)="getProoduct(daWa.isSelected, daWa.app_no_de)" -->
            <!-- <td> <input   (change)="getProoduct($event, daWa.app_no_de ,i+1)"  type="checkbox" > </td> -->
            <td class="text-end">

            </td>
          </tr>

        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
<div style="color: #fff; text-align: center">
  <button

  (click)="contoh()"
  name="submit_button"
  onclic="untuksubmit()"
  class="fa fa-file-archive-o btn btn-dark"
  >
 Tambah slik jimblo
  </button>
  

</div>
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hasil Pengecekan IDEB / SILK Checking Pasangan</h3>
</div>
<table id="example" class="table table-striped table-bordered zero-configuration">
  <thead>
    <tr>
      <th>#</th>
      <th>Jenis Fasilitas</th>
      <th>Nama Lembaga Keuangan</th>
      <th>Plafond</th>
      <th>Out Standing</th>
      <th>Kolektibitas</th>
      <th>Jumlah Hari Tunggakan</th>
      <th>Keterangan</th>
    </tr>
  </thead>

  <tbody id="pengecekan_ideb">
    <tr *ngFor="let dataslikp of dataslikp">
      <!-- <td style="text-align: center" scope="col">{{ i + 1 }}</td> -->
      <!-- <td style="text-align: center;" scope="col">{{ daWa.id }}</td> -->
      <td style="text-align: center" scope="col">{{ dataslikp.id }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.jenis_kredit_pembiayaan_ket }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.ljk_ket }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.plafon }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.baki_debet }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.kondisi_ket }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.tanggal_jatuh_tempo }}</td>
      <td style="text-align: center" scope="col">{{ dataslikp.kualitas_ket }}</td>
      <!-- (change)="getProoduct(daWa.isSelected, daWa.app_no_de)" -->
      <!-- <td> <input   (change)="getProoduct($event, daWa.app_no_de ,i+1)"  type="checkbox" > </td> -->
      <td class="text-end">

      </td>
    </tr>

  </tbody>

  <tfoot></tfoot>
</table>

<div style="color: #fff; text-align: center">
  <button

  (click)="simpanstatusktp(daWa.status_perkawinan)"
  name="submit_button"
  onclic="untuksubmit()"
  class="fa fa-file-archive-o btn btn-dark"
  >
 Tambah slik
  </button>

</div>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hasil Pengecekan Kredit_biro</h3>
</div>
<br />
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Hasil Score</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" placeholder="Hasil Score" />
  </div>
</div>
<br />
<br />
<div class="row form-material">
  <div class="col" style="text-align: center">
    <div *ngIf="dataif != 00; else untukbutton">
      <button name="submit_button" onclic="untuksubmit()" class="fa fa-file-archive-o btn btn-dark">Tolak</button>
    </div>

    <ng-template #untukbutton>
      <button
        (click)="gotopersonalinfo(daWa.app_no_ide, daWa.curef)"
        name="submit_button"
        onclic="untuksubmit()"
        class="fa fa-file-archive-o btn btn-dark"
      >
        prosesssss
      </button>

      <button name="submit_button"   (click)="backtoide()" class="fa fa-file-archive-o btn btn-dark">Tolak</button>

      <!-- <input type="checkbox" id="check3" checked="checked" disabled/><p><label for="check3" style="font-size:100%">{{ datadukcapil.namaLengkap }} </label></p> -->
    </ng-template>

    <!-- <div [ngSwitch]= "'{{ dataif}}'">
      <div *ngSwitchCase="'00'">
<button (click)="gotodaftaraplikaside()" name="submit_button" onclic="untuksubmit()" class="fa fa-file-archive-o btn btn-dark">
      Proses Data
    </button>
        </div>
      </div> -->
  </div>
</div>
