<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Data Pasangan</h3>
</div>
<p></p>
<p></p>
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nama Lengkap<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          placeholder="Nama Lengkap"
          name="nama_pasangan"
          id="nama_pasangan"
          value="{{ daWa.nama_pasangan }}"
        />
        <input type="hidden" class="form-control" placeholder="Nama Lengkap" name="id" id="id" value="{{ daWa.id_customer }}" />

        <input
          type="hidden"
          class="form-control"
          placeholder="Nama Lengkap"
          name="app_no_ide"
          id="app_no_ide"
          value="{{ daWa.app_no_ide }}"
        />

        <input type="hidden" class="form-control" placeholder="Nama Lengkap" name="curef" id="curef" value="{{ daWa.curef }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Jenis Kelamin<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="jenis_kelamin_pasangan" name="jenis_kelamin_pasangan">
            <option>{{ daWa.jenis_kelamin_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Alamat KTP<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <textarea class="form-control h-150px" rows="6" id="comment" name="alamat_ktp_pasangan" id="alamat_ktp_pasangan">
          {{ daWa.alamat_ktp_pasangan }}
        </textarea>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Provinsi<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="provinsi_pasangan" name="provinsi_pasangan">
            <option>{{ daWa.provinsi_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kota<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kabkota_pasangan" name="kabkota_pasangan">
            <option>{{ daWa.kabkota_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kecamatan<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kecamatan_pasangan" name="kecamatan_pasangan">
            <option>{{ daWa.kecamatan_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kelurahan<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kelurahan_pasangan" name="kelurahan_pasangan">
            <option>{{ daWa.kelurahan_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kode Pos<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="input-group mb-3">
          <input
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            maxlength="8"
            class="form-control"
            id="kode_pos_pasangan"
            name="kode_pos_pasangan"
            value="{{ daWa.kode_pos_pasangan }}"
          />
          <div class="input-group-append">
            <button id="btnkdphilang" onclick="buatisi()" class="btn btn-outline-dark" type="button" value="{{ daWa.kode_pos_pasangan }}">
              Cari Data
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">RT / RW<span class="text-danger">*</span></label>
      <div class="col">
        <input
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          maxlength="3"
          class="form-control"
          placeholder="RT"
          id="rt_pasangan"
          name="rt_pasangan"
          value="{{ daWa.rt_pasangan }} "
        />
      </div>
      <div class="col">RT</div>
      <div class="col">
        <input
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder="RW"
          maxlength="3"
          id="rw_pasangan"
          name="rw_pasangan"
          value="{{ daWa.rw_pasangan }} "
        />
      </div>
      <div class="col">RW</div>
    </div>
    <br />
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tanggal Lahir<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          class="form-control"
          type="date"
          id="tanggal_lahir_pasangan"
          name="tanggal_lahir_pasangan"
          value="{{ daWa.tanggal_lahir_pasangan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Kewarganegaraan<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" id="kewarganegaraan_pasangan" name="kewarganegaraan_pasangan">
            <option>{{ daWa.kewarganegaraan_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Pendidikan<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="form-group">
          <select class="form-control" name="pendidikan_pasangan" id="pendidikan_pasangan">
            <option>{{ daWa.pendidikan_pasangan }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Email<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <!-- <?=$email_pasangan?>" -->
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email_pasangan"
          id="email_pasangan"
          value=" {{ daWa.email_pasangan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">No Handphone<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          maxlength="12"
          pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
          class="form-control"
          placeholder="No Handphone"
          name="no_handphone_pasangan"
          id="no_handphone_pasangan"
          value="{{ daWa.no_handphone_pasangan }} "
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">No KTP<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          maxlength="16"
          class="form-control"
          placeholder="No KTP"
          name="no_ktp_pasangan"
          id="no_ktp_pasangan"
          value=" {{ daWa.no_ktp_pasangan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tanggal Terbit KTP<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          class="form-control"
          type="date"
          id="tanggal_terbit_ktp_pasangan"
          value="{{ daWa.tanggal_terbit_ktp_pasangan }}"
          name="tanggal_terbit_ktp_pasangan"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label"> KTP Seumur Hidup<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="radio" value="Ya" id="ktp_seumur_hidup_pasangan_ya" name="ktp_seumur_hidup_pasangan" /> Ya
        <input type="radio" value="Tidak" id="ktp_seumur_hidup_pasangan_tidak" name="ktp_seumur_hidup_pasangan" /> Tidak
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tanggal Expired KTP<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          class="form-control"
          type="date"
          id="tanggal_exp_ktp_pasangan"
          value="{{ daWa.tanggal_exp_ktp_pasangan }} "
          name="tanggal_exp_ktp_pasangan"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">NPWP<span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder="NPWP"
          maxlength="16"
          name="npwp_pasangan"
          id="npwp_pasangan"
          value=" {{ daWa.npwp_pasangan }}"
        />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" style="text-align: center">
    <button (click)="updatedatapasngan('0')" class="btn btn-dark">Simpan Data</button>
    <button type="submit" (click)="goto('0')" class="btn btn-warning">
      Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
    </button>
  </div>
</div>
