<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Data Pasangan</h3>
</div>
<p></p>
<p></p>
<form [formGroup]="dataPasanganForm" (ngSubmit)="updatedatapasngan()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nama Lengkap</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nama Lengkap" formControlName="nama_pasangan" id="nama_pasangan" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jenis Kelamin</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="jenis_kelamin_pasangan" formControlName="jenis_kelamin_pasangan">
              <option value="Laki-laki">Laki - laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat KTP</label>
        <div class="col-sm-9">
          <textarea class="form-control h-150px" rows="6" formControlName="alamat_ktp_pasangan" id="alamat_ktp_pasangan"></textarea>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              (change)="onChange(this.dataPasanganForm.get('provinsi_pasangan')?.value)"
              class="form-control"
              id="provinsi_pasangan"
              formControlName="provinsi_pasangan"
            >
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekota(this.dataPasanganForm.get('kabkota_pasangan')?.value)"
              id="kabkota_pasangan"
              formControlName="kabkota_pasangan"
            >
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekecamatan(this.dataPasanganForm.get('kecamatan_pasangan')?.value)"
              id="kecamatan_pasangan"
              formControlName="kecamatan_pasangan"
            >
              <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              (change)="onChangekelurahan(this.dataPasanganForm.get('kelurahan_pasangan')?.value)"
              class="form-control"
              id="kelurahan_pasangan"
              formControlName="kelurahan_pasangan"
            >
              <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              type="tel"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
              class="form-control"
              id="kode_pos_pasangan"
              formControlName="kode_pos_pasangan"
            />
            <div class="input-group-append">
              <button
                id="btnkdphilang"
                (click)="carimenggunakankodepos(this.dataPasanganForm.get('kode_pos_pasangan')?.value)"
                class="btn btn-outline-dark"
                type="button"
                [disabled]="this.untukSessionRole === 'BRANCHMANAGER' || this.untukSessionRole === 'VER_PRE_SPV'"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            type="tel"
            maxlength="3"
            class="form-control"
            placeholder="RT"
            id="rt_pasangan"
            formControlName="rt_pasangan"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            type="tel"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            id="rw_pasangan"
            formControlName="rw_pasangan"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
        <div class="col">RW</div>
      </div>
      <br />
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tanggal Lahir</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="date"
            id="tanggal_lahir_pasangan"
            formControlName="tanggal_lahir_pasangan"
            (change)="hitungUsia(this.dataPasanganForm.get('tanggal_lahir_pasangan')?.value)"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Usia</label>
        <div class="col-sm-9">
          <input type="tel" maxlength="2" class="form-control" placeholder="Usia" id="usia" formControlName="usia_pasangan" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kewarganegaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="kewarganegaraan_pasangan" formControlName="kewarganegaraan_pasangan">
              <option>WNI</option>
              <option>WNA</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendidikan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" formControlName="pendidikan_pasangan" id="pendidikan_pasangan">
              <option *ngFor="let pendidikan of pendidikanModel" value="{{ pendidikan.deskripsi }}">{{ pendidikan.deskripsi }}</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email" formControlName="email_pasangan" id="email_pasangan" />
          <span
            [hidden]="
              dataPasanganForm.controls.email_pasangan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            *ngIf="customerModel.fasilitas_name !== 'PTA'"
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">No Handphone</label>
        <div class="col-sm-9">
          <input
            type="tel"
            maxlength="12"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            class="form-control"
            placeholder="No Handphone"
            formControlName="no_handphone_pasangan"
            id="no_handphone_pasangan"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">No KTP</label>
        <div class="col-sm-9">
          <input
            type="tel"
            maxlength="16"
            class="form-control"
            placeholder="No KTP"
            formControlName="no_ktp_pasangan"
            id="no_ktp_pasangan"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tanggal Terbit KTP</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_terbit_ktp_pasangan" formControlName="tanggal_terbit_ktp_pasangan" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> KTP Seumur Hidup</label>
        <div class="col-sm-4">
          <input type="radio" (click)="radiobbutton()" value="1" id="ktp_seumur_hidup_pasangan_ya" formControlName="status_ktp_pasangan" />
          Ya
          <input
            type="radio"
            (click)="radiobbuttonktp()"
            value="0"
            id="ktp_seumur_hidup_pasangan_tidak"
            formControlName="status_ktp_pasangan"
          />
          Tidak
        </div>
      </div>
      <br />
      <div [ngSwitch]="untukktp">
        <div *ngSwitchCase="'1'">
          <div class="form-group row">
            <label name="texttanggalex" id="texttanggalex" class="col-sm-3 col-form-label">Tanggal Expired KTP</label>
            <div class="col-sm-9">
              <input class="form-control" type="date" id="tanggal_exp_ktp_pasangan" formControlName="tanggal_exp_ktp_pasangan" />
            </div>
          </div>
        </div>

        <div *ngSwitchDefault></div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">NPWP</label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            placeholder="NPWP"
            maxlength="16"
            formControlName="npwp_pasangan"
            id="npwp_pasangan"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center">
      <button
        type="submit"
        class="btn btn-dark"
        [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
      >
        Simpan Data
      </button>
      <button
        type="button"
        [hidden]="this.untukSessionRole == 'AO'"
        (click)="goto()"
        class="btn btn-warning"
        [hidden]="this.untukSessionRole == 'AO'"
      >
        Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
      </button>
    </div>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
