<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Job Info</h3>
</div>
<p></p>
<p></p>

<form [formGroup]="jobInfoForm" (ngSubmit)="buatcreatejobinfo()">
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h6 style="color: #fff; text-align: center">Informasi Pekerjaan Nasabah</h6>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <input
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
              class="form-control"
              id="kategori_pekerjaan"
              name="kategori_pekerjaan"
              value="{{ dataEntry.kategori_pekerjaan }}"
              readonly
            />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="tipe_pekerjaan" formControlName="tipe_pekerjaan">
              <option value="">Pilih Tipe Pekerjaan</option>
              <option *ngFor="let listTipePekerjaan of listTipePekerjaan" value="{{ listTipePekerjaan.job_type_id }}">
                {{ listTipePekerjaan.job_desc }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.tipe_pekerjaan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Payroll Bank Mega Syariah :</label>
        <div class="col-sm-9">
          <div class="form-group">
            <label class="radio-inline mr-3"> <input type="radio" formControlName="payroll" id="payroll" value="1" />Payroll</label>
            &emsp;&emsp;&emsp;
            <label class="radio-inline mr-3"> <input type="radio" formControlName="payroll" id="payroll1" value="0" />Non Payroll</label>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" [hidden]="this.jobInfoForm.get('tipe_pekerjaan')?.value === '4'">Posisi</label>
        <label class="col-sm-3 col-form-label" *ngIf="this.jobInfoForm.get('tipe_pekerjaan')?.value == '4'">Jenis Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group" [hidden]="this.jobInfoForm.get('tipe_pekerjaan')?.value === '4'">
            <select class="form-control" formControlName="posisi">
              <option *ngFor="let getjabatandariapi of getjabatandariapi" value="{{ getjabatandariapi.jabatan_deskripsi }}">
                {{ getjabatandariapi.jabatan_deskripsi }}
              </option>
              <!-- note -->
            </select>
          </div>

          <div class="form-group" *ngIf="this.jobInfoForm.get('tipe_pekerjaan')?.value === '4'">
            <select class="form-control" formControlName="posisi">
              <option *ngFor="let listJabatan of listJabatan" value="{{ listJabatan.deskripsi }}">{{ listJabatan.deskripsi }}</option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.posisi.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nama_perusahaan" formControlName="nama_perusahaan" placeholder="Nama Perusahaan" />
          <span
            [hidden]="
              jobInfoForm.controls.nama_perusahaan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lama Beroperasi</label>
        <div class="col-sm-5">
          <input
            type="number"
            class="form-control"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
          />
        </div>
        <label class="col-sm-2">Tahun</label>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat</label>
        <div class="col-sm-9">
          <textarea class="form-control h-150px" rows="6" id="alamat_perusahaan" formControlName="alamat_perusahaan"></textarea>
          <span
            [hidden]="
              jobInfoForm.controls.alamat_perusahaan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChange(this.jobInfoForm.get('provinsi')?.value)"
              id="provinsi_cabang_perusahaan"
              formControlName="provinsi"
            >
              <option value="">Pilih Provinsi</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.provinsi.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekota(this.jobInfoForm.get('kabkota')?.value)"
              id="kabkota_cabang_perusahaan"
              formControlName="kabkota"
            >
              <option value="">Pilih Kota</option>
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.kabkota.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekecamatan(this.jobInfoForm.get('kecamatan')?.value)"
              id="kecamatan_perusahaan"
              formControlName="kecamatan"
            >
              <option value="">Pilih Kecamatan</option>
              <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.kecamatan.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekelurahan(this.jobInfoForm.get('kelurahan')?.value)"
              id="kelurahan"
              formControlName="kelurahan"
            >
              <option value="">Pilih Kelurahan</option>
              <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.kelurahan.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              type="tel"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
              class="form-control"
              id="kode_pos"
              formControlName="kode_pos"
            />
            <div class="input-group-append">
              <button
                (click)="carimenggunakankodepost(this.jobInfoForm.get('kode_pos')?.value)"
                class="btn btn-outline-dark"
                id="kode_poshilang"
                type="button"
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
              >
                Cari Data
              </button>
            </div>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.kode_pos.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            maxlength="3"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            value=""
            placeholder="RT"
            id="rt"
            formControlName="rt"
          />
          <span
            [hidden]="jobInfoForm.controls.rt.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            maxlength="3"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="RW"
            id="rw"
            value=""
            formControlName="rw"
          />
          <span
            [hidden]="jobInfoForm.controls.rw.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
        <div class="col">RW</div>
      </div>
      <br />
      <div class="form-group row" *ngIf="dataEntry.kategori_pekerjaan === 'Non Fix Income'">
        <label class="col-sm-3 col-form-label" [hidden]="this.jobInfoForm.get('tipe_pekerjaan')?.value === '4'">Nomor SIUP</label>
        <label class="col-sm-3 col-form-label" *ngIf="this.jobInfoForm.get('tipe_pekerjaan')?.value === '4'">Nomor SIP</label>
        <div class="col-sm-9">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            id="no_siup"
            formControlName="no_siup"
            class="form-control"
            maxlength="16"
          />
          <span
            [hidden]="
              jobInfoForm.controls.no_siup.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jenis Bidang</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="jenisbidangselect(this.jobInfoForm.get('jenis_bidang')?.value)"
              id="jenis_bidang_perusahaan"
              formControlName="jenis_bidang"
            >
              <option value="">Pilih Jenis Bidang</option>
              <option
                *ngFor="let getjenisbidangdariapi of getjenisbidangdariapi"
                value="{{ getjenisbidangdariapi.group_sektor }}|{{ getjenisbidangdariapi.nama_group_sektor }}"
              >
                {{ getjenisbidangdariapi.nama_group_sektor }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.jenis_bidang.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Sektor Ekonomi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="jenis_sektor_perusahaan" name="sektor_ekonomi" formControlName="sektor_ekonomi">
              <option value="">Pilih Sektor Ekonomi</option>
              <option *ngFor="let getdatasektorekonomi of getdatasektorekonomi" value="{{ getdatasektorekonomi.nama_sub_sektor }}">
                {{ getdatasektorekonomi.nama_sub_sektor }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.sektor_ekonomi.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Usia Pensiun</label>
        <div class="col-sm-9">
          <input
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="Usia Pensiun"
            maxlength="2"
            id="umur_pensiun"
            formControlName="umur_pensiun"
          />
          <span
            [hidden]="
              jobInfoForm.controls.umur_pensiun.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lama Bekerja</label>
        <div class="col">
          <input
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            id="lama_bekerja_tahun"
            formControlName="lama_bekerja_tahun"
            maxlength="2"
          />
          <span
            [hidden]="
              jobInfoForm.controls.lama_bekerja_tahun.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
        <div class="col">Tahun</div>
        <div class="col">
          <input
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            id="lama_bekerja_bulan"
            formControlName="lama_bekerja_bulan"
            maxlength="2"
          />
          <span
            [hidden]="
              jobInfoForm.controls.lama_bekerja_bulan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
        <div class="col">Bulan</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jumlah Karyawan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" formControlName="jumlah_karyawan">
              <option value="">Pilih Jumlah Karyawan</option>
              <option *ngFor="let getjumlahkaryawandariapi of getjumlahkaryawandariapi" value="{{ getjumlahkaryawandariapi.deskripsi }}">
                {{ getjumlahkaryawandariapi.deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendapatan</label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            placeholder="Pendapatan"
            id="pendapatan"
            formControlName="pendapatan"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
          />
          <span
            [hidden]="
              jobInfoForm.controls.pendapatan.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendapatan Lain</label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            placeholder="Pendapatan Lain"
            id="pendapatan_lain"
            formControlName="pendapatan_lain"
            (keypress)="keyPressNumbers($event)"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tunjangan</label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            placeholder="Tunjangan"
            id="tunjangan"
            formControlName="tunjangan"
            (keypress)="keyPressNumbers($event)"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
          />
          <span
            [hidden]="
              jobInfoForm.controls.tunjangan.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Total Pendapatan</label>
        <div class="col-sm-9">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            class="form-control"
            placeholder="Total Pendapatan"
            id="total_pendapatan"
            formControlName="total_pendapatan"
            value="{{
              +this.jobInfoForm.get('pendapatan')?.value +
                +this.jobInfoForm.get('pendapatan_lain')?.value +
                +this.jobInfoForm.get('tunjangan')?.value
            }}"
            hidden
          />
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            currencyMask
            class="form-control"
            value="{{
              +this.jobInfoForm.get('pendapatan')?.value +
                +this.jobInfoForm.get('pendapatan_lain')?.value +
                +this.jobInfoForm.get('tunjangan')?.value | currency: 'Rp. ':'symbol':'1.0-0'
            }}"
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Perusahaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="tipe_perusahaan" formControlName="tipe_perusahaan">
              <option value="">Pilih Tipe Perusahaan</option>
              <option *ngFor="let gettipeperusahaandariapi of gettipeperusahaandariapi" value="{{ gettipeperusahaandariapi.company_code }}">
                {{ gettipeperusahaandariapi.company_deskripsi }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.tipe_perusahaan.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
      <br />
      <div id="hideJikaNFiTipeKepegawaian" class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Kepegawaian</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="tipe_kepegawaian" formControlName="tipe_kepegawaian">
              <option value="">Pilih Tipe Kepegawaian</option>
              <option value="1">Pegawai tetap</option>
              <option value="2">Pegawai kontrak</option>
            </select>
          </div>
          <span
            [hidden]="
              jobInfoForm.controls.tipe_kepegawaian.valid ||
              this.untukSessionRole == 'BRANCHMANAGER' ||
              this.untukSessionRole == 'VER_PRE_SPV'
            "
            class="text-danger"
            >Field Wajib Diisi
          </span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col" style="text-align: center">
      <button
        type="submit"
        id="btn"
        name="btn"
        class="btn btn-dark"
        [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV' || jobInfoForm.invalid"
      >
        Simpan
      </button>
    </div>
  </div>
</form>
<p></p>
<p></p>
<!-- data table pekerjaan nasabah -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead style="background-color: grey">
      <tr>
        <th scope="col" style="text-align: center; color: #fff">
          <span>No</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Kategori Pekerjaan</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Nama Perusahaan</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Bidang Usaha</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Provinsi Usaha</span>
        </th>
        <th style="text-align: center; color: #fff" colspan="2">Aksi</th>
      </tr>
    </thead>
    <form action=""></form>
    <tbody>
      <tr *ngFor="let daWa of jobInfo; index as i">
        <!-- <td style="text-align: center" scope="col">{{ i + 1 }}</td> -->
        <!-- <td style="text-align: center;" scope="col">{{ daWa.id }}</td> -->
        <td style="text-align: center" scope="col">{{ i + 1 }}</td>
        <td style="text-align: center" scope="col">{{ daWa.kategori_pekerjaan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.nama_perusahaan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.jenis_bidang }}</td>
        <td style="text-align: center" scope="col">{{ daWa.provinsi }}</td>
        <!-- (change)="getProoduct(daWa.isSelected, daWa.app_no_de)" -->
        <!-- <td> <input   (change)="getProoduct($event, daWa.app_no_de ,i+1)"  type="checkbox" > </td> -->
        <td style="text-align: center">
          <a type="button" (click)="vieweditjobinfo(daWa.curef, daWa.id)">
            <fa-icon icon="eye"></fa-icon>
            <br />Detail
          </a>
        </td>
        <td style="text-align: center">
          <a type="button" (click)="hapusJobList(daWa.id)">
            <fa-icon icon="trash-can"></fa-icon>
            <br />Hapus
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p></p>
<p></p>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h6 style="color: #fff; text-align: center">Informasi Pekerjaan Sebelum</h6>
</div>
<br />

<form [formGroup]="datajobsebelum" (ngSubmit)="updatejobsebelum()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="katagoripekerjaanselect(this.datajobsebelum.get('kategori_pekerjaan_sebelum')?.value)"
              id="kategori_pekerjaan_sebelum"
              formControlName="kategori_pekerjaan_sebelum"
            >
              <option value="">Pilih Data</option>
              <option value="1|Fix Income">Fix Income</option>
              <option value="2|Non Fix Income">Non Fix Income</option>
              <option value="3|Lain-lainnya">Lain-lainnya</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tipe Pekerjaan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="tipe_pekerjaan_sebelum" formControlName="tipe_pekerjaan_sebelum">
              <option value="">Pilih Data</option>
              <option *ngFor="let tipePekerjaanSebelum of tipePekerjaanSebelum" value="{{ tipePekerjaanSebelum.job_type_id }}">
                {{ tipePekerjaanSebelum.job_desc }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Payroll :</label>
        <div class="col-sm-9">
          <label class="radio-inline mr-3"> <input type="radio" formControlName="payroll_sebelum" value="0" />Payroll</label>
          &emsp;&emsp;&emsp;
          <label class="radio-inline mr-3"> <input type="radio" formControlName="payroll_sebelum" value="1" />Non Payroll</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" [hidden]="this.datajobsebelum.get('tipe_pekerjaan_sebelum')?.value == '4'">Posisi</label>
        <label class="col-sm-3 col-form-label" *ngIf="this.datajobsebelum.get('tipe_pekerjaan_sebelum')?.value == '4'"
          >Jenis Pekerjaan</label
        >
        <div class="col-sm-9">
          <div class="form-group" [hidden]="this.datajobsebelum.get('tipe_pekerjaan_sebelum')?.value == '4'">
            <select class="form-control" id="posisi" formControlName="posisi_sebelum">
              <option value="">Pilih Data</option>
              <option *ngFor="let getjabatansebelum of getjabatansebelum" value="{{ getjabatansebelum.jabatan_deskripsi }}">
                {{ getjabatansebelum.jabatan_deskripsi }}
              </option>
              <!-- note -->
            </select>
          </div>
          <div class="form-group" *ngIf="this.datajobsebelum.get('tipe_pekerjaan_sebelum')?.value == '4'">
            <select class="form-control" id="jenis_pekerjaan" formControlName="posisi_sebelum">
              <option value="">Pilih Data</option>
              <option *ngFor="let listJabatan of listJabatan" value="{{ listJabatan.deskripsi }}">{{ listJabatan.deskripsi }}</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nama Perusahaan"
            id="nama_perusahaan_sebelum"
            formControlName="nama_perusahaan_sebelum"
            name="nama_perusahaan_sebelum"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat sebelum</label>
        <div class="col-sm-9">
          <textarea
            class="form-control h-150px"
            rows="6"
            id="alamat_pekerjaan_sebelum"
            name="alamat_pekerjaan_sebelum"
            formControlName="alamat_pekerjaan_sebelum"
          ></textarea>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              id="provinsi_sebelum"
              (change)="onChangeD(this.datajobsebelum.get('provinsi_sebelum')?.value)"
              name="provinsi_sebelum"
              formControlName="provinsi_sebelum"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              id="kabkota_sebelum"
              formControlName="kabkota_sebelum"
              (change)="onChangekotaD(this.datajobsebelum.get('kabkota_sebelum')?.value)"
              name="kabkota_sebelum"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWakotaD of daWakotaD" value="{{ daWakotaD.kdWilayah }}|{{ daWakotaD.namaWilayah }}">
                {{ daWakotaD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekecamatanD(this.datajobsebelum.get('kecamatan_sebelum')?.value)"
              id="kecamatan_sebelum"
              name="kecamatan_sebelum"
              formControlName="kecamatan_sebelum"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWakecamatanD of kecamatanD" value="{{ daWakecamatanD.kdWilayah }}|{{ daWakecamatanD.namaWilayah }}">
                {{ daWakecamatanD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekelurahanD(this.datajobsebelum.get('kelurahan_sebelum')?.value)"
              id="kelurahan_sebelum"
              name="kelurahan_sebelum"
              formControlName="kelurahan_sebelum"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWakelurahanD of kelurahanD" value="{{ daWakelurahanD.kdPos }}|{{ daWakelurahanD.namaWilayah }}">
                {{ daWakelurahanD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              type="tel"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
              class="form-control"
              id="kode_pos_sebelum"
              name="kode_pos_sebelum"
              formControlName="kode_pos_sebelum"
              #kodepossebelum
            />
            <div class="input-group-append">
              <button
                (click)="carimenggunakankodepostsebelum(this.datajobsebelum.get('kode_pos_sebelum')?.value); clickKdPostSebelum = 1"
                class="btn btn-outline-dark"
                id="kode_pos_sebelumhilang"
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
                type="button"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            maxlength="3"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="RT"
            id="rt_sebelum"
            formControlName="rt_sebelum"
            name="rt_sebelum"
          />
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            maxlength="3"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="RW"
            formControlName="rw_sebelum"
            id="rw_sebelum"
            name="rw_sebelum"
          />
        </div>
        <div class="col">RW</div>
      </div>
      <br />
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Bidang</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              (change)="jenisbidangsebelumselect(this.datajobsebelum.get('jenis_bidang_sebelum')?.value)"
              id="jenis_bidang_sebelum"
              formControlName="jenis_bidang_sebelum"
              name="jenis_bidang_sebelum"
            >
              <option>{{ dataretrivejenisbidangsebelum }}</option>
              <option
                *ngFor="let getjenisbidangdariapi of getjenisbidangdariapi"
                value="{{ getjenisbidangdariapi.group_sektor }}|{{ getjenisbidangdariapi.nama_group_sektor }}"
              >
                {{ getjenisbidangdariapi.nama_group_sektor }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Sektor Ekonomi</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" id="sektor_ekonomi_sebelum" formControlName="sektor_ekonomi_sebelum" name="sektor_ekonomi_sebelum">
              <option>{{ dataretrivesektorekosebelum }}</option>
              <option *ngFor="let getdatasektorekonomi of getdatasektorekonomi" value="{{ getdatasektorekonomi.nama_sub_sektor }}">
                {{ getdatasektorekonomi.nama_sub_sektor }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lama Bekerja</label>
        <div class="col">
          <input
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            id="lama_bekerja_tahun_sebelum"
            formControlName="lama_bekerja_tahun_sebelum"
            name="lama_bekerja_tahun_sebelum"
            maxlength="2"
          />
        </div>
        <div class="col">Tahun</div>
        <div class="col">
          <input
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            id="lama_bekerja_bulan_sebelum"
            name="lama_bekerja_bulan_sebelum"
            formControlName="lama_bekerja_bulan_sebelum"
            maxlength="2"
          />
        </div>
        <div class="col">Bulan</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jumlah Karyawan</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" formControlName="jumlah_karyawan_sebelum">
              <option value="">Pilih Data</option>
              <option *ngFor="let jumlahKaryawanSebelum of jumlahKaryawanSebelum" value="{{ jumlahKaryawanSebelum.deskripsi }}">
                {{ jumlahKaryawanSebelum.deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div *ngIf="this.datajobsebelum.get('tipe_pekerjaan_sebelum')?.value === '1|Fix Income'"></div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tipe Perusahaan</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              id="tipe_perusahaan_sebelum"
              name="tipe_perusahaan_sebelum"
              formControlName="tipe_perusahaan_sebelum"
            >
              <option value="">Pilih Data</option>
              <option
                *ngFor="let gettipeperusahaandariapi of gettipeperusahaandariapi"
                value="{{ gettipeperusahaandariapi.company_deskripsi }}"
              >
                {{ gettipeperusahaandariapi.company_deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tipe Kepegawaian</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              id="tipe_kepegawaian_sebelum"
              name="tipe_kepegawaian_sebelum"
              formControlName="tipe_kepegawaian_sebelum"
            >
              <option value="">Pilih Data</option>
              <option value="Pegawai tetap">Pegawai tetap</option>
              <option value="Pegawai kontrak">Pegawai kontrak</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center">
      <button
        type="button"
        (click)="updatejobsebelum()"
        class="btn btn-dark"
        [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV' || jobInfoForm.invalid"
      >
        Simpan Data
      </button>
      <button
        type="button"
        id="selanjutnya"
        name="selanjutnya"
        (click)="goto()"
        value="selanjutnya"
        class="btn btn-warning"
        [hidden]="this.untukSessionRole == 'AO'"
      >
        Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
      </button>
    </div>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
