<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Daftar Calon Nasabah</h3>
</div>
<div class="row form-material">
  <!-- ////Colom ke 1\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">No Aplikasi</label>
      <div class="col-sm-8">
        <input
          readonly
          type="text"
          formControlName="app_no_de"
          class="form-control"
          id="no_aplikasi"
          value="{{ this.dataEntry.app_no_de }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kategori Pekerjaan</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" value="{{ this.dataEntry.kategori_pekerjaan }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Skema Pengajuan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          value="{{ this.dataEntry.joint_income === '0' ? 'Single Income' : 'Joint Income' }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Nasabah</label>
      <div class="col-sm-8">
        <input readonly type="text" class="form-control" value="{{ this.dataEntry.nama }}" />
      </div>
    </div>
  </div>
  <!-- ////Colom ke 2\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Plafond</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" value="{{ this.dataEntry.nilai_pembiayaan }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tenor</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" value="{{ this.dataEntry.jangka_waktu }} Bulan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Cabang</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" value="{{ this.untukSessionKdCabang }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama AO</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" value="{{ this.untukSessionFullName }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nilai Pembiayaan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          value="{{ this.dataEntry.nilai_pembiayaan | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
  </div>
</div>
<p></p>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Mutasi Rekening</h3>
</div>
<p></p>
<p></p>
<button
  [hidden]="this.untukSessionRole === 'VER_PRE_SPV'"
  type="button"
  (click)="
    this.tambahTableMutasi = 0;
    this.mutasiForm.get('nama_bank')?.setValue('');
    this.mutasiForm.get('no_rekening')?.setValue('');
    this.mutasiForm.get('tahun')?.setValue('');
    this.mutasiForm.get('bulan')?.setValue('');
    this.mutasiForm.get('debet')?.setValue('');
    this.mutasiForm.get('kredit')?.setValue('');
    this.mutasiForm.get('saldo')?.setValue('');
    this.mutasiForm.get('kepemilikan_tabungan')?.setValue('');
    this.mutasiForm.get('kepemilikan_giro')?.setValue('');
    this.mutasiForm.get('kepemilikan_deposito')?.setValue('');
    hubunganDenganBank.style.display = 'block';
    this.mutasiForm.enable()
  "
  class="btn btn-info"
  style="float: right"
>
  Tambah Data
</button>
<br />
<br />
<div class="table-responsive">
  <br />
  <table class="table table-striped" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th style="text-align: center" scope="col">#</th>
        <th style="text-align: center" scope="col">Nama Bank</th>
        <th style="text-align: center" scope="col">No Rekening</th>
        <th style="text-align: center" scope="col">Tahun</th>
        <th style="text-align: center" scope="col">Bulan</th>
        <th style="text-align: center" scope="col">Debet</th>
        <th style="text-align: center" scope="col">Kredit</th>
        <th style="text-align: center" scope="col">Saldo</th>
        <th style="text-align: center" scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mutasiRekening of mutasiRekening; index as i">
        <th style="text-align: center" scope="row">{{ i + 1 }}</th>
        <td style="text-align: center">{{ mutasiRekening.nama_bank }}</td>
        <td style="text-align: center">{{ mutasiRekening.no_rekening }}</td>
        <td style="text-align: center">{{ mutasiRekening.tahun }}</td>
        <td style="text-align: center">{{ mutasiRekening.bulan }}</td>
        <td style="text-align: center">{{ mutasiRekening.debet | currency: 'Rp. ' }}</td>
        <td style="text-align: center">{{ mutasiRekening.kredit | currency: 'Rp. ' }}</td>
        <td style="text-align: center">{{ mutasiRekening.saldo | currency: 'Rp. ' }}</td>
        <td style="text-align: center">
          <a
            type="button"
            (click)="
              editMutasi(mutasiRekening.id);
              this.tambahTableMutasi = 1;
              this.lihatTableMutasi = 1;
              hubunganDenganBank.style.display = 'block';
              this.mutasiForm.disable()
            "
            ><fa-icon icon="ellipsis"></fa-icon><br />View</a
          >
          &nbsp;&nbsp;&nbsp;
          <a type="button" (click)="deleteMutasi(mutasiRekening.id)"><fa-icon icon="trash"></fa-icon><br />Hapus</a>
          &nbsp;&nbsp;&nbsp;
          <a
            type="button"
            (click)="
              editMutasi(mutasiRekening.id);
              this.tambahTableMutasi = 1;
              hubunganDenganBank.style.display = 'block';
              this.mutasiForm.enable()
            "
            ><fa-icon icon="pencil-square"></fa-icon><br />Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p></p>
<div #hubunganDenganBank style="display: none">
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hubungan dengan Bank</h3>
  </div>
  <p></p>
  <p></p>
  <div class="row form-material" [formGroup]="mutasiForm">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Bank</label>
        <div class="col-sm-8">
          <input type="text" formControlName="nama_bank" class="form-control" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Rekening</label>
        <div class="col-sm-8">
          <input type="text" formControlName="no_rekening" class="form-control" (keypress)="keyPressNumbers($event)" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tahun</label>
        <div class="col-sm-8">
          <input formControlName="tahun" type="tel" maxlength="4" minlength="4" class="form-control" (keypress)="keyPressNumbers($event)" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kepemilikan Rekening</label>
        <div class="col"><input type="checkbox" formControlName="kepemilikan_tabungan" />&nbsp;Kepemilikan Tabungan</div>
        <div class="col"><input type="checkbox" formControlName="kepemilikan_giro" />&nbsp;Kepemilikan Giro</div>
        <div class="col"><input type="checkbox" formControlName="kepemilikan_deposito" />&nbsp;Kepemilikan Deposito</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Gaji Tercermin direkening</label>
        <div class="col-sm-2"><input type="radio" formControlName="gaji_tercermin" value="1" />&nbsp;Ya</div>
        <div class="col-sm-2"><input type="radio" formControlName="gaji_tercermin" value="0" />&nbsp;Tidak</div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bulan</label>
        <div class="col-sm-8">
          <select formControlName="bulan" id="view_data_bulan" class="form-control">
            <option value="">Pilih Bulan</option>
            <option value="Januari">Januari</option>
            <option value="Febuari">Febuari</option>
            <option value="Maret">Maret</option>
            <option value="April">April</option>
            <option value="Mei">Mei</option>
            <option value="Juni">Juni</option>
            <option value="Juli">Juli</option>
            <option value="Agustus">Agustus</option>
            <option value="September">September</option>
            <option value="Oktober">Oktober</option>
            <option value="November">November</option>
            <option value="Desember">Desember</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Debet</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="debet"
            formControlName="debet"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kredit</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="kredit"
            formControlName="kredit"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Saldo</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="saldo"
            formControlName="saldo"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Keterangan</label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="keterangan">
            <option value="">Pilih Data</option>
            <option value="Nasabah">Nasabah</option>
            <option value="Pasangan">Pasangan</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col" style="text-align: center">
      <button
        type="button"
        [hidden]="this.untukSessionRole === 'VER_PRE_SPV'"
        class="btn btn-info"
        (click)="submitForm()"
        [disabled]="mutasiForm.invalid"
      >
        Simpan Data
      </button>
    </div>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col" style="text-align: center">
    <button
      type="submit"
      [hidden]="this.untukSessionRole === 'VER_PRE_SPV' || (this.untukSessionRole === 'VER_PRESCR' && this.resultMutasi == '')"
      *ngIf="(this.tambahTableMutasi == 1 && lihatMutasi == 0) || (this.tambahTableMutasi == 0 && lihatMutasi == 1)"
      class="btn btn-info"
      (click)="next()"
    >
      Selanjutnya
    </button>
    <button type="button" class="btn btn-info" (click)="goto()" [hidden]="this.untukSessionRole == 'VER_PRESCR'">Selanjutnya</button>
  </div>
</div>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
