<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Daftar Calon Nasabah</h3>
</div>
<form>
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Nasabah</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="nama" name="nama" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Aplikasi</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="no_aplikasi" name="no_aplikasi" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fasilitas</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="fasilitas" name="fasilitas" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Program</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="program" name="program" placeholder="" />
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Product</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="product" name="product" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Skema</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="skema" name="skema" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tenor</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="tenor" name="tenor" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nilai Pembiayaan</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="nilai_pembiayaan" name="nilai_pembiayaan" placeholder="" />
        </div>
      </div>
    </div>
  </div>
</form>
<p></p>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Mutasi Rekening</h3>
</div>
<p></p>
<p></p>
<button class="btn btn-info" style="float: right">Tambah Data</button>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Bank</th>
      <th scope="col">No Rekening</th>
      <th scope="col">Tahun</th>
      <th scope="col">Bulan</th>
      <th scope="col">Debet</th>
      <th scope="col">Kredit</th>
      <th scope="col">Saldo</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <fa-icon icon="ellipsis"></fa-icon> &nbsp;&nbsp;&nbsp; <fa-icon icon="trash"></fa-icon> &nbsp;&nbsp;&nbsp;
        <fa-icon icon="pencil-square"></fa-icon>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <fa-icon icon="ellipsis"></fa-icon> &nbsp;&nbsp;&nbsp; <fa-icon icon="trash"></fa-icon> &nbsp;&nbsp;&nbsp;
        <fa-icon icon="pencil-square"></fa-icon>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <fa-icon icon="ellipsis"></fa-icon> &nbsp;&nbsp;&nbsp; <fa-icon icon="trash"></fa-icon> &nbsp;&nbsp;&nbsp;
        <fa-icon icon="pencil-square"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
<p></p>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Hubungan dengan Bank (Pasangan)</h3>
</div>
<p></p>
<p></p>
<form>
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Bank</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="nama_bank" name="nama_bank" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Rekening</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="no_rekening" name="no_rekening" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tahun</label>
        <div class="col-sm-8">
          <select name="view_data_tahun" id="view_data_tahun" class="form-control">
            <option value="">Pilih Data</option>
          </select>
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bulan</label>
        <div class="col-sm-8">
          <select name="view_data_bulan" id="view_data_bulan" class="form-control">
            <option value="">Pilih Data</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Debet</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="debet" name="debet" placeholder="" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kredit</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" id="kredit" name="kredit" placeholder="" />
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <button class="btn btn-info" style="float: right">Simpan Data</button>
</form>
<p></p>
