<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Memo</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nomor Aplikasi</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ daWa1.app_no_de }}" placeholder="Nomor Aplikasi" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Program</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ daWa1.program_pembiayaan }}" placeholder="Program" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Track / Aktifitas</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          name="status_aplikasi_desc"
          id="status_aplikasi_desc"
          value="{{ daWa1.status_aplikasi }}"
          placeholder="Program"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Nasabah</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ daWa1.nama }}" placeholder="Nama Nasabah" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Product</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ daWa1.produk_pembiayaan }}" placeholder="Product" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label id="changeLabelUpload" class="col-sm-4 col-form-label">Upload</label>
      <div class="col-sm-8">
        <div id="hideFileUploadJikaViewShow" class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              type="file"
              id="fileUpload"
              name="uploadFile"
              accept="image/jpeg, image/jpg, image/png, application/pdf"
            />
            <label id="labelUntukUpload" class="custom-file-label">Pilih File Untuk Upload</label>
          </div>
          <button class="btn btn-outline-dark" type="button" id="cobaButton" name="cobaButton" onclick="thisFileUpload()">
            Upload Document
          </button>
        </div>
        <button type="button" class="btn mb-1 btn-rounded btn-secondary" id="testButton" onclick="getArchiveAjax();">
          <span class="btn-icon-left"><i class="fa fa-download color-warning"></i> </span>View
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Isi Memo</label>
  <div class="col-sm-10">
    <textarea class="form-control" rows="6" id="keterangan" name="keterangan"></textarea>
  </div>
</div>
<br />
<div class="text-center">
  <!-- <button type="submit" class="fa fa-floppy-o btn btn-secondary">Simpan Memo</button> -->
  <button (click)="simpanmemo()" type="submit" id="update_memo" name="update_memo" value="update_memo" class="btn mb-1 btn-dark">
    Simpan Memo<span class="btn-icon-right"><i class="fa fa-floppy-o"></i></span>
  </button>
  <button type="button" (click)="cetakmemo()" id="cetakYuk" class="btn mb-1 btn-secondary">
    Cetak Memo<span class="btn-icon-right"><i class="fa fa-print"></i></span>
  </button>

  <button type="button" (click)="updatestatus()" id="simpan_memo" name="simpan_memo" value="simpan_memo" class="btn mb-1 btn-warning">
    Update Status Memo untuk ao<span class="btn-icon-right"><i class="fa fa-check"></i></span>
  </button>

  <!--  and  $this->session->userdata('cekstrukturpembayaran')=='1'){?> -->
  <button (click)="kembalikede()" type="button" id="kembalide" name="kembalide" value="kembalide" class="btn mb-1 btn-danger">
    Kembali Ke De<span class="btn-icon-right"><i class="fa fa-chevron-circle-left"></i></span>
  </button>
  <button
    (click)="updatekeupload()"
    type="button"
    id="selanjutnyauntukbm"
    name="selanjutnyauntukbm"
    value="selanjutnyauntukbm"
    class="btn mb-1 btn-warning"
  >
    Update Status untuk bm <span class="btn-icon-right"><i class="fa fa-check"></i></span>
  </button>

  <!-- <button class="btn mb-1 btn-warning" id="btn_bm_selesai" name="btn_bm_selesai" value="btn_bm_selesai">Update Status<span>&nbsp;<i class="fa fa-check"></i></span></button>  -->
</div>
<br />
<br />
<div class="row form-material">
  <div class="table-responsive">
    <table id="example" class="table table-striped">
      <thead style="background-color: grey">
        <tr>
          <th scope="col" style="text-align: center; color: #fff">
            <span>No</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Tanggal</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Keterangan</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Oleh</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Role</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <form action=""></form>
      <tbody>
        <tr *ngFor="let daWa of daWa">
          <td style="text-align: center" scope="col">{{ daWa.keterangan }}</td>
          <td style="text-align: center" scope="col">{{ daWa.app_no_de }}</td>
          <td style="text-align: center" scope="col">{{ daWa.users }}</td>
          <td style="text-align: center" scope="col">{{ daWa.role }}</td>
          <td style="text-align: center" scope="col">{{ daWa.id }}</td>
          <td class="text-end">
            <div class="btn-group"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
