<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Memo</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nomor Aplikasi</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ dataEntryModel.app_no_de }}" placeholder="Nomor Aplikasi" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Program</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ dataEntryModel.program_pembiayaan }}" placeholder="Program" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Track / Aktifitas</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          name="status_aplikasi_desc"
          id="status_aplikasi_desc"
          value="{{ dataEntryModel.status_aplikasi }}"
          placeholder="Program"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Nasabah</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ dataEntryModel.nama }}" placeholder="Nama Nasabah" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Product</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ dataEntryModel.produk_pembiayaan }}" placeholder="Product" readonly />
      </div>
    </div>
    <br />
    <div class="form-group row" [hidden]="tampilanfixornon === 'Fix Income'">
      <label id="changeLabelUpload" class="col-sm-4 col-form-label">Upload</label>
      <div class="col-sm-8">
        <div id="hideFileUploadJikaViewShow" class="input-group" *ngIf="this.resultGetMemoUpload == 0">
          <div class="custom-file">
            <input
              class="custom-file-input"
              type="file"
              id="fileUpload"
              name="uploadFile"
              accept="image/jpeg, image/jpg, image/png, application/pdf"
              (change)="pilihFile($event)"
            />
          </div>
          <button class="btn btn-outline-dark" type="button" id="cobaButton" name="cobaButton" (click)="thisFileUpload()">
            Upload Document
          </button>
        </div>
        <button
          type="button"
          class="btn mb-1 btn-rounded btn-secondary"
          id="testButton"
          (click)="download()"
          [hidden]="this.resultGetMemoUpload == 0 || this.untukSessionRole === 'AO'"
        >
          <span class="btn-icon-left"><i class="fa fa-download color-warning"></i></span>View
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="form-group row" [formGroup]="memoForm">
  <label class="col-sm-2 col-form-label">Isi Memo</label>
  <div class="col-sm-10">
    <textarea
      [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
      class="form-control"
      rows="6"
      id="keterangan"
      formControlName="keterangan"
    ></textarea>
  </div>
</div>
<br />
<div class="text-center">
  <button
    [hidden]="this.untukSessionRole == 'VER_PRE_SPV'"
    (click)="simpanmemo()"
    type="submit"
    id="update_memo"
    name="update_memo"
    value="update_memo"
    class="btn mb-1 btn-dark"
  >
    Simpan Memo
  </button>
  <button
    [hidden]="this.untukSessionRole == 'VER_PRE_SPV'"
    type="button"
    (click)="cetakmemo()"
    id="cetakYuk"
    class="btn mb-1 btn-secondary"
  >
    Cetak Memo<span class="btn-icon-right"><i class="fa fa-print"></i></span>
  </button>
  <button
    type="button"
    [hidden]="this.modelResultmemo == 1 || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
    (click)="updatekeupload()"
    id="simpan_memo"
    name="simpan_memo"
    value="simpan_memo"
    class="btn mb-1 btn-warning"
  >
    Update Status
  </button>
  <button
    (click)="kembalikede()"
    [hidden]="this.untukSessionRole == 'AO' || this.untukSessionRole == 'VER_PRE_SPV'"
    type="button"
    id="kembalide"
    name="kembalide"
    value="kembalide"
    class="btn mb-1 btn-danger"
  >
    Kembali Ke De
  </button>
  <button
    type="button"
    [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'AO'"
    (click)="backtoverifikatro()"
    id="selesai"
    name="selesai"
    value="selesai"
    class="btn mb-1 btn-warning"
  >
    Selesai
  </button>
</div>
<br />
<br />
<div class="row form-material">
  <div class="table-responsive">
    <table id="example" class="table table-striped">
      <thead style="background-color: grey">
        <tr>
          <th scope="col" style="text-align: center; color: #fff">
            <span>No</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Tanggal</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Keterangan</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Oleh</span>
          </th>
          <th scope="col" style="text-align: center; color: #fff">
            <span>Role</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let memoModel of memoModel; let i = index">
          <td style="text-align: center" scope="col">{{ i + 1 }}</td>
          <td style="text-align: center" scope="col">{{ memoModel.created_date | date: 'medium' }}</td>
          <td style="text-align: center" scope="col">{{ memoModel.keterangan }}</td>
          <td style="text-align: center" scope="col">{{ memoModel.users }}</td>
          <td style="text-align: center" scope="col">{{ memoModel.role }}</td>
          <td style="text-align: center">
            <a (click)="view(memoModel.id)"> <fa-icon icon="ellipsis"></fa-icon><br />Detail </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
