<button id="tambahdata" (click)="createstenormarginfix()" type="button" class="btn btn-info">Tambah data</button>
<br />
<br />
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Table tenor margin fix</h3>
</div>
<table class="table table-striped" datatable>
  <thead style="background-color: #303030">
    <tr>
      <th scope="col" style="text-align: center; color: #fff">
        <span>No</span>
      </th>
      <th scope="col" style="text-align: center; color: #fff">
        <span>Deskripsi</span>
      </th>
      <th scope="col" style="text-align: center; color: #fff">
        <span>Status</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listskemafix of listskemafix; index as i">
      <td style="text-align: center" scope="col">{{ i + 1 }}</td>
      <!-- <td style="text-align: center" scope="col">{{ listskemafix.akses_rumah }}</td> -->
      <td style="text-align: center" scope="col">{{ listskemafix.skema_deskripsi }}</td>
    </tr>
  </tbody>
</table>
