<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nomor Aplikasi</label>
      <div class="col-sm-8">
        <input #noAplikasi readonly type="text" class="form-control" value="{{ dataEntry.app_no_de }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Program</label>
      <div class="col-sm-8">
        <input #kategori readonly type="text" class="form-control" value="{{ dataEntry.program_pembiayaan }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Track / Aktifitas</label>
      <div class="col-sm-8">
        <input #namaNasabah readonly type="text" class="form-control" value="{{ dataEntry.status_aplikasi_desc }}" />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Nasabah</label>
      <div class="col-sm-8">
        <input #namaNasabah readonly type="text" class="form-control" value="{{ dataEntry.nama }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Product</label>
      <div class="col-sm-8">
        <input #Fasilitas readonly type="text" class="form-control" value="{{ dataEntry.produk_pembiayaan }}" />
      </div>
    </div>
  </div>
</div>
<br />
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Isi Memo</label>
  <div class="col-sm-10">
    <textarea class="form-control" rows="6" #keterangan></textarea>
  </div>
</div>
<br />

<div class="row" style="text-align: center">
  <div class="col">
    <button type="button" class="btn btn-info" (click)="simpanMemo(keterangan.value)">Simpan Data</button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="updateStatus()"
      [hidden]="(untukSessionRole === 'VER_PRE_SPV' && valVER_PRE_SPV == 1) || (untukSessionRole === 'VER_PRESCR' && valVER_PRESCR == 1)"
    >
      Update Status
    </button>
    <button type="button" class="btn btn-secondary" (click)="printData()">Cetak Memo</button>
  </div>
</div>

<br />
<p></p>
<table id="tableMemo" class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr class="table-dark">
      <th scope="col" style="text-align: center">#</th>
      <th scope="col" style="text-align: center">Tanggal</th>
      <th scope="col" style="text-align: center">Keterangan</th>
      <th scope="col" style="text-align: center">Oleh</th>
      <th scope="col" style="text-align: center">Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listMemo of listMemo; index as i">
      <th scope="row" style="text-align: center">{{ i + 1 }}</th>
      <td style="text-align: center">{{ listMemo.created_date }}</td>
      <td style="text-align: center">{{ listMemo.keterangan }}</td>
      <td style="text-align: center">{{ listMemo.users }}</td>
      <td style="text-align: center">{{ listMemo.role }}</td>
      <td style="text-align: center">
        <a (click)="detailMemo(listMemo.id)"> <fa-icon icon="ellipsis"></fa-icon><br />Detail </a>
      </td>
    </tr>
  </tbody>
</table>
<p></p>
