<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Struktur Pembiayaan</h3>
</div>
<p></p>
<div class="row form-material">
  <!-- ////Colom ke 1\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Pemohon</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="nama" name="nama" value="{{ this.dataEntry.nama }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">No Aplikasi</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="no_aplikasi" name="no_aplikasi" value="{{ this.dataEntry.app_no_de }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Fasilitas</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="fasilitas" name="fasilitas" value="{{ this.dataEntry.kode_fasilitas_name }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Program</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="program" name="program" value="{{ this.dataEntry.program_pembiayaan }}" />
      </div>
    </div>
    <br />
    <div class="form-group row" [hidden]="this.dataEntry.kode_fasilitas_name === 'PTA'">
      <label class="col-sm-4 col-form-label">Down Payment</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="down_payment"
          name="down_payment"
          value="{{ this.dataEntry.uang_muka | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Mitra</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" value="{{ this.fetchJob.nama_perusahaan }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Joint Income</label>
      <div class="col-sm-8">
        <fa-icon [icon]="this.dataEntry.joint_income == 1 ? 'circle-check' : 'circle-xmark'"></fa-icon>
      </div>
    </div>
  </div>
  <!-- ////Colom ke 2\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Product</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="product" name="product" value="{{ this.dataEntry.produk_pembiayaan }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Skema</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="skema" name="skema" value="{{ this.dataEntry.skema_name }}" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tenor</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="tenor" name="tenor" value="{{ this.dataEntry.jangka_waktu }} Bulan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nilai Pembiayaan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="nilai_pembiayaan"
          name="nilai_pembiayaan"
          value="{{ this.dataEntry.nilai_pembiayaan | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Angsuran</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="angsuran"
          name="angsuran"
          value="{{ this.dataEntry.angsuran | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Total Pendapatan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_pendapatan"
          name="total_pendapatan"
          value="{{ this.fetchJob.total_pendapatan | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
  </div>
</div>
<p></p>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Analisa Pembiayaan</h3>
</div>
<p></p>
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Total Pendapatan Pemohon</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_pendapatan_pemohon"
          name="total_pendapatan_pemohon"
          currencyMask
          value="{{ this.analisaPembiayaan.total_penghasilan_bersih | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row" *ngIf="this.dataEntry.joint_income == 1">
      <label class="col-sm-4 col-form-label">Total Pendapatan Pasangan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_pendapatan_pasangan"
          name="total_pendapatan_pasangan"
          currencyMask
          value="{{ this.analisaPembiayaan.total_penghasilan_bersih_pasangan | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Total Pendapatan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="analisa_total_pendapatan"
          name="analisa_total_pendapatan"
          currencyMask
          value="{{ this.analisaPembiayaan.total_penghasilan_bersih_akumulasi | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Total Kewajiban Bank Pemohon</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="analisa_kewajiban_bank_pemohon"
          name="analisa_kewajiban_bank_pemohon"
          currencyMask
          value="{{ this.analisaPembiayaan.kewajiban_bank | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row" *ngIf="this.dataEntry.joint_income == 1">
      <label class="col-sm-4 col-form-label">Total Kewajiban Bank Pasangan</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_kewajiban_bank_pemohon"
          name="total_kewajiban_bank_pemohon"
          currencyMask
          value="{{ this.analisaPembiayaan.kewajiban_bank_pasangan | currency: 'Rp. ':'symbol':'1.0-0' }}"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row" [formGroup]="slikForm">
      <label class="col-sm-4 col-form-label">Total Kewajiban Bank</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_kewajiban_bank_pemohon"
          formControlName="total_kewajiban_bank_pemohon"
          currencyMask
          [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row" [formGroup]="slikForm">
      <label class="col-sm-4 col-form-label">Total Outstanding</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          formControlName="total_outstanding"
          class="form-control"
          currencyMask
          [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row" [formGroup]="slikForm">
      <label class="col-sm-4 col-form-label">Total Plafond</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          formControlName="total_plafon"
          class="form-control"
          currencyMask
          [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
        />
      </div>
    </div>
    <p></p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Presentase Penggunaan fasilitas Existing</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="persentase_penggunaan_fasilitas"
          name="persentase_penggunaan_fasilitas"
          #persentase_penggunaan_fasilitas1
          currencyMask
          value="{{ (+this.slikForm.get('total_outstanding')?.value / +this.slikForm.get('total_plafon')?.value) * 100 | currency: ' ' }}%"
        />
      </div>
    </div>
  </div>
  <div class="col">
    <form [formGroup]="strukturForm">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Skema</label>
        <div class="col-sm-8">
          <select formControlName="skema" #analisa_skema class="form-control" (change)="tenorSkema(analisa_skema.value)">
            <option value="">Pilih Skema</option>
            <option *ngFor="let Skema of Skema" value="{{ Skema.skema }}|{{ Skema.skema_master }}|{{ Skema.skema_deskripsi }}">
              {{ Skema.skema_deskripsi }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tenor</label>
        <div class="col-sm-8">
          <select formControlName="tenor" #analisa_tenor class="form-control">
            <option value="">Pilih Tenor</option>
            <option *ngFor="let tenor of tenor" value="{{ tenor.tn_code }}">{{ tenor.tn_code }} Bulan</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Harga Permintaan</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="harga_permintaan"
            (blur)="hitungAngsuran(this.strukturForm.get('skema')?.value)"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nilai Pembiayaan</label>
        <div class="col-sm-8">
          <input
            readonly
            type="text"
            class="form-control"
            id="analisa_nilai_pembiayaan"
            formControlName="nilai_pembiayaan"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Down Payment</label>
        <div [ngClass]="dataEntry.kode_fasilitas_name === 'PTA' ? 'col-sm-8' : 'col-sm-5'">
          <input
            type="text"
            class="form-control"
            formControlName="down_payment"
            (blur)="hitungAngsuran(this.strukturForm.get('skema')?.value)"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
          />
        </div>
        <div class="col-sm-3" [hidden]="dataEntry.kode_fasilitas_name === 'PTA'">
          <label>Min 20%</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Angsuran</label>
        <div class="col-sm-8">
          <input
            type="text"
            readonly
            class="form-control"
            id="analisa_angsuran"
            formControlName="angsuran"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Total Angsuran</label>
        <div class="col-sm-8">
          <input
            type="text"
            hidden
            class="form-control"
            id="total_angsuran"
            formControlName="total_angsuran"
            #total_angsuran1
            currencyMask
            value="{{ +this.slikForm.get('total_kewajiban_bank_pemohon')?.value + +this.strukturForm.get('angsuran')?.value }}"
          />
          <input
            type="text"
            readonly
            class="form-control"
            currencyMask
            value="{{
              +this.slikForm.get('total_kewajiban_bank_pemohon')?.value + +this.strukturForm.get('angsuran')?.value
                | currency: 'Rp. ':'symbol':'1.0-0'
            }}"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Maximal DSR</label>
        <div class="col-sm-8">
          <input
            type="text"
            readonly
            class="form-control"
            id="maximal_dsr"
            name="maximal_dsr"
            #maximal_dsr1
            value="{{ this.analisaPembiayaan.dsr }} %"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Maximal Angsuran</label>
        <div class="col-sm-8">
          <input
            type="text"
            readonly
            class="form-control"
            id="maximal_angsuran"
            formControlName="max_angsuran"
            currencyMask
            [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">DSR</label>
        <div class="col-sm-8">
          <input type="text" readonly class="form-control" #analisaDsr1 id="dsr" formControlName="dsr" />
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<div
  style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)"
  [hidden]="this.dataEntry.kode_fasilitas_name === 'PTA'"
>
  <h3 style="color: #fff; text-align: center">Analisa Agunan</h3>
</div>
<p></p>
<div class="row form-material" [formGroup]="mapisForm" [hidden]="this.dataEntry.kode_fasilitas_name === 'PTA'">
  <!-- ////Colom ke 1\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nilai Market</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="nilai_market"
          formControlName="nilai_market"
          currencyMask
          [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nilai IMB</label>
      <div class="col-sm-8">
        <input
          type="text"
          readonly
          class="form-control"
          id="nilai_imb"
          formControlName="nilai_imb"
          currencyMask
          [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Luas Tanah</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="luas_tanah" formControlName="luas_tanah" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Luas Bangunan</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="luas_bangunan" formControlName="luas_bangunan" />
      </div>
    </div>
  </div>
  <!-- ////Colom ke 2\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Objek Pembiayaan</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="objek_pembiayaan" formControlName="objek_pembiayaan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tipe Angunan</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="tipe_agunan" formControlName="tipe_agunan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jenis Objek</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="jenis_objek" formControlName="jenis_objek" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">FTV</label>
      <div class="col-sm-4">
        <input
          type="text"
          readonly
          class="form-control"
          id="ftv"
          formControlName="ftv"
          [value]="this.mapisForm.get('ftv')?.value | currency: 'Rp. ':'symbol':'1.0-0'"
        />
      </div>
      <div class="col-sm-4">
        <h6>{{ this.betaFTV }} %</h6>
      </div>
    </div>
  </div>
</div>
<p></p>
<p></p>
<div
  style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)"
  [hidden]="this.dataEntry.kode_fasilitas_name === 'PTA'"
>
  <h3 style="color: #fff; text-align: center">Daftar Agunan</h3>
</div>
<p></p>
<p></p>
<div class="table-responsive">
  <table class="table table-striped" [hidden]="this.dataEntry.kode_fasilitas_name === 'PTA'">
    <thead>
      <tr>
        <th style="text-align: center" scope="col">#</th>
        <th style="text-align: center" scope="col">Tipe Angunan</th>
        <th style="text-align: center" scope="col">Objek</th>
        <th style="text-align: center" scope="col">Nilai yang dijaminkan</th>
        <th style="text-align: center" scope="col">Nilai Market</th>
        <!-- <th style="text-align: center" scope="col">Fungsi</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listagunan of listagunan; index as i">
        <td style="text-align: center" scope="col">{{ i + 1 }}</td>
        <td style="text-align: center" scope="col">{{ listagunan.jenis_objek_deskripsi }}</td>
        <td style="text-align: center" scope="col">{{ listagunan.tipe_agunan }}</td>
        <td style="text-align: center" scope="col">100 %</td>
        <td style="text-align: center" scope="col">{{ listagunan.harga_objek | currency: 'Rp. ':'symbol':'1.0-0' }}</td>
        <!-- <td style="text-align: center" scope="col"></td> -->
      </tr>
    </tbody>
  </table>
</div>
<p></p>
<p></p>
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Rekomendasi System</h3>
</div>
<p></p>
<div class="row form-material">
  <!-- ////Colom ke 1\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tenor</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="rekomendasi_tenor" name="rekomendasi_tenor" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Harga Perolehan</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="harga_perolehan" name="harga_perolehan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nilai Pembiayaan</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="rekomendasi_nilai_pembiayaan" name="rekomendasi_nilai_pembiayaan" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Down Payment</label>
      <div class="col">
        <input type="text" readonly class="form-control" id="rekomendasi_down_payment" name="rekomendasi_down_payment" />
      </div>
      <div class="col">
        <label>35 %</label>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Angsuran</label>
      <div class="col">
        <input type="text" readonly class="form-control" id="angsuran_tahun_ke_1_2" name="angsuran_tahun_ke_1_2" />
        <p></p>
        <input type="text" readonly class="form-control" id="angsuran_tahun_ke_3_5" name="angsuran_tahun_ke_3_5" />
      </div>
      <div class="col">
        <label>Tahun Ke 1 - 2</label>
        <p></p>
        <br />
        <label>Tahun Ke 3 - 5</label>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Rate Margin</label>
      <div class="col">
        <input type="text" readonly class="form-control" id="rate_margin_ke_1_2" name="rate_margin_ke_1_2" />
        <p></p>
        <input type="text" readonly class="form-control" id="rate_margin_ke_3_5" name="rate_margin_ke_3_5" />
      </div>
      <div class="col">
        <label>Tahun Ke 1 - 2</label>
        <p></p>
        <br />
        <label>Tahun Ke 3 - 5</label>
      </div>
    </div>
    <br />
  </div>
  <!-- ////Colom ke 2\\\\\ -->
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Harga Jual</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="harga_jual" name="harga_jual" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Margin</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="margin" name="margin" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Akad</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control" id="akad" name="akad" />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Hasil Scoring</label>
      <div class="col-sm-3">
        <input type="text" readonly class="form-control" id="hasil_scoring" name="hasil_scoring" [value]="this.hasilScoring" />
      </div>
      <div class="col-sm-3">
        <h5 [hidden]="this.hasilStatus !== 'BAD'" style="color: red">{{ this.hasilStatus }}</h5>
        <h5 [hidden]="this.hasilStatus === 'BAD'" style="color: green">{{ this.hasilStatus }}</h5>
      </div>
    </div>
  </div>
</div>
<div class="col" style="text-align: center">
  <button
    [hidden]="this.untukSessionRole == 'VER_PRE_SPV'"
    [disabled]="this.dpKurang == 1"
    type="submit"
    class="btn btn-info"
    (click)="
      onSubmit(maximal_dsr1.value, persentase_penggunaan_fasilitas1.value, analisa_skema.value, analisa_tenor.value, total_angsuran1.value)
    "
  >
    Simpan Data
  </button>
  <button
    [disabled]="this.dpKurang == 1"
    type="button"
    class="btn btn-info"
    (click)="viewStruktur()"
    [hidden]="this.untukSessionRole == 'VER_PRESCR'"
  >
    Selanjutnya
  </button>
</div>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
