<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Informasi Pemohon Pembiayaan</h3>
</div>
<br />
<form>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor Aplikasi<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input type="text" id="app_no_ide" [(ngModel)]="app_no_ide" [value]="daWa" name="app_no_ide" class="form-control" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Lengkap<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input type="name" id="nama" [(ngModel)]="nama" name="nama" class="form-control" placeholder="Nama Lengkap" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Kelamin<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" id="jenis_kelamin" [(ngModel)]="jenis_kelamin" name="jenis_kelamin">
              <option value="">Pilih Jenis Kelamin</option>
              <option value="Laki-laki">Laki - laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Lahir<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="date"
            id="tanggal_lahir"
            [(ngModel)]="tanggal_lahir"
            name="tanggal_lahir"
            onchange="submitBday()"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tempat Lahir<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            placeholder="Tempat Lahir"
            [(ngModel)]="tempat_lahir"
            id="tempat_lahir"
            name="tempat_lahir"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Perkawinan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" id="status_perkawinan" [(ngModel)]="status_perkawinan" name="status_perkawinan">
              <option *ngFor="let refStatusPerkawinan of refStatusPerkawinan" value="{{ refStatusPerkawinan.deskripsi }}">
                {{ refStatusPerkawinan.deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Agama<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="agama" id="agama" name="agama">
              <option value="Pilih Agama">Pilih Agama</option>
              <option value="islam">Islam</option>
              <option value="kristen">Kristen</option>
              <option value="khatolik">Khatolik</option>
              <option value="budha">Budha</option>
              <option value="hindu">Hindu</option>
              <option value="kong hu chu">Kong Hu Chu</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pendidikan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" id="pendidikan" [(ngModel)]="pendidikan" name="pendidikan">
              <option value="">Pilih Pendidikan</option>
              <option value="SMA">SMA</option>
              <option value="D3">D3</option>
              <option value="S1">S1</option>
              <option value="S2">S2</option>
              <option value="S3">S3</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kewarganegaraan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" id="kewarganegaraan" [(ngModel)]="kewarganegaraan" name="kewarganegaraan">
              <option value="">Pilih Kewarganegaraan</option>
              <option value="WNI">WNI</option>
              <option value="WNA">WNA</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Ibu Kandung<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            placeholder=""
            [(ngModel)]="nama_ibu_kandung"
            id="nama_ibu_kandung"
            name="nama_ibu_kandung"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">NPWP<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            class="form-control"
            placeholder="NPWP"
            maxlength="16"
            id="npwp"
            name="npwp"
            [(ngModel)]="npwp"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat KTP<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <textarea
            class="form-control h-150px"
            rows="6"
            id="alamat_ktp"
            [(ngModel)]="alamat_ktp"
            name="alamat_ktp"
            oninput="inputAlamat()"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Provinsi<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              (change)="onChange(provinsi_cabang)"
              class="form-control"
              [(ngModel)]="provinsi_cabang"
              id="provinsi_cabang"
              name="provinsi"
            >
              <option>Pilih Provinsi</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kota<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              (change)="onChangekota(kabkota_cabang)"
              class="form-control"
              [(ngModel)]="kabkota_cabang"
              id="kabkota_cabang"
              name="kabkota"
            >
              <option value="">Pilih Kota</option>
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kecamatan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select (change)="onChangekecamatan(kecamatan)" class="form-control" id="kecamatan" [(ngModel)]="kecamatan" name="kecamatan">
              <option value="">Pilih Kecamatan</option>
              <option *ngFor="let daWakecamatan of daWakecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kelurahan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select (change)="onChangekelurahan(kelurahan)" class="form-control" id="kelurahan" [(ngModel)]="kelurahan" name="kelurahan">
              <option value="">Pilih Kelurahan</option>
              <option *ngFor="let daWakelurahan of daWakelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kode Pos<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              type="tel"
              onkeypress="return onlyNumberKey(event)"
              maxlength="8"
              class="form-control"
              id="kode_pos"
              value="{{ daWakodepos }}"
              name="kode_pos"
              [(ngModel)]="kode_pos"
            />
            <div class="input-group-append">
              <button onclick="buatisi()" class="btn btn-outline-dark" type="button">Cari Data</button>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">RT / RW<span class="text-danger">*</span></label>
        <div class="col">
          <input
            maxlength="3"
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            class="form-control"
            [(ngModel)]="rt"
            placeholder="RT"
            id="rt"
            name="rt"
          />
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            [(ngModel)]="rw"
            id="rw"
            name="rw"
          />
        </div>
        <div class="col">RW</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No KTP<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            class="form-control"
            placeholder="Nomor KTP"
            maxlength="16"
            [(ngModel)]="no_ktp"
            id="no_ktp"
            name="no_ktp"
            oninvalid="this.setCustomValidity('harap masukan 16 digit no ktp')"
            oninput="this.setCustomValidity('')"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Terbit KTP<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input class="form-control" [(ngModel)]="tanggal_terbit_ktp" type="date" id="tanggal_terbit_ktp" name="tanggal_terbit_ktp" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"> KTP Seumur Hidup<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input type="radio" id="ktp_seumur_hidup_ya" name="ktp_seumur_hidup" [(ngModel)]="ktp_seumur_hidup" [value]="'Ya'" checked /> Ya
          <input type="radio" id="ktp_seumur_hidup_tidak" name="ktp_seumur_hidup" [(ngModel)]="ktp_seumur_hidup" [value]="'Tidak'" /> Tidak
        </div>
      </div>
      <div *ngIf="ktp_seumur_hidup == 'Tidak'">
        <br />
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Tanggal Exipred KTP<span class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input class="form-control" type="date" [(ngModel)]="tanggal_exp_ktp" id="tanggal_exp_ktp" name="tanggal_exp_ktp" />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Handphone<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            class="form-control"
            placeholder="Nomor Handphone"
            id="no_handphone"
            [(ngModel)]="no_handphone"
            name="no_handphone"
            oninvalid="this.setCustomValidity('nomor tidak sesuai')"
            oninput="this.setCustomValidity('')"
          />
        </div>
      </div>
      <br />
    </div>
  </div>
  <div [ngSwitch]="status_perkawinan">
    <div *ngSwitchCase="'Menikah'">
      <br />
      <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
        <h3 style="color: #fff; text-align: center">Informasi Pasangan</h3>
      </div>
      <br />
      <div class="row form-material">
        <div class="col">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nama Lengkap<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Nama Lengkap" id="nama_pasangan" name="nama_pasangan" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Kelamin<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="jenis_kelamin_pasangan" name="jenis_kelamin_pasangan">
                  <option id="jPil" value="">Pilih Jenis Kelamin</option>
                  <option id="jLaki" value="Laki-laki">Laki - laki</option>
                  <option id="jPere" value="Perempuan">Perempuan</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tanggal Lahir<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input class="form-control" type="date" id="tanggal_lahir_pasangan" name="tanggal_lahir_pasangan" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tempat Lahir<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Tempat Lahir" id="tempat_lahir_pasangan" name="tempat_lahir_pasangan" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Agama<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="agama_pasangan" name="agama_pasangan">
                  <option value="">Pilih Agama</option>
                  <option value="islam">Islam</option>
                  <option value="kristen">Kristen</option>
                  <option value="khatolik">Khatolik</option>
                  <option value="budha">Budha</option>
                  <option value="hindu">Hindu</option>
                  <option value="kong hu chu">Kong Hu Chu</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pendidikan</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="pendidikan_pasangan" name="pendidikan_pasangan">
                  <option value="SMA">SMA</option>
                  <option value="D3">D3</option>
                  <option value="S1">S1</option>
                  <option value="S2">S2</option>
                  <option value="S3">S3</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kewarganegaraan</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="kewarganegaraan_pasangan" name="kewarganegaraan_pasangan">
                  <option value="WNI">WNI</option>
                  <option value="WNA">WNA</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Ibu Kandung<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" id="nama_ibu_kandung_pasangan" name="nama_ibu_kandung_pasangan" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">NPWP</label>
            <div class="col-sm-8">
              <input
                type="tel"
                onkeypress="return onlyNumberKey(event)"
                class="form-control"
                placeholder="NPWP"
                maxlength="16"
                id="npwp_pasangan"
                name="npwp_pasangan"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Alamat Sama Dengan Pemohon</label>
            <div class="col-sm-8">
              <input value="0" type="radio" name="sama" id="tidakSama" /> Tidak Sama
              <input value="1" type="radio" name="sama" id="harusSama" /> Sama
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Alamat KTP<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <textarea class="form-control h-150px" rows="6" id="alamat_ktp_pasangan" name="alamat_ktp_pasangan"></textarea>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Provinsi<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="provinsi_pasangan" name="provinsi_pasangan">
                  <option value="">Pilih Provinsi</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kota<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="kabkota_pasangan" name="kabkota_pasangan">
                  <option value="">Pilih Kota</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kecamatan<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="kecamatan_pasangan" name="kecamatan_pasangan">
                  <option value="">Pilih Kecamatan</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kelurahan<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" id="kelurahan_pasangan" name="kelurahan_pasangan">
                  <option value="">Pilih Kelurahan</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kode Pos<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input
                  type="tel"
                  onkeypress="return onlyNumberKey(event)"
                  maxlength="8"
                  class="form-control"
                  id="kode_pos_pasangan"
                  name="kode_pos_pasangan"
                />
                <div class="input-group-append">
                  <button class="btn btn-outline-dark" onclick="buatisipasangan()" type="button">Cari Data</button>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">RT / RW<span class="text-danger">*</span></label>
            <div class="col">
              <input
                maxlength="3"
                type="tel"
                onkeypress="return onlyNumberKey(event)"
                class="form-control"
                placeholder="RT"
                id="rt_pasangan"
                name="rt_pasangan"
              />
            </div>
            <div class="col">RT</div>
            <div class="col">
              <input
                type="tel"
                onkeypress="return onlyNumberKey(event)"
                class="form-control"
                placeholder="RW"
                id="rw_pasangan"
                name="rw_pasangan"
                maxlength="3"
              />
            </div>
            <div class="col">RW</div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No KTP<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input
                type="tel"
                onkeypress="return onlyNumberKey(event)"
                class="form-control"
                placeholder="Nomor KTP"
                id="no_ktp_pasangan"
                name="no_ktp_pasangan"
                maxlength="16"
                oninvalid="this.setCustomValidity('harap masukan 16 digit no ktp')"
              />
            </div>
          </div>
          <br />

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tanggal Terbit KTP<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input class="form-control" type="date" id="tanggal_terbit_ktp_pasangan" name="tanggal_terbit_ktp_pasangan" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> KTP Seumur Hidup<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <label for="chkYes2"> <input type="radio" id="chkYes2" name="chkPinNo2" checked="checked" value="fix" /> Ya </label>
              <label for="chkNo2"> <input type="radio" id="chkNo2" name="chkPinNo2" value="non" /> Tidak </label>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tanggal Expired KTP</label>
            <div class="col-sm-8">
              <input class="form-control" type="date" id="tanggal_exp_ktp_pasangan" name="tanggal_exp_ktp_pasangan" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No Handphone<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input
                type="tel"
                pattern="^(\+62|62)?[\s-]?0?8[1-9]{1}\d{1}[\s-]?\d{4}[\s-]?\d{2,5}$"
                class="form-control"
                placeholder="Nomor Handphone"
                id="no_handphone_pasangan"
                name="no_handphone_pasangan"
              />
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col" style="text-align: center">
      <button
        class="fa fa-file-archive-o btn btn-dark"
        id="prosesData"
        name="proses"
        value="proses"
        (click)="gotoprescreaning(daWa, daWakodepos, daWacuref)"
        type="submit"
      >
        Proses Data
      </button>
      <button
        class="fa fa-file-archive-o btn btn-dark"
        id="simpandata2"
        name="simpan"
        value="simpan"
        (click)="gotodaftaraplikasiide(daWa, daWakodepos, daWacuref)"
        type="submit"
      >
        Simpan data
      </button>
    </div>
  </div>
</form>
