<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Struktur Pembiayaan</h3>
</div>
<p></p>
<p></p>
<div class="row form-material">
  <div class="col">
    <div id="jointIncomeMenikah" class="form-group row">
      <label class="col-sm-4 col-form-label">Joint Income<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" name="joint_income" id="joint_income" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option value="{{ daWa.joint_income }}">{{ daWa.joint_income }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kode Fasilitas<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" (change)="onchangefasilitas(Kodefasilitas.fasilitas)" name="kode_fasilitas" id="kode_fasilitas" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option value="{{ daWa.kode_fasilitas_name }}">{{ daWa.kode_fasilitas_name }}</option>
            <option *ngFor="let Kodefasilitas of Kodefasilitas" value="{{ Kodefasilitas.kode_fasilitas }}|{{ Kodefasilitas.fasilitas }}">
              {{ Kodefasilitas.deskripsi }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Program<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" (change)="onchangeprogram(0)" name="program" id="program" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option value="{{ daWa.program_name }}" selected>{{ daWa.program_name }}</option>
            <option *ngFor="let kodeprogram of kodeprogram" value="{{ kodeprogram.kode_program }}|{{ kodeprogram.program }}">
              {{ kodeprogram.program }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Product<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" (change)="onchangeproduk(0)" name="produk" id="produk" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option value="{{ daWa.produk_name }}" selected>{{ daWa.produk_name }}</option>

            <option *ngFor="let kodeproduk of kodeproduk" value="{{ kodeproduk.kode_produk }}|{{ kodeproduk.produk_deskripsi }}">
              {{ kodeproduk.produk_deskripsi }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Skema<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" (change)="onchangeskema(0)" name="skema" id="skema" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option value="{{ daWa.skema_name }}" selected>{{ daWa.skema_name }}</option>
            <option
              *ngFor="let kodeskema of kodeskema"
              value="{{ kodeskema.skema }}|{{ kodeskema.skema_master }}|{{ kodeskema.skema_deskripsi }}"
            >
              {{ kodeskema.skema_deskripsi }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jangka Waktu<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" (change)="onchangejangkawaktu(0)" name="jangka_waktu" id="jangka_waktu" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option selected value="{{ daWa.jangka_waktu }}">{{ daWa.jangka_waktu }}</option>
            <option *ngFor="let kodetenor of kodetenor" value="{{ kodetenor.tn_code }}|{{ kodetenor.margin }}">
              {{ kodetenor.tn_code }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tipe Margin<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" name="tipe_margin" id="tipe_margin" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option selected value="{{ daWa.tipe_margin }}">{{ daWa.tipe_margin }}</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tujuan Pembiayaan<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" name="tujuan_pembiayaan" id="tujuan_pembiayaan" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <!-- 19-08-20 -->
            <option selected value="{{ daWa.kode_fasilitas }}">{{ daWa.tujuan_pembiayaan }}</option>
            <option selected value="123">123</option>
            <option selected value="123">321</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Fasilitas Ke<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="form-group">
          <select class="form-control" name="fasilitas_ke" id="fasilitas_ke" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
            <option value="{{ daWa.kode_fasilitas }}" selected>{{ daWa.fasilitas_ke }}</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Margin<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
          type="text"
          class="form-control"
          value="{{ daWa.margin }}"
          readonly
          name="margin"
          id="margin"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{ daWa.margin }}"
        />

        <input [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
          type="hidden"
          class="form-control"
          value="{{ daWa.margin }}"
          readonly
          name="margin1"
          id="margin1"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{ daWa.margin }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Harga Objek Pembiayaan<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
          type="text"
          class="form-control"
          placeholder="Hrga Objek Pembiayaan"
          name="harga_objek_pembiayaan"
          id="harga_objek_pembiayaan"
          value="{{ daWa.harga_objek_pembiayaan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Fee Base</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Rp" name="fee_based" id="fee_based" value="{{ daWa.fee_based }}"  [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"/>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" name="siapsiap" id="siapsiap">DP<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="uang_muka" id="uang_muka" value="{{ daWa.uang_muka }}"  [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"/>
          <div class="input-group-append">
            <button class="btn btn-outline-dark" type="button" id="rincihan" style="float: right" (click)="itungrincihan()" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
              Rincian Pembayaran
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Angsuran<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
          type="text"
          class="form-control"
          readonly
          name="angsuran"
          id="angsuran"
          value="{{ daWa.angsuran }}"
          data-toggle="tooltip"
          data-placement="bottom"
        />
        <input [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
          type="text"
          class="form-control"
          readonly
          name="angsurankirim"
          id="angsurankirim"
          value="{{ daWa.angsuran }}"
          data-toggle="tooltip"
          data-placement="bottom"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nilai Pembiayaan<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
          type="text"
          class="form-control"
          value="{{ daWa.nilai_pembiayaan }}"
          readonly
          name="hasil_pembiayaan"
          id="hasil_pembiayaan"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Detail Objek Pembiayaan<span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <textarea class="form-control h-150px" rows="6" name="detail_objek_pembiayaan" id="detail_objek_pembiayaan" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">{{
          daWa.detail_objek_pembiayaan
        }}</textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" style="text-align: center">
    <button [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
      type="submit"
      (click)="simpanstruktur()"
      id="btn"
      name="simpandata"
      value="simpandata"
      class="btn btn-dark"
      onclick="return validateFormStruktur()"
    >
      Simpan Data
    </button>
    <button type="submit" (click)="goto()" id="selanjutnya" name="selanjutnya" value="selanjutnya" class="btn btn-warning">
      Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
    </button>
  </div>
</div>
