<div class="row form-material">
  <div class="col-md-6">
    <label class="m-t-5">No Aplikasi</label>
    <input #noAplikasi type="text" class="form-control" placeholder="Masukan Nomor Aplikasi" />
    <p></p>
    <label class="m-t-5">Kategori Pekerjaan</label>
    <div class="form-group">
      <select #kategori class="form-control">
        <option selected value="">Pilih Pencarian Berdasarkan Kategori Pekerjaan</option>
        <option value="true">Fix Income</option>
        <option value="false">Non Fix Income</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <label class="m-t-5">Nama Nasabah</label>
    <input #namaNasabah type="text" class="form-control" placeholder="Masukan Nama Nasabah" aria-controls="example" />
    <p></p>
    <label class="m-t-5">Fasilitas</label>
    <div class="form-group">
      <select #fasilitas class="form-control">
        <option selected value="">Pilih Pencarian Berdasarkan Fasilitas</option>
        <option value="PPR">PPR</option>
        <option value="PTA">PTA</option>
        <option value="KTM">KTM</option>
      </select>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button (click)="cariButton(fasilitas.value, kategori.value, namaNasabah.value, noAplikasi.value)" class="btn btn-dark">
        Cari Data
      </button>
      <button
        class="btn btn-info"
        (click)="noAplikasi.value = ''; namaNasabah.value = ''; fasilitas.value = ''; kategori.value = ''; clearInput()"
      >
        Clear Data
      </button>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Daftar Aplikasi Data Verification Assigment on Process</h3>
  </div>
  <p></p>
  <table id="dataTables-example" class="table table-striped table-bordered">
    <thead>
      <tr class="table-dark">
        <th style="text-align: center">No</th>
        <th style="text-align: center">No Aplikasi</th>
        <th style="text-align: center">Nama Pemohon</th>
        <th style="text-align: center">Program</th>
        <th style="text-align: center">Tipe Pekerjaan</th>
        <th hidden></th>
        <th style="text-align: center">Nama Analys</th>
        <th style="text-align: center">Status</th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let daWuS of daWuS; index as i">
        <td style="text-align: center">{{ i + 1 }}</td>
        <td style="text-align: center">{{ daWuS.app_no_de }}</td>
        <td style="text-align: center">{{ daWuS.nama }}</td>
        <td style="text-align: center">{{ daWuS.program_pembiayaan }}</td>
        <td style="text-align: center">{{ daWuS.kategori_pekerjaan }}</td>
        <td hidden>{{ daWuS.kategori_pekerjaan === 'Fix Income' }}</td>
        <td style="text-align: center">{{ daWuS.analis_verifikasi }}</td>
        <td style="text-align: center">Completed</td>
        <td style="text-align: center"><input (change)="getProoduct($event, daWuS.app_no_de, daWuS.status_aplikasi)" type="checkbox" /></td>
        <td style="text-align: center">
          <button type="button" class="btn btn-outline-secondary"><fa-icon icon="ellipsis"></fa-icon><br />Detail</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col" style="text-align: center">
    <button type="button" (click)="postUpdateStatus()" class="btn btn-info">Update</button>
    <button type="button" (click)="postForward()" class="btn btn-primary">Forward To</button>
    <button type="button" class="btn btn-danger" (click)="confirmBox()">Reject</button>
  </div>
</div>
