<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Detail Analisa</h3>
</div>
<br />
<form [formGroup]="dataCalonNasabahForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor Customer</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="no_customer" name="no_customer" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor Aplikasi</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="nomor_aplikasi" name="nomor_aplikasi" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="nama" name="nama" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor HP</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" id="nomor_hp" name="nomor_hp" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Kelamin</label>
        <div class="col-sm-8">
          <input name="jenis_kelamin" id="jenis_kelamin" class="form-control" readonly />
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Verification</label>
        <div class="col-sm-8">
          <input
            readonly
            class="form-control"
            type="date"
            formControlName="tanggal_verification"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.tanggal_verification.errors }"
            id="tanggal_verification"
            name="tanggal_verification"
            onchange="submitBday()"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.tanggal_verification.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.tanggal_verification.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pemberi Keterangan</label>
        <div class="col-sm-8">
          <input
            readonly
            class="form-control"
            type="text"
            formControlName="pemberi_keterangan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.pemberi_keterangan.errors }"
            id="pemberi_keterangan"
            name="pemberi_keterangan"
            onchange="submitBday()"
            maxlength="200"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.pemberi_keterangan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.pemberi_keterangan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Hubungan dengan pemberi Keterangan</label>
        <div class="col-sm-8">
          <select
            name="hubungan_dengen_pemberi_keterangan"
            id="hubungan_dengen_pemberi_keterangan"
            class="form-control"
            formControlName="hubungan_dengen_pemberi_keterangan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.hubungan_dengen_pemberi_keterangan.errors }"
          >
            <option value="">Pilih Data</option>
            <option *ngFor="let refHubunganEmergency of refHubunganEmergency" value="{{ refHubunganEmergency.deskripsi }}">
              {{ refHubunganEmergency.deskripsi }}
            </option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.hubungan_dengen_pemberi_keterangan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.hubungan_dengen_pemberi_keterangan.errors.required">
              Harap Pilih Data
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <br />
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 class="row" style="color: #fff; text-align: center">
      <div class="col">Data</div>
      <div class="col">Verifikasi</div>
      <div class="col">Notes</div>
    </h3>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat Rumah</label>
        <div class="col-sm-8">
          <textarea
            class="form-control"
            name="alamat_rumah"
            id="alamat_rumah"
            cols="49"
            rows="2"
            formControlName="alamat_rumah"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.alamat_rumah.errors }"
          ></textarea>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.alamat_rumah.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.alamat_rumah.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_alamat_rumah" id="verifikasi_alamat_rumah_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_alamat_rumah" id="verifikasi_alamat_rumah_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <textarea class="form-control" name="note_alamat_rumah" id="note_alamat_rumah"></textarea>
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">RT / RW</label>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="rt"
            name="rt"
            maxlength="3"
            formControlName="rt"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.rt.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.rt.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.rt.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="rw"
            name="rw"
            maxlength="3"
            formControlName="rw"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.rw.errors }"
            maxlength="3"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.rw.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.rw.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col">RW</div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_rt_rw" id="verifikasi_rt_rw_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_rt_rw" id="verifikasi_rt_rw_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_rt_rw" id="note_rt_rw" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Provinsi</label>
        <div class="col-sm-8">
          <select
            name="provinsi"
            id="provinsi"
            class="form-control"
            formControlName="provinsi"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.provinsi.errors }"
            maxlength="3"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.provinsi.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.provinsi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_provinsi" id="verifikasi_provinsi_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_provinsi" id="verifikasi_provinsi_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_provinsi" id="note_provinsi" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kota</label>
        <div class="col-sm-8">
          <select
            name="kota"
            id="kota"
            class="form-control"
            formControlName="kota"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.kota.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.kota.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.kota.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_kota" id="verifikasi_kota_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_kota" id="verifikasi_kota_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_kota" id="note_kota" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kecamatan</label>
        <div class="col-sm-8">
          <select
            name="kecamatan"
            id="kecamatan"
            class="form-control"
            formControlName="kecamatan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.kecamatan.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.kecamatan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.kecamatan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_kecamatan" id="verifikasi_kecamatan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_kecamatan" id="verifikasi_kecamatan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="kelurahan" id="kelurahan" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kelurahan</label>
        <div class="col-sm-8">
          <select
            name="kelurahan"
            id="kelurahan"
            class="form-control"
            formControlName="kelurahan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.kelurahan.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.kelurahan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.kelurahan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_kelurahan" id="verifikasi_kelurahan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_kelurahan" id="verifikasi_kelurahan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input id="note_kelurahan" name="note_kelurahan" type="text" class="form-control" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kode Pos</label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              (keypress)="keyPressNumbers($event)"
              id="kode_pos"
              name="kode_pos"
              type="text"
              class="form-control"
              placeholder=""
              aria-label=""
              aria-describedby="basic-addon2"
              formControlName="kode_pos"
              maxlength="8"
              [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.kode_pos.errors }"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Cari Data</button>
            </div>
          </div>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.kode_pos.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.kode_pos.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_kodepos" id="verifikasi_kodepos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_kodepos" id="verifikasi_kodepos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input class="form-control" type="text" id="note_kodepos" name="note_kodepos" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="date"
            id="tanggal_lahir"
            name="tanggal_lahir"
            onchange="submitBday()"
            formControlName="tanggal_lahir"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.tanggal_lahir.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.tanggal_lahir.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.tanggal_lahir.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_tanggal_lahir" id="verifikasi_tanggal_lahir_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_tanggal_lahir" id="verifikasi_tanggal_lahir_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="pedidikan" id="pedidikan" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pendidikan</label>
        <div class="col-sm-8">
          <select
            name="pedidikan"
            id="pedidikan"
            class="form-control"
            formControlName="pedidikan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.pedidikan.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.pedidikan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.pedidikan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_pendidikan" id="verifikasi_pendidikan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_pendidikan" id="verifikasi_pendidikan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_pendidikan" id="note_pendidikan" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Menikah</label>
        <div class="col-sm-8">
          <select
            name="status_menikah"
            id="status_menikah"
            class="form-control"
            formControlName="status_menikah"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.status_menikah.errors }"
          >
            <option value="">Pilih Data</option>
            <option *ngFor="let refStatusPerkawinan of refStatusPerkawinan" value="{{ refStatusPerkawinan.deskripsi }}">
              {{ refStatusPerkawinan.deskripsi }}
            </option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.status_menikah.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.status_menikah.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_status_menikah" id="verifikasi_status_menikah_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_status_menikah" id="verifikasi_status_menikah_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="note_status_menikah" name="note_status_menikah" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Ibu Kandung</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_ibu_kandung"
            name="nama_ibu_kandung"
            placeholder=""
            formControlName="nama_ibu_kandung"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.nama_ibu_kandung.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.nama_ibu_kandung.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.nama_ibu_kandung.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_nama_ibu_kandung" id="verifikasi_nama_ibu_kandung_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_nama_ibu_kandung" id="verifikasi_nama_ibu_kandung_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          (keypress)="keyPressNumbers($event)"
          type="text"
          class="form-control"
          id="jumlah_tanggunan"
          name="jumlah_tanggunan"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jumlah Tanggunan</label>
        <div class="col-sm-8">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="jumlah_tanggunan"
            name="jumlah_tanggunan"
            placeholder=""
            formControlName="jumlah_tanggunan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.jumlah_tanggunan.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.jumlah_tanggunan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.jumlah_tanggunan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_jumlah_tanggunan" id="verifikasi_jumlah_tanggunan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_jumlah_tanggunan" id="verifikasi_jumlah_tanggunan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="note_jumlah_tanggunan" name="note_jumlah_tanggunan" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Pasangan</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_pasangan"
            name="nama_pasangan"
            placeholder=""
            formControlName="nama_pasangan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.nama_pasangan.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.nama_pasangan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.nama_pasangan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_nama_pasangan" id="verifikasi_nama_pasangan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_nama_pasangan" id="verifikasi_nama_pasangan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="note_nama_pasangan" name="note_nama_pasangan" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pekerjaan Pasangan</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="pekerjaan_pasangan"
            name="pekerjaan_pasangan"
            placeholder=""
            formControlName="pekerjaan_pasangan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.pekerjaan_pasangan.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.pekerjaan_pasangan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.pekerjaan_pasangan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_pekerjaan_pasangan" id="verifikasi_pekerjaan_pasangan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_pekerjaan_pasangan" id="verifikasi_pekerjaan_pasangan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="note_pekerjaan_pasangan" name="note_pekerjaan_pasangan" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fasilitas Pembiayaan Ke</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="fasilitas_pembiayaan_ke"
            name="fasilitas_pembiayaan_ke"
            placeholder=""
            formControlName="fasilitas_pembiayaan_ke"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.fasilitas_pembiayaan_ke.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.fasilitas_pembiayaan_ke.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.fasilitas_pembiayaan_ke.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="verifikasi_fasilitas_pembiayaan_ke" id="verifikasi_fasilitas_pembiayaan_ke_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="verifikasi_fasilitas_pembiayaan_ke" id="verifikasi_fasilitas_pembiayaan_ke_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="fasilitas_pembiayaan_ke" name="fasilitas_pembiayaan_ke" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Data Rumah yang Dihuni Pemohon</h3>
  </div>
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Rumah</label>
        <div class="col-sm-8">
          <select name="status_rumah" id="status_rumah" class="form-control">
            <option value="">Pilih Data</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Cek Ke</label>
        <div class="col-sm-8">
          <div class="col">
            <input type="checkbox" id="sertifikat" name="sertifikat" />Sertifikat &nbsp;&nbsp;
            <input type="checkbox" id="rekening" name="rekening" />Rekening Listrik &nbsp;&nbsp;
            <input type="checkbox" id="rekening" name="rekening" />Akta Jual Beli
          </div>
          <div class="col">
            <input type="checkbox" id="rekening_listrik" name="rekening_listrik" />Rekening Listrik &nbsp;&nbsp;
            <input type="checkbox" id="rekening_telepon" name="rekening_telepon" />Rekening Telepon
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Rumah Dihuni</label>
        <div class="col-sm-8">
          <select name="rumah_dihuni" id="rumah_dihuni" class="form-control">
            <option value="Ya">Ya</option>
            <option value="Tidak">Tidak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lama Menetap</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="lama_menetap_tahun"
            name="lama_menetap_tahun"
            formControlName="lama_menetap_tahun"
            maxlength="2"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.lama_menetap_tahun.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.lama_menetap_tahun.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.lama_menetap_tahun.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col">Tahun</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="lama_menetap_bulan"
            name="lama_menetap_bulan"
            formControlName="lama_menetap_bulan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.lama_menetap_bulan.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.lama_menetap_bulan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.lama_menetap_bulan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col">Bulan</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Bangunan</label>
        <div class="col-sm-8">
          <select name="jenis_bangunan" id="jenis_bangunan" class="form-control">
            <option value="Ya">Ya</option>
            <option value="Tidak">Tidak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lokasi Perumahan</label>
        <div class="col-sm-8">
          <select name="lokasi_perumahan" id="lokasi_perumahan" class="form-control">
            <option value="Ya">Ya</option>
            <option value="Tidak">Tidak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">fasilitas Listrik</label>
        <div class="col-sm-8">
          <select name="fasilitas_listrik" id="fasilitas_listrik" class="form-control">
            <option value="Ya">Ya</option>
            <option value="Tidak">Tidak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Isi Rumah</label>
        <div class="col">
          <input type="checkbox" id="isi_rumah_mobil" name="isi_rumah_mobil" />Mobil &nbsp;&nbsp;
          <input type="checkbox" id="isi_rumah_motor" name="isi_rumah_motor" />Motor &nbsp;&nbsp;
          <input type="checkbox" id="isi_rumah_tv" name="isi_rumah_tv" />TV
        </div>
        <div class="col">
          <input type="checkbox" id="isi_rumah_sofa" name="isi_rumah_sofa" />Sofa &nbsp;&nbsp;
          <input type="checkbox" id="isi_rumah_perabot_lainnya" name="isi_rumah_perabot_lainnya" />Perabot Lainnya
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kondisi Lingkungan</label>
        <div class="col-sm-8">
          <select
            name="kondisi_lingkungan"
            id="kondisi_lingkungan"
            class="form-control"
            formControlName="kondisi_lingkungan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.kondisi_lingkungan.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.kondisi_lingkungan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.kondisi_lingkungan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Akses Jalan Ke Rumah Tingal</label>
        <div class="col-sm-8">
          <select
            name="akses_jalan_ke_rumah_tinggal"
            id="akses_jalan_ke_rumah_tinggal"
            class="form-control"
            formControlName="akses_jalan_ke_rumah_tinggal"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.akses_jalan_ke_rumah_tinggal.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataCalonNasabahForm.controls.akses_jalan_ke_rumah_tinggal.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.akses_jalan_ke_rumah_tinggal.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Luas Tanah</label>
        <div class="col-sm-8">
          <input (keypress)="keyPressNumbers($event)" type="text" class="form-control" id="luas_tanah" name="luas_tanah" placeholder="" />
          <label>m2</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Luas Bangunan</label>
        <div class="col-sm-8">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="luas_bangunan"
            name="luas_bangunan"
            placeholder=""
          />
          <label>m2</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Garasi</label>
        <div class="col-sm-8">
          <input type="radio" id="garasi_ya" name="garasi" class="custom-control-input" value="Ada" checked="checked" />
          <label class="custom-control-label">Ada</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="garasi_tidak" name="garasi" class="custom-control-input" value="Tidak" />
          <label class="custom-control-label">Tidak</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Car Port</label>
        <div class="col-sm-8">
          <input type="radio" id="car_port_ya" name="car_port" class="custom-control-input" value="Ada" checked="checked" />
          <label class="custom-control-label">Ada</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="car_port_tidak" name="car_port" class="custom-control-input" value="Tidak" />
          <label class="custom-control-label">Tidak</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kendaraan</label>
        <div class="col-sm-8">
          <input type="radio" id="kendaraan_ya" name="kendaraan" class="custom-control-input" value="Ada" checked="checked" />
          <label class="custom-control-label">Ada</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="kendaraan_tidak" name="kendaraan" class="custom-control-input" value="Tidak" />
          <label class="custom-control-label">Tidak</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jumlah Kendaraan</label>
        <div class="col-sm-8">
          <input
            type="text"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            id="jumlah_kendaraan"
            name="jumlah_kendaraan"
            placeholder=""
            formControlName="jumlah_kendaraan"
            [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.jumlah_kendaraan.errors }"
          />
          <div *ngIf="submitted && dataCalonNasabahForm.controls.jumlah_kendaraan.errors" class="text-danger">
            <div *ngIf="submitted && dataCalonNasabahForm.controls.jumlah_kendaraan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kondisi Kendaraan</label>
        <div class="col-sm-8">
          <input
            type="radio"
            id="kondisi_kendaraan_ya"
            name="kondisi_kendaraan"
            class="custom-control-input"
            value="Baik"
            checked="checked"
          />
          <label class="custom-control-label">Baik</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="kondisi_kendaraan_tidak" name="kondisi_kendaraan" class="custom-control-input" value="Tidak Baik" />
          <label class="custom-control-label">Tidak Baik</label>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="row form-material">
    <label class="col-sm-3 col-form-label">Kesimpulan Hasil Investigasi</label>
    <div class="col-sm-9">
      <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="html"
        [disabled]="false"
        [placeholder]="'Tulis Disini. . .'"
        formControlName="kesimpulan_hasil_investigasi"
        [ngClass]="{ 'is-invalid': submitted && dataCalonNasabahForm.controls.kesimpulan_hasil_investigasi.errors }"
      >
      </ngx-editor>
      <div *ngIf="submitted && dataCalonNasabahForm.controls.kesimpulan_hasil_investigasi.errors" class="text-danger">
        <div *ngIf="submitted && dataCalonNasabahForm.controls.kesimpulan_hasil_investigasi.errors.required">Tidak Boleh Kosong</div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button class="btn btn-info">Simpan Data</button>
    </div>
  </div>
</form>
