<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Detail Analisa</h3>
</div>
<br />
<form [formGroup]="dataCalonNasabahForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor Customer</label>
        <div class="col-sm-8">
          <input value="{{ this.dataEntry.curef }}" class="form-control" type="text" id="no_customer" name="no_customer" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor Aplikasi</label>
        <div class="col-sm-8">
          <input
            value="{{ this.dataEntry.app_no_de }}"
            class="form-control"
            type="text"
            id="nomor_aplikasi"
            name="nomor_aplikasi"
            readonly
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama</label>
        <div class="col-sm-8">
          <input value="{{ this.dataEntry.nama }}" class="form-control" type="text" id="nama" name="nama" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor HP</label>
        <div class="col-sm-8">
          <input value="{{ this.dataEntry.no_handphone }}" class="form-control" type="text" id="nomor_hp" name="nomor_hp" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Kelamin</label>
        <div class="col-sm-8">
          <input value="{{ this.dataEntry.jenis_kelamin }}" name="jenis_kelamin" id="jenis_kelamin" class="form-control" readonly />
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Verification</label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="date"
            formControlName="tanggal_verifikasi"
            id="tanggal_verification"
            name="tanggal_verification"
            onchange="submitBday()"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pemberi Keterangan</label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="text"
            formControlName="pemberi_keterangan"
            id="pemberi_keterangan"
            name="pemberi_keterangan"
            onchange="submitBday()"
            maxlength="200"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Hubungan dengan pemberi Keterangan</label>
        <div class="col-sm-8">
          <select
            name="hubungan_dengen_pemberi_keterangan"
            id="hubungan_dengen_pemberi_keterangan"
            class="form-control"
            formControlName="hubungan_pemberi_keterangan"
          >
            <option value="">Pilih Data</option>
            <option *ngFor="let refHubunganEmergency of refHubunganEmergency" value="{{ refHubunganEmergency.deskripsi }}">
              {{ refHubunganEmergency.deskripsi }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <br />
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 class="row" style="color: #fff; text-align: center">
      <div class="col">Data</div>
      <div class="col">Verifikasi</div>
      <div class="col">Notes</div>
    </h3>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat Rumah</label>
        <div class="col-sm-8">
          <textarea
            class="form-control"
            name="alamat_rumah"
            id="alamat_rumah"
            cols="49"
            rows="2"
            value="{{ this.dataEntry.alamat_ktp }}"
            readonly
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_alamat_rumah_ya"
        formControlName="verif_alamat"
        value="1"
        [disabled]="this.verifikatorMelihat"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_alamat_rumah_tidak"
        formControlName="verif_alamat"
        value="0"
        [disabled]="this.verifikatorMelihat"
      />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <textarea class="form-control" name="note_alamat_rumah" id="note_alamat_rumah" formControlName="note_verif_alamat"></textarea>
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">RT / RW</label>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="rt"
            name="rt"
            maxlength="3"
            value="{{ this.dataEntry.rt }}"
            readonly
          />
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="rw"
            name="rw"
            maxlength="3"
            value="{{ this.dataEntry.rw }}"
            maxlength="3"
            readonly
          />
        </div>
        <div class="col">RW</div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_rt_rw_ya" formControlName="verif_rt_rw" value="1" /><!-- -->
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_rt_rw_tidak" formControlName="verif_rt_rw" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_rt_rw" id="note_rt_rw" class="form-control" formControlName="note_verif_rt_rw" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Provinsi</label>
        <div class="col-sm-8">
          <input name="provinsi" id="provinsi" class="form-control" value="{{ this.dataEntry.provinsi }}" readonly />
          <!-- <option *ngFor="let getProvinsi of getProvinsi" [ngValue]="getProvinsi.kdWilayah">
              {{ getProvinsi.namaWilayah }}
            </option> -->
          <!-- </select> -->
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_provinsi_ya" formControlName="verif_provinsi" value="1" />
      <!--- formControlName="verif_provinsi" -->
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_provinsi_tidak" formControlName="verif_provinsi" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_provinsi" id="note_provinsi" class="form-control" formControlName="note_verif_provinsi" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kota</label>
        <div class="col-sm-8">
          <input name="kota" id="kota" class="form-control" value="{{ this.dataEntry.kabkota }}" readonly />
          <!-- <option *ngFor="let getKota of getKota" value="{{ getKota.kdWilayah }}">
              {{ getKota.namaWilayah }}
            </option>
          </select> -->
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_kota_ya" value="1" formControlName="verif_kabkota" value="1" />
      <!--- formControlName="verif_kabkota" -->
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_kota_tidak"
        value="0"
        formControlName="verif_kabkota"
        value="0"
      />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_kota" id="note_kota" class="form-control" formControlName="note_verif_kabkota" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kecamatan</label>
        <div class="col-sm-8">
          <input name="kecamatan" id="kecamatan" class="form-control" value="{{ this.dataEntry.kecamatan }}" readonly />
          <!-- <option *ngFor="let getKecamatan of getKecamatan" value="{{ getKecamatan.kdWilayah }}">
              {{ getKecamatan.namaWilayah }}
            </option>
          </select> -->
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_kecamatan_ya"
        value="1"
        formControlName="verif_kecamatan"
        value="1"
      />
      <!---- formControlName="verif_kecamatan" -->
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_kecamatan_tidak"
        value="0"
        formControlName="verif_kecamatan"
        value="0"
      />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="kelurahan" id="kelurahan" class="form-control" formControlName="note_verif_kecamatan" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kelurahan</label>
        <div class="col-sm-8">
          <input name="kelurahan" id="kelurahan" class="form-control" value="{{ this.dataEntry.kelurahan }}" readonly />
          <!-- <option *ngFor="let getKelurahan of getKelurahan" value="{{ getKelurahan.kdPos }}">
              {{ getKelurahan.namaWilayah }}
            </option>
          </select> -->
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_kelurahan_ya" value="1" formControlName="verif_kelurahan" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_kelurahan_tidak" value="0" formControlName="verif_kelurahan" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input id="note_kelurahan" name="note_kelurahan" type="text" class="form-control" formControlName="note_verif_kelurahan" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kode Pos</label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="kode_pos"
              name="kode_pos"
              value="{{ this.dataEntry.kode_pos }}"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
              readonly
            />
            <!-- <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Cari Data</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_kodepos_ya" value="1" formControlName="verif_kode_pos" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_kodepos_tidak" value="0" formControlName="verif_kode_pos" />
      <!---- formControlName="verif_kode_pos" -->
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input class="form-control" type="text" id="note_kodepos" name="note_kodepos" formControlName="note_verif_kode_pos" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
        <div class="col-sm-8">
          <input
            readonly
            class="form-control"
            type="date"
            id="tanggal_lahir"
            name="tanggal_lahir"
            onchange="submitBday()"
            value="{{ this.dataEntry.tanggal_lahir }}"
          />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_tanggal_lahir_ya"
        value="1"
        formControlName="verif_tanggal_lahir"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_tanggal_lahir_tidak"
        value="0"
        formControlName="verif_tanggal_lahir"
      />
      <!--- formControlName="verif_tanggal_lahir"-->
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          name="note_verif_tanggal_lahir"
          id="note_verif_tanggal_lahir"
          class="form-control"
          formControlName="note_verif_tanggal_lahir"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pendidikan</label>
        <div class="col-sm-8">
          <input name="pedidikan" id="pedidikan" class="form-control" value="{{ this.dataEntry.pendidikan }}" readonly />
          <!-- <option value="">Pilih Data</option>
            <option value="SMA">SMA</option>
            <option value="D3">D3</option>
            <option value="S1">S1</option>
            <option value="S2">S2</option>
            <option value="S3">S3</option>
          </select> -->
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_pendidikan_ya" value="1" formControlName="verif_pendidikan" />
      <!--- formControlName="verif_pendidikan" -->
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" id="verifikasi_pendidikan_tidak" value="0" formControlName="verif_pendidikan" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="note_pendidikan" id="note_pendidikan" class="form-control" formControlName="note_verif_pendidikan" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Menikah</label>
        <div class="col-sm-8">
          <input
            name="status_perkawinan"
            id="status_perkawinan"
            #status_perkawinan
            class="form-control"
            value="{{ this.dataEntry.status_perkawinan }}"
            readonly
          />
          <!-- <option value="">Pilih Data</option>
            <option [ngValue]="refStatusPerkawinan.deskripsi" *ngFor="let refStatusPerkawinan of refStatusPerkawinan">
              {{ refStatusPerkawinan.deskripsi }}
            </option>
          </select> -->
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_status_menikah_ya"
        value="1"
        formControlName="verif_status_menikah"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_status_menikah_tidak"
        value="0"
        formControlName="verif_status_menikah"
      />
      <!---formControlName="verif_status_menikah"-->
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          type="text"
          class="form-control"
          id="note_status_menikah"
          name="note_status_menikah"
          formControlName="note_verif_status_menikah"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Ibu Kandung</label>
        <div class="col-sm-8">
          <input
            readonly
            type="text"
            class="form-control"
            id="nama_ibu_kandung"
            name="nama_ibu_kandung"
            placeholder=""
            value="{{ this.dataEntry.nama_ibu_kandung }}"
          />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_nama_ibu_kandung_ya"
        formControlName="verif_ibu_kandung"
        value="1"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input
        type="radio"
        style="width: 20px; height: 20px"
        id="verifikasi_nama_ibu_kandung_tidak"
        formControlName="verif_ibu_kandung"
        value="0"
      />
      <!--formControlName="verif_ibu_kandung"-->
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          type="text"
          class="form-control"
          id="note_verif_ibu_kandung"
          name="note_verif_ibu_kandung"
          formControlName="note_verif_ibu_kandung"
        />
      </div>
    </div>
  </div>
  <!-- <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jumlah Tanggunan</label>
        <div class="col-sm-8">
          <input
            (keypress)="keyPressNumbers($event)"
            type="text"
            class="form-control"
            id="jumlah_tanggunan"
            name="jumlah_tanggunan"
            placeholder=""
            formControlName="jumlah_tanggunan"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input

        type="radio"
        id="verifikasi_jumlah_tanggunan_ya"
        formControlName="verif_jumlah_tanggungan"
        value="1"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input

        type="radio"
        id="verifikasi_jumlah_tanggunan_tidak"
        formControlName="verif_jumlah_tanggungan"
        value="0"
      />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input

          type="text"
          class="form-control"
          id="note_jumlah_tanggunan"
          name="note_jumlah_tanggunan"
          formControlName="note_verif_jumlah_tanggungan"
        />
      </div>
    </div>
  </div> -->
  <br />
  <div [ngSwitch]="status_perkawinan.value">
    <div *ngSwitchCase="'Menikah'">
      <div class="row form-material">
        <div class="col">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nama Pasangan</label>
            <div class="col-sm-8">
              <input
                readonly
                type="text"
                class="form-control"
                id="nama_pasangan"
                name="nama_pasangan"
                placeholder=""
                value="{{ this.dataEntry.nama_pasangan }}"
              />
            </div>
          </div>
        </div>
        <div class="col" style="text-align: center">
          <label>Sesuai</label>
          <input
            type="radio"
            style="width: 20px; height: 20px"
            id="verifikasi_nama_pasangan_ya"
            formControlName="verif_nama_pasangan"
            value="1"
          />
          <!--verif_nama_pasangan-->
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="radio"
            style="width: 20px; height: 20px"
            id="verifikasi_nama_pasangan_tidak"
            formControlName="verif_nama_pasangan"
            value="0"
          />
          <label>Tidak Sesuai</label>
        </div>
        <div class="col">
          <div class="form-group row">
            <input
              type="text"
              class="form-control"
              id="note_nama_pasangan"
              name="note_nama_pasangan"
              formControlName="note_verif_nama_pasangan"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row form-material">
        <div class="col">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pekerjaan Pasangan</label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                id="pekerjaan_pasangan"
                name="pekerjaan_pasangan"
                value="{{
                  this.dataEntry.jenis_pekerjaan_pasangan_desc == null ? 'TIDAK BEKERJA' : this.dataEntry.jenis_pekerjaan_pasangan_desc
                }}"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="col" style="text-align: center">
          <label>Sesuai</label>
          <input
            type="radio"
            style="width: 20px; height: 20px"
            id="verifikasi_pekerjaan_pasangan_ya"
            formControlName="verif_pekerjaan_pasangan"
            value="1"
          />
          <!---verif_pekerjaan_pasangan-->
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="radio"
            style="width: 20px; height: 20px"
            id="verifikasi_pekerjaan_pasangan_tidak"
            formControlName="verif_pekerjaan_pasangan"
            value="0"
          />
          <label>Tidak Sesuai</label>
        </div>
        <div class="col">
          <div class="form-group row">
            <input
              type="text"
              class="form-control"
              id="note_pekerjaan_pasangan"
              name="note_pekerjaan_pasangan"
              formControlName="note_verif_pekerjaan_pasangan"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fasilitas Pembiayaan Ke</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="fasilitas_pembiayaan_ke"
            name="fasilitas_pembiayaan_ke"
            placeholder=""
            value="{{ this.dataEntry.fasilitas_ke }}"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label class="col-form-label">Karakter Calon Nasabah</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <!-- <div class="col-sm-8"> -->
        <select name="karakter_calon_nasabah " id="karakter_calon_nasabah " class="form-control" formControlName="karakter_calon_nasabah">
          <option value="">Pilih Data</option>
          <option value="Baik">Baik</option>
          <option value="Tidak Baik">Tidak Baik</option>
        </select>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <br />
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Data Rumah yang Dihuni Pemohon</h3>
  </div>
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Rumah</label>
        <div class="col-sm-8">
          <select name="status_rumah" id="status_rumah" class="form-control" formControlName="status_rumah">
            <option value="">Pilih Data</option>
            <option [ngValue]="refStatusRumah.description" *ngFor="let refStatusRumah of refStatusRumah">
              {{ refStatusRumah.description }}
            </option>
          </select>
          <span *ngIf="dataCalonNasabahForm.controls.status_rumah.invalid" class="text-danger">Field Wajib Diisi </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Cek Ke</label>
        <div class="col-sm-8">
          <div class="col">
            <!---cek-->
            <!-- <input type="text" value="{{this.dataCalonNasabahMap.cek}}"> -->
            <input
              [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
              type="checkbox"
              value="Sertifikat"
              (change)="onCheckCek($event)"
              [checked]="this.checkboxCekSertif == 'Sertifikat'"
            />Sertifikat &nbsp;&nbsp;
            <input
              [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
              type="checkbox"
              value="Akta Jual Beli"
              (change)="onCheckCek($event)"
              [checked]="this.checkboxCekAkte == 'Akta Jual Beli'"
            />Akta Jual Beli &nbsp;&nbsp;
            <input
              [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
              type="checkbox"
              value="Rekening Telepon"
              (change)="onCheckCek($event)"
              [checked]="this.checkboxCekRekTel == 'Rekening Telepon'"
            />Rekening Telepon &nbsp;&nbsp;
            <!-- </div> -->
            <!-- <div class="col"> -->
            <input
              [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
              type="checkbox"
              value="PBB"
              (change)="onCheckCek($event)"
              [checked]="this.checkboxCekPbb == 'PBB'"
            />PBB &nbsp;&nbsp;
            <input
              [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
              type="checkbox"
              value="Rekening Listrik"
              (change)="onCheckCek($event)"
              [checked]="this.checkboxCekRekLis == 'Rekening Listrik'"
            />Rekening Listrik
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Rumah Dihuni</label>
        <div class="col-sm-8">
          <select name="rumah_dihuni" id="rumah_dihuni" class="form-control" formControlName="rumah_dihuni">
            <option value="Ya">Ya</option>
            <option value="Tidak">Tidak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lama Menetap</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="lama_menetap_tahun"
            name="lama_menetap_tahun"
            formControlName="lama_menetap_tahun"
            maxlength="2"
          />
          <span *ngIf="dataCalonNasabahForm.controls.lama_menetap_tahun.invalid" class="text-danger">Field Wajib Diisi </span>
        </div>
        <div class="col">Tahun</div>
        <div class="col">
          <input type="text" class="form-control" id="lama_menetap_bulan" name="lama_menetap_bulan" formControlName="lama_menetap_bulan" />
          <span *ngIf="dataCalonNasabahForm.controls.lama_menetap_tahun.invalid" class="text-danger">Field Wajib Diisi </span>
        </div>
        <div class="col">Bulan</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Bangunan</label>
        <div class="col-sm-8">
          <select name="jenis_bangunan" id="jenis_bangunan" class="form-control" formControlName="jenis_bangunan">
            <option value="">Pilih Data</option>
            <option *ngFor="let refListTipeProperti of refListTipeProperti" value="{{ refListTipeProperti.properti_deskripsi }}">
              {{ refListTipeProperti.properti_deskripsi }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lokasi Perumahan</label>
        <div class="col-sm-8">
          <select name="lokasi_perumahan" id="lokasi_perumahan" class="form-control" formControlName="lokasi_perumahan">
            <option value="">Pilih Data</option>
            <option *ngFor="let listlokasirumah of listlokasirumah" value="{{ listlokasirumah.lokasi_rumah }}">
              {{ listlokasirumah.lokasi_rumah }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">fasilitas Listrik</label>
        <div class="col-sm-8">
          <select name="fasilitas_listrik" id="fasilitas_listrik" class="form-control" formControlName="fasilitas_listrik">
            <option value="">Pilih Data</option>
            <option *ngFor="let listfasilitaslistrik of listfasilitaslistrik" value="{{ listfasilitaslistrik.fasilitas_listrik }}">
              {{ listfasilitaslistrik.fasilitas_listrik }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Isi Rumah</label>
        <div class="col">
          <!--isi_rumah-->
          <input
            [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
            type="checkbox"
            value="Mobil"
            (change)="onCheckRumah($event)"
            [checked]="this.isiRumahMobil == 'Mobil'"
          />Mobil &nbsp;&nbsp;
          <input
            [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
            type="checkbox"
            value="Motor"
            (change)="onCheckRumah($event)"
            [checked]="this.isiRumahMotor == 'Motor'"
          />Motor &nbsp;&nbsp;
          <input
            [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
            type="checkbox"
            value="TV"
            (change)="onCheckRumah($event)"
            [checked]="this.isiRumahTV == 'TV'"
          />TV &nbsp;&nbsp;
          <!-- </div>
        <div class="col"> -->
          <input
            [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
            type="checkbox"
            value="Sofa"
            (change)="onCheckRumah($event)"
            [checked]="this.isiRumahSofa == 'Sofa'"
          />Sofa &nbsp;&nbsp;
          <input
            [disabled]="this.untukSessionRole === 'VER_PRE_SPV'"
            type="checkbox"
            value="Perabot Lainnya"
            (change)="onCheckRumah($event)"
            [checked]="this.isiRumahPerabot == 'Perabot Lainnya'"
          />Perabot Lainnya
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kondisi Lingkungan</label>
        <div class="col-sm-8">
          <select name="kondisi_lingkungan" id="kondisi_lingkungan" class="form-control" formControlName="kondisi_lingkungan">
            <option value="">Pilih Data</option>
            <option *ngFor="let listkondisilingkungan of listkondisilingkungan" value="{{ listkondisilingkungan.kondisi_lingkungan }}">
              {{ listkondisilingkungan.kondisi_lingkungan }}
            </option>
            <!-- <option value="Baik">Baik</option>
            <option value="Sedang">Sedang</option>
            <option value="Kurang Baik">Kurang Baik</option> -->
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Akses Jalan Ke Rumah Tingal</label>
        <div class="col-sm-8">
          <select name="akses_jalan_ke_rumah_tinggal" id="akses_jalan_ke_rumah_tinggal" class="form-control" formControlName="akses_jalan">
            <option value="">Pilih Data</option>
            <option *ngFor="let listaksesrumah of listaksesrumah" value="{{ listaksesrumah.akses_rumah }}">
              {{ listaksesrumah.akses_rumah }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Garasi</label>
        <div class="col-sm-8">
          <input type="radio" id="garasi_ya" formControlName="garasi" class="custom-control-input" value="1" />
          <label class="custom-control-label">Ada</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="garasi_tidak" formControlName="garasi" class="custom-control-input" value="0" />
          <label class="custom-control-label">Tidak</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Car Port</label>
        <div class="col-sm-8">
          <input type="radio" id="carport_ya" formControlName="carport" class="custom-control-input" value="1" />
          <label class="custom-control-label">Ada</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="carport_tidak" formControlName="carport" class="custom-control-input" value="0" />
          <label class="custom-control-label">Tidak</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kendaraan</label>
        <div class="col-sm-8">
          <input type="radio" id="kendaraan_ya" formControlName="kendaraan" class="custom-control-input" value="1" />
          <label class="custom-control-label">Ada</label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="kendaraan_tidak" formControlName="kendaraan" class="custom-control-input" value="0" />
          <label class="custom-control-label">Tidak</label>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jumlah Kendaraan</label>
        <div class="col-sm-8">
          <input
            type="text"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            id="jumlah_kendaraan"
            name="jumlah_kendaraan"
            placeholder=""
            formControlName="jumlah_kendaraan"
          />
          <span *ngIf="dataCalonNasabahForm.controls.jumlah_kendaraan.invalid" class="text-danger">Field Wajib Diisi </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kondisi Kendaraan</label>
        <div class="col-sm-8">
          <label class="custom-control-label">Baik</label>
          <input type="radio" id="kondisi_kendaraan_ya" class="custom-control-input" value="1" formControlName="kondisi_kendaraan" />
          <!--formControlName="kondisi_kendaraan"-->
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="kondisi_kendaraan_tidak" formControlName="kondisi_kendaraan" class="custom-control-input" value="0" />
          <label class="custom-control-label">Tidak Baik</label>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center" [hidden]="this.untukSessionRole === 'VER_PRE_SPV'">
      <button class="btn btn-info" [disabled]="dataCalonNasabahForm.invalid">Simpan Data</button>
    </div>
    <div class="col" style="text-align: center" [hidden]="this.untukSessionRole == 'VER_PRESCR'">
      <button type="button" (click)="Next()" class="btn btn-info">Selanjutnya</button>
    </div>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
