<form [formGroup]="kesimpulanForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <label class="col-sm-3 col-form-label">Hasil Analisa dan Verifikasi</label>
    <div class="col-sm-9">
      <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [disabled]="this.untukSessionRole == 'VER_PRESCR'"
        [placeholder]="'Tulis Disini. . .'"
        formControlName="kesimpulan"
      >
      </ngx-editor>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col" style="text-align: center">
      <label>Di Rekomendasikan</label>
      <input type="radio" style="height: 20px; width: 20px" formControlName="rekomendasi" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="height: 20px; width: 20px" formControlName="rekomendasi" value="0" />
      <label>Tidak Di Rekomendasikan</label>
    </div>
  </div>
  <br />
  <br />
  <div class="input-group" style="justify-content: center">
    <button type="button" (click)="next()" class="btn btn-info" [hidden]="this.untukSessionRole == 'VER_PRESCR'">Selanjutnya</button>
    <button
      type="submit"
      class="btn btn-info"
      [hidden]="
        this.sessionStorageService.retrieve('sessionRole') === 'VER_PRE_SPV' ||
        this.sessionStorageService.retrieve('sessionRole') === 'VER_PRE_SPV_2'
      "
    >
      Simpan Data
    </button>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
