<div class="row form-material">
  <label class="col-sm-3 col-form-label">Kesimpulan Hasil Investigasi</label>
  <div class="col-sm-9">
    <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [disabled]="false"
      [placeholder]="'Tulis Disini. . .'"
      formControlName="kesimpulan_hasil_investigasi"
    >
    </ngx-editor>
  </div>
</div>
<br/>
<div class="row form-material">
  <div class="col" style="text-align: center;">
    <label>Di Rekomendasikan</label>
    <input type="radio" name="rekomendasi">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="rekomendasi">
    <label>Tidak Di Rekomendasikan</label>
  </div>
</div>
<br/>
<br/>
<div class="input-group" style="justify-content: center">
  <button type="button"class="btn btn-info">Simpan Data</button>
</div>
