<body>
  <div class="content-body">
    <div class="container-fluid">
      <form
        id="data_entry_form"
        method="post"
        action="<?php echo site_url('data_entry/buatsaveeditjobinfo'); ?>"
        onsubmit="return validateFormJob()"
        required
      >
        <div class="card">
          <h4 class="card card-body gradient-9" style="text-align: center">Informasi Pekerjaan Nasabah</h4>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kategori Pekerjaan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                        type="text"
                        id="kategori_pekerjaan"
                        name="kategori_pekerjaan"
                        class="form-control"
                        value="{{ daWa.kategori_pekerjaan }}"
                        readonly
                      />
                    </div>
                    <div class="col-sm-9">
                      <input type="hidden" id="WADUH" name="WADUH" value="" class="form-control" />
                      <input type="hidden" id="status" name="status" class="form-control" value="" />
                      <input type="hidden" id="curef_id" name="curef_id" class="form-control" value="<?=$curef?>" />
                      <input type="hidden" id="id" name="id" value="<?=$id?>" class="form-control" />
                    </div>
                    <div class="col-sm-9">
                      <input type="hidden" id="app_no_de" name="app_no_de" value="" class="form-control" />
                      <input type="hidden" id="usia" name="usia" value="" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tipe Pekerjaan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="tipe_pekerjaan"
                        name="tipe_pekerjaan"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.tipe_pekerjaan }}">{{ daWa.tipe_pekerjaan }}</option>
                        <option *ngFor="let edittipepekerjaan of edittipepekerjaan" value="{{ edittipepekerjaan.job_desc }}">
                          {{ edittipepekerjaan.job_desc }}
                        </option>
                        <!-- <option><?=$tipe_pekerjaan?></option> -->
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Payroll :<span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <label class="radio-inline mr-3">
                        <input
                          type="radio"
                          name="optradio"
                          id="payroll"
                          value="1"
                          [checked]="daWa.payroll == 1"
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                        />Payroll</label
                      >
                      <label class="radio-inline mr-3">
                        <input
                          type="radio"
                          name="optradio"
                          id="payroll1"
                          value="0"
                          [checked]="daWa.payroll == 0"
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                        />Non Payroll</label
                      >
                    </div>
                  </div>
                </div>
                <div id="proHidePosisi" class="form-group row">
                  <label class="col-sm-3 col-form-label">Posisi</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="jabatan" name="posisi" [disabled]="this.untukSessionRole == 'BRANCHMANAGER'">
                        <option value="{{ daWa.tipe_pekerjaan }}">{{ daWa.tipe_pekerjaan }}</option>
                        <option *ngFor="let getjabatandariapi of getjabatandariapi" value="{{ getjabatandariapi.jabatan_deskripsi }}">
                          {{ getjabatandariapi.jabatan_deskripsi }}
                        </option>
                        <!-- note -->
                      </select>
                    </div>
                  </div>
                </div>
                <div id="proShowJenis" class="form-group row" style="display: none">
                  <label class="col-sm-3 col-form-label">Jenis Pekerjaan<span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="jenis_pekerjaan"
                        name="jenis_pekerjaan"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.jenis_pekerjaan }}">{{ daWa.jenis_pekerjaan }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nama Perusahaan</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="nama_perusahaan"
                      name="nama_perusahaan"
                      placeholder="Nama Perusahaan"
                      value="{{ daWa.nama_perusahaan }}"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Alamat</label>
                  <div class="col-sm-9">
                    <textarea
                      class="form-control h-150px"
                      rows="6"
                      id="comment"
                      id="alamat_perusahaan"
                      name="alamat_perusahaan"
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >{{ daWa.alamat_perusahaan }}</textarea
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Provinsi</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        (change)="onChange()"
                        id="provinsi_cabang"
                        name="provinsi"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.provinsi }}">{{ daWa.provinsi }}</option>
                        <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                          {{ daWaprof.namaWilayah }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kota</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        (change)="onChangekota()"
                        id="kabkota_cabang"
                        name="kabkota"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.kabkota }}">{{ daWa.kabkota }}</option>
                        <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                          {{ daWakota.namaWilayah }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kecamatan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        (change)="onChangekecamatan()"
                        id="kecamatan"
                        name="kecamatan"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.kecamatan }}">{{ daWa.kecamatan }}</option>
                        <option
                          *ngFor="let daWakecamatan of kecamatan"
                          value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}"
                        >
                          {{ daWakecamatan.namaWilayah }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kelurahan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        (change)="onChangekelurahan()"
                        id="kelurahan"
                        name="kelurahan"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.kelurahan }}">{{ daWa.kelurahan }}</option>
                        <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                          {{ daWakelurahan.namaWilayah }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kode Pos</label>
                  <div class="col-sm-9">
                    <div class="input-group mb-3">
                      <input
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                        type="tel"
                        onkeypress="return onlyNumberKey(event)"
                        maxlength="8"
                        class="form-control"
                        id="kode_pos"
                        name="kode_pos"
                        value="{{ daWa.kode_pos }}"
                      />
                      <div class="input-group-append">
                        <button
                          onclick="buatisi()"
                          class="btn btn-outline-dark"
                          id="kode_poshilang"
                          type="button"
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                        >
                          Cari Data
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">RT / RW</label>
                  <div class="col-sm-9">
                    <div class="form-row">
                      <div class="form-group col-md-5">
                        <input
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                          type="tel"
                          onkeypress="return onlyNumberKey(event)"
                          maxlength="3"
                          class="form-control"
                          placeholder="RT"
                          id="rt"
                          name="rt"
                          value="{{ daWa.rt }}"
                        />
                      </div>
                      <h2>/</h2>
                      <div class="form-group col-md-5">
                        <input
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                          type="tel"
                          onkeypress="return onlyNumberKey(event)"
                          class="form-control"
                          placeholder="RW"
                          maxlength="3"
                          id="rw"
                          name="rw"
                          value="{{ daWa.rw }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div id="hidden_siup" style="display: none">
                  <div class="form-group row">
                    <label id="changeLabelSiup" class="col-sm-3 col-form-label">Nomor SIUP<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                      <input
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                        type="tel"
                        onkeypress="return onlyNumberKey(event)"
                        maxlength="16"
                        id="no_siup"
                        name="no_siup"
                        value="{{ daWa.no_siup }}"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Jenis Bidang</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        (change)="jenisbidangselect()"
                        class="form-control"
                        id="jenis_bidang"
                        name="jenis_bidang"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.jenis_bidang }}">{{ daWa.jenis_bidang }}</option>
                        <option
                          *ngFor="let getjenisbidangdariapi of getjenisbidangdariapi"
                          value="{{ getjenisbidangdariapi.group_sektor }}|{{ getjenisbidangdariapi.nama_group_sektor }}"
                        >
                          {{ getjenisbidangdariapi.nama_group_sektor }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Sektor Ekonomi</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="jenis_sektor"
                        name="sektor_ekonomi"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.sektor_ekonomi }}">{{ daWa.sektor_ekonomi }}</option>
                        <option
                          *ngFor="let getdatasektorekonomi of getdatasektorekonomi"
                          value="{{ getdatasektorekonomi.nama_sub_sektor }}"
                        >
                          {{ getdatasektorekonomi.nama_sub_sektor }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row" hidden>
                  <label class="col-sm-3 col-form-label">Umur</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="tel"
                      class="form-control"
                      placeholder="Umur"
                      maxlength="90"
                      id="umur1"
                      name="umur1"
                      value="{{ daWa.kabkota }}"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Umur Pensiun</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="tel"
                      onkeypress="return onlyNumberKey(event)"
                      maxlength="2"
                      class="form-control"
                      placeholder="Umur Pensiun"
                      value="{{ daWa.umur_pensiun }}"
                      id="umur_pensiun"
                      name="umur_pensiun"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Lama Bekerja</label>
                  <div class="col-sm-9">
                    <div class="form-row">
                      <div class="col">
                        <input
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                          type="tel"
                          onkeypress="return onlyNumberKey(event)"
                          maxlength="2"
                          class="form-control"
                          placeholder="Tahun"
                          id="lama_bekerja_tahun"
                          name="lama_bekerja_tahun"
                          value="{{ daWa.lama_bekerja_tahun }}"
                        />
                      </div>
                      <span>Tahun</span><span class="text-danger">*</span>
                      <div class="col">
                        <input
                          [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                          type="tel"
                          onkeypress="return onlyNumberKey(event)"
                          maxlength="2"
                          class="form-control"
                          placeholder="Bulan"
                          id="lama_bekerja_bulan"
                          name="lama_bekerja_bulan"
                          value="{{ daWa.lama_bekerja_bulan }}"
                        />
                      </div>
                      <span>Bulan</span><span class="text-danger">*</span>
                    </div>
                  </div>
                </div>
                <div id="jumlahKaryawanFix" class="form-group row">
                  <label class="col-sm-3 col-form-label">Jumlah Karyawan</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="tel"
                      onkeypress="return onlyNumberKey(event)"
                      maxlength="13"
                      class="form-control"
                      placeholder="Jumlah Karyawan"
                      value="{{ daWa.jumlah_karyawan }}"
                      id="jumlah_karyawan"
                      name="jumlah_karyawan"
                    />
                  </div>
                </div>
                <div id="jumlahKaryawanNon" class="form-group row">
                  <label class="col-sm-3 col-form-label">Jumlah Karyawan<span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="jumlah_karyawan2"
                        name="jumlah_karyawan2"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.kabkota }}">{{ daWa.jumlah_karyawan }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Pendapatan</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="text"
                      class="form-control"
                      placeholder="Pendapatan"
                      value="{{ daWa.pendapatan }}"
                      id="pendapatan"
                      name="pendapatan"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Pendapatan Lain</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="text"
                      class="form-control"
                      placeholder="Pendapatan Lain"
                      value="{{ daWa.pendapatan_lain }}"
                      id="pendapatan_lain"
                      name="pendapatan_lain"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tunjangan</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="text"
                      class="form-control"
                      placeholder="Tunjangan"
                      value="{{ daWa.tunjangan }}"
                      id="tunjangan"
                      name="tunjangan"
                      onchange="dagu()"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Total Pendapatan</label>
                  <div class="col-sm-9">
                    <input
                      [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      type="text"
                      class="form-control"
                      placeholder="Total Pendapatan"
                      value="{{ daWa.total_pendapatan }}"
                      id="total_pendapatan"
                      name="total_pendapatan"
                      readonly
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tipe Perusahaan<span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="tipe_perusahaan"
                        name="tipe_perusahaan"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.tipe_perusahaan }}">{{ daWa.tipe_perusahaan }}</option>
                        <option
                          *ngFor="let gettipeperusahaandariapi of gettipeperusahaandariapi"
                          value="{{ gettipeperusahaandariapi.company_deskripsi }}"
                        >
                          {{ gettipeperusahaandariapi.company_deskripsi }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="hideJikaNFITipeKep" class="form-group row">
                  <label class="col-sm-3 col-form-label">Tipe Kepegawaian<span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="tipe_kepegawaian"
                        name="tipe_kepegawaian"
                        [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                      >
                        <option value="{{ daWa.tipe_kepegawaian }}">
                          {{ daWa.tipe_kepegawaian }}
                        </option>
                        <option value="1">Pegawai tetap</option>
                        <option value="2">Pegawai kontrak</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button
                  [disabled]="this.untukSessionRole == 'BRANCHMANAGER'"
                  type="submit"
                  id="btn"
                  (click)="updatejobinfo()"
                  name="updatedata"
                  value="updatedata"
                  class="btn btn-dark"
                  style="float: right"
                >
                  Update Data
                </button>
                <button type="submit" id="selanjutnya" name="selanjutnya" value="selanjutnya" class="btn btn-warning" style="float: right">
                  Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
                </button>

                <!-- <button  onclick="return window.validateFormJob()" type="submit" class="btn btn-dark" style="float: right;">Simpan</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- akhir dari informasi pekerjaan nasabah -->
      <!-- data table pekerjaan nasabah -->

      <!-- akhir dari data table nasabah -->
      <!-- pekerjaan sebelumnya -->

      <!-- akhir dari pekerjaan sebelumnya -->
    </div>
    <!-- #/ container -->
  </div>
</body>
