<nav data-cy="navbar" class="navbar navbar-light navbar-expand-md bg-light" *ngIf="this.sudahLogin">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
    <ul class="navbar-nav">
      <div *ngFor="let navbar of navbarParameterize">
        <li class="row nav-item">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="col nav-link"
            style="text-align: center"
            routerLink="{{ navbar.menu_url }}"
          >
            <fa-icon [icon]="navbar.menu_icon"></fa-icon>
            <p>{{ navbar.menu_name }}</p>
            <div *ngIf="navbar.menu_name === 'IDE'">
              <span
                routerLink="/initial-data-entryfix"
                hidden
                [queryParams]="{
                  kategori: this.kategori,
                  id: this.paramId,
                  kode_fasilitas: this.kode_fasilitas,
                  fasilitas: this.fasilitas
                }"
              ></span>
              <span
                routerLink="/hasilprescreening"
                [queryParams]="{
                  kategori: this.kategori,
                  id: this.paramId,
                  kode_fasilitas: this.kode_fasilitas,
                  fasilitas: this.fasilitas
                }"
                hidden
              ></span>
            </div>
            <div *ngIf="navbar.menu_name === 'Data Entry'">
              <span
                class="col nav-link"
                [routerLink]="['/data-entry/memo']"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
              <span
                class="col nav-link"
                [routerLink]="['/data-entry/personalinfo']"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
              <span
                class="col nav-link"
                [routerLink]="['/data-entry/job-info']"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
              <span
                class="col nav-link"
                [routerLink]="['/data-entry/editjobinfo']"
                [queryParams]="{
                  datakirimanid: this.datakirimanid,
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
              <span
                class="col nav-link"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                routerLink="data-entry/data-pasangan"
                hidden
              ></span>
              <span
                class="col nav-link"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                routerLink="data-entry/pekerjaan-pasangan"
                hidden
              ></span>
              <span
                class="col nav-link"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                routerLink="data-entry/collateral"
                hidden
              ></span>
              <span
                class="col nav-link"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de,
                  datakirimanid: this.datakirimanid
                }"
                routerLink="data-entry/editcollateral"
                hidden
              ></span>
              <span
                class="col nav-link"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                routerLink="data-entry/struktur-pembiayaan"
                hidden
              ></span>
              <span
                class="col nav-link"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                routerLink="data-entry/emergency-contact"
                hidden
              ></span>
              <span
                class="col nav-link"
                routerLink="data-entry/call-report"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              >
              </span>
              <span
                class="col nav-link"
                routerLink="data-entry/call-report-non"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
            </div>
            <div *ngIf="navbar.menu_name === 'Upload Document'">
              <span
                class="col nav-link"
                [routerLink]="['/upload_document/upload_document_de']"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
              <span
                class="col nav-link"
                [routerLink]="['/upload_document/upload_document_agunan']"
                [queryParams]="{
                  curef: this.curef,

                  app_no_de: this.app_no_de
                }"
                hidden
              ></span>
            </div>
            <div *ngIf="navbar.menu_name === 'Verification' && untukSessionRole === 'VER_PRE_SPV'">
              <span class="col nav-link" routerLink="daftar-aplikasi-waiting-assigment" hidden></span>
              <span class="col nav-link" routerLink="daftar-aplikasi-on-process" hidden></span>
              <span class="col nav-link" routerLink="daftar-review-spv1" hidden></span>
              <span class="col nav-link" routerLink="daftar-review-spv2" hidden></span>
              <span routerLink="/analisa-keuangan" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
              <span routerLink="/data-calon-nasabah" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
              <span routerLink="/data-kantor" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
              <span routerLink="/mutasi-rekening" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/sturktur-pembiayaan" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/checklist-document" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/syarat-persetujuan" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/kesimpulan" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/verification/memo" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
            </div>
            <div *ngIf="navbar.menu_name === 'Appraisal'">
              <span routerLink="/mapis" hidden [queryParams]="{ app_no_de: this.app_no_de }"></span>
            </div>
            <div *ngIf="navbar.menu_name === 'Verification' && untukSessionRole === 'VER_PRESCR'">
              <span routerLink="/analisa-keuangan" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
              <span routerLink="/data-calon-nasabah" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
              <span routerLink="/data-kantor" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
              <span routerLink="/mutasi-rekening" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/sturktur-pembiayaan" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/checklist-document" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/syarat-persetujuan" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/kesimpulan" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
              <span routerLink="/verification/memo" hidden [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"></span>
            </div>
            <div *ngIf="navbar.menu_name === 'APPROVAL'">
              <span routerLink="/komite/detail-komite" [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }" hidden></span>
            </div>
            <!--untuk parameter-->
            <div *ngIf="navbar.menu_name === 'Parameter1'">
              <span routerLink="/initial-data-entryfix" hidden></span>
              <span routerLink="/hasilprescreening" hidden></span>
            </div>
            <!--untuk marameter-->
            <div *ngFor="let child of childNavbar">
              <span [routerLink]="child.link" hidden></span>
            </div>
          </a>
        </li>
      </div>
      <!-- <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="users-gear"></fa-icon>
            <span>Parameterize</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li> -->
      <li
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon icon="users-cog"></fa-icon>
            <p jhiTranslate="global.menu.admin.main">Administration</p>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="eye" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.health">Health</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.logs">Logs</span>
            </a>
          </li>
          <li *ngIf="openAPIEnabled">
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.apidocs">API</span>
            </a>
          </li>
        </ul>
      </li>
      <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1" hidden>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon icon="flag"></fa-icon>
            <p jhiTranslate="global.menu.language">Language</p>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li>
      <li
        hidden
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          [routerLink]="'login'"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="account-menu"
          data-cy="accountMenu"
        >
          <span *ngIf="!account?.imageUrl">
            <fa-icon icon="user"></fa-icon>
            <span jhiTranslate="global.menu.account.main">Account</span>
          </span>
          <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.settings">Settings</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.password">Password</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
              <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.login">Sign in</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
              <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.register">Register</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Parameterize ADMINISTRATOR -->

  <!-- END of Parameterize ADMINISTRATOR -->

  <a class="nav-link" (click)="logout()" routerLinkActive="active">
    <div class="row" *ngIf="!account?.imageUrl">
      <div class="col" style="text-align: center">
        <fa-icon icon="user"></fa-icon>
        <p>{{ untukSessionUserName }} / {{ untukSessionRole }}</p>
      </div>
    </div>
  </a>
</nav>
<nav [ngSwitch]="untukSessionRole" class="nav nav-pills nav-justified" id="nk-sidebar">
  <div *ngFor="let child of childNavbar">
    <!-- <span>{{router.url}} {{child.link}} {{ router.url === '/'+ child.link }} {{ child.link === 'null' }}</span> -->
    <a
      [hidden]="router.url === '/' || router.url === '/home' || child.link === 'null'"
      class="nav-item nav-link"
      routerLink="{{ child.link }}"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <h6>{{ child.menu_name }}</h6>
    </a>
  </div>
  <div
    *ngIf="
      router.url === '/daftar-aplikasi-waiting-assigment' ||
      router.url === '/daftar-aplikasi-on-process' ||
      router.url === '/daftar-review-spv1' ||
      router.url === '/daftar-review-spv2'
    "
  >
    <a
      class="nav-item nav-link"
      routerLink="daftar-aplikasi-waiting-assigment"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="'VER_PRE_SPV'"
    >
      <h6>Daftar Aplikasi Waiting Assigment</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="daftar-aplikasi-on-process"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="'VER_PRE_SPV'"
    >
      <h6>Daftar Aplikasi On Process</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="daftar-review-spv1"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="'VER_PRE_SPV'"
    >
      <h6>Daftar Review SPV1</h6>
    </a>

    <!-- <a
    class="nav-item nav-link"
    routerLink="daftar-review-spv2"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="'VER_PRE_SPV_2'"
  >
    <h6>Daftar Review SPV2</h6>
  </a>   -->
  </div>
  <div
    *ngIf="
      router.url === '/analisa-keuangan' ||
      router.url === '/analisa-keuangan?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/data-calon-nasabah' ||
      router.url === '/data-calon-nasabah?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/data-kantor' ||
      router.url === '/data-kantor?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/mutasi-rekening' ||
      router.url === '/mutasi-rekening?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/sturktur-pembiayaan' ||
      router.url === '/sturktur-pembiayaan?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/checklist-document' ||
      router.url === '/checklist-document?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/syarat-persetujuan' ||
      router.url === '/syarat-persetujuan?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/kesimpulan' ||
      router.url === '/kesimpulan?app_no_de=' + this.app_no_de + '&curef=' + this.curef ||
      router.url === '/verification/memo' ||
      router.url === '/verification/memo?app_no_de=' + this.app_no_de + '&curef=' + this.curef
    "
  >
    <a
      class="nav-item nav-link"
      routerLink="checklist-document"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Checklist Document</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-calon-nasabah"
      [routerLinkActive]="'active'"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Detail Analisa</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-kantor"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Data Kantor</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="mutasi-rekening"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Mutasi Rekening</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="analisa-keuangan"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Analisa Keuangan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="sturktur-pembiayaan"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Struktur Pembiayaan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="syarat-persetujuan"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Syarat Persetujuan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="kesimpulan"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Kesimpulan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="verification/memo"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole == 'VER_PRE_SPV' || untukSessionRole == 'VER_PRESCR'"
    >
      <h6>Memo</h6>
    </a>
  </div>
  <div
    *ngIf="
      router.url ===
        '/initial-data-entryfix?kategori=' + this.kategori + '&kode_fasilitas=' + this.kode_fasilitas + '&fasilitas=' + this.fasilitas ||
      router.url === '/initial-data-entryfix?kategori=' + this.kategori + '&id=' + this.paramId ||
      router.url === '/hasilprescreening?kategori=' + this.kategori + '&id=' + this.paramId
    "
  >
    <a
      class="nav-item nav-link"
      [routerLink]="'/initial-data-entryfix'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
      [queryParams]="{
        kategori: this.kategori,
        id: this.paramId,
        kode_fasilitas: this.kode_fasilitas,
        fasilitas: this.fasilitas
      }"
    >
      <h6>Initial Data Entry</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        kategori: this.kategori,
        id: this.paramId,
        kode_fasilitas: this.kode_fasilitas,
        fasilitas: this.fasilitas
      }"
      routerLink="/hasilprescreening"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Hasil Pre Screening</h6>
    </a>
  </div>
  <div
    *ngIf="
      router.url === '/data-entry/personalinfo' ||
      router.url === '/data-entry/job-info' ||
      router.url === '/data-entry/data-pasangan' ||
      router.url === '/data-entry/pekerjaan-pasangan' ||
      router.url === '/data-entry/collateral' ||
      router.url === '/data-entry/struktur-pembiayaan' ||
      router.url === '/data-entry/emergency-contact' ||
      router.url === '/data-entry/call-report' ||
      router.url === '/data-entry/memo' ||
      router.url === '/data-entry/memo?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/personalinfo?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/job-info?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/data-pasangan?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/pekerjaan-pasangan?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/collateral?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url ===
        '/data-entry/editcollateral?curef=' + this.curef + '&app_no_de=' + this.app_no_de + '&datakirimanid=' + this.datakirimanid ||
      router.url === '/data-entry/struktur-pembiayaan?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/emergency-contact?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/data-entry/call-report?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url ===
        '/data-entry/editjobinfo?app_no_de=' + this.app_no_de + '&curef=' + this.curef + '&datakirimanid=' + this.datakirimanid ||
      (router.url === '/upload_document/upload_document_de?curef=' + this.curef + '&app_no_de=' + this.app_no_de &&
        untukSessionRole === 'BRANCHMANAGER') ||
      (router.url === '/upload_document/upload_document_agunan?curef=' + this.curef + '&app_no_de=' + this.app_no_de &&
        untukSessionRole === 'BRANCHMANAGER') ||
      (router.url === '/upload_document/upload_document_de?curef=' + this.curef + '&app_no_de=' + this.app_no_de &&
        untukSessionRole === 'VER_PRE_SPV') ||
      (router.url === '/upload_document/upload_document_agunan?curef=' + this.curef + '&app_no_de=' + this.app_no_de &&
        untukSessionRole === 'VER_PRE_SPV')
    "
  >
    <!-- <div>
    <a class="nav-item nav-link active" [class.active]="this.app_no_de != null" routerLink="data-entry/personalinfo" *ngSwitchCase="'AO'">
      <h6>Personal Info</h6>
    </a> -->
    <a
      class="nav-item nav-link"
      [routerLink]="['/data-entry/personalinfo']"
      [queryParams]="{
        curef: this.curef,

        app_no_de: this.app_no_de
      }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Personal Info</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="['/data-entry/job-info']"
      [queryParams]="{
        curef: this.curef,

        app_no_de: this.app_no_de
      }"
      routerLink="data-entry/job-info"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <span
        class="col nav-link"
        [routerLink]="['/data-entry/editjobinfo']"
        [queryParams]="{
          datakirimanid: this.datakirimanid,
          curef: this.curef,

          app_no_de: this.app_no_de
        }"
        hidden
      ></span>
      <h6>Job Info</h6>
    </a>
    <a
      [hidden]="statusPerkawinan === 'BELUM KAWIN' || statusPerkawinan === 'CERAI MATI' || statusPerkawinan === 'CERAI HIDUP'"
      class="nav-item nav-link"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      routerLink="data-entry/data-pasangan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Data Pasangan</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      routerLink="data-entry/pekerjaan-pasangan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
      [hidden]="
        this.modelIde.fasilitas_name === 'PTA' ||
        statusPerkawinan === 'BELUM KAWIN' ||
        statusPerkawinan === 'CERAI MATI' ||
        statusPerkawinan === 'CERAI HIDUP'
      "
    >
      <h6>Pekerjaan Pasangan</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      routerLink="data-entry/collateral"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
      [hidden]="this.modelIde.fasilitas_name === 'PTA'"
    >
      <span
        class="col nav-link"
        [queryParams]="{
          curef: this.curef,

          app_no_de: this.app_no_de,
          datakirimanid: this.datakirimanid
        }"
        routerLink="data-entry/editcollateral"
        hidden
      ></span>
      <h6>Collateral</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        curef: this.curef,

        app_no_de: this.app_no_de
      }"
      routerLink="data-entry/struktur-pembiayaan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Struktur Pembiayaan</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        curef: this.curef,

        app_no_de: this.app_no_de
      }"
      routerLink="data-entry/emergency-contact"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Emergency Contact</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/call-report"
      [queryParams]="{
        curef: this.curef,

        app_no_de: this.app_no_de
      }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Call Report</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="upload_document/upload_document_de"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Upload Document Data Entry</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="upload_document/upload_document_agunan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      *ngIf="untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
      [hidden]="dataEntry.kode_fasilitas_name === 'PTA'"
    >
      <h6>Upload Document Agunan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/memo"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      *ngIf="untukSessionRole === 'AO' || untukSessionRole === 'VER_PRE_SPV' || untukSessionRole === 'BRANCHMANAGER'"
    >
      <h6>Memo</h6>
    </a>
  </div>
  <div
    *ngIf="
      router.url === '/upload_document/upload_document_de' ||
      router.url === '/upload_document/upload_document_de?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/upload_document/upload_document_agunan?curef=' + this.curef + '&app_no_de=' + this.app_no_de ||
      router.url === '/upload_document/upload_document_agunan'
    "
  >
    <a
      class="nav-item nav-link"
      routerLink="upload_document/upload_document_de"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Upload Document Data Entry</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="upload_document/upload_document_agunan"
      [queryParams]="{
        curef: this.curef,
        app_no_de: this.app_no_de
      }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
      [hidden]="dataEntry.kode_fasilitas_name === 'PTA'"
    >
      <h6>Upload Document Agunan</h6>
    </a>
  </div>
  <div *ngIf="router.url === '/komite/detail-komite?app_no_de=' + this.app_no_de + '&curef=' + this.curef">
    <a
      class="nav-item nav-link"
      routerLink="/komite/detail-komite"
      [queryParams]="{ app_no_de: this.app_no_de, curef: this.curef }"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'KOMITE'"
    >
      <h6>Detail Approval</h6>
    </a>
  </div>
  <div *ngIf="router.url === '/main-parameter-scoring' || router.url === '/input-scoring-manual'">
    <a
      class="nav-item nav-link"
      routerLink="main-parameter-scoring"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'MAN_RISK'"
    >
      <h6>Group Parameter Scoring</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="input-scoring-manual"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'MAN_RISK'"
    >
      <h6>Parameter Scoring</h6>
    </a>
  </div>
  <!--  untuk parameter -->
  <div *ngIf="router.url === '/parameterjob'">
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterjob'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Jabatan</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterjob1'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Jenis Pekerjaan</h6>
    </a>
  </div>
  <!-- untuk parameter -->

  <!--  untuk parameter agunan -->
  <div
    *ngIf="
      router.url === '/parameteragunan' ||
      router.url === '/parameteragunandeveloper' ||
      router.url === '/parameteragunanfasilitaslistrik' ||
      router.url === '/parameteragunanhubkepemilikanagunan'
    "
  >
    <a
      class="nav-item nav-link"
      [queryParams]="{
        kategori: this.kategori,
        id: this.paramId,
        kode_fasilitas: this.kode_fasilitas,
        fasilitas: this.fasilitas
      }"
      routerLink="/parameteragunan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Akses rumah</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/parameteragunandeveloper"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Developer</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/parameteragunanfasilitaslistrik"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Fasilitas Listrik</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/parameteragunanhubkepemilikanagunan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Hub Kepemilikan Agunan</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        kategori: this.kategori,
        id: this.paramId,
        kode_fasilitas: this.kode_fasilitas,
        fasilitas: this.fasilitas
      }"
      routerLink="/hasilprescreening"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Jenis Objek Agunan</h6>
    </a>
  </div>
  <!-- untuk parameteragunan  -->

  <!--  untuk parameterstruktur -->
  <div
    *ngIf="
      router.url === '/parameterstruktur' ||
      router.url === '/parameterstrukturprogram' ||
      router.url === '/parameterstrukturproduk' ||
      router.url === '/parameterstrukturskema' ||
      router.url === '/parameterstrukturskemafasilitas' ||
      router.url === '/parameterstrukturmarginfix' ||
      router.url === '/parameterstrukturmarginstepup'
    "
  >
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstruktur'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Fasilitas</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstrukturprogram'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Program</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstrukturproduk'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Produk</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstrukturskema'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Skema</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstrukturskemafasilitas'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Skema Fasilitas</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstrukturmarginfix'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Margin Fix</h6>
    </a>
    <a
      class="nav-item nav-link"
      [routerLink]="'/parameterstrukturmarginstepup'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter Margin Step Up</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        kategori: this.kategori,
        id: this.paramId,
        kode_fasilitas: this.kode_fasilitas,
        fasilitas: this.fasilitas
      }"
      routerLink="/hasilprescreening"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter FTP DP</h6>
    </a>
    <a
      class="nav-item nav-link"
      [queryParams]="{
        kategori: this.kategori,
        id: this.paramId,
        kode_fasilitas: this.kode_fasilitas,
        fasilitas: this.fasilitas
      }"
      routerLink="/hasilprescreening"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'ADMIN_CFBD'"
    >
      <h6>Parameter FTP DP Detail</h6>
    </a>
  </div>
  <!-- untuk parameterstruktur -->
</nav>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
