<nav data-cy="navbar" class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <!-- <span jhiTranslate="global.title" class="navbar-title">BetaNewEfos</span>
      <span class="navbar-version">{{ version }}</span> -->
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav">
        <li class="row nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="col nav-link" style="text-align: center" routerLink="/" [class.active]="navHome" (click)="hideData()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <p jhiTranslate="global.menu.home">Home</p>
            </span>
          </a>
        </li>
        <div [ngSwitch]="untukSessionRole">
          <div *ngSwitchCase="'AO'">
            <li class="row nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a
                class="col nav-link"
                style="text-align: center"
                routerLink="daftaraplikasiide"
                (click)="showData()"
                [class.active]="navIde"
              >
                <fa-icon icon="address-card"></fa-icon>
                <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> <i class="fa-thin fa-address-card"></i>-->
                <p>Initial Data Entry</p>
              </a>
            </li>
          </div>
        </div>
        <div [ngSwitch]="untukSessionRole">
          <div *ngSwitchCase="'APPRAISAL'">
            <li id="verificationNav" class="row nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a
                class="col nav-link"
                routerLink="daftar-aplikasi-verification"
                (click)="showData()"
                [class.active]="navVerif"
                style="text-align: center"
              >
                <fa-icon icon="user-check"></fa-icon>
                <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
                <p>Verification</p>
              </a>
            </li>
          </div>
        </div>
        <div [ngSwitch]="untukSessionRole">
          <div *ngSwitchCase="'AO'">
            <li class="row nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a
                class="col nav-link"
                style="text-align: center"
                routerLink="data-entry"
                (click)="collapseNavbar()"
                (click)="showData()"
                [class.active]="navDe"
              >
                <fa-icon icon="pencil-square"></fa-icon>
                <!-- <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon> -->
                <p>Data Entry</p>
              </a>
            </li>
          </div>
        </div>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <!-- <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span jhiTranslate="global.menu.entities.main">Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="book"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.book">Book</span>
              </a>
            </li>
          </ul>
        </li> -->
        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon icon="users-cog"></fa-icon>
              <p jhiTranslate="global.menu.admin.main">Administration</p>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="eye" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1" hidden>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon icon="flag"></fa-icon>
              <p jhiTranslate="global.menu.language">Language</p>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
                >{{ language | findLanguageFromKey }}</a
              >
            </li>
          </ul>
        </li>
        <li
          hidden
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link dropdown-toggle"
            [routerLink]="'login'"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="account-menu"
            data-cy="accountMenu"
            style="border-left: disabled; border-right: disabled; border-bottom: disabled"
          >
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Account</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <a class="nav-link" [routerLink]="'/'" (click)="login()" routerLinkActive="active">
      <div class="row" *ngIf="!account?.imageUrl">
        <div class="col" style="text-align: center">
          <fa-icon icon="user"></fa-icon>
          <p>{{ untukSessionUserName }} / {{ untukSessionRole }}</p>
        </div>
        <!-- <span>{{untukSessionRole}}</span>
        <span>{{untukSessionUserName}}</span>
        <span>{{untukSessionFullName}}</span>
        <span>{{untukSessionKodeCabang}}</span> -->
      </div>
    </a>
  </div>
</nav>
<nav [ngSwitch]="untukSessionRole" class="nav nav-pills nav-justified" id="nk-sidebar" *ngIf="element == true">
  <a
    class="nav-item nav-link"
    routerLink="daftar-aplikasi-waiting-assigment"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngSwitchCase="'BM'"
  >
    <h6>Daftar Aplikasi Waiting Assigment</h6>
  </a>
  <a
    class="nav-item nav-link"
    routerLink="daftar-aplikasi-on-process"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngSwitchCase="'BM'"
  >
    <h6>Daftar Aplikasi On Process</h6>
  </a>
  <a
    class="nav-item nav-link"
    routerLink="daftar-aplikasi-waiting-update-status"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngSwitchCase="'BM'"
  >
    <h6>Daftar Aplikasi Waiting Update Satatus</h6>
  </a>
  <div
    *ngIf="
      router.url === '/analisa-keuangan' ||
      router.url === '/data-calon-nasabah' ||
      router.url === '/data-kantor' ||
      router.url === '/mutasi-rekening' ||
      router.url === '/sturktur-pembiayaan' ||
      router.url === '/checklist-document' ||
      router.url === '/surat-persetujuan'
    "
  >
    <a
      class="nav-item nav-link"
      routerLink="analisa-keuangan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Analisa Keuangan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-calon-nasabah"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Detail Analisa</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-kantor"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Data Kantor</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="mutasi-rekening"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Mutasi Rekening</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="sturktur-pembiayaan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Struktur Pembiayaan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="checklist-document"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Checklist Document</h6>
    </a>
    <a
      hidden
      class="nav-item nav-link"
      routerLink="surat-persetujuan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'APPRAISAL'"
    >
      <h6>Surat Persetujuan</h6>
    </a>
  </div>
  <div
    *ngIf="
      router.url === '/initial-data-entryfix' ||
      router.url === '/initial-data-entrynon' ||
      router.url === '/editidenon' ||
      router.url === '/editidefix'
    "
  >
    <!-- [routerLink]="['/initial-data-entryfix'] || ['/initial-data-entrynon'] || ['/editidenon'] || ['/editidefix']" -->
    <a
      class="nav-item nav-link"
      [routerLink]="['/initial-data-entryfix' || '/initial-data-entrynon']"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Initial Data Entry</h6>
    </a>
    <a
      hidden
      class="nav-item nav-link"
      routerLink=""
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Hasil Pre Screening</h6>
    </a>
  </div>
  <!-- <div
    *ngIf="
      router.url === 'data-entry/personalinfo' ||
      router.url === 'data-entry/job-info' ||
      router.url === 'data-entry/data-pasangan' ||
      router.url === 'data-entry/pekerjaan-pasangan' ||
      router.url === 'data-entry/collateral' ||
      router.url === 'data-entry/struktur-pembiayaan' ||
      router.url === 'data-entry/emergency-contact' ||
      router.url === 'data-entry/call-report' ||
      router.url === 'data-entry/call-report-non' ||
      router.url === 'data-entry/memo'
    "
  > -->
  <input type="text" value="{{ this.app_no_de == null }}" />
  <!-- [routerLink]="['data-entry/personalinfo', this.app_no_de]" -->
  <div>
    <a class="nav-item nav-link active" [class.active]="this.app_no_de != null" routerLink="data-entry/personalinfo" *ngSwitchCase="'AO'">
      <h6>Personal Info</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/job-info"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Job Info</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/data-pasangan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Data Pasangan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/pekerjaan-pasangan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Pekerjaan Pasangan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/collateral"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Collateral</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/struktur-pembiayaan"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Struktur Pembiayaan</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/emergency-contact"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Emergency Contact</h6>
    </a>
    <a
      hidden
      class="nav-item nav-link"
      routerLink="data-entry/duplicate-checking"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Blacklist / Duplicate Checking</h6>
    </a>
    <a
      hidden
      class="nav-item nav-link"
      routerLink="data-entry/scoring"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Scoring</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/call-report"
      routerLink="data-entry/call-report-non"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Call Report</h6>
    </a>
    <a
      class="nav-item nav-link"
      routerLink="data-entry/memo"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngSwitchCase="'AO'"
    >
      <h6>Memo</h6>
    </a>
  </div>
</nav>
