@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-light-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  // padding-right: 45rem;

  a.nav-link {
    font-weight: 400;
    color: #8567d3;
    filter: blur(1px);
  }
  a.nav-link:hover {
    // background-color: #ddd;
    color: black;
    filter: blur(0px);
  }
  a.nav-link.active {
    // background-color: #ddd;
    color: #8567d3;
    filter: blur(0px);
  }
}
#nk-sidebar {
  overflow: hidden;
  background-color: #f8f8f8;
}

#nk-sidebar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

#nk-sidebar a:hover {
  background-color: #ddd;
  color: black;
}

#nk-sidebar a.active {
  background-color: #8567d3;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/bank-mega-syariah.png') no-repeat center center;
  background-size: contain;
}

/* ==========================================================================
Parameterize ADMINISTRATOR
===========================================================================*/
