<br />
<br />
<br />
<div style="background-image: linear-gradient(to right, #ffffff 10%, #8567d3 100%, #ffffff 10%)">
  <span class="logo-compact"><img src="../../content/images/bank-mega-syariah.png" alt="" width="80" height="60" /></span>
  <strong><h1>Electronic Financing Origination System</h1></strong>
  <h5>Silahkan Login dengan input user id dan Password</h5>
  <!-- <div class="d-flex justify-content-center"> -->
  <!-- </div> -->
</div>
<br />
<br />
<br />
<div class="col-lg-6 col-md-8 col-sm-10">
  <!-- <h1 jhiTranslate="login.title" data-cy="loginTitle">Sign in</h1>
  <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
    <strong>Failed to sign in!</strong> Please check your credentials and try again.
  </div> -->
  <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="row form-material">
      <div class="col">
        <!-- <label class="username-label" for="username">User Id</label> -->
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="Masukkan User Id Anda"
          formControlName="username"
          #username
          data-cy="username"
        />
        <!-- placeholder="{{ 'global.form.username.placeholder' | translate }}" -->
      </div>

      <div class="col">
        <!-- <label for="password" jhiTranslate="login.form.password">Password</label> -->
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Masukkan Password Anda"
          formControlName="password"
          data-cy="password"
        />
        <!-- placeholder="{{ 'login.form.password.placeholder' | translate }}" -->
      </div>
      <div class="form-check">
        <input class="form-control" type="text" name="app" id="app" formControlName="app" value="efo" hidden />
      </div>
    </div>

    <!-- <div class="form-check">
      <label class="form-check-label" for="rememberMe">
        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
        <span jhiTranslate="login.form.rememberme">Remember me</span>
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>
  </form>
  <!-- <div class="mt-3 alert alert-warning">
    <a class="alert-link" routerLink="/account/reset/request" jhiTranslate="login.password.forgot" data-cy="forgetYourPasswordSelector"
      >Did you forget your password?</a
    >
  </div>

  <div class="alert alert-warning">
    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
    <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
  </div> -->
</div>
