<br />
<div class="row">
  <!-- custom Home -->
  <div class="col-md-4">
    <div class="kartu">
      <div class="imgBx">
        <img src="../../content/images/book.jpg" />
      </div>
      <div class="konten">
        <div class="details">
          <h2>Panduan Product<br /><span>Informasi Product dan Program yang aktif di Bank Mega Syariah</span></h2>
          <div class="data">
            <h3>
              <span>
                Informasi seluruh program dan product, untuk program seperti FLPP, Program PTA bahkan ringan. Untuk produk seperti Griya
                pada menu akan dijelaskan ketentuan dan SOP setiap program dan product.
              </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="kartu" (click)="nextPembiayaan()">
      <div class="imgBx">
        <img src="../../content/images/home-icon.jpg" />
      </div>
      <div class="konten">
        <div class="details-2">
          <h2>Pengajuan Pembiayaan<br /><span>Pengajuan Pembiayaan Konsumen</span></h2>
          <div class="data">
            <h3>
              <span> AO dapat mengajukan pembiayaan pada menu ini bentuk form aplikasi </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="kartu">
      <div class="imgBx">
        <img src="../../content/images/calculator.jpg" />
      </div>
      <div class="konten">
        <div class="details-3">
          <h2>Simulasi Pembiayaan<br /><span>Simulasi Pembiayaan Konsumen</span></h2>
          <div class="data">
            <h3>
              <span>
                AO dapat menginput simulasi Pembiayaan dan akan mendapatkan informasi angsuran pada Pembiayaan yang Akan di ajukan
              </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
