<div class="row">
  <div class="col" style="text-align: center">
    <h5 text-align="center">Fix Income</h5>
    <p></p>
    <span class="fixLogo"></span>
    <br />
    <p>Fasilitas : PPR</p>
    <p>Fasilitas : PTA</p>
    <p>Fasilitas : KTM</p>
  </div>
  <div class="col" style="text-align: center">
    <h5 text-align="center">Non Fix Income</h5>
    <p></p>
    <span class="nonLogo"></span>
    <br />
    <p>Fasilitas : PPR</p>
    <p>Plafond > 500 Juta</p>
  </div>
</div>
<div class="row">
  <div class="col" style="text-align: center">
    <input class="btn btn-dark" (click)="gotofix('1')" type="button" value="Pilih" />
  </div>
  <div class="col" style="text-align: center">
    <input class="btn btn-dark" (click)="gotonon('2')" type="button" value="Pilih" />
  </div>
</div>
