<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Daftar Collateral</h3>
</div>
<p></p>
<p></p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead style="background-color: grey">
      <tr>
        <th scope="col" style="text-align: center; color: #fff">
          <span>No</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Tipe Agunan</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Status</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Jenis Objek</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Harga Objek</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Aksi</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let daWa of daWa; index as i">
        <td style="text-align: center" scope="col">{{ i + 1 }}</td>
        <td style="text-align: center" scope="col">{{ daWa.tipe_agunan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.provinsi_agunan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.tipe_agunan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.harga_objek }}</td>
        <td style="text-align: center">
          <button type="button" class="btn btn-outline-info">
            <fa-icon icon="eye"></fa-icon>
            <span class="d-none d-md-inline">Detail</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col" style="text-align: center">
    <button type="submit" id="selanjutnya" (click)="goto()" name="selanjutnya" value="selanjutnya" class="btn btn-warning">
      Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
    </button>
  </div>
</div>
