<div class="table-responsive">
  <table class="table table-striped">
    <thead style="background-color: grey">
      <tr>
        <th scope="col" style="text-align: center; color: #fff">
          <span>No</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Nomor Aplikasi</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Nama Pemohon</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Program</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Tipe Pekerjaan</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Verification</span>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <form action=""></form>
    <tbody>
      <tr *ngFor="let daWa of daWa">
        <!-- <td style="text-align: center" scope="col">{{ i + 1 }}</td> -->
        <!-- <td style="text-align: center;" scope="col">{{ daWa.id }}</td> -->
        <td style="text-align: center" scope="col">{{ daWa.tipe_agunan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.provinsi_agunan }}</td>
        <td style="text-align: center" scope="col">{{ daWa.status_active }}</td>
        <td style="text-align: center" scope="col">{{ daWa.id_collateral_detail }}</td>
        <td style="text-align: center" scope="col">{{ daWa.id_collateral }}</td>
        <!-- (change)="getProoduct(daWa.isSelected, daWa.app_no_de)" -->
        <!-- <td> <input   (change)="getProoduct($event, daWa.app_no_de ,i+1)"  type="checkbox" > </td> -->
        <td class="text-end">
          <div class="btn-group">
            <!-- <button type="button" (click)="viewdataentry( daWa.app_no_de)"  class="btn btn-outline-info"> -->
            <!-- <fa-icon icon="eye"></fa-icon>
                          <span class="d-none d-md-inline">Detail</span>
                        </button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button type="submit" id="selanjutnya" (click)="goto()" name="selanjutnya" value="selanjutnya" class="btn btn-warning" style="float: right">
  Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
</button>
