<div [ngSwitch]="tambahatautidak">
  <div *ngSwitchCase="'benar'">
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Collateral</h3>
    </div>
    <br />
    <br />
    <form [formGroup]="collateralForm" (ngSubmit)="createcollateral()">
      <div class="row form-material">
        <div class="col">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tipe Agunan</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select
                  class="form-control"
                  id="tipe_agunan"
                  formControlName="tipe_agunan"
                  (change)="agunanChange(this.collateralForm.get('tipe_agunan')?.value)"
                >
                  <option selected value="">Pilih Tipe Agunan</option>
                  <option *ngFor="let listTipeAgunan of listTipeAgunan" value="{{ listTipeAgunan.type_collateral_code }}">
                    {{ listTipeAgunan.collateral_deskripsi }}
                  </option>
                </select>
              </div>
              <span
                [hidden]="
                  collateralForm.controls.tipe_agunan.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Objek</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="jenis_objek" id="jenis_objek">
                  <option selected value="">Pilih Jenis Objek</option>
                  <option *ngFor="let objekAgunan of objekAgunan" value="{{ objekAgunan.jenis_objek_code }}">
                    {{ objekAgunan.jenis_objek_deskripsi }}
                  </option>
                </select>
              </div>
              <span
                [hidden]="
                  collateralForm.controls.jenis_objek.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
            </div>
          </div>
          <br />
          <div class="form-group row" *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Tipe Kendaraan</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="tipe_kendaraan" id="tipe_kendaraan2">
                  <option value="">Pilih Kendaraan</option>
                  <option *ngFor="let listKendaraan of listKendaraan" value="{{ listKendaraan.deskripsi }}">
                    {{ listKendaraan.deskripsi }}
                  </option>
                </select>
              </div>
              <span
                [hidden]="
                  collateralForm.controls.tipe_kendaraan.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Merek</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Merek" formControlName="merk" id="merk2" />
              <span
                [hidden]="
                  collateralForm.controls.merk.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Model</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Model" formControlName="model" id="model2" />
              <span
                [hidden]="
                  collateralForm.controls.model.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Seri</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Seri" formControlName="seri" id="seri2" />
              <span
                [hidden]="
                  collateralForm.controls.seri.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'"
            [hidden]="this.collateralForm.get('status_agunan')?.value == 'baru'"
          >
            <label class="col-sm-4 col-form-label">No BPKB</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" placeholder="No BPKB" formControlName="nomor_bpkb" id="nomor_bpkb2" />
              <span
                [hidden]="
                  collateralForm.controls.nomor_bpkb.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Hubungan Anatara Pemegang Hak dan Calon Nasabah</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="hubungan_pemegang_hak" id="jenis_objek">
                  <option value="">Pilih Hubungan</option>
                  <option *ngFor="let pemegangHak of pemegangHak" value="{{ pemegangHak.deskripsi }}">
                    {{ pemegangHak.deskripsi }}
                  </option>
                </select>
                <br />
                <input
                  *ngIf="this.collateralForm.get('hubungan_pemegang_hak')?.value == 'Lainya'"
                  type="text"
                  class="form-control"
                  id="hubungan_pemegang_hak_input"
                  formControlName="hubungan_pemegang_hak_input"
                />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.hubungan_pemegang_hak.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01' || this.collateralForm.get('tipe_agunan')?.value == 'H01'"
          >
            <label class="col-sm-4 col-form-label">Tipe Property</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="tipe_properti" id="jenis_objek">
                  <option value="">Pilih Tipe Properti</option>
                  <option *ngFor="let tipeProperti of tipeProperti" value="{{ tipeProperti.properti_deskripsi }}">
                    {{ tipeProperti.properti_deskripsi }}
                  </option>
                </select>
              </div>
              <span
                [hidden]="
                  collateralForm.controls.tipe_properti.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <br />
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'H01'">
            <label class="col-sm-4 col-form-label">Status Agunan</label>
            <div class="col">
              <label>Baru</label>
              <input type="radio" formControlName="status_agunan" value="baru" />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" formControlName="status_agunan" value="second" />
              <label>Second</label>
            </div>
            <br />
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'H01'">
            <label class="col-sm-4 col-form-label"></label>
            <div class="col">
              <input
                type="radio"
                formControlName="status_developer"
                value="pks"
                [hidden]="this.collateralForm.get('status_agunan')?.value == 'second'"
              />
              <label [hidden]="this.collateralForm.get('status_agunan')?.value == 'second'">PKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="radio" formControlName="status_developer" value="non pks" />
              <label>NON PKS</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" formControlName="status_developer" value="perorangan" />
              <label>Perorangan</label>
            </div>
            <br />
            <br />
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'H01'">
            <label class="col-sm-4 col-form-label">{{
              this.collateralForm.get('tipe_agunan')?.value == 'C01' ? 'Penjual' : 'Developer'
            }}</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select
                  *ngIf="this.collateralForm.get('status_developer')?.value == 'pks'"
                  class="form-control"
                  formControlName="developer"
                >
                  <option value="">Pilih Developer</option>
                  <option *ngFor="let listDeveloper of listDeveloper" value="{{ listDeveloper.nama_developer }}">
                    {{ listDeveloper.nama_developer }}
                  </option>
                </select>
                <input
                  *ngIf="
                    this.collateralForm.get('status_developer')?.value == 'non pks' ||
                    this.collateralForm.get('status_developer')?.value == 'perorangan'
                  "
                  type="text"
                  class="form-control"
                  formControlName="developer"
                />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.developer.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
            </div>
            <br />
          </div>
          <br />
          <div
            class="form-group row"
            [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01' || this.collateralForm.get('tipe_agunan')?.value == 'H01'"
          >
            <label class="col-sm-4 col-form-label">Sama Dengan Jaminan Sebelumnya</label>
            <div class="col">
              <label>Ya</label>
              <input type="radio" formControlName="status_jaminan_sebelumnya" value="1" />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" formControlName="status_jaminan_sebelumnya" value="0" />
              <label>Tidak</label>
            </div>
            <br />
          </div>
        </div>
        <div class="col">
          <!-- CR Manrisk -->
          <div class="form-group row" *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Negara Produsen</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="negara_produsen">
                  <option value="">Pilih Data</option>
                  <option *ngFor="let negaraProdusen of negaraProdusen" value="{{ negaraProdusen.deskripsi }}">
                    {{ negaraProdusen.deskripsi }}
                  </option>
                </select>
              </div>
              <br />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Objek Berwawasan Lingkungan</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="berwawasan_lingkungan">
                  <option value="">Pilih Data</option>
                  <option value="Ya">Ya</option>
                  <option value="Tidak">Tidak</option>
                </select>
              </div>
              <br />
            </div>
          </div>
          <!-- CR Manrisk -->
          <!-- CR Manrisk -->
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'H01'">
            <label class="col-sm-4 col-form-label">Tahun dibangun (YYYY)</label>
            <div class="col-sm-8">
              <input
                class="form-control"
                type="text"
                formControlName="tahun_dibuat"
                minlength="4"
                (keypress)="keyPressNumbers($event)"
                (input)="hitungUsiaBangunan(this.collateralForm.get('tahun_dibuat')?.value)"
              />
              <span
                [hidden]="
                  collateralForm.controls.tahun_dibuat.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Usia Kendaraan</label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input
                  readonly
                  class="form-control"
                  type="text"
                  minlength="4"
                  maxlength="4"
                  formControlName="usia_bangunan"
                  (keypress)="keyPressNumbers($event)"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Tahun</span>
                </div>
              </div>
              <br />
            </div>
          </div>
          <!-- CR Manrisk -->
          <!-- BRD Baru -->
          <div class="form-group row" hidden>
            <!-- *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'" -->
            <label class="col-sm-4 col-form-label">Nomor Surat Pemesanan Kendaraan (SPK)</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
              <br />
            </div>
          </div>
          <br />
          <div class="form-group row" hidden>
            <!-- *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'" -->
            <label class="col-sm-4 col-form-label">Nomor Faktur</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
              <br />
            </div>
          </div>
          <!-- BRD Baru -->
          <div
            class="form-group row"
            *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'"
            [hidden]="this.collateralForm.get('status_agunan')?.value == 'baru'"
          >
            <label class="col-sm-4 col-form-label">No Plat</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" placeholder="No Plat" formControlName="no_plat" id="no_plat" maxlength="12" />
              <span
                [hidden]="
                  collateralForm.controls.no_plat.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'"
            [hidden]="this.collateralForm.get('status_agunan')?.value == 'baru'"
          >
            <label class="col-sm-4 col-form-label">Warna</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Warna" formControlName="warna" id="warna" />
              <span
                [hidden]="
                  collateralForm.controls.warna.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'"
            [hidden]="this.collateralForm.get('status_agunan')?.value == 'baru'"
          >
            <label class="col-sm-4 col-form-label">No Mesin</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" placeholder="No Mesin" formControlName="no_mesin" id="no_mesin" />
              <span
                [hidden]="
                  collateralForm.controls.no_mesin.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'"
            [hidden]="this.collateralForm.get('status_agunan')?.value == 'baru'"
          >
            <label class="col-sm-4 col-form-label">No Rangka</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" placeholder="No Rangka" formControlName="no_rangka" id="no_rangka" />
              <span
                [hidden]="
                  collateralForm.controls.no_rangka.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'C01'"
            [hidden]="this.collateralForm.get('status_agunan')?.value == 'baru'"
          >
            <label class="col-sm-4 col-form-label">Nama BPKB</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Nama BPKB" formControlName="nama_bpkb" id="nama_bpkb" />
              <span
                [hidden]="
                  collateralForm.controls.nama_bpkb.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01' || this.collateralForm.get('tipe_agunan')?.value == 'H01'"
          >
            <label class="col-sm-4 col-form-label">Usia Bangunan</label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input
                  readonly
                  class="form-control"
                  type="text"
                  minlength="4"
                  maxlength="4"
                  formControlName="usia_bangunan"
                  (keypress)="keyPressNumbers($event)"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Tahun</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Status Sertifikat</label>
            <div class="col-sm-8">
              <div class="form-group">
                <select class="form-control" formControlName="status_sertifikat">
                  <option value="">Pilih Sertifikat</option>
                  <option *ngFor="let listSertif of listSertif" value="{{ listSertif.sertifikat_deskripsi }}">
                    {{ listSertif.sertifikat_deskripsi }}
                  </option>
                </select>
              </div>
              <span
                [hidden]="
                  collateralForm.controls.status_sertifikat.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>

          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">No Sertifikat</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="no_sertifikat" (keypress)="keyPressNumbers($event)" />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.no_sertifikat.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">Nama Pemegang Hak</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="nama_pemegang_hak" />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.nama_pemegang_hak.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">No Handphone</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="no_handphone_cp"
                  pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
                  (keypress)="keyPressNumbers($event)"
                />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.no_handphone_cp.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
            <label class="col-sm-4 col-form-label">No Identitas Pemegang Hak</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="no_id_pemegang_hak_sertifikat" />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.no_id_pemegang_hak_sertifikat.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row" [hidden]="this.collateralForm.get('status_sertifikat')?.value === 'SHGB'">
            <!-- this.collateralForm.get('tipe_agunan')?.value == 'C01' || this.collateralForm.get('status_agunan')?.value == 'baru' -->
            <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
            <div class="col-sm-8">
              <input class="form-control" type="date" id="tanggal_terbit" formControlName="tanggal_terbit" />
              <span
                [hidden]="
                  collateralForm.controls.tanggal_terbit.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
          <div
            class="form-group row"
            [hidden]="
              this.collateralForm.get('tipe_agunan')?.value == 'C01' || this.collateralForm.get('status_sertifikat')?.value === 'SHM'
            "
          >
            <label class="col-sm-4 col-form-label">Tanggal Expired</label>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="date" class="form-control" formControlName="tanggal_expired" />
              </div>
              <span
                [hidden]="
                  collateralForm.controls.tanggal_expired.valid ||
                  this.untukSessionRole == 'BRANCHMANAGER' ||
                  this.untukSessionRole == 'VER_PRE_SPV'
                "
                class="text-danger"
                >Field Wajib Diisi
              </span>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'C01'">
        <br />
        <br />
        <br />
        <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
          <h3 style="color: #fff; text-align: center">Alamat Agunan</h3>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Alamat</label>
              <div class="col-sm-9">
                <textarea class="form-control h-150px" rows="6" id="alamat_agunan" formControlName="alamat_agunan"></textarea>
                <span
                  [hidden]="
                    collateralForm.controls.alamat_agunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Provinsi</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="provinsiChange(this.collateralForm.get('provinsi_agunan')?.value)"
                    id="provinsi_agunan"
                    formControlName="provinsi_agunan"
                  >
                    <option value="">Pilih Provinsi</option>
                    <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                      {{ daWaprof.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.provinsi_agunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kota</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="kotaChange(this.collateralForm.get('kabkota_agunan')?.value)"
                    id="kabkota_agunan"
                    formControlName="kabkota_agunan"
                  >
                    <option value="">Pilih Kota</option>
                    <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                      {{ daWakota.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kabkota_agunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kecamatan</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="kecamatanChange(this.collateralForm.get('kecamatan_agunan')?.value)"
                    id="kecamatan_agunan"
                    formControlName="kecamatan_agunan"
                  >
                    <option value="">Pilih Kecamatan</option>
                    <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                      {{ daWakecamatan.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kecamatan_agunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kelurahan</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="kelurahanChange(this.collateralForm.get('kelurahan_agunan')?.value)"
                    id="kelurahan_agunan"
                    formControlName="kelurahan_agunan"
                  >
                    <option value="">Pilih Kelurahan</option>
                    <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                      {{ daWakelurahan.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kelurahan_agunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kode Pos</label>
              <div class="col-sm-9">
                <div class="input-group mb-3">
                  <input
                    type="tel"
                    (keypress)="keyPressNumbers($event)"
                    maxlength="8"
                    class="form-control"
                    id="kode_pos_agunan"
                    formControlName="kode_pos_agunan"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-dark"
                      (click)="carimenggunakankodeposagunan(this.collateralForm.get('kode_pos_agunan')?.value)"
                      type="button"
                    >
                      Cari Data
                    </button>
                  </div>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kode_pos_agunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">RT / RW</label>
              <div class="col">
                <input
                  (keypress)="keyPressNumbers($event)"
                  type="tel"
                  maxlength="3"
                  class="form-control"
                  placeholder="RT"
                  id="rt"
                  formControlName="rt"
                />
                <span
                  [hidden]="
                    collateralForm.controls.rt.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
              <div class="col">RT</div>
              <div class="col">
                <input
                  (keypress)="keyPressNumbers($event)"
                  type="tel"
                  class="form-control"
                  placeholder="RW"
                  maxlength="3"
                  id="rw"
                  formControlName="rw"
                />
                <span
                  [hidden]="
                    collateralForm.controls.rw.valid || this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
              <div class="col">RW</div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Alamat Agunan Sama Dengan Sertifikat?</label>
              <div class="col-sm-9">
                <input type="radio" name="testtt" value="0" (change)="onItemChange($event.target)" checked />Tidak Sama
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="testtt" value="1" (change)="onItemChange($event.target)" />Sama
              </div>
            </div>
            <br />
            <div [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'H02'" class="form-group row">
              <label class="col-md-3 col-form-label">Luas Tanah</label>
              <div class="col">
                <input
                  type="tel"
                  (keypress)="keyPressNumbers($event)"
                  class="form-control"
                  placeholder=""
                  formControlName="luas_tanah"
                  id="luas_tanah_anggunan"
                />
                <span
                  [hidden]="
                    collateralForm.controls.luas_tanah.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
              <div class="col">M2</div>
            </div>
            <br />
            <div [hidden]="this.collateralForm.get('tipe_agunan')?.value == 'H01'" class="form-group row">
              <label class="col-sm-3 col-form-label">Luas Bangunan</label>
              <div class="col">
                <input
                  type="tel"
                  (keypress)="keyPressNumbers($event)"
                  class="form-control"
                  placeholder=""
                  formControlName="luas_bangunan"
                  id="luas_bangunan_anggunan"
                />
                <span
                  [hidden]="
                    collateralForm.controls.luas_bangunan.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
              <div class="col">M2</div>
            </div>
            <br />
            <!-- BRD Baru -->
            <div class="form-group row" hidden>
              <label class="col-sm-3 col-form-label">Nilai Agunan</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select class="form-control">
                    <option value="">Pilih Data</option>
                    <option value="IMB">IMB</option>
                    <option value="Fisik">Fisik</option>
                    <option value="Pricelist Developer">Pricelist Developer</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row" hidden>
              <!-- *ngIf="this.collateralForm.get('nilai_agunan')?.value === 'IMB'" -->
              <label class="col-sm-3 col-form-label">Nilai Pasar IMB</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control"
                    currencyMask
                    [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row" hidden>
              <!-- *ngIf="this.collateralForm.get('nilai_agunan')?.value === 'IMB'" -->
              <label class="col-sm-3 col-form-label">Nilai Likuidasi IMB</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control"
                    currencyMask
                    [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row" hidden>
              <!-- *ngIf="this.collateralForm.get('nilai_agunan')?.value === 'Fisik'" -->
              <label class="col-sm-3 col-form-label">Nilai Pasar Fisik</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control"
                    currencyMask
                    [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row" hidden>
              <!-- *ngIf="this.collateralForm.get('nilai_agunan')?.value === 'Fisik'" -->
              <label class="col-sm-3 col-form-label">Nilai Likuidasi Fisik</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control"
                    currencyMask
                    [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row" hidden>
              <!-- *ngIf="this.collateralForm.get('nilai_agunan')?.value === 'Pricelist Developer'" -->
              <label class="col-sm-3 col-form-label">Harga Transaksi (Bila lebih rendah dari LPA)</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control"
                    formControlName="harga_objek"
                    currencyMask
                    [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
                  />
                </div>
              </div>
            </div>
            <!-- BRD Baru -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Objek</label>
              <div class="col-sm-9">
                <input
                  type="tel"
                  (keypress)="keyPressNumbers($event)"
                  class="form-control"
                  placeholder=""
                  formControlName="harga_objek"
                  id="harga_objek"
                  currencyMask
                  [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
                />
                <span
                  [hidden]="
                    collateralForm.controls.harga_objek.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
          </div>
          <!-- batas colom 1 dan 2 -->

          <div class="col">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Alamat Sesuai Sertifikat</label>
              <div class="col-sm-9">
                <textarea
                  class="form-control h-150px"
                  rows="6"
                  id="alamat_sesuai_sertifikat"
                  formControlName="alamat_sesuai_sertifikat"
                ></textarea>
                <span
                  [hidden]="
                    collateralForm.controls.alamat_sesuai_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Provinsi</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="provinsiSertifChange(this.collateralForm.get('provinsi_sesuai_sertifikat')?.value)"
                    id="provinsi_sesuai_sertifikat"
                    formControlName="provinsi_sesuai_sertifikat"
                  >
                    <option value="">Pilih Provinsi</option>
                    <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                      {{ daWaprof.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.provinsi_sesuai_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kota</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="kotasSertifChange(this.collateralForm.get('kabkota_sesuai_sertifikat')?.value)"
                    id="kabkota_sesuai_sertifikat"
                    formControlName="kabkota_sesuai_sertifikat"
                  >
                    <option value="">Pilih Kota</option>
                    <option *ngFor="let daWakotas of daWakotas" value="{{ daWakotas.kdWilayah }}|{{ daWakotas.namaWilayah }}">
                      {{ daWakotas.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kabkota_sesuai_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kecamatan</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="kecamatanSertifChange(this.collateralForm.get('kecamatan_sesuai_sertifikat')?.value)"
                    id="kecamatan_sesuai_sertifikat"
                    formControlName="kecamatan_sesuai_sertifikat"
                  >
                    <option value="">Pilih Kecamatan</option>
                    <option *ngFor="let kecamatans of kecamatans" value="{{ kecamatans.kdWilayah }}|{{ kecamatans.namaWilayah }}">
                      {{ kecamatans.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kecamatan_sesuai_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kelurahan</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <select
                    (change)="kelurahanSertifChange(this.collateralForm.get('kelurahan_sesuai_sertifikat')?.value)"
                    class="form-control"
                    id="kelurahan_sesuai_sertifikat"
                    formControlName="kelurahan_sesuai_sertifikat"
                  >
                    <option value="">Pilih Kelurahan</option>
                    <option *ngFor="let kelurahans of kelurahans" value="{{ kelurahans.kdPos }}|{{ kelurahans.namaWilayah }}">
                      {{ kelurahans.namaWilayah }}
                    </option>
                  </select>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kelurahan_sesuai_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kode Pos</label>
              <div class="col-sm-9">
                <div class="input-group mb-3">
                  <input
                    type="tel"
                    maxlength="8"
                    class="form-control"
                    id="kode_pos_sesuai_sertifikat"
                    formControlName="kode_pos_sesuai_sertifikat"
                    (keypress)="keyPressNumbers($event)"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-dark"
                      (click)="carimenggunakankodepossertifikat(this.collateralForm.get('kode_pos_sesuai_sertifikat')?.value)"
                      type="button"
                    >
                      Cari Data
                    </button>
                  </div>
                </div>
                <span
                  [hidden]="
                    collateralForm.controls.kode_pos_sesuai_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">RT / RW</label>
              <div class="col">
                <input
                  (keypress)="keyPressNumbers($event)"
                  type="tel"
                  class="form-control"
                  placeholder="RT"
                  id="rt_sertifikat"
                  formControlName="rt_sertifikat"
                  maxlength="3"
                />
                <span
                  [hidden]="
                    collateralForm.controls.rt_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
              <div class="col">RT</div>
              <div class="col">
                <input
                  (keypress)="keyPressNumbers($event)"
                  type="tel"
                  class="form-control"
                  placeholder="RW"
                  maxlength="3"
                  id="rw_sertifikat"
                  formControlName="rw_sertifikat"
                />
                <span
                  [hidden]="
                    collateralForm.controls.rw_sertifikat.valid ||
                    this.untukSessionRole == 'BRANCHMANAGER' ||
                    this.untukSessionRole == 'VER_PRE_SPV'
                  "
                  class="text-danger"
                  >Field Wajib Diisi
                </span>
              </div>
              <div class="col">RW</div>
            </div>
            <br />
            <div *ngIf="this.collateralForm.get('tipe_agunan')?.value == 'H03'">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">ID Rumah</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="id_rumah" id="id_rumah" />
                  <span
                    [hidden]="
                      collateralForm.controls.id_rumah.valid ||
                      this.untukSessionRole == 'BRANCHMANAGER' ||
                      this.untukSessionRole == 'VER_PRE_SPV'
                    "
                    class="text-danger"
                    >Field Wajib Diisi
                  </span>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Blok Rumah</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="blok_rumah" id="blok_rumah" />
                  <span
                    [hidden]="
                      collateralForm.controls.blok_rumah.valid ||
                      this.untukSessionRole == 'BRANCHMANAGER' ||
                      this.untukSessionRole == 'VER_PRE_SPV'
                    "
                    class="text-danger"
                    >Field Wajib Diisi
                  </span>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">No Rumah</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nomor_rumah"
                    id="no_rumah"
                    (keypress)="keyPressNumbers($event)"
                  />
                  <span
                    [hidden]="
                      collateralForm.controls.nomor_rumah.valid ||
                      this.untukSessionRole == 'BRANCHMANAGER' ||
                      this.untukSessionRole == 'VER_PRE_SPV'
                    "
                    class="text-danger"
                    >Field Wajib Diisi
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col" style="text-align: center">
          <button type="submit" class="btn btn-dark">
            Simpan Data<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  [hidden]="tambahatautidak == 'benar'"
  style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)"
>
  <h3 style="color: #fff; text-align: center">Daftar Collateral</h3>
</div>
<br />
<br />
<button
  id="tambahdata"
  (click)="tambahcollateral()"
  type="button"
  class="btn btn-info"
  [hidden]="this.untukSessionRole == 'VER_PRE_SPV' || this.untukSessionRole == 'BRANCHMANAGER'"
>
  Tambah data
</button>
<div class="table-responsive" [hidden]="tambahatautidak == 'benar'">
  <table class="table table-striped">
    <thead style="background-color: grey">
      <tr>
        <th scope="col" style="text-align: center; color: #fff">
          <span>No</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Tipe Agunan</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Status</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Jenis Objek</span>
        </th>
        <th scope="col" style="text-align: center; color: #fff">
          <span>Harga Objek</span>
        </th>
        <th style="text-align: center; color: #fff" colspan="2">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableAgunan of tableAgunan; index as i">
        <td style="text-align: center" scope="col">{{ i + 1 }}</td>
        <td style="text-align: center" scope="col">{{ tableAgunan.tipe_agunan }}</td>
        <td style="text-align: center" scope="col">{{ tableAgunan.tanggal_terbit }}</td>
        <td style="text-align: center" scope="col">{{ tableAgunan.tipe_agunan }}</td>
        <td style="text-align: center" scope="col">{{ tableAgunan.harga_objek | currency: 'Rp. ' }}</td>
        <td style="text-align: center">
          <a type="button" (click)="gotoeditcollateral(tableAgunan.id_collateral_detail)">
            <fa-icon icon="eye"></fa-icon>
            <br />Detail
          </a>
        </td>
        <td style="text-align: center">
          <a type="button" (click)="hapusJobList(tableAgunan.id_collateral_detail)">
            <fa-icon icon="trash-can"></fa-icon>
            <br />Hapus
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="row"
  *ngIf="
    (this.tableAgunan[0] != null && this.tambahatautidak != 'benar') ||
    this.untukSessionRole === 'BRANCHMANAGER' ||
    this.untukSessionRole === 'VER_PRE_SPV'
  "
>
  <div class="col" style="text-align: center">
    <button type="button" id="selanjutnya" (click)="goto()" name="selanjutnya" value="selanjutnya" class="btn btn-warning">
      Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
    </button>
  </div>
</div>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
