<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Emergency Contact</h3>
</div>
<p></p>
<p></p>
<form [formGroup]="emergencyForm" (ngSubmit)="simpanemergency()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Nama" formControlName="nama" id="nama" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <textarea class="form-control h-150px" rows="6" formControlName="alamat" id="alamat"></textarea>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Provinsi<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChange(this.emergencyForm.get('provinsi')?.value)"
              id="provinsi_cabang"
              formControlName="provinsi"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            >
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kota<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekota(0)"
              id="kabkota_cabang"
              formControlName="kabkota"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            >
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kecamatan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekecamatan(this.emergencyForm.get('kecamatan')?.value)"
              id="kecamatan"
              formControlName="kecamatan"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            >
              <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kelurahan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekelurahan(this.emergencyForm.get('kelurahan')?.value)"
              id="kelurahan"
              formControlName="kelurahan"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            >
              <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kode Pos<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              type="tel"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
              class="form-control"
              formControlName="kode_pos"
              id="kode_pos"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-dark"
                id="kode_poshilang"
                (click)="carimenggunakankodepos(this.emergencyForm.get('kode_pos')?.value)"
                type="button"
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">RT / RW<span class="text-danger">*</span></label>
        <div class="col">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="RT"
            maxlength="3"
            id="rt"
            formControlName="rt"
          />
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            id="rw"
            formControlName="rw"
          />
        </div>
        <div class="col">RW</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nomor Telepon<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            type="tel"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            placeholder="Nomor Telepon"
            id="no_telepon"
            formControlName="no_telepon"
            maxlength="12"
            required
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Hubungan<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              id="hubungan"
              formControlName="hubungan"
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            >
              <option *ngFor="let gethubunganemergency1 of gethubunganemergency1" value="{{ gethubunganemergency1.deskripsi }}">
                {{ gethubunganemergency1.deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Email<span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            id="email"
            formControlName="email"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
          />
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button
        type="submit"
        id="btn"
        name="simpandata"
        value="simpandata"
        class="btn btn-dark"
        [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
      >
        Simpan Data
      </button>
      <button
        type="button"
        (click)="goto(0)"
        id="selanjutnya"
        name="selanjutnya"
        class="btn btn-warning"
        [hidden]="this.untukSessionRole == 'AO'"
      >
        Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
      </button>
    </div>
  </div>
</form>
