<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Call Report</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nomor Aplikasi</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          id="app_no_de"
          name="app_no_de"
          type="text"
          class="form-control"
          placeholder="app_no_de"
          value="{{ daWa1.app_no_de }}"
          readonly
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Nasabah</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          placeholder="Nama Nasabah"
          name="nama"
          id="nama"
          value="{{ daWa1.nama }}"
          readonly
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Fasilitas</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="text"
          class="form-control"
          placeholder="Fasilitas"
          id="fasilitas"
          name="fasilitas"
          value="{{ daWa1.kode_fasilitas_name }}"
          readonly
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tenor Pengajuan</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="text"
          class="form-control"
          placeholder="Tenor Pengajuan"
          id="tenor"
          name="tenor"
          value="{{ daWa1.jangka_waktu }}"
          readonly
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Platform Pengajuan</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="text"
          class="form-control"
          placeholder="Platform Pengajuan"
          id="platform"
          name="platform"
          value="{{ daWa1.nilai_pembiayaan }}"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Cabang</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          placeholder="Nama AO"
          id="cabang"
          name="cabang"
          value="{{ daWa.cabang }}"
          readonly
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama AO</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          placeholder="Nama AO"
          id="nama_ao"
          name="nama_ao"
          value="{{ daWa.nama_ao }}"
          readonly
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kategori Nasabah</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="text"
          class="form-control"
          placeholder="Tipe Nasabah"
          id="tipe_nasabah"
          name="tipe_nasabah"
          value="{{ daWa1.kategori_pekerjaan }}"
          readonly
        />
      </div>
    </div>
  </div>
</div>
<br />
<!-- Profil Nasabah -->
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Profil Nasabah</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Alamat Tinggal</label>
      <div class="col-sm-8">
        <textarea
          class="form-control h-150px"
          rows="6"
          id="alamat_ktp"
          name="alamat_ktp"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >{{ daWa.alamat_tinggal }}</textarea
        >
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tanggal Lahir</label>
      <div class="col-sm-8">
        <input
          class="form-control"
          type="date"
          id="tanggal_lahir"
          name="tanggal_lahir"
          value="{{ daWa.tanggal_lahir }}"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Status Perkawinan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <select
            class="form-control"
            id="status_perkawinan"
            name="status_perkawinan"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <option value="{{ daWa.status_kawin }}">{{ daWa.status_kawin }}</option>
            <option value="Lajang">Lajang</option>
            <option value="Menikah">Menikah</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Pendidikann</label>
      <div class="col-sm-8">
        <div class="form-group">
          <select
            class="form-control"
            id="pendidikan"
            name="pendidikan"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <option value="{{ daWa.pendidikan }}">{{ daWa.pendidikan }}</option>
            <option>SMA</option>
            <option>D3</option>
            <option>S1</option>
            <option>S2</option>
            <option>S3</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row" id="tipe_kendaraan">
      <label class="col-sm-4 col-form-label">Tipe Kendaraan</label>
      <div class="col-sm-8">
        <div class="form-group">
          <select
            class="form-control"
            value=""
            id="tipe_kendaraan1"
            name="tipe_kendaraan1"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <option value="{{ daWa.kendaraan }}">{{ daWa.kendaraan }}</option>
            <option value="Mobil">Mobil</option>
            <option value="Motor">Motor</option>
            <option value="Motor dan Mobil">Motor dan Mobil</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Angunan -->
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Agunan</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Status Kepemilikan Agunan</label>
      <div class="form-group col-md-4">
        <select
          class="form-control"
          id="status_agunan"
          name="status_agunan"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.status_agunan }}">{{ daWa.status_agunan }}</option>
          <option value="Penjual">Penjual</option>
          <option value="Milik Orang Tua">Milik Orang Tua</option>
          <option value="Milik Sndiri">Milik Sndiri</option>
          <option value="Lainnya">Lainnya</option>
        </select>
      </div>
      <div id="catatanLainnyaAnggunan" class="form-group col-md-4" style="display: none">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          data-toggle="tooltip"
          data-placement="bottom"
          title="<?=$catatan_status_agunan?>"
          type="text"
          id="catatan_status_agunan"
          name="catatan_status_agunan"
          value="<?=$catatan_status_agunan?>"
          class="form-control"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Dokumen Kepemilikan</label>
      <div class="form-group col-md-4">
        <select
          class="form-control"
          id="dokumen_kepemilikan"
          name="dokumen_kepemilikan"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.dokumen_agunan }}">{{ daWa.dokumen_agunan }}</option>
          <option value="SHM">SHM</option>
          <option value="SHGB">SHGB</option>
          <option value="PPJB">PPJB</option>
          <option value="Lainnya">Lainnya</option>
        </select>
      </div>
      <div id="catatanLainnyaDokumen" class="form-group col-md-4" style="display: none">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{ daWa.catatan_dokumen_agunan }}"
          type="text"
          id="catatan_dokumen_agunan"
          name="catatan_dokumen_agunan"
          value="{{ daWa.catatan_dokumen_agunan }}"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Posisi Dokumen</label>
      <div class="form-group col-md-4">
        <select
          class="form-control"
          id="posisi_dokumen"
          name="posisi_dokumen"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.posisi_dokumen }}">{{ daWa.posisi_dokumen }}</option>
          <option value="On Hand">On Hand</option>
          <option value="Di Bank Lain">Di Bank Lain</option>
          <option value="Lainnya">Lainnya</option>
        </select>
      </div>
      <div id="catatanLainnyaPosisi_dokumen" class="form-group col-md-4" style="display: none">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{ daWa.catatan_posisi_dokumen }}"
          type="text"
          id="catatan_posisi_dokumen"
          name="catatan_posisi_dokumen"
          value="{{ daWa.catatan_posisi_dokumen }}"
          class="form-control"
        />
      </div>
    </div>
  </div>
</div>
<br />
<!-- untuk usaha nasabah -->
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Usaha Nasabah</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jenis Usaha</label>
      <div class="form-group col-sm-8">
        <select
          class="form-control"
          id="jenis_usaha_call"
          name="jenis_usaha_call"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.jenis_usaha }}">{{ daWa.jenis_usaha }}</option>
          <option value="Badan Usaha">Badan Usaha</option>
          <option value="Perorangan">Perorangan</option>
        </select>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Lama Usaha</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          maxlength="2"
          class="form-control"
          placeholder="Tahun"
          id="lama_usaha"
          name="lama_usaha"
          value="{{ daWa.lama_usaha }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Legalitas Usaha</label>
      <div class="form-group col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="checkbox"
          value="SIU"
          (change)="onCheckCek($event)"
          [checked]="this.checkboxCeksiu == 'SIU'"
        />SIU &nbsp;&nbsp;
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="checkbox"
          value="SIUP"
          (change)="onCheckCek($event)"
          [checked]="this.checkboxCeksiup == 'SIUP'"
        />SIUP &nbsp;&nbsp;
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="checkbox"
          value="NIB"
          (change)="onCheckCek($event)"
          [checked]="this.checkboxCeknib == 'NIB'"
        />NIB &nbsp;&nbsp;
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="checkbox"
          value="SKDU"
          (change)="onCheckCek($event)"
          [checked]="this.checkboxCekskdu == 'SKDU'"
        />SKDU &nbsp;&nbsp;
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="checkbox"
          value="SKDP"
          (change)="onCheckCek($event)"
          [checked]="this.checkboxCekskdp == 'SKDP'"
        />SKDP &nbsp;&nbsp;
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="checkbox"
          value="Akta Pendirian"
          (change)="onCheckCek($event)"
          [checked]="this.checkboxCekaktapendirian == 'Akta Pendirian'"
        />Akta Pendirian &nbsp;&nbsp;
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Bidang Usaha</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          placeholder=""
          id="bidang_usaha"
          name="bidang_usaha"
          value="{{ daWa.bidang_usaha }}"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nama Perusahaan (Badan Usaha)</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="text"
          class="form-control"
          placeholder=""
          id="nama_badan_usaha"
          name="nama_badan_usaha"
          value="{{ daWa.nama_perusahaan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Skala Perusahaan</label>
      <div class="form-group col-sm-8">
        <select
          class="form-control"
          id="skala_perusahaan"
          name="skala_perusahaan"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.skala_perusahaan }}">{{ daWa.skala_perusahaan }}</option>
          <option *ngFor="let skalaprusahaan of skalaprusahaan" value="{{ skalaprusahaan.deskripsi }}">
            {{ skalaprusahaan.deskripsi }}
          </option>
        </select>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jenis Produk</label>
      <div class="form-group col-sm-8">
        <select
          class="form-control"
          id="jenis_produk"
          name="jenis_produk"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.jenis_produk }}">{{ daWa.jenis_produk }}</option>
          <option value="Barang">Barang</option>
          <option value="Jasa">Jasa</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tahun Berdiri</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          minlength="4"
          maxlength="4"
          class="form-control"
          placeholder=""
          id="tahun_berdiri_perusahaan"
          name="tahun_berdiri_perusahaan"
          value="{{ daWa.tahun_berdiri_perusahaan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Alamat</label>
      <div class="col-sm-8">
        <textarea
          class="form-control h-150px"
          rows="6"
          id="alamat_perusahaan"
          name="alamat_perusahaan"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >{{ daWa.alamat_perusahaan }}</textarea
        >
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Jumlah Karyawan</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          maxlength="100000"
          placeholder=""
          id="jumlah_karyawan"
          name="jumlah_karyawan"
          value="{{ daWa.jumlah_karyawan }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kondisi Pandemik</label>
      <div class="form-group col-sm-8">
        <select
          class="form-control"
          id="kondisi_pandemik"
          name="kondisi_pandemik"
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
        >
          <option selected value="{{ daWa.kondisi_pandemi }}">{{ daWa.kondisi_pandemi }}</option>
          <option value="Cukup Berdampak">Cukup Berdampak</option>
          <option value="Tidak Berdampak">Tidak Berdampak</option>
        </select>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Kepemilikan Usaha</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="text"
          class="form-control"
          placeholder=""
          id="kepemilikan_usaha"
          name="kepemilikan_usaha"
          value="{{ daWa.kepemilikan_usaha }}"
        />
      </div>
    </div>
  </div>
</div>
<br />
<!-- untuk Perkerjaan Pasangan -->
<div id="pekerjaanPasanganCallReport">
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Pekerjaan Pasangan</h3>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tipe Pekerjaan</label>
        <div class="form-group col-sm-8">
          <select
            class="form-control"
            id="tipe_pekerjaan_pasangan"
            name="tipe_pekerjaan_pasangan"
            value=""
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <option value="{{ daWa.tipe_pekerjaan_pasangan }}">{{ daWa.tipe_pekerjaan_pasangan }}</option>
            <!-- <option selected value="">Pilih Tipe Pekerjaan</option> -->
            <option value="Karyawan">Karyawan</option>
            <option value="Wiraswasta">Wiraswasta</option>
            <option value="Profesional">Profesional</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Pekerjaan</label>
        <div class="form-group col-sm-8">
          <select
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            class="form-control"
            id="status_pekerjaan_pasangan"
            name="status_pekerjaan_pasangan"
          >
            <option selected value="{{ daWa.status_pekerjaan_pasangan }}">{{ daWa.status_pekerjaan_pasangan }}</option>
            <option value="Tetap">Tetap</option>
            <option value="Kontrak">Kontrak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lama Bekerja</label>
        <div class="col">
          <select
            class="form-control"
            id="lama_bekerja_bulan_pasangan"
            name="lama_bekerja_bulan_pasangan"
            value=""
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <option selected value="{{ daWa.lama_bekerja_bulan_pasangan }}">
              {{ daWa.lama_bekerja_bulan_pasangan }}
            </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
          </select>
        </div>
        <div class="col">Tahun</div>
        <div class="col">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            class="form-control"
            placeholder="Tahun"
            id="lama_bekerja_tahun_pasangan"
            name="lama_bekerja_tahun_pasangan"
            value="{{ daWa.lama_bekerja_tahun_pasangan }}"
            maxlength="2"
          />
        </div>
        <div class="col">Bulan</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jabatan Terakhir</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder=""
            id="jabatan_terakhir_pasangan"
            name="jabatan_terakhir_pasangan"
            value="{{ daWa.jabatan_terakhir_pasangan }}"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder=""
            id="nama_perusahaan_pasangan"
            name="nama_perusahaan_pasangan"
            value="{{ daWa.nama_perusahaan_pasangan }}"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bidang Usaha</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder=""
            id="bidang_usaha_pasangan"
            name="bidang_usaha_pasangan"
            value="{{ daWa.bidang_usaha_pasangan }}"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Skala Perorangan</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="text"
            class="form-control"
            placeholder=""
            id="skala_perusahaan_pasangan"
            name="skala_perusahaan_pasangan"
            value="{{ daWa.skala_perusahaan_pasangan }}"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tahun Berdiri</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            minlength="4"
            class="form-control"
            maxlength="4"
            placeholder=""
            id="tahun_berdiri_perusahaan_pasangan"
            name="tahun_berdiri_perusahaan_pasangan"
            value="{{ daWa.tahun_berdiri_perusahaan_pasangan }}"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat</label>
        <div class="col-sm-8">
          <textarea
            class="form-control h-150px"
            rows="6"
            id="alamat_perusahaan_pasangan"
            name="alamat_perusahaan_pasangan"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            >{{ daWa.alamat_perusahaan_pasangan }}</textarea
          >
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jumlah Karyawan</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            class="form-control"
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            minlength="4"
            maxlength="1000"
            placeholder=""
            id="jumlah_karyawan_perusahaan_pasangan"
            name="jumlah_karyawan_perusahaan_pasangan"
            value="{{ daWa.jumlah_karyawan_perusahaan_pasangan }}"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kondisi Pandemik</label>
        <div class="form-group col-sm-8">
          <select
            class="form-control"
            id="kondisi_pandemi_pasangan"
            name="kondisi_pandemi_perusahaan_pasangan"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <!-- <option selected value="">Pilih Kondisi Pamdemik</option> -->
            <option selected value="{{ daWa.kondisi_pandemi_perusahaan_pasangan }}">
              {{ daWa.kondisi_pandemi_perusahaan_pasangan }}
            </option>
            <option value="Cukup Berdampak">Cukup Berdampak</option>
            <option value="Tidak Berdampak">Tidak Berdampak</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Kontak HR</label>
        <div class="col-sm-8">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            type="tel"
            onkeypress="return onlyNumberKey(event)"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            class="form-control"
            maxlength="12"
            placeholder=""
            id="no_kontak_hr_pasangan"
            name="no_kontak_hr_pasangan"
            value="{{ daWa.no_kontak_hr_pasangan }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Pendapatan dan Kewajiban -->
<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Pendapatan dan Kewajiban</h3>
</div>
<br />
<div class="row form-material">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Laba Bersih Setelah Pajak Periode I (Per Tahun)</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder=""
          id="laba_periode_1"
          name="laba_periode_1"
          value="{{ daWa.laba_periode_1 }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Laba Bersih Setelah Pajak Periode II (Per Tahun)</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder=""
          id="laba_periode_2"
          name="laba_periode_2"
          value="{{ daWa.laba_periode_2 }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Laba Bersih Setelah Pajak Periode III (Per Tahun)</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder=""
          id="laba_periode_3"
          name="laba_periode_3"
          value="{{ daWa.laba_periode_3 }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Laba Bersih Setelah Pajak Periode IIII (Per Tahun)</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder=""
          id="laba_periode_4"
          name="laba_periode_4"
          value="{{ daWa.laba_periode_4 }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Rata Rata Laba Bersih Setelah Pajak (Per Bulan)</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder=""
          id="rata_rata_laba"
          name="rata_rata_laba"
          value="{{ daWa.rata_rata_laba }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Estimasi Angsuran Saat Ini</label>
      <div class="col-sm-8">
        <input
          [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="tel"
          onkeypress="return onlyNumberKey(event)"
          class="form-control"
          placeholder=""
          id="estimasi_angsuran"
          name="estimasi_angsuran"
          value="{{ daWa.estimasi_angsuran }}"
        />
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tercermin di Rekening</label>
      <div class="col-sm-8">
        <div class="form-group">
          <select
            class="form-control"
            id="tercermin_rekening"
            name="tercermin_rekening"
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          >
            <option value="{{ daWa.validasi_rekening }}">{{ daWa.validasi_rekening }}</option>
            <option value="Ya">Ya</option>
            <option value="Tidak">Tidak</option>
          </select>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-md-8">
        <div class="form-group">
          <p id="denganini">
            <input
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
              type="checkbox"
              (click)="onclikwawancara($event)"
            />
            {{ textwawancara }}
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tanggal wawancara</label>
      <div class="col-md-8">
        <div class="form-group">
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
            class="form-control"
            type="date"
            id="tanggal_wawancara"
            name="tanggal_wawancara"
            value="{{ daWa.tanggal_wawancara }}"
            onchange="tanggalWawancara()"
          />
          <input
            class="form-control"
            id="hariWawancara"
            hidden
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">No wawancara</label>
      <div class="col-md-8">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="no_wawancara"
            name="no_wawancara"
            value="{{ daWa.no_wawancara }}"
            readonly
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          />
          <input
            type="hidden"
            class="form-control"
            id="no_wawancara1"
            name="no_wawancara1"
            value="{{ daWa.no_wawancara }}"
            readonly
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col" style="text-align: center">
    <button type="submit"   [hidden]="this.untukSessionRole == 'AO' || this.untukSessionRole == 'VER_PRESCR'" (click)="goto()" id="selanjutnya" name="selanjutnya" value="selanjutnya" class="btn mb-1 btn-warning">
      Selanjutnya1<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
    </button>
    <button
      type="submit"
      (click)="simpancallreport()"
      id="buttonsimpan"
      name="buttonsimpan"
      value="buttonsimpan"
      class="btn mb-1 btn-dark"

      [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
    >
      Simpan Data<span class="btn-icon-right"><i class="fa fa-floppy-o"></i></span>
    </button>
  </div>
</div>
