<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Collateral</h3>
</div>
<br />
<br />
<form [formGroup]="editCollateralForm" (ngSubmit)="createcollateral()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tipe Agunan</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              class="form-control"
              (change)="changefom()"
              id="tipe_agunan"
              formControlName="tipe_agunan"
              (change)="agunanChange(this.editCollateralForm.get('tipe_agunan')?.value)"
            >
              <option selected value="">Pilih Tipe Agunan</option>
              <option *ngFor="let listTipeAgunan of listTipeAgunan" value="{{ listTipeAgunan.type_collateral_code }}">
                {{ listTipeAgunan.collateral_deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jenis Objek</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" formControlName="jenis_objek" id="jenis_objek">
              <option selected value="">Pilih Jenis Objek</option>
              <option *ngFor="let objekAgunan of objekAgunan" value="{{ objekAgunan.jenis_objek_code }}">
                {{ objekAgunan.jenis_objek_deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Tipe Kendaraan</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" formControlName="tipe_kendaraan" id="tipe_kendaraan2">
              <option value="">Pilih Kendaraan</option>
              <option *ngFor="let listKendaraan of listKendaraan" value="{{ listKendaraan.deskripsi }}">
                {{ listKendaraan.deskripsi }}
              </option>
            </select>
          </div>
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Merek</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Merek" formControlName="merk" id="merk2" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Model</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Model" formControlName="model" id="model2" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Seri</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Seri" formControlName="seri" id="seri2" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No BPKB</label>
        <div class="col-sm-8">
          <input type="tel" class="form-control" placeholder="No BPKB" formControlName="nomor_bpkb" id="nomor_bpkb2" />
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Hubungan Anatara Pemegang Hak dan Calon Nasabah</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" formControlName="hubungan_pemegang_hak" id="jenis_objek">
              <option value="">Pilih Hubungan</option>
              <option *ngFor="let pemegangHak of pemegangHak" value="{{ pemegangHak.deskripsi }}">
                {{ pemegangHak.deskripsi }}
              </option>
            </select>
            <br />
            <input
              *ngIf="this.editCollateralForm.get('hubungan_pemegang_hak')?.value == 'Lainya'"
              type="text"
              class="form-control"
              id="hubungan_pemegang_hak_input"
              formControlName="hubungan_pemegang_hak_lainya"
            />
          </div>
          <br />
        </div>
      </div>
      <div
        class="form-group row"
        [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01' || this.editCollateralForm.get('tipe_agunan')?.value == 'H01'"
      >
        <label class="col-sm-4 col-form-label">Tipe Property</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" formControlName="tipe_properti" id="jenis_objek">
              <option value="">Pilih Tipe Properti</option>
              <option *ngFor="let tipeProperti of tipeProperti" value="{{ tipeProperti.properti_deskripsi }}">
                {{ tipeProperti.properti_deskripsi }}
              </option>
            </select>
          </div>
          <br />
        </div>
      </div>
      <br />
      <div
        class="form-group row"
        [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01' || this.editCollateralForm.get('tipe_agunan')?.value == 'H01'"
      >
        <label class="col-sm-4 col-form-label">Status Agunan</label>
        <div class="col">
          <label>Baru</label>
          <input type="radio" formControlName="status_agunan" value="baru" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" formControlName="status_agunan" value="second" />
          <label>Second</label>
        </div>
        <br />
      </div>
      <div
        class="form-group row"
        [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01' || this.editCollateralForm.get('tipe_agunan')?.value == 'H01'"
      >
        <label class="col-sm-4 col-form-label">Developer</label>
        <div class="col">
          <input
            type="radio"
            formControlName="status_developer"
            value="pks"
            [hidden]="this.editCollateralForm.get('status_agunan')?.value == 'second'"
          />
          <label [hidden]="this.editCollateralForm.get('status_agunan')?.value == 'second'">PKS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="radio" formControlName="status_developer" value="non pks" />
          <label>NON PKS</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" formControlName="status_developer" value="perorangan" />
          <label>Perorangan</label>
        </div>
        <br />
      </div>
      <div
        class="form-group row"
        [hidden]="
          this.editCollateralForm.get('tipe_agunan')?.value == 'C01' ||
          this.editCollateralForm.get('tipe_agunan')?.value == 'H01' ||
          this.editCollateralForm.get('status_developer')?.value == 'perorangan'
        "
      >
        <label class="col-sm-4 col-form-label">Developer</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select
              *ngIf="this.editCollateralForm.get('status_developer')?.value == 'pks'"
              class="form-control"
              formControlName="developer"
            >
              <option value="">Pilih Developer</option>
              <option *ngFor="let listDeveloper of listDeveloper" value="{{ listDeveloper.nama_developer }}">
                {{ listDeveloper.nama_developer }}
              </option>
            </select>
            <input
              *ngIf="this.editCollateralForm.get('status_developer')?.value == 'non pks'"
              type="text"
              class="form-control"
              formControlName="developer"
            />
          </div>
        </div>
        <br />
      </div>
      <br />
      <div
        class="form-group row"
        [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01' || this.editCollateralForm.get('tipe_agunan')?.value == 'H01'"
      >
        <label class="col-sm-4 col-form-label">Sama Dengan Jaminan Sebelumnya</label>
        <div class="col">
          <label>Ya</label>
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            type="radio"
            formControlName="status_jaminan_sebelumnya"
            value="1"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
            type="radio"
            formControlName="status_jaminan_sebelumnya"
            value="0"
          />
          <label>Tidak</label>
        </div>
        <br />
      </div>
    </div>
    <div class="col">
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No Plat</label>
        <div class="col-sm-8">
          <input type="tel" class="form-control" placeholder="No Plat" formControlName="no_plat" id="no_plat" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Warna</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Warna" formControlName="warna" id="warna" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No Mesin</label>
        <div class="col-sm-8">
          <input type="tel" class="form-control" placeholder="No Mesin" formControlName="no_mesin" id="no_mesin" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No Rangka</label>
        <div class="col-sm-8">
          <input type="tel" class="form-control" placeholder="No Rangka" formControlName="no_rangka" id="no_rangka" />
          <br />
        </div>
      </div>
      <div class="form-group row" *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Nama BPKB</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Nama BPKB" formControlName="nama_bpkb" id="nama_bpkb" />
          <br />
        </div>
      </div>
      <div
        class="form-group row"
        [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01' || this.editCollateralForm.get('tipe_agunan')?.value == 'H01'"
      >
        <label class="col-sm-4 col-form-label">Tahun dibuat (YYYY)</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" formControlName="tahun_dibuat" minlength="4" maxlength="4" />
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Status Sertifikat</label>
        <div class="col-sm-8">
          <div class="form-group">
            <select class="form-control" formControlName="status_sertifikat">
              <option value="">Pilih Sertifikat</option>
              <option *ngFor="let listSertif of listSertif" value="{{ listSertif.sertifikat_deskripsi }}">
                {{ listSertif.sertifikat_deskripsi }}
              </option>
            </select>
          </div>
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No Sertifikat</label>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="no_sertifikat" />
          </div>
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Nama Pemegang Hak</label>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="nama_pemegang_hak" />
          </div>
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No Handphone</label>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="no_handphone_cp" />
          </div>
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">No Identitas Pemegang Hak</label>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="no_id_pemegang_hak_sertifikat" />
          </div>
          <br />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
        <div class="col-sm-8">
          <input class="form-control" type="date" id="tanggal_terbit" formControlName="tanggal_terbit" />
          <br />
        </div>
      </div>
      <div class="form-group row" [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
        <label class="col-sm-4 col-form-label">Tanggal Expired</label>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="date" class="form-control" formControlName="tanggal_expired" />
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'C01'">
    <br />
    <br />
    <br />
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Alamat Agunan</h3>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Alamat</label>
          <div class="col-sm-9">
            <textarea class="form-control h-150px" rows="6" id="alamat_agunan" formControlName="alamat_agunan"></textarea>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Provinsi</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="provinsiChange(this.editCollateralForm.get('provinsi_agunan')?.value)"
                id="provinsi_agunan"
                formControlName="provinsi_agunan"
              >
                <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                  {{ daWaprof.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kota</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="kotaChange(this.editCollateralForm.get('kabkota_agunan')?.value)"
                id="kabkota_agunan"
                formControlName="kabkota_agunan"
              >
                <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                  {{ daWakota.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kecamatan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="kecamatanChange(this.editCollateralForm.get('kecamatan_agunan')?.value)"
                id="kecamatan_agunan"
                formControlName="kecamatan_agunan"
              >
                <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                  {{ daWakecamatan.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kelurahan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="kelurahanChange(this.editCollateralForm.get('kelurahan_agunan')?.value)"
                id="kelurahan_agunan"
                formControlName="kelurahan_agunan"
              >
                <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                  {{ daWakelurahan.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kode Pos</label>
          <div class="col-sm-9">
            <div class="input-group mb-3">
              <input type="tel" maxlength="8" class="form-control" id="kode_pos_agunan" formControlName="kode_pos_agunan" />
              <div class="input-group-append">
                <button
                  [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
                  class="btn btn-outline-dark"
                  (click)="carimenggunakankodeposagunan(this.editCollateralForm.get('kode_pos_agunan')?.value)"
                  type="button"
                >
                  Cari Data
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">RT / RW</label>
          <div class="col">
            <input type="tel" maxlength="3" class="form-control" placeholder="RT" id="rt" formControlName="rt" />
          </div>
          <div class="col">RT</div>
          <div class="col">
            <input type="tel" class="form-control" placeholder="RW" maxlength="3" id="rw" formControlName="rw" />
          </div>
          <div class="col">RW</div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Alamat Agunan Sama Dengan Sertifikat?</label>
          <div class="col-sm-9">
            <input
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
              type="radio"
              name="testtt"
              value="0"
              (change)="onItemChange($event.target)"
              [checked]="
                this.editCollateralForm.get('alamat_agunan')?.value != this.editCollateralForm.get('alamat_sesuai_sertifikat')?.value
              "
            />Tidak Sama
            <input
              [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
              type="radio"
              name="testtt"
              value="1"
              (change)="onItemChange($event.target)"
              [checked]="
                this.editCollateralForm.get('alamat_agunan')?.value == this.editCollateralForm.get('alamat_sesuai_sertifikat')?.value
              "
            />Sama
          </div>
        </div>
        <br />
        <div [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'H02'" class="form-group row">
          <label class="col-md-3 col-form-label">Luas Tanah</label>
          <div class="col">
            <input
              type="tel"
              oninput="this.value = this.value.replace(/^0/g, '');"
              class="form-control"
              placeholder=""
              formControlName="luas_tanah"
              id="luas_tanah_anggunan"
            />
          </div>
          <div class="col">M2</div>
        </div>
        <br />
        <div [hidden]="this.editCollateralForm.get('tipe_agunan')?.value == 'H01'" class="form-group row">
          <label class="col-sm-3 col-form-label">Luas Bangunan</label>
          <div class="col">
            <input
              type="tel"
              oninput="this.value = this.value.replace(/^0/g, '');"
              class="form-control"
              placeholder=""
              formControlName="luas_bangunan"
              id="luas_bangunan_anggunan"
            />
          </div>
          <div class="col">M2</div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Harga Objek</label>
          <div class="col-sm-9">
            <input
              type="tel"
              oninput="this.value = this.value.replace(/^0/g, '');"
              class="form-control"
              placeholder=""
              formControlName="harga_objek"
              id="harga_objek"
              currencyMask
              [options]="{ prefix: 'Rp. ', thousands: ',', decimal: ',', precision: 0 }"
            />
          </div>
        </div>
      </div>
      <!-- batas colom 1 dan 2 -->

      <div class="col">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Alamat Sesuai Sertifikat</label>
          <div class="col-sm-9">
            <textarea
              class="form-control h-150px"
              rows="6"
              id="alamat_sesuai_sertifikat"
              formControlName="alamat_sesuai_sertifikat"
            ></textarea>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Provinsi</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="SertifProvChange(this.editCollateralForm.get('provinsi_sesuai_sertifikat')?.value)"
                id="provinsi_sesuai_sertifikat"
                formControlName="provinsi_sesuai_sertifikat"
              >
                <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                  {{ daWaprof.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kota</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="SertifKotaChange(this.editCollateralForm.get('kabkota_sesuai_sertifikat')?.value)"
                id="kabkota_sesuai_sertifikat"
                formControlName="kabkota_sesuai_sertifikat"
              >
                <option *ngFor="let daWakotas of daWakotas" value="{{ daWakotas.kdWilayah }}|{{ daWakotas.namaWilayah }}">
                  {{ daWakotas.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kecamatan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                class="form-control"
                (change)="SertifKecamatanChange(this.editCollateralForm.get('kecamatan_sesuai_sertifikat')?.value)"
                id="kecamatan_sesuai_sertifikat"
                formControlName="kecamatan_sesuai_sertifikat"
              >
                <option *ngFor="let kecamatans of kecamatans" value="{{ kecamatans.kdWilayah }}|{{ kecamatans.namaWilayah }}">
                  {{ kecamatans.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kelurahan</label>
          <div class="col-sm-9">
            <div class="form-group">
              <select
                (change)="SertifKelurahanChange(this.editCollateralForm.get('kelurahan_sesuai_sertifikat')?.value)"
                class="form-control"
                id="kelurahan_sesuai_sertifikat"
                formControlName="kelurahan_sesuai_sertifikat"
              >
                <option *ngFor="let kelurahans of kelurahans" value="{{ kelurahans.kdPos }}|{{ kelurahans.namaWilayah }}">
                  {{ kelurahans.namaWilayah }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Kode Pos</label>
          <div class="col-sm-9">
            <div class="input-group mb-3">
              <input
                type="tel"
                maxlength="8"
                class="form-control"
                id="kode_pos_sesuai_sertifikat"
                formControlName="kode_pos_sesuai_sertifikat"
              />
              <div class="input-group-append">
                <button
                  [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
                  class="btn btn-outline-dark"
                  (click)="carimenggunakankodepossertifikat(this.editCollateralForm.get('kode_pos_sesuai_sertifikat')?.value)"
                  type="button"
                >
                  Cari Data
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">RT / RW</label>
          <div class="col">
            <input type="tel" class="form-control" placeholder="RT" id="rt_sertifikat" formControlName="rt_sertifikat" maxlength="3" />
          </div>
          <div class="col">RT</div>
          <div class="col">
            <input type="tel" class="form-control" placeholder="RW" maxlength="3" id="rw_sertifikat" formControlName="rw_sertifikat" />
          </div>
          <div class="col">RW</div>
        </div>
        <br />
        <div *ngIf="this.editCollateralForm.get('tipe_agunan')?.value == 'H03'">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">ID Rumah</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="id_rumah" id="id_rumah" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Blok Rumah</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="blok_rumah" id="blok_rumah" />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">No Rumah</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="nomor_rumah" id="no_rumah" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row" [hidden]="this.untukSessionRole == 'VER_PRE_SPV' || this.untukSessionRole == 'BRANCHMANAGER'">
    <div class="col" style="text-align: center">
      <button type="submit" class="btn btn-dark">
        Simpan Data<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="this.untukSessionRole == 'VER_PRE_SPV' || this.untukSessionRole == 'BRANCHMANAGER'">
    <div class="col" style="text-align: center">
      <button type="button" class="btn btn-warning" (click)="goto()">Selanjutnya<span></span></button>
    </div>
  </div>
</form>
