<div class="content-body">
  <div class="container-fluid">
    <form
      id="data_entry_form"
      method="post"
      action="<?php echo site_url('data_entry/buatsaveeditcollateral'); ?>"
      onsubmit="return validateFormCollateralEdit()"
      required
    >
      <div class="card">
        <h4 class="card card-body gradient-9" style="text-align: center">Collateral</h4>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tipe Anggunan</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      name="tipe_anggunan"
                      id="tipe_anggunan"
                      value="{{ daWa.tipe_agunan }}"
                      readonly
                    />
                    <input type="hidden" id="WADUH" name="WADUH" value="" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Jenis Objek</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <select class="form-control" name="jenis_objek" id="jenis_objek">
                      <option value="{{ daWa.jenis_objek_deskripsi }}">{{ daWa.jenis_objek_deskripsi }}</option>
                      <option value="1">Jaminan</option>
                      <option value="2">Obyek yang dibiayai/dibeli</option>
                      <option value="3">Obyek yang dibiayai/dibeli sekaligus yang dijaminkan</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- untuk tanah dan bangunan colom 1 NO1 -->
              <div id="hidden_tnb" class="hidden_tnb">
                <!--awal hidden tbn-->
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Tipe Property</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <select class="form-control" name="tipe_properti1" id="tipe_properti1">
                        <option value="{{ daWa.tipe_properti }}">{{ daWa.tipe_properti }}</option>
                        <option value="Rumah">Rumah</option>
                        <option value="Apartement">Apartement</option>
                        <option value="Ruko / Rukan">Ruko / Rukan</option>
                        <option value="Kos">Kos</option>
                        <option value="Villa">Villa</option>
                        <option value="Tanah / Kavling">Tanah / Kavling</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Status</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <div class="lihat_baru" id="ihide_baru">
                        <label class="radio-inline mr-3" for="ibaru">
                          <input type="radio" value="" name="statusCollateral" id="ibaru" />
                        </label>
                      </div>
                      <div class="lihat_second" id="ihide_second">
                        <label class="radio-inline mr-3" for="isecond">
                          <input type="radio" value="" name="statusCollateral" id="isecond" />
                        </label>
                      </div>
                      <div class="hide_pks" id="ihide_pks">
                        <label class="radio-inline mr-3" for="ipks">
                          <input type="radio" value="pks" name="statusBarusecond" id="ipks" />
                        </label>
                      </div>
                      <div class="hide_nonpks" id="ihide_nonpks">
                        <label class="radio-inline mr-3" for="inonpks">
                          <input type="radio" value="non pks" name="statusBarusecond" id="inonpks" />
                        </label>
                      </div>
                      <div class="hide_perorangan" id="ihide_perorangan">
                        <label class="radio-inline mr-3" for="iperorangan">
                          <input type="radio" value="perorangan" name="statusBarusecond" id="iperorangan" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="developer_pks">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Developer</label>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <select class="form-control" name="developer_pks1" id="developer_pks1">
                          <option value="{{ daWa.developer }}">{{ daWa.developer }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="developer_nonpks">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Developer</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Developer"
                        name="developer_non_pks1"
                        id="developer_non_pks1"
                        value=""
                      />
                    </div>
                  </div>
                </div>
                <div class="form-goup row" hidden>
                  <input type="hidden" id="id_collateral" name="id_collateral" value="" class="form-control" />
                  <input type="hidden" id="id_collateral_detail" name="id_collateral_detail" value="" class="form-control" />
                  <input id="app_no_de" name="app_no_de" type="hidden" class="form-control" placeholder="app_no_ide" value="" readonly />
                  <input type="hidden" id="curef_id" name="curef_id" value="" class="form-control" />
                  <!-- <input type="hidden" id="WADUH" name="WADUH" value="<?=$this->session->userdata('GROUP_NAME');?>" class="form-control" > -->
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Nama Perumahan</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ daWa.nama_perumahan }}"
                      placeholder="Nama Perumahan"
                      name="nama_perumahan1"
                      id="nama_perumahan1"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Sama dengan Jaminan Sebelumnya</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label class="radio-inline mr-3" id="tatdddd">
                        <input type="radio" value="ia" id="status_jaminan_sebelumnya1" name="status_jaminan_sebelumnya1" />Ya</label
                      >
                      <label class="radio-inline mr-3">
                        <input type="radio" value="tidak" id="status_jaminan_sebelumnya2" name="status_jaminan_sebelumnya1" />Tidak</label
                      >
                      <!-- <p> <button type="button" class="col-sm-12 btn btn-dark"><i class="icon-magnifier menu-icon"></i>Lihat Jaminan Sebelumnya</button></p> -->
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Hubungan antara Pemegang Hak dan calon Nasabah</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <select class="form-control" name="hubungan_pemegang_hak1" id="hubungan_pemegang_hak1">
                        <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> batas hidden colom tnb  NO 1-->

              <!--awal hiden colom 1 tanah NO 4-->
              <div id="hidden_tanahCol1" class="hidden_tanahCol1">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Hubungan antar Pemegang Hak dan calon Nasabah</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <select class="form-control" name="hubungan_pemegang_hak4" id="hubungan_pemegang_hak4">
                        <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- akhir hiden tanah colom 1 -->

              <!--awal hidden emas-->
              <!-- <div id="hidden_emas" class="hidden_emas>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Tipe Property</label>
                                  <div class="col-sm-8">
                                      <div class="form-group">
                                          <select class="form-control">
                                              <option>Rumah</option>
                                              <option>Apartement</option>
                                              <option>Ruko / Rukan</option>
                                              <option>Kos</option>
                                              <option>Villa</option>
                                              <option>Tanah / Kavling</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Status</label>
                                  <div class="col-sm-8">
                                      <div class="form-group">
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">Baru</label>
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">Second</label>
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">PKS</label>
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">NON-PKS</label>
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">Perorangan</label>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Developer</label>
                                  <div class="col-sm-8">
                                      <div class="form-group">
                                          <select class="form-control">
                                              <option>tarik</option>
                                              <option>tarik</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Developer</label>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder="Developer">
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Nama Perumahan</label>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder="Nama Perumahan">
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Sama dengan Jaminan Sebelumnya</label>
                                  <div class="col-sm-8">
                                      <div class="form-group">
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">Ya</label>
                                          <label class="radio-inline mr-3">
                                              <input type="radio" name="optradio">Tidak</label>
                                              <p> <button type="submit" class="col-sm-12 btn btn-dark"><i class="icon-magnifier menu-icon"></i>Lihat Jaminan Sebelumnya</button></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-8 col-form-label">Hubungan antara Pemegang Hak dan calon Nasabah</label>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <select class="form-control">
                                              <option>tarik</option>
                                              <option>api</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              </div>  -->
              <!-- batas hidden emas -->

              <div id="hidden_bangunan" class="hidden_bangunan">
                <!--awal hidden bangunan colom 1 NO5-->
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Tipe Property</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <select class="form-control" name="tipe_properti5" id="tipe_properti5">
                        <option value="{{ daWa.tipe_properti }}">{{ daWa.tipe_properti }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Status</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <div class="lihat_baru2" id="ihide_baru2">
                        <label class="radio-inline mr-3" for="ibaru2">
                          <input type="radio" value="" name="statusCollateral2" id="ibaru2" />Baru
                        </label>
                      </div>
                      <div class="lihat_second2" id="ihide_second2">
                        <label class="radio-inline mr-3" for="isecond2">
                          <input type="radio" value="" name="statusCollateral2" id="isecond2" />Second
                        </label>
                      </div>
                      <div class="hide_pks2" id="ihide_pks2">
                        <label class="radio-inline mr-3" for="ipks2">
                          <input type="radio" value="" name="statusBarusecond2" id="ipks2" />PKS
                        </label>
                      </div>
                      <div class="hide_nonpks2" id="ihide_nonpks2">
                        <label class="radio-inline mr-3" for="inonpks2">
                          <input type="radio" value="" name="statusBarusecond2" id="inonpks2" />NON-PKS
                        </label>
                      </div>
                      <div class="hide_perorangan2" id="ihide_perorangan2">
                        <label class="radio-inline mr-3" for="iperorangan2">
                          <input type="radio" value="" name="statusBarusecond2" id="iperorangan2" />Perorangan
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="developer_pks2">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Developer</label>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <select class="form-control" name="developer_pks5" id="developer_pks5">
                          <option value="{{ daWa.developer }}">{{ daWa.developer }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="developer_nonpks2">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Developer</label>
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Developer"
                        name="developer_non_pks5"
                        id="developer_non_pks5"
                        value="{{ daWa.developer }}"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Nama Perumahan</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nama Perumahan"
                      name="nama_perumahan5"
                      id="nama_perumahan5"
                      value="{{ daWa.nama_perumahan }}"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Sama dengan Jaminan Sebelumnya</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label class="radio-inline mr-3" id="tatdddd5">
                        <input type="radio" value="ia" id="status_jaminan_sebelumnya5_ya" name="status_jaminan_sebelumnya5" />Ya</label
                      >
                      <label class="radio-inline mr-3">
                        <input
                          type="radio"
                          value="tidak"
                          id="status_jaminan_sebelumnya5_tidak"
                          name="status_jaminan_sebelumnya5"
                        />Tidak</label
                      >
                      <!-- <p> <button type="button" class="col-sm-12 btn btn-dark"><i class="icon-magnifier menu-icon"></i>Lihat Jaminan Sebelumnya</button></p> -->
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Hubungan antara Pemegang Hak dan calon Nasabah</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <select class="form-control" name="hubungan_pemegang_hak5" id="hubungan_pemegang_hak5">
                        <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- batas hidden bangunan NO5 -->
              <!--batas colom 1 bangunan-->

              <!--awal hidden kendaraan colom 1 NO 2-->
              <div id="hidden_kendaraanCol1" class="hidden_kendaraanCol1">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Tipe Kendaraan</label>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <select class="form-control" name="tipe_kendaraan2" id="tipe_kendaraan2">
                        <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Merek</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                      placeholder="Merek"
                      name="merk2"
                      id="merk2"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Model</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                      placeholder="Model"
                      name="model2"
                      id="model2"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Seri</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                      placeholder="Seri"
                      name="seri2"
                      id="seri2"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">No BPKB</label>
                  <div class="col-sm-8">
                    <input
                      type="tel"
                      class="form-control"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                      placeholder="No BPKB"
                      name="nomor_bpkb2"
                      id="nomor_bpkb2"
                    />
                  </div>
                </div>
              </div>
              <!-- batas hidden kendaraan colom 1 NO2 -->
            </div>
            <!-- pembatas colom 1 dan 2 -->

            <!-- hide show colom kendaraan NO2 -->
            <div class="col hidden_kendaraanCol2" id="hidden_kendaraanCol2">
              <!-- hide_kendaraan -->
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">No Plat</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder="No Plat"
                    name="no_plat2"
                    id="no_plat2"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Warna</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder="Warna"
                    name="warna2"
                    id="warna2"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">No Mesin</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder="No Mesin"
                    name="no_mesin2"
                    id="no_mesin2"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">No Rangka</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder="No Rangka"
                    name="no_rangka2"
                    id="no_rangka2"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nama BPKB</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder="Nama BPKB"
                    name="nama_bpkb2"
                    id="nama_bpkb2"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    id="tanggal_terbit2"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    name="tanggal_terbit2"
                    value="tanggal_terbit2"
                  />
                </div>
              </div>
            </div>
            <!--akhir hide show colom kendaraan NO2 -->

            <!-- hide show colom 2 tanah NO 4--->
            <div class="col hidden_tanahCol2" id="hidden_tanahCol2">
              <div class="form-group row" id="tanahPakeIni">
                <label class="col-sm-4 col-form-label">Tahun Buat (YYYY)</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    placeholder=""
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    name="tahun_buat4"
                    id="tahun_buat4"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status Setifikat</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <select class="form-control" name="status_sertifikat4" id="status_sertifikat4">
                      <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nomor Sertifikat</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder="Nomor Sertifikat"
                    name="nomor_sertifikat4"
                    id="nomor_sertifikat4"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nama Pemegang Hak</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    name="nama_pemegang_hak4"
                    id="nama_pemegang_hak4"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">No Contact Person</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    maxlength="12"
                    class="form-control"
                    placeholder=""
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    name="no_contact_person4"
                    id="no_contact_person4"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nomor Identitas Pemegang Hak Setifikat</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder=""
                    name="nomor_identitas_pemegang_hak4"
                    id="nomor_identitas_pemegang_hak4"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    value=""
                    name="tanggal_lahir4"
                    id="tanggal_lahir4"
                    onchange="tanggalTerbitDayTanah()"
                  />
                  <input class="form-control" id="hariTanggalnyaTerbitTanah" value="{{ daWa.hubungan_pemegang_hak }}" hidden />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Exipred</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    id="tanggal_exipred4"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    name="tanggal_exipred4"
                    onchange="tanggalExpDayTanah()"
                  />
                  <input class="form-control" id="hariTanggalnyaExpTanah" value="" hidden />
                </div>
              </div>
            </div>
            <!-- hide show colom 2 tanah  NO 4-->

            <!-- hide show colom 2 buat tnb dan bangunan  -->
            <div class="col hidden_bangunanCol2" id="hidden_bangunanCol2">
              <div class="form-group row" id="tahunBuatTanah">
                <label class="col-sm-4 col-form-label">Tahun Buat (YYYY)</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    maxlength="4"
                    class="form-control"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    placeholder=""
                    name="tahun_buatbiasa5"
                    id="tahun_buatbiasa5"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status Setifikat</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <select class="form-control" name="status_sertifikat5" id="status_sertifikat5">
                      <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nomor Sertifikat</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    placeholder="Nomor Sertifikat"
                    name="no_sertifikat5"
                    id="no_sertifikat5"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nama Pemegang Hak</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="nama_pemegang_hak5"
                    id="nama_pemegang_hak5"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">No Contact Person</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    maxlength="12"
                    class="form-control"
                    placeholder=""
                    name="no_handphone_cp5"
                    id="no_handphone_cp5"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nomor Identitas Pemegang Hak Setifikat</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    placeholder=""
                    name="no_id_pemegang_hak_sertifikat5"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    id="no_id_pemegang_hak_sertifikat5"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    id="tanggal_terbit5"
                    name="tanggal_terbit5"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    onchange="tanggalTerbitDayBangunan()"
                  />
                  <input class="form-control" id="hariTanggalnyaTerbitBangunan" hidden />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Exipred</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    id="tanggal_expired5"
                    name="tanggal_expired5"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    onchange="tanggalExpDayBangunan()"
                  />
                  <input class="form-control" id="hariTanggalnyaExpBagunan" hidden />
                </div>
              </div>
            </div>
            <!--hide show colom biasa-->

            <!-- hide show colom 2 buat tnb dan bangunan  -->
            <div class="col hidden_tnbCol2" id="hidden_tnbCol2">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tahun Buat (YYYY)</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    maxlength="4"
                    class="form-control"
                    placeholder=""
                    name="tahun_buatbiasa1"
                    id="tahun_buatbiasa1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status Setifikat</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <select class="form-control" name="status_sertifikat1" id="status_sertifikat1">
                      <option value="{{ daWa.hubungan_pemegang_hak }}">{{ daWa.hubungan_pemegang_hak }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nomor Sertifikat</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    placeholder="Nomor Sertifikat"
                    name="no_sertifikat1"
                    id="no_sertifikat1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nama Pemegang Hak</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="nama_pemegang_hak1"
                    id="nama_pemegang_hak1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">No Contact Person</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    maxlength="12"
                    class="form-control"
                    placeholder=""
                    name="no_handphone_cp1"
                    id="no_handphone_cp1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nomor Identitas Pemegang Hak Setifikat</label>
                <div class="col-sm-8">
                  <input
                    type="tel"
                    onkeypress="return onlyNumberKey(event)"
                    class="form-control"
                    placeholder=""
                    name="no_id_pemegang_hak_sertifikat1"
                    id="no_id_pemegang_hak_sertifikat1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    id="tanggal_terbit1"
                    name="tanggal_terbit1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    onchange="tanggalTerbitDayTanahDanBangunan()"
                  />
                  <input class="form-control" id="hariTanggalnyaTerbitTanahDanBangunan" hidden />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tanggal Exipred</label>
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="date"
                    id="tanggal_expired1"
                    name="tanggal_expired1"
                    value="{{ daWa.hubungan_pemegang_hak }}"
                    onchange="tanggalExpDayTanahDanBangunan()"
                  />
                  <input class="form-control" id="hariTanggalnyaExpTanahDanBagunan" hidden />
                </div>
              </div>
            </div>
            <!--hide show colom biasa-->
          </div>
          <!-- batas colom 1 dan 2 -->

          <!-- pembatas row ke 2 dan 3 -->
          <div class="card-body" id="hide_row" class="hide_row">
            <h4 class="card-body gradient-9" style="text-align: center">Alamat Anggunan</h4>
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Alamat</label>
                  <div class="col-sm-9">
                    <textarea class="form-control h-150px" rows="6" id="alamat_agunan" name="alamat_agunan">{{
                      daWa.hubungan_pemegang_hak
                    }}</textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Provinsi</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="provinsi_agunan" name="provinsi_agunan">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kota</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="kabkota_agunan" name="kabkota_agunan">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kecamatan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="kecamatan_agunan" name="kecamatan_agunan">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kelurahan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="kelurahan_agunan" name="kelurahan_agunan">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kode Pos</label>
                  <div class="col-sm-9">
                    <div class="input-group-append">
                      <input
                        type="tel"
                        onkeypress="return onlyNumberKey(event)"
                        maxlength="8"
                        class="form-control"
                        id="kode_pos_agunan"
                        name="kode_pos_agunan"
                        value="{{ daWa.hubungan_pemegang_hak }}"
                      />
                      <button class="btn btn-outline-dark" onclick="buatisiagunan()" id="kode_pos_agunanhilang" type="button">
                        Cari Data
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">RT / RW</label>
                  <div class="col">
                    <input
                      type="tel"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder="RT"
                      maxlength="3"
                      id="rt_anggunan"
                      name="rt_anggunan"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                    />
                  </div>
                  <h2>/</h2>
                  <div class="col">
                    <input
                      type="tel"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder="RW"
                      maxlength="3"
                      id="rw_anggunan"
                      name="rw_anggunan"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Alamat Agunan Sama Dengan Sertifikat?</label>
                  <div class="col-sm-9">
                    <input type="radio" name="samaDomisili" id="iyaSama" value="1" />Sama
                    <input type="radio" name="samaDomisili" id="takSama" value="0" />Tidak Sama
                  </div>
                </div>
                <div id="hiddenJikaTanah" class="form-group row">
                  <label class="col-sm-3 col-form-label">Luas Bangunan</label>
                  <div class="form-group col-md-8">
                    <input
                      type="tel"
                      oninput="this.value = this.value.replace(/^0/g, '')"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder=""
                      name="luas_bangunan"
                      id="luas_bangunan"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                    />
                  </div>
                  <span>M2</span>
                </div>
                <div id="hiddenJikaBangunan" class="form-group row">
                  <label class="col-md-3 col-form-label">Luas Tanah</label>
                  <div class="form-group col-md-8">
                    <input
                      type="tel"
                      oninput="this.value = this.value.replace(/^0/g, '');"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder=""
                      name="luas_tanah"
                      id="luas_tanah"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                    />
                  </div>
                  <span>M2</span>
                </div>
                <div id="hiddenJikaTanahHarga" class="form-group row">
                  <label class="col-sm-3 col-form-label">Harga Objek</label>
                  <div class="col-sm-9">
                    <input
                      type="tel"
                      oninput="this.value = this.value.replace(/^0/g, '');"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder=""
                      name="harga_objek"
                      id="harga_objek"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                    />
                  </div>
                </div>
              </div>
              <!-- batas colom 1 dan 2 -->

              <div class="col">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Alamat Sesuai Sertifikat</label>
                  <div class="col-sm-9">
                    <textarea class="form-control h-150px" rows="6" id="alamat_sesuai_sertifikat" name="alamat_sesuai_sertifikat">{{
                      daWa.hubungan_pemegang_hak
                    }}</textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Provinsi</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="provinsi_sesuai_sertifikat" name="provinsi_sesuai_sertifikat">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kota</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="kabkota_sesuai_sertifikat" name="kabkota_sesuai_sertifikat">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kecamatan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="kecamatan_sesuai_sertifikat" name="kecamatan_sesuai_sertifikat">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kelurahan</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <select class="form-control" id="kelurahan_sesuai_sertifikat" name="kelurahan_sesuai_sertifikat">
                        <option>{{ daWa.hubungan_pemegang_hak }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Kode Pos</label>
                  <div class="col-sm-9">
                    <div class="input-group-append">
                      <input
                        type="tel"
                        onkeypress="return onlyNumberKey(event)"
                        maxlength="8"
                        class="form-control"
                        id="kode_pos_sesuai_sertifikat"
                        name="kode_pos_sesuai_sertifikat"
                        value="{{ daWa.hubungan_pemegang_hak }}"
                      />
                      <button
                        class="btn btn-outline-dark"
                        onclick="buatisisertifikat()"
                        id="kode_pos_sesuai_sertifikathilang"
                        type="button"
                      >
                        Cari Data
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">RT / RW</label>
                  <div class="col">
                    <input
                      type="tel"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder="RT"
                      maxlength="3"
                      id="rt_sertifikat"
                      name="rt_sertifikat"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                    />
                  </div>
                  <h2>/</h2>
                  <div class="col">
                    <input
                      type="tel"
                      onkeypress="return onlyNumberKey(event)"
                      class="form-control"
                      placeholder="RW"
                      maxlength="3"
                      id="rw_sertifikat"
                      value="{{ daWa.hubungan_pemegang_hak }}"
                      name="rw_sertifikat"
                    />
                  </div>
                </div>
                <div id="adaKaloTnb">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ID Rumah<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        value="{{ daWa.hubungan_pemegang_hak }}"
                        name="id_rumah"
                        id="id_rumah"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Blok Rumah<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        value="{{ daWa.hubungan_pemegang_hak }}"
                        name="blok_rumah"
                        id="blok_rumah"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">No Rumah<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        value="{{ daWa.hubungan_pemegang_hak }}"
                        name="no_rumah"
                        id="no_rumah"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" (click)="updatecollateral()" class="btn btn-dark" id="simpan4" name="simpan4" style="float: right">
            Simpan Data
          </button>
          <button
            type="submit"
            (click)="goto()"
            class="btn btn-warning"
            id="selanjutnya"
            name="selanjutnya"
            style="float: right"
            onclick="return window.validateFormCollateralEdit()"
          >
            Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- #/ container -->
</div>
