<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Data Kantor</h3>
</div>
<form [formGroup]="dataKantorForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Verification</label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="date"
            formControlName="tanggal_verification"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.tanggal_verification.errors }"
            id="tanggal_verification"
            name="tanggal_verification"
          />
          <div *ngIf="submitted && dataKantorForm.controls.tanggal_verification.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.tanggal_verification.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pemberi Keterangan</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="pemberi_keterangan"
            name="pemberi_keterangan"
            placeholder=""
            formControlName="pemberi_keterangan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.pemberi_keterangan.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.pemberi_keterangan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.pemberi_keterangan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Waktu Verification</label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="time"
            id="waktu_verification"
            name="waktu_verification"
            formControlName="waktu_verification"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.waktu_verification.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.waktu_verification.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.waktu_verification.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Hubungan Pemohon dengan Pemberi Keterangan</label>
        <div class="col-sm-8">
          <select
            name="hungungan_pemohon_dengan_pemberi_keterangan"
            id="hungungan_pemohon_dengan_pemberi_keterangan"
            class="form-control"
            formControlName="hungungan_pemohon_dengan_pemberi_keterangan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.hungungan_pemohon_dengan_pemberi_keterangan.errors }"
          >
            <option value="">Pilih Data</option>
            <option *ngFor="let refHubunganAgunan of refHubunganAgunan" value="{{ refHubunganAgunan.deskripsi }}">
              {{ refHubunganAgunan.deskripsi }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.hungungan_pemohon_dengan_pemberi_keterangan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.hungungan_pemohon_dengan_pemberi_keterangan.errors.required">
              Tidak Boleh Kosong
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 class="row" style="color: #fff; text-align: center">
      <div class="col">Data</div>
      <div class="col">Verifikasi</div>
      <div class="col">Notes</div>
    </h3>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Telepon</label>
        <div class="col-sm-8">
          <input
            (keypress)="keyPressNumbers($event)"
            maxlength="13"
            type="text"
            class="form-control"
            id="no_telepon"
            name="no_telepon"
            placeholder=""
            formControlName="no_telepon"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.no_telepon.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.no_telepon.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.no_telepon.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_no_customer" id="ceklis_no_customer_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_no_customer" id="ceklis_no_customer_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="provinsi" id="provinsi" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fax</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="fax"
            name="fax"
            placeholder=""
            formControlName="fax"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.fax.errors }"
            (keypress)="keyPressNumbers($event)"
            maxlength="12"
          />
          <div *ngIf="submitted && dataKantorForm.controls.fax.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.fax.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_no_aplikasi" id="ceklis_no_aplikasi_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_no_aplikasi" id="ceklis_no_aplikasi_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="provinsi" id="provinsi" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_perusahaan"
            name="nama_perusahaan"
            placeholder=""
            formControlName="nama_perusahaan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.nama_perusahaan.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.nama_perusahaan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.nama_perusahaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_no_hp" id="ceklis_no_hp_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_no_hp" id="ceklis_no_hp_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="kota" id="kota" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat Perusahaan</label>
        <div class="col-sm-8">
          <textarea
            class="form-control"
            name="alamat_perusahaan"
            id="alamat_perusahaan"
            formControlName="alamat_perusahaan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.alamat_perusahaan.errors }"
          ></textarea>
          <div *ngIf="submitted && dataKantorForm.controls.alamat_perusahaan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.alamat_perusahaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_nama" id="ceklis_nama_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_nama" id="ceklis_nama_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <textarea name="alamat_perusahaan" id="alamat_perusahaan" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Provinsi</label>
        <div class="col-sm-8">
          <select
            name="provinsi"
            id="provinsi"
            class="form-control"
            (change)="onChangeProvinsi(provinsi_cabang)"
            [(ngModel)]="provinsi_cabang"
            formControlName="provinsi"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.provinsi.errors }"
          >
            <option *ngFor="let getProvinsi of getProvinsi" value="{{ getProvinsi.kdWilayah }}|{{ getProvinsi.namaWilayah }}">
              {{ getProvinsi.namaWilayah }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.provinsi.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.provinsi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="validasi_provinsi" id="validasi_provinsi_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="validasi_provinsi" id="validasi_provinsi_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="memo_provinsi" id="memo_provinsi" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kota</label>
        <div class="col-sm-8">
          <select
            (change)="onChangekota(kabkota_cabang)"
            [(ngModel)]="kabkota_cabang"
            name="kota"
            id="kota"
            class="form-control"
            formControlName="kota"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.kota.errors }"
          >
            <option *ngFor="let getKota of getKota" value="{{ getKota.kdWilayah }}|{{ getKota.namaWilayah }}">
              {{ getKota.namaWilayah }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.kota.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.kota.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_rt_rw" id="ceklis_rt_rw_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_rt_rw" id="ceklis_rt_rw_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input id="kode_pos" name="kode_pos" type="text" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kecamatan</label>
        <div class="col-sm-8">
          <select
            (change)="onChangekecamatan(kecamatan)"
            [(ngModel)]="kecamatan"
            name="kecamatan"
            id="kecamatan"
            class="form-control"
            formControlName="kecamatan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.kecamatan.errors }"
          >
            <option *ngFor="let getKecamatan of getKecamatan" value="{{ getKecamatan.kdWilayah }}|{{ getKecamatan.namaWilayah }}">
              {{ getKecamatan.namaWilayah }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.kecamatan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.kecamatan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_provinsi" id="ceklis_provinsi_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_provinsi" id="ceklis_provinsi_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input class="form-control" type="text" id="tanggal_lahir" name="tanggal_lahir" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kelurahan</label>
        <div class="col-sm-8">
          <select
            (change)="onChangekelurahan(kelurahan)"
            [(ngModel)]="kelurahan"
            name="kelurahan"
            id="kelurahan"
            class="form-control"
            formControlName="kelurahan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.kelurahan.errors }"
          >
            <option *ngFor="let getKelurahan of getKelurahan" value="{{ getKelurahan.kdPos }}|{{ getKelurahan.namaWilayah }}">
              {{ getKelurahan.namaWilayah }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.kelurahan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.kelurahan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kota" id="ceklis_kota_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kota" id="ceklis_kota_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="pedidikan" id="pedidikan" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">RT / RW</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="rt"
            name="rt"
            placeholder=""
            formControlName="rt"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.rt.errors }"
            (keypress)="keyPressNumbers($event)"
            maxlength="3"
          />
          <div *ngIf="submitted && dataKantorForm.controls.rt.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.rt.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col"><h4>/</h4></div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="rw"
            name="rw"
            placeholder=""
            formControlName="rw"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.rw.errors }"
            (keypress)="keyPressNumbers($event)"
            maxlength="3"
          />
          <div *ngIf="submitted && dataKantorForm.controls.rw.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.rw.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kecamatan" id="ceklis_kecamatan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kecamatan" id="ceklis_kecamatan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input name="status_menikah" id="status_menikah" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kode Pos</label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              type="text"
              [(ngModel)]="kode_pos"
              class="form-control"
              id="kode_pos"
              value="{{ getKodePos }}"
              name="kode_pos"
              formControlName="kode_pos"
              [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.kode_pos.errors }"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Cari Data</button>
            </div>
          </div>
          <div *ngIf="submitted && dataKantorForm.controls.kode_pos.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.kode_pos.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kelurahan" id="ceklis_kelurahan_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kelurahan" id="ceklis_kelurahan_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="nama_ibu_kandung" name="nama_ibu_kandung" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lama Bekerja</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="lama_bekerja_tahun"
            name="lama_bekerja_tahun"
            placeholder=""
            formControlName="lama_bekerja_tahun"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.lama_bekerja_tahun.errors }"
            (keypress)="keyPressNumbers($event)"
            maxlength="4"
          />
          <div *ngIf="submitted && dataKantorForm.controls.lama_bekerja_tahun.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.lama_bekerja_tahun.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col"><label>Tahun</label></div>
        <div class="col">
          <input
            type="text"
            (keypress)="keyPressNumbers($event)"
            maxlength="2"
            class="form-control"
            id="lama_bekerja_bulan"
            name="lama_bekerja_bulan"
            placeholder=""
            formControlName="lama_bekerja_bulan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.lama_bekerja_bulan.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.lama_bekerja_bulan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.lama_bekerja_bulan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
        <div class="col"><label>Bulan</label></div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          (keypress)="keyPressNumbers($event)"
          type="text"
          class="form-control"
          id="jumlah_tanggunan"
          name="jumlah_tanggunan"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bidang Usaha</label>
        <div class="col-sm-8">
          <select
            name="bidang_usaha"
            id="bidang_usaha"
            #bidang_usaha
            class="form-control"
            formControlName="bidang_usaha"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.bidang_usaha.errors }"
            (change)="onChangeBidang(bidang_usaha.value)"
          >
            <option selected value="">Pilih Data</option>
            <option *ngFor="let refBidang of refBidang" value="{{ refBidang.group_sektor }}|{{ refBidang.nama_group_sektor }}">
              {{ refBidang.nama_group_sektor }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.bidang_usaha.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.bidang_usaha.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="nama_pasangan" name="nama_pasangan" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Sektor Ekonomi</label>
        <div class="col-sm-8">
          <select
            name="sektor_ekonomi"
            id="sektor_ekonomi"
            class="form-control"
            formControlName="sektor_ekonomi"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.sektor_ekonomi.errors }"
          >
            <option selected value="">Pilih Data</option>
            <option *ngFor="let refSektor of refSektor" value="{{ refSektor.nama_sub_sektor }}">
              {{ refSektor.nama_sub_sektor }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.sektor_ekonomi.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.sektor_ekonomi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="pekerjaan_pasangan" name="pekerjaan_pasangan" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tipe Pekerjaan</label>
        <div class="col-sm-8">
          <select
            name="tipe_pekerjaan"
            id="tipe_pekerjaan"
            class="form-control"
            formControlName="tipe_pekerjaan"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.tipe_pekerjaan.errors }"
          >
            <option value="">Pilih Data</option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.tipe_pekerjaan.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.tipe_pekerjaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="fasilitas_pembiayaan_ke" name="fasilitas_pembiayaan_ke" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status Kepegawaian</label>
        <div class="col-sm-8">
          <select
            name="status_kepegawaian"
            id="status_kepegawaian"
            class="form-control"
            formControlName="status_kepegawaian"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.status_kepegawaian.errors }"
          >
            <option value="">Pilih Data</option>
            <option value="Pegawai Tetap">Pegawai Tetap</option>
            <option value="Pegawai Kontrak">Pegawai Kontrak</option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.status_kepegawaian.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.status_kepegawaian.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="fasilitas_pembiayaan_ke" name="fasilitas_pembiayaan_ke" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Posisi / Jabatan</label>
        <div class="col-sm-8">
          <select
            id="posisi"
            name="posisi"
            class="form-control"
            formControlName="posisi"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.posisi.errors }"
          >
            <option value="">Pilih Data</option>
            <option *ngFor="let refJabatan of refJabatan" value="{{ refJabatan.jabatan_deskripsi }}">
              {{ refJabatan.jabatan_deskripsi }}
            </option>
          </select>
          <div *ngIf="submitted && dataKantorForm.controls.posisi.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.posisi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="fasilitas_pembiayaan_ke" name="fasilitas_pembiayaan_ke" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bagian / Divisi</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="bagian_atau_divisi"
            name="bagian_atau_divisi"
            placeholder=""
            formControlName="bagian_atau_divisi"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.bagian_atau_divisi.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.bagian_atau_divisi.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.bagian_atau_divisi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="fasilitas_pembiayaan_ke" name="fasilitas_pembiayaan_ke" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Usia Pensiun</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="usia_pensiun"
            name="usia_pensiun"
            placeholder=""
            formControlName="usia_pensiun"
            [ngClass]="{ 'is-invalid': submitted && dataKantorForm.controls.usia_pensiun.errors }"
          />
          <div *ngIf="submitted && dataKantorForm.controls.usia_pensiun.errors" class="text-danger">
            <div *ngIf="submitted && dataKantorForm.controls.usia_pensiun.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" id="fasilitas_pembiayaan_ke" name="fasilitas_pembiayaan_ke" placeholder="" />
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Aspek Syariah</label>
        <div class="col-sm-8">
          <label>Objek yang dibiayai tidak sesuai aspek Syariah</label>
          <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_ya" />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="ceklis_kode_pos" id="ceklis_kode_pos_tidak" />
          <label>Objek yang dibiayai sesuai aspek Syariah</label>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col" style="text-align: center">
      <button class="btn btn-info" (click)="viewDataKantor()">Simpan Data</button>
    </div>
  </div>
</form>
