<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Data Kantor</h3>
</div>
<form [formGroup]="dataKantorForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Verification</label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="date"
            formControlName="tanggal_verifikasi"
            id="tanggal_verification"
            name="tanggal_verification"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Pemberi Keterangan</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="pemberi_keterangan" />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Waktu Verification</label>
        <div class="col-sm-8">
          <input class="form-control" type="time" id="waktu_verification" name="waktu_verification" formControlName="waktu_verifikasi" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jabatan Pemberi Keterangan</label>
        <div class="col-sm-8">
          <select class="form-control" formControlName="hubungan_pemberi_keterangan">
            <option value="">Pilih Data</option>
            <option *ngFor="let hubungan of refHubunganAgunan" value="{{ hubungan.deskripsi }}">{{ hubungan.deskripsi }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 class="row" style="color: #fff; text-align: center">
      <div class="col">Data</div>
      <div class="col">Verifikasi</div>
      <div class="col">Notes</div>
    </h3>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Telepon</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="" [value]="this.dataEntry.no_telepon" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <!--verif_no_telepon-->
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_no_telepon" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_no_telepon" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input formControlName="note_verif_no_telepon" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fax</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [value]="this.dataEntry.no_telepon" />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <!--verif_fax-->
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_fax" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_fax" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input formControlName="note_verif_fax" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [value]="this.dataJob.nama_perusahaan" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_nama_perusahaan" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_nama_perusahaan" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input formControlName="note_verif_nama_perusahaan" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat Perusahaan</label>
        <div class="col-sm-8">
          <textarea class="form-control" [value]="this.dataJob.alamat_perusahaan" readonly></textarea>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <!--verif_alamat_perusahaan-->
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_alamat_perusahaan" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_alamat_perusahaan" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <textarea class="form-control" formControlName="note_verif_alamat_perusahaan"></textarea>
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Provinsi</label>
        <div class="col-sm-8">
          <input class="form-control" [value]="this.dataEntry.provinsi" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_provinsi" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_provinsi" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input class="form-control" formControlName="note_verif_provinsi" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kota</label>
        <div class="col-sm-8">
          <input class="form-control" [value]="this.dataEntry.kabkota" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kabkota" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kabkota" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input formControlName="note_verif_kabkota" type="text" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kecamatan</label>
        <div class="col-sm-8">
          <input class="form-control" [value]="this.dataEntry.kecamatan" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kecamatan" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kecamatan" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input class="form-control" type="text" formControlName="note_verif_kecamatan" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kelurahan</label>
        <div class="col-sm-8">
          <input class="form-control" [value]="this.dataEntry.kelurahan" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kelurahan" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kelurahan" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input formControlName="note_verif_kelurahan" class="form-control" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Kode Pos</label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="kode_pos"
              name="kode_pos"
              [value]="this.dataEntry.kode_pos"
              (keypress)="keyPressNumbers($event)"
              maxlength="8"
              readonly
            />
            <!-- <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Cari Data</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kode_pos" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_kode_pos" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_kode_pos" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Lama Bekerja</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="lama_bekerja_tahun"
            name="lama_bekerja_tahun"
            placeholder=""
            [value]="this.dataJob.lama_bekerja_tahun"
            (keypress)="keyPressNumbers($event)"
            maxlength="4"
            readonly
          />
        </div>
        <div class="col"><label>Tahun</label></div>
        <div class="col">
          <input
            type="text"
            maxlength="2"
            class="form-control"
            id="lama_bekerja_bulan"
            name="lama_bekerja_bulan"
            placeholder=""
            [value]="this.dataJob.lama_bekerja_bulan"
            readonly
          />
        </div>
        <div class="col"><label>Bulan</label></div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_lama_bekerja" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_lama_bekerja" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_lama_bekerja" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bidang Usaha</label>
        <div class="col-sm-8">
          <input name="bidang_usaha" id="bidang_usaha" class="form-control" [value]="this.dataJob.jenis_bidang" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_bidang_usaha" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_bidang_usaha" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_bidang_usaha" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Sektor Ekonomi</label>
        <div class="col-sm-8">
          <input name="sektor_ekonomi" id="sektor_ekonomi" class="form-control" [value]="this.dataJob.sektor_ekonomi" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_sektor_ekonomi" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_sektor_ekonomi" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_sektor_ekonomi" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row" [formGroup]="formRetrive">
        <label class="col-sm-4 col-form-label">Tipe Pekerjaan</label>
        <div class="col-sm-8">
          <select formControlName="tipe_pekerjaan" class="form-control">
            <option *ngFor="let listTipePekerjaan of listTipePekerjaan" value="{{ listTipePekerjaan.id }}">
              {{ listTipePekerjaan.job_desc }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_tipe_pekerjaan" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_tipe_pekerjaan" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_tipe_pekerjaan" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row" [formGroup]="formRetrive">
        <label class="col-sm-4 col-form-label">Status Kepegawaian</label>
        <div class="col-sm-8">
          <select formControlName="tipe_kepegawaian" class="form-control">
            <option value="1">Pegawai Tetap</option>
            <option value="2">Pegawai Kontrak</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_status_kepegawaian" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_status_kepegawaian" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_status_kepegawaian" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Posisi / Jabatan</label>
        <div class="col-sm-8">
          <input class="form-control" [value]="this.dataJob.posisi" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_jabatan" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_jabatan" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_jabatan" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Usia Pensiun</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [value]="this.dataJob.umur_pensiun" readonly />
        </div>
      </div>
    </div>
    <div class="col" style="text-align: center">
      <label>Sesuai</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_usia_pensiun" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="verif_usia_pensiun" value="0" />
      <label>Tidak Sesuai</label>
    </div>
    <div class="col">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="note_verif_usia_pensiun" />
      </div>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <label class="col-sm-2 col-form-label">Bagian / Divisi</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="divisi" />
    </div>
  </div>
  <br />
  <br />
  <div class="row form-material">
    <label class="col-sm-3 col-form-label">Aspek Syariah</label>
    <div class="col-sm-9">
      <label>Objek yang dibiayai tidak sesuai aspek Syariah</label>
      <input type="radio" style="width: 20px; height: 20px" formControlName="aspek_syariah" value="1" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" style="width: 20px; height: 20px" formControlName="aspek_syariah" value="0" />
      <label>Objek yang dibiayai sesuai aspek Syariah</label>
    </div>
  </div>
  <br />
  <div class="row form-material">
    <label class="col-sm-2 col-form-label">Jumlah Pinjaman Kantor</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        maxlength="20"
        formControlName="jumlah_pinjaman_kantor"
        currencyMask
        [options]="{ prefix: 'Rp. ', thousands: ',', decimal: '.', precision: 0 }"
      />
    </div>
  </div>
  <br />
  <div class="row form-material">
    <label class="col-sm-2 col-form-label">Komponen Gaji</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" maxlength="30" formControlName="komponen_gaji" />
    </div>
  </div>
  <br />
  <div class="row form-material">
    <label class="col-sm-2 col-form-label">Pembayaran Gaji</label>
    <div [class]="dataKantorForm.get('pembayaran_gaji')?.value === 'Keterangan lain' ? 'col-sm-5' : 'col-sm-10'">
      <select class="form-control" formControlName="pembayaran_gaji">
        <option value="">Pilih Data</option>
        <option *ngFor="let list of listPembayaranGaji" value="{{ list.deskripsi }}">{{ list.deskripsi }}</option>
      </select>
    </div>
    <div class="col-sm-5" *ngIf="dataKantorForm.get('pembayaran_gaji')?.value === 'Keterangan lain'">
      <input type="text" class="form-control" maxlength="100" formControlName="pembayaran_gaji_input" />
    </div>
  </div>
  <br />
  <div class="row form-material">
    <label class="col-sm-2 col-form-label">Tenor Pinjaman Kantor</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" maxlength="20" formControlName="tenor_pinjaman_kantor" />
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row">
    <div
      class="col"
      style="text-align: center"
      [hidden]="this.untukSessionRole == 'VER_PRE_SPV' || this.untukSessionRole == 'VER_PRE_SPV_2'"
    >
      <button class="btn btn-info">Simpan Data</button>
    </div>
    <div class="col" style="text-align: center" [hidden]="this.untukSessionRole == 'VER_PRESCR'">
      <button type="button" class="btn btn-info" (click)="Next()">Selanjutnya</button>
    </div>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
