<html>
  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row form-material">
                  <div class="col-md-6">
                    <label class="m-t-5">No Aplikasi</label>
                    <input id="input_noapp" name="input_noapp" type="text" class="form-control" placeholder="Maasukkan Nomor Aplikasi" />
                    <p></p>
                    <label class="m-t-5">Kategori Pekerjaan</label>
                    <div class="form-group">
                      <select id="selectCari" class="form-control">
                        <option selected value="">Pilih Pencarian Berdasarkan Kategori Pekerjaan</option>
                        <option value="0">Fix Income</option>
                        <option value="1">Non-Fix Income</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="m-t-20 table-responsive #example">Nama Nasabah</label>
                    <input
                      id="input_nama"
                      name="input_nama"
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Masukan Nama Nasabah"
                      aria-controls="example"
                    />
                  </div>
                  <div class="col-md-4 m-b-30"></div>
                  <div class="col-md-4 m-b-30">
                    <button id="btn_cari" type="submit" class="btn btn-dark">Cari Data</button>

                    <button id="btn_clear" class="btn btn-info" onclick="clearinput()">Clear Data</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead style="background-color: grey">
                      <tr>
                        <th scope="col" style="text-align: center; color: #fff">
                          <span>Nama Perusahaan</span>
                        </th>
                        <th scope="col" style="text-align: center; color: #fff">
                          <span>Kategori Pekerjaan</span>
                        </th>
                        <th scope="col" style="text-align: center; color: #fff">
                          <span>Posisi / Jabatan</span>
                        </th>
                        <th scope="col" style="text-align: center; color: #fff">
                          <span>Curef</span>
                        </th>
                        <th scope="col" style="text-align: center; color: #fff">
                          <span>Id</span>
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <form action=""></form>
                    <tbody>
                      <tr *ngFor="let daWa of daWa">
                        <!-- <td style="text-align: center" scope="col">{{ i + 1 }}</td> -->
                        <!-- <td style="text-align: center;" scope="col">{{ daWa.id }}</td> -->
                        <td style="text-align: center" scope="col">{{ daWa.nama }}</td>
                        <td style="text-align: center" scope="col">{{ daWa.kategori_pekerjaan }}</td>
                        <td style="text-align: center" scope="col">{{ daWa.nama_ibu_kandung }}</td>
                        <td style="text-align: center" scope="col">{{ daWa.curef }}</td>
                        <td style="text-align: center" scope="col">{{ daWa.id }}</td>
                        <!-- (change)="getProoduct(daWa.isSelected, daWa.app_no_de)" -->
                        <!-- <td> <input   (change)="getProoduct($event, daWa.app_no_de ,i+1)"  type="checkbox" > </td> -->
                        <td class="text-end">
                          <div class="btn-group">
                            <button type="button" (click)="viewdataentry(daWa.app_no_de)" class="btn btn-outline-info">
                              <fa-icon icon="eye"></fa-icon>
                              <span class="d-none d-md-inline">Detail</span>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #/ container -->
    </div>
    <!--**********************************
            Content body end
        ***********************************-->

    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
      <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="https://cms.megasyariah.co.id">Bank Mega Syariah</a> 2022</p>
      </div>
    </div>
    <!--**********************************
            Footer end
        ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/plugins/common/common.min.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/js/custom.min.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/js/settings.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/js/gleek.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/js/styleSwitcher.js"></script>

    <script src="<?php echo base_url();?>/asset/e-fos/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="<?php echo base_url();?>/asset/e-fos/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script>
      //untuk tombol cari
      $('#btn_cari').click(function () {
        //             $(document).ready(function () {
        var table = $('#example').DataTable();
        var nama = input_nama.value;
        var noapp = input_noapp.value;
        table.search(nama || noapp).draw();
      });

      //untuk tombol clear
      $('#btn_clear').click(function () {
        var table = $('#example').DataTable();
        // var nama=input_nama.value;
        table.search('').draw();
        $.each($('#example tbody tr'), function () {
          document.getElementById('input_noapp').value = '';
          document.getElementById('input_nama').value = '';

          if ($(this).text().toLowerCase().indexOf($('#input_nama').val().toLowerCase()) === -1) $(this).hide();
          else $(this).show();
        });
      });
    </script>

    <script></script>
  </body>
</html>
