<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Analisa Keuangan</h3>
</div>
<br />
<form [formGroup]="analisaKeuanganForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Nasabah</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nama" name="nama" readonly [value]="this.dataEntry.nama" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nama_perusahaan" [value]="this.dataJob.nama_perusahaan" readonly />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat Perusahaan</label>
        <div class="col-sm-8">
          <textarea
            class="form-control"
            name="alamat_perusahaan"
            id="alamat_perusahaan"
            cols="49"
            rows="4"
            [value]="this.dataJob.alamat_perusahaan"
            readonly
          >
          </textarea>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Telepon Perusahaan</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="no_telepon_perusahaan" name="no_telepon_perusahaan" readonly />
          <!--
            placeholder=""
            [value]="this.dataJob.no_telepon" -->
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama yang Dihubungi</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_yang_dihubungi"
            name="nama_yang_dihubungi"
            placeholder=""
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            formControlName="nama_dihubungi"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jabatan yang Dihubungi</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="jabatan_yang_dihubungi"
            name="jabatan_yang_dihubungi"
            placeholder=""
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            formControlName="jabatan_dihubungi"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Permintaan</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            id="tanggal_permintaan"
            name="tanggal_permintaan"
            placeholder=""
            formControlName="tanggal_permintaan"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Pemeriksa</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            id="tanggal_pemeriksa"
            name="tanggal_pemeriksa"
            placeholder=""
            formControlName="tanggal_pemeriksa"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Pemeriksa</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_pemeriksa"
            name="nama_pemeriksa"
            placeholder=""
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            formControlName="nama_pemeriksa"
          />
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hubungan dengan Bank (Pemohon)</h3>
  </div>
  <p></p>
  <table id="dataTables-slik" class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr class="table-dark">
        <th scope="col" style="text-align: center">#</th>
        <th scope="col" style="text-align: center">NIK</th>
        <th scope="col" style="text-align: center">Nama Bank</th>
        <th scope="col" style="text-align: center">Jenis Fasilitas</th>
        <th scope="col" style="text-align: center">Kolektibilitas</th>
        <th scope="col" style="text-align: center">Keterangan</th>
        <th scope="col" style="text-align: center">Outstanding</th>
        <th scope="col" style="text-align: center">Plafond</th>
        <th scope="col" style="text-align: center">Angsuran</th>
        <th scope="col" style="text-align: center">Tanggal Mulai</th>
        <th scope="col" style="text-align: center">Tanggal Berakhir</th>
        <th scope="col" style="text-align: center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listLajangSlik of listLajangSlik; index as i">
        <th scope="row" style="text-align: center">{{ i + 1 }}</th>
        <td style="text-align: center">{{ listLajangSlik.id_number }}</td>
        <td style="text-align: center">{{ listLajangSlik.ljk_ket }}</td>
        <td style="text-align: center">{{ listLajangSlik.jenis_kredit_pembiayaan_ket }}</td>
        <td style="text-align: center">{{ listLajangSlik.kualitas_ket }}</td>
        <td style="text-align: center">{{ listLajangSlik.jenis_penggunaan_ket }}</td>
        <td style="text-align: center">{{ listLajangSlik.baki_debet?.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) }}</td>
        <td style="text-align: center">{{ listLajangSlik.plafon?.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) }}</td>
        <td style="text-align: center">{{ listLajangSlik.angsuran?.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) }}</td>
        <td style="text-align: center">{{ listLajangSlik.tanggal_mulai }}</td>
        <td style="text-align: center">{{ listLajangSlik.tanggal_jatuh_tempo }}</td>
        <td style="text-align: center">{{ listLajangSlik.kondisi_ket }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th style="text-align: center" colspan="6">Total</th>
        <th style="text-align: center">{{ this.totalOutNas }}</th>
        <th style="text-align: center">{{ this.totalPlaNas }}</th>
        <th style="text-align: center">{{ this.totalAngNas }}</th>
      </tr>
    </tfoot>
  </table>
  <div class="row form-material">
    <div class="col">
      <!-- {{this.plafond}} -->
    </div>
    <div class="col">
      <!-- {{this.outstanding}} -->
    </div>
  </div>
  <p></p>
  <button class="btn btn-info" type="button" (click)="printLajang(listLajangSlik[0].id_number)">Lihat Slik</button>
  <p></p>
  <div [hidden]="this.dataEntry.joint_income == 0">
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Hubungan dengan Bank (Pasangan)</h3>
    </div>
    <p></p>
    <table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr class="table-dark">
          <th scope="col" style="text-align: center">#</th>
          <th scope="col" style="text-align: center">NIK</th>
          <th scope="col" style="text-align: center">Nama Bank</th>
          <th scope="col" style="text-align: center">Jenis Fasilitas</th>
          <th scope="col" style="text-align: center">Kolektibilitas</th>
          <th scope="col" style="text-align: center">Keterangan</th>
          <th scope="col" style="text-align: center">Outstanding</th>
          <th scope="col" style="text-align: center">Plafond</th>
          <th scope="col" style="text-align: center">Angsuran</th>
          <th scope="col" style="text-align: center">Tanggal Mulai</th>
          <th scope="col" style="text-align: center">Tanggal Berakhir</th>
          <th scope="col" style="text-align: center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listMenikahSlik of listMenikahSlik; index as i">
          <th scope="row" style="text-align: center">{{ i + 1 }}</th>
          <td style="text-align: center">{{ listMenikahSlik.id_number }}</td>
          <td style="text-align: center">{{ listMenikahSlik.ljk_ket }}</td>
          <td style="text-align: center">{{ listMenikahSlik.jenis_kredit_pembiayaan_ket }}</td>
          <td style="text-align: center">{{ listMenikahSlik.kualitas_ket }}</td>
          <td style="text-align: center">{{ listMenikahSlik.jenis_penggunaan_ket }}</td>
          <td style="text-align: center">
            {{ listMenikahSlik.baki_debet?.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) }}
          </td>
          <td style="text-align: center">{{ listMenikahSlik.plafon?.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) }}</td>
          <td style="text-align: center">
            {{ listMenikahSlik.angsuran?.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' }) }}
          </td>
          <td style="text-align: center">{{ listMenikahSlik.tanggal_mulai }}</td>
          <td style="text-align: center">{{ listMenikahSlik.tanggal_jatuh_tempo }}</td>
          <td style="text-align: center">{{ listMenikahSlik.kondisi_ket }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: center" colspan="6">Total</th>
          <th style="text-align: center">{{ this.totalPasOut }}</th>
          <th style="text-align: center">{{ this.totalPasPla }}</th>
          <th style="text-align: center">{{ this.totalPasAng }}</th>
        </tr>
      </tfoot>
    </table>
    <p></p>
    <button class="btn btn-info" type="button" (click)="printMenikah(listMenikahSlik[0].id_number)">Lihat Slik</button>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Data Keuangan Nasabah</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col" style="text-align: center">
      <input type="checkbox" disabled [checked]="this.dataEntry.joint_income == 1" /> Joint Income
    </div>
  </div>
  <p></p>
  <div [hidden]="this.dataEntry.kategori_pekerjaan == 'Non Fix Income'">
    <!--  *ngIf="this.dataEntry.kategori_pekerjaan == 'Fix Income'" -->
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Fix Income</h3>
    </div>
    <p></p>
    <h6 class="row" style="text-align: center">
      <div class="col">Pemohon</div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">Pasangan</div>
      <div class="col">Total</div>
    </h6>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Gaji Kotor</label>
          <div class="col-sm-7">
            <input
              formControlName="gaji_kotor"
              type="text"
              class="form-control"
              id="gaji_kotor_pemohon"
              name="gaji_kotor_pemohon"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              (keypress)="keyPressNumbers($event)"
              #gaji_kotor1
            />
          </div>
        </div>
      </div>
      <br />
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            formControlName="gaji_kotor_pasangan"
            type="text"
            class="form-control"
            id="gaji_kotor_pasangan"
            name="gaji_kotor_pasangan"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            (keypress)="keyPressNumbers($event)"
            #gaji_kotor_pasangan1
          />
        </div>
      </div>
      <br />
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="gaji_kotor_total"
            type="text"
            class="form-control"
            id="gaji_kotor_total"
            name="gaji_kotor_total"
            (keypress)="keyPressNumbers($event)"
            readonly
            value="{{ +gaji_kotor1.value + +gaji_kotor_pasangan1.value | currency: 'Rp ' }}"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Tunjangan</label>
          <div class="col-sm-7">
            <input
              formControlName="tunjangan"
              type="text"
              class="form-control"
              id="tunjangan_pemohon"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              name="tunjangan_pemohon"
              (keypress)="keyPressNumbers($event)"
              #tunjangan1
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            formControlName="tunjangan_pasangan"
            type="text"
            class="form-control"
            id="tunjangan_pasangan"
            name="tunjangan_pasangan"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            (keypress)="keyPressNumbers($event)"
            #tunjangan_pasangan1
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="tunjangan_total"
            type="text"
            class="form-control"
            id="tunjangan_total"
            name="tunjangan_total"
            readonly
            (keypress)="keyPressNumbers($event)"
            value="{{ +tunjangan1.value + +tunjangan_pasangan1.value | currency: 'Rp ' }}"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Kantor Lainnya</label>
          <div class="col-sm-7">
            <input
              formControlName="pendapatan_kantor_lainnya"
              type="text"
              class="form-control"
              id="pendapatan_kantor_lainnya"
              name="pendapatan_kantor_lainnya"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              (keypress)="keyPressNumbers($event)"
              #pendapatan_kantor_lainnya1
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            formControlName="pendapatan_kantor_lainnya_pasangan"
            type="text"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            class="form-control"
            id="pendapatan_kantor_lainnya_pasangan"
            name="pendapatan_kantor_lainnya_pasangan"
            (keypress)="keyPressNumbers($event)"
            #pendapatan_kantor_lainnya_pasangan1
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="pendapatan_kantor_lainnya_total"
            type="text"
            class="form-control"
            id="pendapatan_kantor_lainnya_total"
            name="pendapatan_kantor_lainnya_total"
            (keypress)="keyPressNumbers($event)"
            readonly
            value="{{ +pendapatan_kantor_lainnya1.value + +pendapatan_kantor_lainnya_pasangan1.value | currency: 'Rp ' }}"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Kotor</label>
          <div class="col-sm-7">
            <input
              formControlName="pendapatan_kotor"
              type="text"
              class="form-control"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              id="pendapatan_kotor_pemohon"
              name="pendapatan_kotor_pemohon"
              (keypress)="keyPressNumbers($event)"
              #pendapatan_kotor1
              value="{{ +gaji_kotor1.value + +tunjangan1.value + +pendapatan_kantor_lainnya1.value }}"
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            formControlName="pendapatan_kotor_pasangan"
            type="text"
            class="form-control"
            id="pendapatan_kotor_pasangan"
            name="pendapatan_kotor_pasangan"
            (keypress)="keyPressNumbers($event)"
            #pendapatan_kotor_pasangan1
            value="{{ +gaji_kotor_pasangan1.value + +tunjangan_pasangan1.value + +pendapatan_kantor_lainnya_pasangan1.value }}"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="pendapatan_kotor_total"
            type="text"
            class="form-control"
            id="pendapatan_kotor_total"
            name="pendapatan_kotor_total"
            readonly
            (keypress)="keyPressNumbers($event)"
            value="{{ +pendapatan_kotor1.value + +pendapatan_kotor_pasangan1.value | currency: 'Rp ' }}"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Total Angsuran Kewajiban Kantor</label>
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              id="total_angsuran_kewajiban_kantor"
              (keypress)="keyPressNumbers($event)"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              formControlName="angsuran_kewajiban_kantor"
              #angsuran_kewajiban_kantor1
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            type="text"
            class="form-control"
            id="total_angsuran_kewajiban_kantor_pasangan"
            (keypress)="keyPressNumbers($event)"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            formControlName="angsuran_kewajiban_kantor_pasangan"
            #angsuran_kewajiban_kantor_pasangan1
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            type="text"
            class="form-control"
            id="total_angsuran_kewajiban_kantor_total"
            (keypress)="keyPressNumbers($event)"
            formControlName="total_angsuran_kewajiban_kantor"
            value="{{ +angsuran_kewajiban_kantor1.value + +angsuran_kewajiban_kantor_pasangan1.value | currency: 'Rp ' }}"
            readonly
          />
        </div>
      </div>
    </div>
    <br />
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Bersih</label>
          <div class="col-sm-7">
            <input
              formControlName="pendapatan_bersih"
              type="text"
              class="form-control"
              id="pendapatan_bersih"
              name="pendapatan_bersih"
              (keypress)="keyPressNumbers($event)"
              #pendapatan_bersih1
              value="{{ +pendapatan_kotor1.value - +angsuran_kewajiban_kantor1.value }}"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            formControlName="pendapatan_bersih_pasangan"
            type="text"
            class="form-control"
            id="pendapatan_bersih_pasangan"
            name="pendapatan_bersih_pasangan"
            (keypress)="keyPressNumbers($event)"
            #pendapatan_bersih_pasangan1
            value="{{ +pendapatan_kotor_pasangan1.value - +angsuran_kewajiban_kantor_pasangan1.value }}"
            readonly
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="pendapatan_bersih_total"
            type="text"
            class="form-control"
            id="pendapatan_bersih_total"
            name="pendapatan_bersih_total"
            (keypress)="keyPressNumbers($event)"
            value="{{ +pendapatan_bersih1.value + +pendapatan_bersih_pasangan1.value | currency: 'Rp ' }}"
            readonly
          />
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <p></p>
  <div [hidden]="this.dataEntry.kategori_pekerjaan == 'Fix Income'">
    <!-- *ngIf="this.dataEntry.kategori_pekerjaan == 'Non Fix Income'" -->
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Non Fix Income</h3>
    </div>
    <h6 class="row" style="text-align: center">
      <div class="col">Pemohon</div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">Pasangan</div>
      <div class="col">Total</div>
    </h6>
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Usaha</label>
          <div class="col-sm-7">
            <input
              formControlName="pendapatan_usaha"
              type="text"
              class="form-control"
              id="pendapatan_usaha"
              name="pendapatan_usaha"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              (keypress)="keyPressNumbers($event)"
              #pendapatan_usaha1
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            formControlName="pendapatan_usaha_pasangan"
            type="text"
            class="form-control"
            id="pendapatan_usaha_pasangan"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            name="pendapatan_usaha_pasangan"
            (keypress)="keyPressNumbers($event)"
            #pendapatan_usaha_pasangan1
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="pendapatan_usaha_total"
            type="text"
            class="form-control"
            id="pendapatan_usaha_total"
            name="pendapatan_usaha_total"
            readonly
            value="{{ +pendapatan_usaha1.value + +pendapatan_usaha_pasangan1.value | currency: 'Rp ' }}"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Profesional</label>
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              [readonly]="this.untukSessionRole == 'VER_PRESCR'"
              id="pendapatan_profesional"
              name="pendapatan_profesional"
              (keypress)="keyPressNumbers($event)"
              formControlName="pendapatan_profesional"
              #pendapatan_profesional1
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry.joint_income == 0">
        <div class="form-group row">
          <input
            type="text"
            class="form-control"
            id="pendapatan_profesional_pasangan"
            name="pendapatan_profesional_pasangan"
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
            (keypress)="keyPressNumbers($event)"
            formControlName="pendapatan_profesional_pasangan"
            #pendapatan_profesional_pasangan1
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            type="text"
            class="form-control"
            id="pendapatan_profesional_total"
            name="pendapatan_profesional_total"
            (keypress)="keyPressNumbers($event)"
            formControlName="pendapatan_profesional_total"
            readonly
            value="{{ +pendapatan_profesional1.value + +pendapatan_profesional_pasangan1.value | currency: 'Rp ' }}"
          />
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Total Penghasilan Kotor</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="color: #fff">TPK</label>
        <div class="col">
          <input
            type="text"
            readonly
            class="form-control"
            id="total_penghasilan_kotor"
            name="total_penghasilan_kotor"
            (keypress)="keyPressNumbers($event)"
            formControlName="total_penghasilan_kotor"
            #total_penghasilan_kotor1
            value="{{ +pendapatan_usaha1.value + +pendapatan_profesional1.value + +pendapatan_bersih1.value }}"
          />
        </div>
      </div>
    </div>
    <div class="col" [hidden]="this.dataEntry.joint_income == 0">
      <div class="form-group row">
        <div class="col">
          <input
            type="text"
            readonly
            class="form-control"
            id="total_penghasilan_kotor_pasangan"
            name="total_penghasilan_kotor_pasangan"
            (keypress)="keyPressNumbers($event)"
            formControlName="total_penghasilan_kotor_pasangan"
            #total_penghasilan_kotor_pasangan1
            value="{{ +pendapatan_usaha_pasangan1.value + +pendapatan_profesional_pasangan1.value + +pendapatan_bersih_pasangan1.value }}"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_penghasilan_kotor_akumulasi"
          name="total_penghasilan_kotor_akumulasi"
          (keypress)="keyPressNumbers($event)"
          formControlName="total_penghasilan_kotor_akumulasi"
          value="{{ +total_penghasilan_kotor1.value + +total_penghasilan_kotor_pasangan1.value | currency: 'Rp ' }}"
        />
      </div>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Kewajiban Bank</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="color: #fff">KB</label>
        <div class="col-sm-7">
          <input
            type="text"
            readonly
            class="form-control"
            id="kewajiban_bank"
            name="kewajiban_bank"
            (keypress)="keyPressNumbers($event)"
            #kewajiban_bank1
            value="{{ this.slikTotal.total_angsuran_nasabah }}"
          />
        </div>
      </div>
    </div>
    <div class="col" [hidden]="this.dataEntry.joint_income == 0">
      <div class="form-group row">
        <div class="col">
          <input
            type="text"
            readonly
            class="form-control"
            id="kewajiban_bank_pasangan"
            name="kewajiban_bank_pasangan"
            (keypress)="keyPressNumbers($event)"
            #kewajiban_bank_pasangan1
            value="{{ this.slikTotal.total_angsuran_pasangan }}"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          type="text"
          readonly
          class="form-control"
          id="kewajiban_bank_total"
          name="kewajiban_bank_total"
          (keypress)="keyPressNumbers($event)"
          value="{{ this.formatIdr.format(+kewajiban_bank1.value + +kewajiban_bank_pasangan1.value) }}"
        /><!---| currency:'Rp ':'2'-->
      </div>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Kewajiban Lainnya</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="color: #fff">KL</label>
        <div class="col-sm-7">
          <input
            formControlName="kewajiban_lainnya"
            type="text"
            class="form-control"
            id="kewajiban_lainnya"
            name="kewajiban_lainnya"
            (keypress)="keyPressNumbers($event)"
            #kewajiban_lainnya1
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
          />
        </div>
      </div>
    </div>
    <div class="col" [hidden]="this.dataEntry.joint_income == 0">
      <div class="form-group row">
        <div class="col">
          <input
            formControlName="kewajiban_lainnya_pasangan"
            type="text"
            class="form-control"
            id="kewajiban_lainnya_pasangan"
            name="kewajiban_lainnya_pasangan"
            (keypress)="keyPressNumbers($event)"
            #kewajiban_lainnya_pasangan1
            [readonly]="this.untukSessionRole == 'VER_PRESCR'"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          formControlName="kewajiban_lainnya_total"
          type="text"
          readonly
          class="form-control"
          id="kewajiban_lainnya_total"
          name="kewajiban_lainnya_total"
          (keypress)="keyPressNumbers($event)"
          value="{{ +kewajiban_lainnya1.value + +kewajiban_lainnya_pasangan1.value | currency: 'Rp ' }}"
        />
      </div>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Total Penghasilan Bersih</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="color: #fff">TPB</label>
        <div class="col-sm-7">
          <input
            type="text"
            readonly
            class="form-control"
            id="total_penghasilan_bersih"
            name="total_penghasilan_bersih"
            formControlName="total_penghasilan_bersih"
            (keypress)="keyPressNumbers($event)"
            #total_penghasilan_bersih1
            value="{{ +total_penghasilan_kotor1.value - (+kewajiban_bank1.value - +kewajiban_lainnya1.value) }}"
          />
        </div>
      </div>
    </div>
    <div class="col" [hidden]="this.dataEntry.joint_income == 0">
      <div class="form-group row">
        <div class="col">
          <input
            type="text"
            readonly
            class="form-control"
            id="total_penghasilan_bersih_pasangan"
            name="total_penghasilan_bersih_pasangan"
            formControlName="total_penghasilan_bersih_pasangan"
            (keypress)="keyPressNumbers($event)"
            #total_penghasilan_bersih_pasangan1
            value="{{ +total_penghasilan_kotor_pasangan1.value - +kewajiban_bank_pasangan1.value - +kewajiban_lainnya_pasangan1.value }}"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <input
          type="text"
          readonly
          class="form-control"
          id="total_penghasilan_bersih_akumulasi"
          name="total_penghasilan_bersih_akumulasi"
          formControlName="total_penghasilan_bersih_akumulasi"
          (keypress)="keyPressNumbers($event)"
          value="{{ +total_penghasilan_bersih1.value + +total_penghasilan_bersih_pasangan1.value | currency: 'Rp ' }}"
        />
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button type="submit" class="btn btn-info" [hidden]="this.untukSessionRole == 'VER_PRESCR'">Simpan Data</button>
      <button type="button" class="btn btn-info" (click)="Next()">Selanjutnya</button>
    </div>
  </div>
</form>
