<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Analisa Keuangan</h3>
</div>
<br />
<form [formGroup]="analisaKeuanganForm" (ngSubmit)="onSubmit()">
  <div class="row form-material">
    <!-- ////Colom ke 1\\\\\ -->
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Nasabah</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama"
            name="nama"
            placeholder=""
            formControlName="nama_pemohon"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.nama.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.nama.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.nama.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Perusahaan</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_perusahaan"
            name="nama_perusahaan"
            placeholder=""
            formControlName="nama_perusahaan"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.nama_perusahaan.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.nama_perusahaan.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.nama_perusahaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Alamat Perusahaan</label>
        <div class="col-sm-8">
          <textarea
            class="form-control"
            name="alamat_perusahaan"
            id="alamat_perusahaan"
            cols="49"
            rows="4"
            formControlName="alamat_perusahaan"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.alamat_perusahaan.errors }"
          >
          </textarea>
          <div *ngIf="submitted && analisaKeuanganForm.controls.alamat_perusahaan.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.alamat_perusahaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">No Telepon Perusahaan</label>
        <div class="col-sm-8">
          <input
            type="number"
            class="form-control"
            id="no_telepon_perusahaan"
            name="no_telepon_perusahaan"
            placeholder=""
            formControlName="no_telepon_perusahaan"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.no_telepon_perusahaan.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.no_telepon_perusahaan.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.no_telepon_perusahaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
    <!-- ////Colom ke 2\\\\\ -->
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama yang Dihubungi</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_yang_dihubungi"
            name="nama_yang_dihubungi"
            placeholder=""
            formControlName="nama_dihubungi"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.nama_dihubungi.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.nama_dihubungi.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.nama_dihubungi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Jabatan yang Dihubungi</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="jabatan_yang_dihubungi"
            name="jabatan_yang_dihubungi"
            placeholder=""
            formControlName="jabatan_dihubungi"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.jabatan_dihubungi.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.jabatan_dihubungi.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.jabatan_dihubungi.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Permintaan</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            id="tanggal_permintaan"
            name="tanggal_permintaan"
            placeholder=""
            formControlName="tanggal_permintaan"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.tanggal_permintaan.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.tanggal_permintaan.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.tanggal_permintaan.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Tanggal Pemeriksa</label>
        <div class="col-sm-8">
          <input
            type="date"
            class="form-control"
            id="tanggal_pemeriksa"
            name="tanggal_pemeriksa"
            placeholder=""
            formControlName="tanggal_pemeriksa"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.tanggal_pemeriksa.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.tanggal_pemeriksa.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.tanggal_pemeriksa.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nama Pemeriksa</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="nama_pemeriksa"
            name="nama_pemeriksa"
            placeholder=""
            formControlName="nama_pemeriksa"
            [ngClass]="{ 'is-invalid': submitted && analisaKeuanganForm.controls.nama_pemeriksa.errors }"
          />
          <div *ngIf="submitted && analisaKeuanganForm.controls.nama_pemeriksa.errors" class="text-danger">
            <div *ngIf="submitted && analisaKeuanganForm.controls.nama_pemeriksa.errors.required">Tidak Boleh Kosong</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hubungan dengan Bank (Pemohon)</h3>
  </div>
  <p></p>
  <table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr class="table-dark">
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">NIK</th>
        <th scope="col" style="text-align: center;">Nama Bank</th>
        <th scope="col" style="text-align: center;">Jenis Fasilitas</th>
        <th scope="col" style="text-align: center;">Kolektibilitas</th>
        <th scope="col" style="text-align: center;">Outstanding</th>
        <th scope="col" style="text-align: center;">Plafond</th>
        <th scope="col" style="text-align: center;">Tanggal Mulai</th>
        <th scope="col" style="text-align: center;">Tanggal Berakhir</th>
        <th scope="col" style="text-align: center;">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listLajangSlik of listLajangSlik; index as i">
        <th scope="row" style="text-align: center">{{ i+1 }}</th>
        <td style="text-align: center">{{listLajangSlik.id_number}}</td>
        <td style="text-align: center">{{listLajangSlik.ljk_ket}}</td>
        <td style="text-align: center">{{listLajangSlik.jenis_kredit_pembiayaan_ket}}</td>
        <td style="text-align: center">{{listLajangSlik.kualitas_ket}}</td>
        <td style="text-align: center">{{listLajangSlik.suku_bunga_imbalan}}</td>
        <td style="text-align: center">{{listLajangSlik.suku_bunga_imbalan}}</td>
        <td style="text-align: center">{{listLajangSlik.tanggal_mulai}}</td>
        <td style="text-align: center">{{listLajangSlik.tanggal_jatuh_tempo}}</td>
        <td style="text-align: center">{{listLajangSlik.kondisi_ket}}</td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <button class="btn btn-info" type="button" (click)="printLajang(listLajangSlik[0].id_number)">Lihat Slik</button>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Hubungan dengan Bank (Pasangan)</h3>
  </div>
  <p></p>
  <table class="table table-striped table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr class="table-dark">
        <th scope="col" style="text-align: center;">#</th>
        <th scope="col" style="text-align: center;">NIK</th>
        <th scope="col" style="text-align: center;">Nama Bank</th>
        <th scope="col" style="text-align: center;">Jenis Fasilitas</th>
        <th scope="col" style="text-align: center;">Kolektibilitas</th>
        <th scope="col" style="text-align: center;">Outstanding</th>
        <th scope="col" style="text-align: center;">Plafond</th>
        <th scope="col" style="text-align: center;">Tanggal Mulai</th>
        <th scope="col" style="text-align: center;">Tanggal Berakhir</th>
        <th scope="col" style="text-align: center;">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listMenikahSlik of listMenikahSlik; index as i">
        <th scope="row" style="text-align: center">{{ i+1 }}</th>
        <td style="text-align: center">{{listMenikahSlik.id_number}}</td>
        <td style="text-align: center">{{listMenikahSlik.ljk_ket}}</td>
        <td style="text-align: center">{{listMenikahSlik.jenis_kredit_pembiayaan_ket}}</td>
        <td style="text-align: center">{{listMenikahSlik.kualitas_ket}}</td>
        <td style="text-align: center">{{listMenikahSlik.suku_bunga_imbalan}}</td>
        <td style="text-align: center">{{listMenikahSlik.suku_bunga_imbalan}}</td>
        <td style="text-align: center">{{listMenikahSlik.tanggal_mulai}}</td>
        <td style="text-align: center">{{listMenikahSlik.tanggal_jatuh_tempo}}</td>
        <td style="text-align: center">{{listMenikahSlik.kondisi_ket}}</td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <button class="btn btn-info" type="button" (click)="printMenikah(listMenikahSlik[0].id_number)">Lihat Slik</button>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Data Keuangan Nasabah</h3>
  </div>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center"><input type="checkbox" [checked]="this.dataEntry?.status_perkawinan == 'Menikah'"/> Joint Income</div>
  </div>
  <p></p>
  <div id="fixIncome">
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Fix Income</h3>
    </div>
    <p></p>
    <h6 class="row" style="text-align: center">
      <div class="col">Pemohon</div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">Pasangan</div>
      <div class="col">Total</div>
    </h6>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Gaji Kotor</label>
          <div class="col-sm-7">
            <input
              formControlName="gaji_kotor"
              type="text"
              class="form-control"
              id="gaji_kotor_pemohon"
              name="gaji_kotor_pemohon"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <br />
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <input
            formControlName="gaji_kotor_pasangan"
            type="text"
            class="form-control"
            id="gaji_kotor_pasangan"
            name="gaji_kotor_pasangan"
            placeholder=""
          />
        </div>
      </div>
      <br />
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="gaji_kotor_total"
            type="text"
            class="form-control"
            id="gaji_kotor_total"
            name="gaji_kotor_total"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Tunjangan</label>
          <div class="col-sm-7">
            <input
              formControlName="tunjangan"
              type="text"
              class="form-control"
              id="tunjangan_pemohon"
              name="tunjangan_pemohon"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <input
            formControlName="tunjangan_pasangan"
            type="text"
            class="form-control"
            id="tunjangan_pasangan"
            name="tunjangan_pasangan"
            placeholder=""
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="tunjangan_total"
            type="text"
            class="form-control"
            id="tunjangan_total"
            name="tunjangan_total"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Kotor</label>
          <div class="col-sm-7">
            <input
              formControlName="pendapatan_kotor"
              type="text"
              class="form-control"
              id="pendapatan_kotor_pemohon"
              name="pendapatan_kotor_pemohon"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <input
            formControlName="pendapatan_kotor_pasangan"
            type="text"
            class="form-control"
            id="pendapatan_kotor_pasangan"
            name="pendapatan_kotor_pasangan"
            placeholder=""
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="pendapatan_kotor_total"
            type="text"
            class="form-control"
            id="pendapatan_kotor_total"
            name="pendapatan_kotor_total"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <p></p>
  <div id="nonFixIncome">
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Non Fix Income</h3>
    </div>
    <h6 class="row" style="text-align: center">
      <div class="col">Pemohon</div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">Pasangan</div>
      <div class="col">Total</div>
    </h6>
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Usaha</label>
          <div class="col-sm-7">
            <input
              formControlName="pendapatan_usaha"
              type="text"
              class="form-control"
              id="pendapatan_usaha_pemohon"
              name="pendapatan_usaha_pemohon"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <input
            formControlName="pendapatan_usaha_pasangan"
            type="text"
            class="form-control"
            id="pendapatan_usaha_pasangan"
            name="pendapatan_usaha_pasangan"
            placeholder=""
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="pendapatan_usaha_total"
            type="text"
            class="form-control"
            id="pendapatan_usaha_total"
            name="pendapatan_usaha_total"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Pendapatan Profesional</label>
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control"
              id="pendapatan_profesional_pemohon"
              name="pendapatan_profesional_pemohon"
              formControlName="pendapatan_profesional"
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <input
            type="text"
            class="form-control"
            id="pendapatan_profesional_pasangan"
            name="pendapatan_profesional_pasangan"
            formControlName="pendapatan_profesional_pasangan"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            type="text"
            class="form-control"
            id="pendapatan_profesional_total"
            name="pendapatan_profesional_total"
            formControlName="pendapatan_profesional_total"
          />
        </div>
      </div>
    </div>
    <p></p>
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Total Penghasilan Kotor</h3>
    </div>
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" style="color: #fff">TPK</label>
          <div class="col">
            <input
              type="text"
              readonly
              class="form-control"
              id="total_penghasilan_kotor_pemohon"
              name="total_penghasilan_kotor_pemohon"
              formControlName="total_penghasilan_kotor"
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <div class="col">
            <input
              type="text"
              readonly
              class="form-control"
              id="total_penghasilan_kotor_pasangan"
              name="total_penghasilan_kotor_pasangan"
              formControlName="total_penghasilan_kotor_pasangan"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            type="text"
            readonly
            class="form-control"
            id="total_penghasilan_kotor_pasangan"
            name="total_penghasilan_kotor_pasangan"
            formControlName=""
          />
        </div>
      </div>
    </div>
    <p></p>
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Kewajiban Bank</h3>
    </div>
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" style="color: #fff">KB</label>
          <div class="col-sm-7">
            <input
              formControlName="kewajiban_bank"
              type="text"
              readonly
              class="form-control"
              id="kewajiban_bank_pemohon"
              name="kewajiban_bank_pemohon"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <div class="col">
            <input
              formControlName="kewajiban_bank_pasangan"
              type="text"
              readonly
              class="form-control"
              id="kewajiban_bank_pasangan"
              name="kewajiban_bank_pasangan"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName="kewajiban_bank_total"
            type="text"
            readonly
            class="form-control"
            id="kewajiban_bank_total"
            name="kewajiban_bank_total"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <p></p>
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Kewajiban Lainnya</h3>
    </div>
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" style="color: #fff">KL</label>
          <div class="col-sm-7">
            <input
              formControlName=""
              type="text"
              class="form-control"
              id="kewajiban_lainnya_pemohon"
              name="kewajiban_lainnya_pemohon"
              placeholder="kewajiban_lainnya_total"
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <div class="col">
            <input
              formControlName="kewajiban_lainnya_pasangan"
              type="text"
              class="form-control"
              id="kewajiban_lainnya_pasangan"
              name="kewajiban_lainnya_pasangan"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            formControlName=""
            type="text"
            readonly
            class="form-control"
            id="kewajiban_lainnya_total"
            name="kewajiban_lainnya_total"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <p></p>
    <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
      <h3 style="color: #fff; text-align: center">Total Penghasilan Bersih</h3>
    </div>
    <p></p>
    <div class="row form-material">
      <div class="col">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" style="color: #fff">TPB</label>
          <div class="col-sm-7">
            <input
              type="text"
              readonly
              class="form-control"
              id="total_penghasilan_bersih_pemohon"
              name="total_penghasilan_bersih_pemohon"
              formControlName=""
            />
          </div>
        </div>
      </div>
      <div class="col" [hidden]="this.dataEntry?.status_perkawinan == 'Lajang'">
        <div class="form-group row">
          <div class="col">
            <input
              type="text"
              readonly
              class="form-control"
              id="total_penghasilan_bersih_pasangan"
              name="total_penghasilan_bersih_pasangan"
              formControlName=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group row">
          <input
            type="text"
            readonly
            class="form-control"
            id="total_penghasilan_bersih_total"
            name="total_penghasilan_bersih_total"
            formControlName="total_penghasilan_bersih_akumulasi"
          />
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="row">
    <div class="col" style="text-align: center">
      <button type="submit" class="btn btn-info">Simpan Data</button>
    </div>
  </div>
</form>
