<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Personal Info</h3>
</div>
<p></p>
<p></p>
<form
  [formGroup]="personalInfoForm"
  (ngSubmit)="
    gotojobandupdate(
      personalInfoModel.curef,
      personalInfoModel.status_perkawinan,
      personalInfoModel.app_no_de,
      personalInfoModel.kategori_pekerjaan
    )
  "
>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nama Lengkap</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nama Lengkap" formControlName="nama" id="nama" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jenis Kelamin</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="jenis_kelamin" formControlName="jenis_kelamin">
              <option value="Laki-laki">Laki - laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tanggal Lahir</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_lahir" formControlName="tanggal_lahir" (change)="hitungUsia()" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tempat Lahir</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Tempat Lahir" id="tempat_lahir" formControlName="tempat_lahir" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Usia</label>
        <div [class]="personalInfoForm.get('usia')?.value > 55 ? 'col-sm-4' : 'col-sm-9'">
          <div class="input-group mb-3">
            <input type="tel" maxlength="2" class="form-control" placeholder="Usia" id="usia" formControlName="usia" readonly />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Tahun</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="personalInfoForm.get('usia')?.value > 55">
          <strong style="color: red">* Nasabah Akan dilakukan Penutupan Asuransi</strong>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Agama</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="agama" formControlName="agama">
              <option value="Islam">Islam</option>
              <option value="Kristen">Kristen</option>
              <option value="Khatolik">Khatolik</option>
              <option value="Budha">Budha</option>
              <option value="Hindu">Hindu</option>
              <option value="Kong Hu Chu">Kong Hu Chu</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendidikan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="pendidikan" formControlName="pendidikan">
              <option *ngFor="let pendidikan of pendidikanModel" value="{{ pendidikan.deskripsi }}">{{ pendidikan.deskripsi }}</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kewarganegaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="kewarganegaraan" formControlName="kewarganegaraan">
              <option>WNI</option>
              <option>WNA</option>
            </select>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nomor Telepon</label>
        <div class="col-sm-9">
          <input
            type="tel"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="no_telepon"
            id="no_telepon"
            formControlName="no_telepon"
          />
          <span
            [hidden]="
              personalInfoForm.controls.no_telepon.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            No Telepon Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email" />
          <span
            [hidden]="
              personalInfoForm.controls.email.valid || this.untukSessionRole == 'VER_PRE_SPV' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Email Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">No Handphone</label>
        <div class="col-sm-9">
          <input
            type="tel"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="No Handphone"
            id="no_handphone"
            formControlName="no_handphone"
            maxlength="13"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">No KTP</label>
        <div class="col-sm-9">
          <input
            type="tel"
            minlength="16"
            maxlength="16"
            class="form-control"
            placeholder="No KTP"
            id="no_ktp"
            formControlName="no_ktp"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tanggal Terbit KTP</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_terbit_ktp" formControlName="tanggal_terbit_ktp" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> KTP Seumur Hidup</label>
        <div class="col-sm-9">
          <input type="radio" id="ktp_seumur_hidup_ya" formControlName="status_ktp" value="1" />
          Ya &emsp;&emsp;&emsp;
          <input type="radio" formControlName="status_ktp" value="0" />
          Tidak
        </div>
      </div>
      <div class="form-group row" *ngIf="this.personalInfoForm.get('status_ktp')?.value == 0">
        <br />
        <label class="col-sm-3 col-form-label">Tanggal Exipred KTP</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_exp_ktp" formControlName="tanggal_exp_ktp" />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">NPWP</label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            placeholder="NPWP"
            maxlength="16"
            id="npwp"
            formControlName="npwp"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status Perkawinan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="status_perkawinan" formControlName="status_perkawinan">
              <option *ngFor="let ref_status_perkawinan of ref_status_perkawinan" value="{{ ref_status_perkawinan.deskripsi }}">
                {{ ref_status_perkawinan.deskripsi }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jumlah Anak</label>
        <div class="col-sm-9">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            class="form-control"
            placeholder="Jumlah Anak"
            maxlength="2"
            id="jumlah_anak"
            formControlName="jumlah_anak"
          />
          <span
            [hidden]="
              personalInfoForm.controls.jumlah_anak.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Jumlah Anak Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status Rumah</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" value="" id="status_rumah" formControlName="status_rumah">
              <option *ngFor="let ref_status_rumah of ref_status_rumah" value="{{ ref_status_rumah.description }}">
                {{ ref_status_rumah.description }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.status_rumah.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Status Rumah Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lama Menetap</label>
        <div class="col">
          <input
            type="tel"
            maxlength="2"
            class="form-control"
            placeholder="Lama Menetap"
            id="lama_menetap"
            formControlName="lama_menetap"
            (keypress)="keyPressNumbers($event)"
          />

          <span
            [hidden]="
              personalInfoForm.controls.lama_menetap.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Lama Menetap Harus Diisi
          </span>
        </div>
        <div class="col">Tahun</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Punya Kendaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="status_kendaraan" formControlName="status_kendaraan">
              <option value="1">Ya</option>
              <option value="0">Tidak</option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.status_kendaraan.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Kepemilikan Kendaraan Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row" *ngIf="personalInfoForm.get('status_kendaraan')?.value === '1'">
        <label class="col-sm-3 col-form-label">Tipe Kendaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="tipe_kendaraan" formControlName="tipe_kendaraan">
              <option *ngFor="let ref_list_tipe_kendaraan of ref_list_tipe_kendaraan" value="{{ ref_list_tipe_kendaraan.deskripsi }}">
                {{ ref_list_tipe_kendaraan.deskripsi }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.tipe_kendaraan.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Tipe Kendaraan Harus Diisi
          </span>
        </div>
      </div>
      <br />
    </div>
  </div>
  <p></p>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Alamat Pemohon</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat KTP</label>
        <div class="col-sm-9">
          <textarea class="form-control h-150px" rows="6" id="alamat_ktp" formControlName="alamat_ktp"></textarea>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              #provinsi_saat
              formControlName="provinsi"
              id="provinsi_cabang"
              (change)="onChange(this.personalInfoForm.get('provinsi')?.value)"
            >
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="kabkota"
              (change)="onChangekota(this.personalInfoForm.get('kabkota')?.value)"
              id="kabkota_cabang"
            >
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="kecamatan"
              (change)="onChangekecamatan(this.personalInfoForm.get('kecamatan')?.value)"
              id="kecamatan"
            >
              <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              (change)="onChangekelurahan(this.personalInfoForm.get('kelurahan')?.value)"
              formControlName="kelurahan"
              class="form-control"
              id="kelurahan"
            >
              <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input #kodepos type="tel" (keypress)="keyPressNumbers($event)" class="form-control" id="kode_pos" formControlName="kode_pos" />
            <div class="input-group-append">
              <button
                disabled
                class="btn btn-outline-dark"
                type="button"
                (click)="kodePosApi(this.personalInfoForm.get('kode_pos')?.value)"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            type="tel"
            class="form-control"
            placeholder="RT"
            maxlength="3"
            id="rt"
            formControlName="rt"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            type="tel"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            id="rw"
            formControlName="rw"
            (keypress)="keyPressNumbers($event)"
          />
        </div>
        <div class="col">RW</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat Sama dengan Alamat KTP</label>
        <div class="col-sm-9">
          <input
            type="radio"
            value="0"
            formControlName="status_alamat"
            (change)="onItemChange(personalInfoForm.get('status_alamat')?.value)"
          />Tidak Sama &emsp;&emsp;&emsp;
          <input
            type="radio"
            value="1"
            formControlName="status_alamat"
            (change)="onItemChange(personalInfoForm.get('status_alamat')?.value)"
          />Sama
        </div>
      </div>
      <br />
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat Domisili</label>
        <div class="col-sm-9">
          <textarea class="form-control h-150px" rows="6" id="alamat_domisili" formControlName="alamat_domisili"></textarea>
          <span
            [hidden]="
              personalInfoForm.controls.alamat_domisili.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Alamat Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangeD(this.personalInfoForm.get('provinsi_domisili')?.value)"
              id="provinsi_domisili"
              formControlName="provinsi_domisili"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekotaD(this.personalInfoForm.get('kabkota_domisili')?.value)"
              id="kabkota_domisili"
              formControlName="kabkota_domisili"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWakotaD of daWakotaD" value="{{ daWakotaD.kdWilayah }}|{{ daWakotaD.namaWilayah }}">
                {{ daWakotaD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekecamatanD(this.personalInfoForm.get('kecamatan_domisili')?.value)"
              id="kecamatan_domisili"
              formControlName="kecamatan_domisili"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWakecamatanD of kecamatanD" value="{{ daWakecamatanD.kdWilayah }}|{{ daWakecamatanD.namaWilayah }}">
                {{ daWakecamatanD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select
              class="form-control"
              (change)="onChangekelurahanD(this.personalInfoForm.get('kelurahan_domisili')?.value)"
              id="kelurahan_domisili"
              formControlName="kelurahan_domisili"
            >
              <option value="">Pilih Data</option>
              <option *ngFor="let daWakelurahanD of kelurahanD" value="{{ daWakelurahanD.kdPos }}|{{ daWakelurahanD.namaWilayah }}">
                {{ daWakelurahanD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              #kodeposdomisili
              (keypress)="keyPressNumbers($event)"
              type="tel"
              maxlength="8"
              class="form-control"
              id="kode_pos_domisili"
              formControlName="kode_pos_domisili"
            />
            <div class="input-group-append">
              <button
                [disabled]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
                class="btn btn-outline-dark"
                id="kode_pos_domisilihilang"
                type="button"
                (click)="kodePosApiDomisili(this.personalInfoForm.get('kode_pos_domisili')?.value); clickKdPostDomisili = 1"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            maxlength="3"
            class="form-control"
            placeholder="RT"
            id="rt_domisili"
            formControlName="rt_domisili"
          />
          <span
            [hidden]="
              personalInfoForm.controls.rt_domisili.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            RT Harus Diisi
          </span>
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            id="rw_domisili"
            formControlName="rw_domisili"
          />
          <span
            [hidden]="
              personalInfoForm.controls.rw_domisili.valid ||
              this.untukSessionRole == 'VER_PRE_SPV' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            RW Harus Diisi
          </span>
        </div>
        <div class="col">RW</div>
      </div>
      <br />
    </div>
    <div class="raw">
      <div class="col" style="text-align: center">
        <button
          [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRE_SPV'"
          type="submit"
          class="btn btn-dark"
        >
          Simpan Data
        </button>
        <button
          [hidden]="this.untukSessionRole == 'AO'"
          (click)="gotojobinfo(this.personalInfoModel.curef, this.personalInfoModel.status_perkawinan, this.personalInfoModel.app_no_de)"
          type="button"
          class="btn btn-warning"
        >
          Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</form>
<jhi-loading-screen [isLoading]="isLoading" [isSpin]="isSpin"></jhi-loading-screen>
