<div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
  <h3 style="color: #fff; text-align: center">Personal Info</h3>
</div>
<p></p>
<p></p>
<form
  [formGroup]="personalInfoForm"
  (ngSubmit)="
    gotojobandupdate(
      personalInfoModel.curef,
      personalInfoModel.status_perkawinan,
      personalInfoModel.app_no_de,
      personalInfoModel.kategori_pekerjaan
    )
  "
>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nama Lengkap</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nama Lengkap" formControlName="nama" id="nama" />
          <span
            [hidden]="
              personalInfoForm.controls.nama.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Nama Harus Diisi
          </span>
          <input
            type="hidden"
            class="form-control"
            placeholder="Nama Lengkap"
            formControlName="app_no_ide"
            id="app_no_ide"
            [value]="personalInfoModel.app_no_ide"
          />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jenis Kelamin</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="jenis_kelamin" formControlName="jenis_kelamin">
              <option value="Laki-laki">Laki - laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.jenis_kelamin.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Jenis Kelamin Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tanggal Lahir</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_lahir" formControlName="tanggal_lahir" (change)="hitungUsia()" />
        </div>
        <span
          [hidden]="
            personalInfoForm.controls.tanggal_lahir.valid ||
            this.untukSessionRole == 'VER_PRESCR' ||
            this.untukSessionRole == 'BRANCHMANAGER'
          "
          class="text-danger"
        >
          Tanggal Lahir Harus Diisi
        </span>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tempat Lahir</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Tempat Lahir" id="tempat_lahir" formControlName="tempat_lahir" />
          <span
            [hidden]="
              personalInfoForm.controls.tempat_lahir.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Tempat Lahir Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Usia</label>
        <div class="col-sm-9">
          <input type="tel" maxlength="2" class="form-control" placeholder="Usia" id="usia" formControlName="usia" readonly />
          <span
            [hidden]="
              personalInfoForm.controls.usia.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Usia Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Agama</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="agama" formControlName="agama">
              <option value="islam">Islam</option>
              <option value="kristen">Kristen</option>
              <option value="khatolik">Khatolik</option>
              <option value="budha">Budha</option>
              <option value="hindu">Hindu</option>
              <option value="kong hu chu">Kong Hu Chu</option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.agama.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Agama Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Pendidikan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="pendidikan" formControlName="pendidikan">
              <option value="SMA">SMA</option>
              <option value="D3">D3</option>
              <option value="S1">S1</option>
              <option value="S2">S2</option>
              <option value="S3">S3</option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.pendidikan.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Pendidikan Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kewarganegaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="kewarganegaraan" formControlName="kewarganegaraan">
              <option>WNI</option>
              <option>WNA</option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.kewarganegaraan.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Kewarganegaraan Harus Diisi
          </span>
        </div>
      </div>
      <br />
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nomor Telepon</label>
        <div class="col-sm-9">
          <input
            type="tel"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="no_telepon"
            id="no_telepon"
            formControlName="no_telepon"
          />
          <span
            [hidden]="
              personalInfoForm.controls.no_telepon.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            No Telepon Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email" />
          <span
            [hidden]="
              personalInfoForm.controls.email.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Email Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">No Handphone</label>
        <div class="col-sm-9">
          <input
            type="tel"
            pattern="^(\+62|62|0)(8|[2-7])[1-9][0-9]{6,9}$"
            (keypress)="keyPressNumbers($event)"
            class="form-control"
            placeholder="No Handphone"
            id="no_handphone"
            formControlName="no_handphone"
            maxlength="13"
          />
          <span
            [hidden]="
              personalInfoForm.controls.no_handphone.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            No Handphone Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">No KTP</label>
        <div class="col-sm-9">
          <input
            type="tel"
            minlength="16"
            maxlength="16"
            class="form-control"
            placeholder="No KTP"
            id="no_ktp"
            formControlName="no_ktp"
            (keypress)="keyPressNumbers($event)"
          />
          <span
            [hidden]="
              personalInfoForm.controls.no_ktp.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            No KTP Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tanggal Terbit KTP</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_terbit_ktp" formControlName="tanggal_terbit_ktp" />
          <span
            [hidden]="
              personalInfoForm.controls.tanggal_terbit_ktp.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Tanggal Terbit KTP Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> KTP Seumur Hidup</label>
        <div class="col-sm-9">
          <input type="radio" id="ktp_seumur_hidup_ya" formControlName="status_ktp" value="1" />
          Ya
          <input type="radio" formControlName="status_ktp" value="0" />
          Tidak

          <span
            [hidden]="
              personalInfoForm.controls.status_ktp.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            KTP Seumur Hidup Harus Diisi
          </span>
        </div>
      </div>
      <div class="form-group row" *ngIf="this.personalInfoForm.get('status_ktp')?.value == 0">
        <br />
        <label class="col-sm-3 col-form-label">Tanggal Exipred KTP</label>
        <div class="col-sm-9">
          <input class="form-control" type="date" id="tanggal_exp_ktp" formControlName="tanggal_exp_ktp" />
          <span
            [hidden]="
              personalInfoForm.controls.tanggal_exp_ktp.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Tanggal Exipred KTP Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">NPWP</label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            placeholder="NPWP"
            maxlength="16"
            id="npwp"
            formControlName="npwp"
            (keypress)="keyPressNumbers($event)"
          />
          <span
            [hidden]="
              personalInfoForm.controls.npwp.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            NPWP Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status Perkawinan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="status_perkawinan" formControlName="status_perkawinan">
              <option *ngFor="let ref_status_perkawinan of ref_status_perkawinan" value="{{ ref_status_perkawinan.deskripsi }}">
                {{ ref_status_perkawinan.deskripsi }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.status_perkawinan.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Status Perkawinan Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Jumlah Anak</label>
        <div class="col-sm-9">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            class="form-control"
            placeholder="Jumlah Anak"
            maxlength="2"
            id="jumlah_anak"
            formControlName="jumlah_anak"
          />
          <span
            [hidden]="
              personalInfoForm.controls.jumlah_anak.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Jumlah Anak Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status Rumah</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" value="" id="status_rumah" formControlName="status_rumah">
              <option *ngFor="let ref_status_rumah of ref_status_rumah" value="{{ ref_status_rumah.description }}">
                {{ ref_status_rumah.description }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.status_rumah.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Status Rumah Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lama Menetap</label>
        <div class="col-sm-9">
          <input
            type="tel"
            maxlength="2"
            class="form-control"
            placeholder="Lama Menetap"
            id="lama_menetap"
            formControlName="lama_menetap"
            (keypress)="keyPressNumbers($event)"
          />
          <span
            [hidden]="
              personalInfoForm.controls.lama_menetap.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Lama Menetap Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Punya Kendaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="status_kendaraan" formControlName="status_kendaraan" [(ngModel)]="tipe_kendaraan">
              <option value="1">Ya</option>
              <option value="0">Tidak</option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.status_kendaraan.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Kepemilikan Kendaraan Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row" *ngIf="tipe_kendaraan == 1">
        <label class="col-sm-3 col-form-label">Tipe Kendaraan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" id="tipe_kendaraan" formControlName="tipe_kendaraan">
              <option *ngFor="let ref_list_tipe_kendaraan of ref_list_tipe_kendaraan" value="{{ ref_list_tipe_kendaraan.deskripsi }}">
                {{ ref_list_tipe_kendaraan.deskripsi }}
              </option>
            </select>
          </div>
          <span
            [hidden]="
              personalInfoForm.controls.tipe_kendaraan.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Tipe Kendaraan Harus Diisi
          </span>
        </div>
      </div>
      <br />
    </div>
  </div>
  <p></p>
  <p></p>
  <div style="background-image: linear-gradient(to right, #fff 0%, #fff 0%, #fff 0%, #8567d3 33%, #8567d3 66%, #fff 100%)">
    <h3 style="color: #fff; text-align: center">Alamat Pemohon</h3>
  </div>
  <p></p>
  <div class="row form-material">
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat KTP</label>
        <div class="col-sm-9">
          <textarea class="form-control h-150px" rows="6" id="alamat_ktp" formControlName="alamat_ktp"></textarea>
          <span
            [hidden]="
              personalInfoForm.controls.alamat_ktp.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Alamat KTP Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" #provinsi_saat id="provinsi_cabang" (change)="onChange(provinsi_cabang)">
              <option value="{{ personalInfoModel.provinsi }}">{{ personalInfoModel.provinsi }}</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" (change)="onChangekota(kabkota_cabang)" id="kabkota_cabang">
              <option value="{{ personalInfoModel.kabkota }}">{{ personalInfoModel.kabkota }}</option>
              <option *ngFor="let daWakota of daWakota" value="{{ daWakota.kdWilayah }}|{{ daWakota.namaWilayah }}">
                {{ daWakota.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" (change)="onChangekecamatan(kecamatan)" id="kecamatan">
              <option value="{{ personalInfoModel.kecamatan }}">{{ personalInfoModel.kecamatan }}</option>
              <option *ngFor="let daWakecamatan of kecamatan" value="{{ daWakecamatan.kdWilayah }}|{{ daWakecamatan.namaWilayah }}">
                {{ daWakecamatan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select (change)="onChangekelurahan(kelurahan)" class="form-control" id="kelurahan">
              <option value="{{ personalInfoModel.kelurahan }}">{{ personalInfoModel.kelurahan }}</option>
              <option *ngFor="let daWakelurahan of kelurahan" value="{{ daWakelurahan.kdPos }}|{{ daWakelurahan.namaWilayah }}">
                {{ daWakelurahan.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              #kodepos
              type="tel"
              (keypress)="keyPressNumbers($event)"
              class="form-control"
              id="kode_pos"
              value="{{ personalInfoModel.kode_pos }}"
              [(ngModel)]="validasiKodePos"
            />
            <div class="input-group-append">
              <button onclick="buatisi()" class="btn btn-outline-dark" type="button" (click)="kodePosApi(kodepos.value, 0)">
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            type="tel"
            class="form-control"
            placeholder="RT"
            maxlength="3"
            id="rt"
            formControlName="rt"
            (keypress)="keyPressNumbers($event)"
          />
          <span
            [hidden]="
              personalInfoForm.controls.rt.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            RT Harus Diisi
          </span>
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            type="tel"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            id="rw"
            formControlName="rw"
            (keypress)="keyPressNumbers($event)"
          />
          <span
            [hidden]="
              personalInfoForm.controls.rw.valid || this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            RW Harus Diisi
          </span>
        </div>
        <div class="col">RW</div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat Sama dengan Alamat KTP</label>
        <div class="col-sm-9">
          <input
            type="radio"
            name="testtt"
            value="0"
            [disabled]="this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'"
            (change)="onItemChange($event.target)"
            [checked]="this.personalInfoForm.get('alamat_ktp')?.value != this.personalInfoForm.get('alamat_domisili')?.value"
          />Tidak Sama
          <input
            type="radio"
            name="testtt"
            value="1"
            [disabled]="this.untukSessionRole == 'VER_PRESCR' || this.untukSessionRole == 'BRANCHMANAGER'"
            (change)="onItemChange($event.target)"
            [checked]="this.personalInfoForm.get('alamat_ktp')?.value == this.personalInfoForm.get('alamat_domisili')?.value"
          />Sama
        </div>
      </div>
      <br />
    </div>
    <div class="col">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Alamat Domisili</label>
        <div class="col-sm-9">
          <textarea class="form-control h-150px" rows="6" id="alamat_domisili" formControlName="alamat_domisili"></textarea>
          <span
            [hidden]="
              personalInfoForm.controls.alamat_domisili.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            Alamat Harus Diisi
          </span>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provinsi</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" (change)="onChangeD(provinsi_cabang)" id="provinsi_domisili">
              <option>{{ personalInfoModel.provinsi_domisili }}</option>
              <option *ngFor="let daWaprof of daWaprof" value="{{ daWaprof.kdWilayah }}|{{ daWaprof.namaWilayah }}">
                {{ daWaprof.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kota</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" (change)="onChangekotaD(kabkota_cabang)" id="kabkota_domisili">
              <option value="{{ personalInfoModel.kabkota_domisili }}">{{ personalInfoModel.kabkota_domisili }}</option>
              <option *ngFor="let daWakotaD of daWakotaD" value="{{ daWakotaD.kdWilayah }}|{{ daWakotaD.namaWilayah }}">
                {{ daWakotaD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">kecamatan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" (change)="onChangekecamatanD(kecamatan)" id="kecamatan_domisili">
              <option>{{ personalInfoModel.kecamatan_domisili }}</option>
              <option *ngFor="let daWakecamatanD of kecamatanD" value="{{ daWakecamatanD.kdWilayah }}|{{ daWakecamatanD.namaWilayah }}">
                {{ daWakecamatanD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kelurahan</label>
        <div class="col-sm-9">
          <div class="form-group">
            <select class="form-control" (change)="onChangekelurahanD(kelurahan)" id="kelurahan_domisili">
              <option>{{ personalInfoModel.kelurahan_domisili }}</option>
              <option *ngFor="let daWakelurahanD of kelurahanD" value="{{ daWakelurahanD.kdPos }}|{{ daWakelurahanD.namaWilayah }}">
                {{ daWakelurahanD.namaWilayah }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Kode Pos</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input
              #kodeposdomisili
              (keypress)="keyPressNumbers($event)"
              type="tel"
              onkeypress="return onlyNumberKey(event)"
              maxlength="8"
              class="form-control"
              id="kode_pos_domisili"
              value="{{ personalInfoModel.kode_pos_domisili }}"
            />
            <div class="input-group-append">
              <button
                onclick="buatisidomisili()"
                class="btn btn-outline-dark"
                id="kode_pos_domisilihilang"
                type="button"
                (click)="kodePosApiDomisili(kodeposdomisili.value, 0)"
              >
                Cari Data
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">RT / RW</label>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            maxlength="3"
            class="form-control"
            placeholder="RT"
            id="rt_domisili"
            formControlName="rt_domisili"
          />
          <span
            [hidden]="
              personalInfoForm.controls.rt_domisili.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            RT Harus Diisi
          </span>
        </div>
        <div class="col">RT</div>
        <div class="col">
          <input
            (keypress)="keyPressNumbers($event)"
            type="tel"
            class="form-control"
            placeholder="RW"
            maxlength="3"
            id="rw_domisili"
            formControlName="rw_domisili"
          />
          <span
            [hidden]="
              personalInfoForm.controls.rw_domisili.valid ||
              this.untukSessionRole == 'VER_PRESCR' ||
              this.untukSessionRole == 'BRANCHMANAGER'
            "
            class="text-danger"
          >
            RW Harus Diisi
          </span>
        </div>
        <div class="col">RW</div>
      </div>
      <br />
    </div>
    <div class="raw">
      <div class="col" style="text-align: center">
        <button
          [hidden]="this.untukSessionRole == 'BRANCHMANAGER' || this.untukSessionRole == 'VER_PRESCR'"
          type="submit"
          class="btn btn-dark"
        >
          Simpan Data
        </button>
        <button
          [hidden]="this.untukSessionRole == 'AO'"
          (click)="gotojobinfo(this.personalInfoModel.curef, this.personalInfoModel.status_perkawinan, this.personalInfoModel.app_no_de)"
          type="button"
          class="btn btn-warning"
        >
          Selanjutnya<span>&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</form>
